[2019-03-02 14:49] vsch commented on #713
@demisolutions, I have been wanting to add an option for that for a while but since no one asked, did not bother just for me.

Right now you can invoke completion again to switch to the next format: page relative -> repo relative -> https:// -> file:// -> page relative.

![cycleavailablecompletions](https://user-images.githubusercontent.com/10299086/53683572-5b0db580-3cd0-11e9-8dc7-ff79346cf3ea.gi

[2019-03-02 14:58] demisolutions commented on #713
@vsch thank you for fast response!

And great workaround! 👏

Looking forward for next release!

Great job with the plugin, really takes markdown editing to a whole another level! ☺️

[2019-03-02 15:27] vsch commented on #713
@demisolutions, thank you for your appreciation.

Next release will have plain text completions which will show references defined in the file and complete as corresponding referencing element. ie. references complete as ref links, footnotes as footnote refs, etc.

Double invocation of plain text completion will add links and references used in other markdown documents as completion choices for re

[2019-03-02 17:07] igorwojda opened #714 "Test ix not properly formatted in editor when removing text or pasting text"
**Removing text**
Gif is looped so I am just selecting bunch of text removing it ad text is not reformated (exceeds the right margin). Pressing space would fix the problem.
![removeselection](https://user-images.githubusercontent.com/530122/53685047-4e5b8280-3d0d-11e9-8024-a913dcbd8c27.gif)

**Pasting Text**
Gif is looped so I am just pasting bunch of text removing it and text is not reformated (e

[2019-03-02 18:28] vsch commented on #714
@igorwojda,

I will ask you to be patient for some of your requests. I very much appreciate your requests because they rock my established perspective on Markdown Navigator plugin features and this is a very good thing---If we're always in agreement then one of us is redundant.

Long explanation is to give you a bird's eye view of what is involved and why I am hesitant to venture into some directi

[2019-03-02 20:47] igorwojda commented on #714
Hey @vsch

I appreciate your hard work and the speed you fix and improve stuff. On top of that your detailed explanations/answers never ceases to amaze me. You are doing a great job and I can say with full confidence that this is the best-supported piece of software I have ever used (I am not exaggerating).

Honestly, form now you have fixed most of the issues regarding refactoring and few formati

[2019-03-02 21:38] vsch commented on #714
@igorwojda, thank you for your support and please don't filter your requests. Sometimes, what on the surface looks like an impossible request, can lead to an amazing feature after some tossing around in a brainstorm.

As a side note, I am looking at setting up a discussion forum for [flexmark-java] and another for Markdown Navigator to allow taking topics which require some intellectual beating ou

[2019-03-04 10:48] vsch commented on #690
@igorwojda, I created a plugin to disable auto-pop completions from inserting on a typed space.

It drove me nuts in Kotlin which has a long auto-popup delay and suggests everything including the kitchen sink, so anything you type will always match something. Until it "learned" from my repeated choices it would routinely replace `var`, `val` and `null` by random crap and it drove me crazy. At the

[2019-03-04 16:20] igorwojda commented on #714
I understand what you need, however, I don't really have experience in this area.

[2019-03-04 17:26] tmalaher opened #715 "Completed task list items not rendered with checkmark"
Using Markdown navigator v2.8.2 in GoLand 2018.3.5.

These look identical in the rendered output:

[code]

Shouldn't that last one have a checkmark in the box?

[2019-03-04 18:43] vsch commented on #715
@tmalaher, they do in the JavaFX browser. Originally, there were issues trying to do the same in Swing. However, that was back 3 years ago and my understanding of how all pieces interacted was limited.

I will put add this to my Swing browser improvements and see if I can make it work properly in swing and JavaFX.

[2019-03-08 14:24] thewilli opened #716 "Support JS-generated output like Mermaid in PDF export"
As stated in [#682](https://github.com/vsch/idea-multimarkdown/issues/682#issuecomment-455806024) Mermaid output is not supported in PDF exports. Nevertheless, I would really appreciate that feature and for sure others as well.

[2019-03-08 14:26] Sparki2002 opened #717 "Mermaid Background on dark IDE themes"
Hi,

i'm using GoLand 2018.3.5 with a dark theme (Material Theme UI Darker).
In my markdown I have written some Mermaid, now there is a little problem:

I can't read the labels on my diagram, because they are also dark.

Maybe consider using a light font color on dark themes or adding a light background to mermaid diagrams?

[2019-03-08 14:40] vsch commented on #717
@Sparki2002, you can switch the Preview to a light scheme, it will be more jarring with a white background but the plugin uses Mermaid JavaScript to render the charts. I have no control over how it renders the charts.

The scheme for preview can follow the application scheme if set to `Application UI` or use its own depending on the Stylesheet Scheme selection:

![Screenshot_Stylesheet.png](https:

[2019-03-08 14:45] vsch commented on #716
@thewilli, if there is a web service which can render Mermaid charts to PNG or SVG or JPEG images then it would be an easy addition as is done for Math and UML diagrams.

Otherwise, it is a problem because Mermaid renders in JavaScript and I would need a browser to do the rendering of images to be able to have them available in PDF.

I will add this to the enhancement to do list but if you come ac

[2019-03-09 00:49] vsch commented on #715
@tmalaher, I can do a bit better by using an image instead of a bullet but the Swing browser is very limited in what you can do with an image. I would probably have to use a table for task list items to get better results and I don't really want to go in that direction because I suspect it will be a nightmare to maintain and make it work with all elements.

Here is how it is now:

<img width="523"

[2019-03-09 03:39] vsch commented on #704
@breandan, I got it working quite easily with the bundled JRE 11.

<img width="1935" alt="image" src="https://user-images.githubusercontent.com/10299086/54065704-b79e3280-41f2-11e9-85cf-4751487dccdc.png">

I will soon make an EAP with what I have completed.

[2019-03-09 04:09] vsch commented on #715
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-09 04:10] vsch commented on #711
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-09 04:10] vsch commented on #710
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-09 04:11] vsch commented on #709
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-09 04:11] vsch commented on #707
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-09 04:12] vsch commented on #704
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-09 04:12] vsch commented on #693
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-09 04:13] vsch commented on #579
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-09 04:13] vsch commented on #569
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-09 17:21] bluelovers commented on #707
it work, no delay now

[2019-03-09 17:26] vsch commented on #707
@bluelovers, I am still buzzing from having no typing delay.

I will find a way to address image links which still need the old logic to display in preview but not having links introduce delay into typing response is a joy for me. I touch type fairly fast and having even a small delay is extremely annoying.

[2019-03-09 21:23] vsch opened #718 "Add Support for GitLab Wiki link resolution and nuances"
Added as a separate issue from #493

Add GitLab style Wiki Support

[2019-03-09 21:23] vsch commented on #493
Added enhancement issue for GitLab wiki support.

[2019-03-09 21:24] #455 closed

[2019-03-09 21:26] #491 closed

[2019-03-09 21:27] #531 closed

[2019-03-09 21:27] #523 closed

[2019-03-10 04:15] vsch commented on #708
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-10 10:54] bluelovers commented on #707
can't close when click don't show again

![image](https://user-images.githubusercontent.com/167966/54083972-cd803480-4365-11e9-8279-14c631551b68.png)

[2019-03-10 13:12] vsch commented on #707
@bluelovers, looks like a bug. I either forgot to set the property or probably setting the wrong property due to cut and paste.

[2019-03-10 14:28] vsch opened #719 "Wrap links in <> Do Not Show does not hide the inspection"

[2019-03-10 14:29] vsch commented on #707
I added a new issue for this #719

[2019-03-10 20:17] vsch commented on #707
It was copy/paste but not as I thought. Unicode Line separators file inspection also cannot be shut off via the link. It sets the property to not show, but never checks it before displaying the notification.

[2019-03-10 23:12] vsch commented on #719
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-10 23:12] vsch commented on #707
@bluelovers,
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-11 07:20] holgerbrandl commented on #708
Thanks Vladimir for the fix & great support.

[2019-03-11 11:49] UlrichCech opened #720 "Indentation in a numbered list 'flickers' when typing and deleting text"
This occurs since the new version of Markdown Navigator.

If I have a numbered list, and the text breaks into next line, the indentation is one space to much; when I type further and then hit the "Backspace", the indentation is "fixed", but if I type again, the space is added again... so between "typing" and "hitting backspace", the indentation flickers back and forth.

[2019-03-11 12:22] vsch commented on #708
@holgerbrandl, you are welcome and it took much longer than usual because after the last EAP I started major code cleanup from which it took me a while to recover to a stable version.

[2019-03-11 12:44] vsch commented on #720
@UlrichCech, can you please give me the plugin version number you are using. This part of the code had a lot of changes due to #684 enabling wrapping on every typed character instead of only space as in previous versions. BTW, you can disable this in Languages & Frameworks > Markdown > Editor settings.

Getting this to handle all cases is actually very hard and takes a while to "discover" and fix.

[2019-03-11 13:06] UlrichCech commented on #720
The version number is 2.8.2 from the Official Plugin Releases.

Changes to "Tab/Backspace: List item indentation"
and/or
"Wrap only after space is typed"
does not have any effect on the 'flickering', which persists.

I made a small Quicktime-Movie (780KB), which shows the effect. You can find it here:
https://www.dropbox.com/s/hc7lcmf4hb00vyq/MarkdownNavigator_Indentation-issue.mov?dl=0

[2019-03-11 13:08] vsch commented on #720
@UlrichCech, that is new. Can you try the EAP update channel. It has a lot of bugs fixed since last release, including a bunch in wrap on typing.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-11 13:59] UlrichCech commented on #720
Unfortunately, EAP-Version does not fix that

[2019-03-11 14:05] vsch commented on #720
@UlrichCech, definitely weird behaviour. From the animation I cannot see the full list item.

Can you remove any proprietary information from the list item which exhibits this behaviour and post the markdown here so I can try and duplicate it. I can see it happening but cannot think of the conditions that could cause the indentation to jump.

[2019-03-11 14:06] UlrichCech opened #721 "EAP: QuickFix for "Wrap Links" shows the message-key instead of description"
The quickfix for the "wrap links" feature displays the message-key and not the description text.
This text is shown "!wrap.auto.link.in.angles.intention.name!" ;-)

Found in current EAP-release 2.8.2.32

[2019-03-11 14:10] UlrichCech commented on #720
This is easy to recreate:

1. first item
2. second item
3. This is long text trying to show the weird problems with indentation asdhl dashjlg dsblhj This is long text trying to
   show the weird problems with indentation asdhl dashjlg dsblhj shjal DBHSJla adghal halsgd alsdbljabJASBDJLABASVD
   AGSGDLA ALSHGD ALH XXX dljasa vhljasdgh

Then put your cursor directly after 'XXX' and hit space and bac

[2019-03-11 14:20] vsch commented on #720
@UlrichCech, I wish it was that easy. I am not getting this.

![WeirdWrappingJump](https://user-images.githubusercontent.com/10299086/54130373-a453b880-43e6-11e9-9184-d8d0a6bd16c6.gif)

What are your settings for Code Style > Markdown > Lists

And your parser settings in Languages & Frameworks > Markdown > Parser

Both affect how lists are generated/formatted.  Also what do you get if you format t

[2019-03-11 14:27] UlrichCech commented on #720
Disabling the "Use character font witdh" does not change anything, but I figured something out:
The behavior occurs only, if you have a line-break (via 2 or more spaces at the end of the line) and only, if the numbers are lower than 10 (so only single character numbers):

1. first item
2. second item
This is long text trying to show the weird problems with indentation asdhl dashjlg dsblhj This is

[2019-03-11 14:37] vsch commented on #720
@UlrichCech, I saw the hard-break spaces in your animation and was the first thing I tried. It is possible you have some Unicode zero width characters in your text. You can use [Zero Width Characters locator] plugin which is easiest, or use the show hex for selection in the plugin's toolbar.
![Screenshot_ShowHexForSelection](https://user-images.githubusercontent.com/10299086/54131768-660bc880-43e9

[2019-03-11 14:46] UlrichCech commented on #720
In addition, I have these settings:

[Image](https://www.dropbox.com/s/evkg2p1jq70xd86/Bildschirmfoto%202019-03-11%20um%2015.35.10.png?dl=0)

[2019-03-11 14:49] vsch commented on #720
@UlrichCech, thanks I will try them. I did suspect the lists setting and tried the Fixed 4 spaces but I will try all conditions at the same time. I can see it happening on your system and need to figure out how to make it happen on mine.

[2019-03-11 14:55] UlrichCech commented on #720
I think, you are right, the setting with the 4 fixed spaces makes a lot of trouble, when using the default settings for CommonMark and only change to "4 fixed spaces"... then many numbers are not correct auto-indended and numbered...
For example:
1. asdasdas
2. asdsada
    1. sdshö
    2. huisahdsa

are auto-changed to:
1. asdasdas
2. asdsada
3. sdshö
4. huisahdsa

[2019-03-11 14:58] vsch commented on #720
@UlrichCech, Eureka!! I am getting the same behaviour now. I don't know how I missed your comment about BACKSPACE un-indenting. It seems to ignore the fixed 4 setting for lists. I will fix it.

As for CommonMark list indentation "rules" they are a bit weird and cause problems for longer lists when suddenly you need to indent items numbered 10+ by 4 spaces instead of 3 for single digit list items.

[2019-03-11 15:04] UlrichCech commented on #720
Very cool, then I'am waiting for the next EAP release and try that out immediatly. Thanks for your support!

[2019-03-11 15:22] vsch commented on #720
@UlrichCech, I was very reluctant to touch the wrapping code knowing it is a pandora's box. I do like the wrapping on each character though, so it is worth the pain.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-11 15:30] UlrichCech commented on #720
Ok, seems to work now as expected. Thanks!!!

[2019-03-15 09:56] holgerbrandl opened #722 "Paste always pastes as code"
Since the last EAP update (from today I think), it pastes always by wrapping the clipboard content into a code block

![image](https://user-images.githubusercontent.com/200952/54423400-e5aed580-4710-11e9-9115-43add9708b44.png)

after copy and paste

![image](https://user-images.githubusercontent.com/200952/54423417-ecd5e380-4710-11e9-8eb6-fd962da9cafc.png)

[2019-03-15 10:39] vsch commented on #722
@holgerbrandl, how are you copying it? Using regular copy or some other copy format?

I tried this and it pastes what was copied.

Do you have any plugins that play with copy format?

[2019-03-15 11:02] vsch commented on #722
@holgerbrandl, can you copy then use a clipboard viewer to see what is on the clipboard?

I am curious as to what is on the clipboard. If something adds an HTML mime type then if you have HTML to markdown enabled in the plugin it would do that. However, the plugin does not do any wrapping or change from plain text on regular copy, as far as I know.

[2019-03-15 13:35] holgerbrandl commented on #722
Indeed it seems to be about the mime-type, I noticed that it is not the paste but the copy operation which seems to be the issue. Pasting content which was copied outside of idea works without any problem.

It's just affecting the markdown IJ (which is compatible to your mime-type hypothesis),, because pasting the same clipboard content into non-markdown editors in IJ works as expected.

It seems

[2019-03-15 13:50] vsch commented on #722
@holgerbrandl, yes you have copy rich text enabled which I think generates an HTML flavour on OS X automatically.

You can either enable "Ask options on paste" Markdown Navigator option so it will give you a choice of what to paste if HTML content is being pasted (Languages & Frameworks > Markdown > Editor) or turn off `Copy rich text by default` in (Editor > General) and use `Copy as Rich Text` i

[2019-03-15 14:12] holgerbrandl commented on #722
Indeed, this solves the problem. Not sure why this setting has changed, but I guess it did so when enabling pref synching in the ide yesterday.

Thanks for your help.

[2019-03-15 14:27] vsch commented on #722
@holgerbrandl, I blew the settings repository plugin out of my IDEs, with gusto. The last thing I can afford is to have some plugin mess with my settings. I have enough trouble with IDE upgrades, I don't need more mysteries due to settings being switched on me behind my back. 😄

[2019-03-16 01:04] vsch opened #723 "Cut/Paste in markdown files causes exception"
* Fix: Performing Cut/Paste on markdown code results in all contained elements becoming invalid.
  * Implemented Psi independent format for reference information
  * Add: abbreviation and enumerated references to copied elements if they are referenced but
    not part of the copied text
  * Add: copy markdown to clipboard to share link/reference information to allow Markdown
    Navigator running

[2019-03-16 01:09] vsch commented on #721
@UlrichCech, thanks for catching it.

[2019-03-16 01:13] vsch opened #724 "Feature: link and reference fix-ups to work with separate IDE instances"
Currently, copy/paste will fix links and add references used in selection but without including the definitions only if copy/paste is done within the same IDE instance.

This feature enables copying markdown with ref links and explicit links in relative/repo relative format and pasting it into another IDE, with all the link and references fixed up for the destination project.

[2019-03-16 05:23] bluelovers opened #725 "Paste became code block"
copy in md, paste became code block

https://youtu.be/fSuoaTuC13c

expect as normal paste

[2019-03-16 12:40] #722 closed

[2019-03-16 12:42] vsch commented on #725
See #722. I now pinned the issue because I suspect a lot of people will encounter it.

[2019-03-16 12:42] #725 closed

[2019-03-16 12:54] vsch commented on #722
I expect a lot more people to encounter this. I completely forgot why I blew out the preferences sync out of my IDEs. I upgraded the IDE and got the code pasting myself and wasted some time looking for the "bug". Only remembered it when the second issue was opened for this problem.

[2019-03-17 21:33] vsch commented on #721
@UlrichCech, you should upgrade to the new EAP. Lots of fixes and improvements. Including, copying Markdown in one IDE instance and pasting in another now adjusts links and adds missing references.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-21 05:09] khun84 opened #726 "unable to show ref anchor link explorer"
I have enabled ref anchor link explorer in markdown navigator config and code intention config. But when I invoke the intentions command, I could't see ref anchor link explorer in intentions command list.

Env:
[code]

[2019-03-21 07:39] vsch commented on #726
@khun84, thank you for reporting this. A bug introduced in the last release prevents the explorer from showing. I have fixed it. I  will make an EAP release with the fix.

[2019-03-21 07:50] vsch commented on #726
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-21 15:22] Jelmerb opened #727 "css files not created in export folder"
When I export my markdown files to HTML using a custom gitlab wiki profile, no css files are created in the export folder (also no css folder) although the links to the stylesheets are added to the head of my HTML files. I'm using version 2.8.2 and have activated the free trial licence (thinking about buying it, if I can adjust the plugin to my needs).

This is a screenshot of my configuration:

!

[2019-03-21 16:34] vsch commented on #727
@Jelmerb, it appears to be a bug introduced with the changes in last release. I will have it fixed shortly.

[2019-03-21 16:41] Jelmerb commented on #727
Thanks for the quick reply. I will be waiting for the next release.

[2019-03-21 16:56] vsch commented on #727
@Jelmerb, you won't need to wait for the next official release. I will make and EAP release with the fix probably within an hour or two.

[2019-03-21 18:16] Jelmerb commented on #727
That's fast. I will test it as soon as it's live. Much appreciated.

[2019-03-21 18:55] vsch commented on #727
@Jelmerb, thank you for reporting this one.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-21 19:57] #699 closed

[2019-03-21 20:27] Jelmerb commented on #727
I can confirm this is fixed in version 2.8.2.56

[2019-03-21 20:30] vsch commented on #727
Thank you for the confirmation. You would be surprised how often this is withheld. 👍

[2019-03-21 20:35] Jelmerb opened #728 "Loading indicator in settings doesn't disappear after loading"
In the latest version 2.8.2.56 of the EAP the loading indicator stays after the settings are loaded.

A screenshot of the issue:
<img width="790" alt="loading indicator stuck" src="https://user-images.githubusercontent.com/6000226/54783185-000d1580-4c21-11e9-90d4-5d64340a9b92.png">

Haven't seen it reported in another issue.

[2019-03-21 20:38] vsch commented on #728
@Jelmerb, you must be getting an exception on some setting. Can you post the stack trace for the exception?

It looks like settings got corrupted. They are stored in .idea/markdown-navigator.xml if you could e-mail me the file to my GitHub profile, I will be able to see what it is that is causing it.

[2019-03-21 20:38] Jelmerb commented on #727
As a developer I know how bad users can be at reporting and communicating bugs or requests

[2019-03-21 20:41] Jelmerb commented on #728
java.lang.NoSuchFieldError: EMPTY_ARRAY
	at com.vladsch.idea.multimarkdown.settings.ScopeNames.getNamedScopes(ScopeNames.java:50)
	at com.vladsch.idea.multimarkdown.settings.ScopeNames.getScopeNames(ScopeNames.java:55)
	at com.vladsch.idea.multimarkdown.settings.ScopeNames.updateValues(ScopeNames.java:64)
	at com.vladsch.idea.multimarkdown.settings.profile.ProjectSettingsPanel.reloadRenderingProfi

[2019-03-21 20:44] vsch commented on #728
No need for settings. It appears either I am using a new field from the API or it was previously not public.

I forgot to ask what IDE and version you are using, out of curiosity since I will fix this by not bothering with the API and declare my own empty array.

[2019-03-21 20:46] Jelmerb commented on #728
IntelliJ IDEA Ultimate 2018.3.5

[2019-03-21 20:52] vsch commented on #728
That is strange. I used this version until the recent update to 2018.3.6 beta and have not seen this issue.

I'll have that code replaced and release an EAP update.

[2019-03-21 20:56] Jelmerb commented on #728
Thanks 👍

[2019-03-21 21:09] vsch commented on #728
The reason I did not see it is because I did not change the rendering settings. I can duplicate it when clicking on rendering.

[2019-03-21 21:17] vsch commented on #728
@Jelmerb, I tested it on 2016.3, that is my tank test bed for old API compatibility, but even that failed me once when a public field in the API went private for some 2017 versions.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-22 09:04] Jelmerb commented on #728
Fix confirmed for version 2.8.2.58

[2019-03-22 10:25] Jelmerb opened #729 "Can't disable 'Add query suffix to URI which increments when file changes' option"
IDE: IntelliJ IDEA Ultimate 2018.3.5
Markdown Navigator 2.8.2.58

When I add a custom CSS stylesheet in the 'Apply CSS from URI' and I export my markdown to HTML the CSS file gets a weird filename (github-markdown.css%3F0). As expected it isn't applied to the exported HTML (although the weird file name is used in the HTML head). So my solution was to disable the option mentioned in the title, only

[2019-03-22 13:13] vsch commented on #729
@Jelmerb, the trailing ?0 is caused by the `Add query suffix to URI...` option. In the fix for copying the CSS I forgot to add stripping out of the query from the URL when generating the file name for copying.

What do you mean by `disable the option mentioned in the title`? Is it the `Override Project Settings` or `Apply CSS from URI`?

[2019-03-22 13:18] vsch commented on #729
@Jelmerb, re-read the title and got my answer. Did not understand that by title you meant title of the issue.

[2019-03-22 13:34] Jelmerb commented on #729
My bad, I was not clear enough.

[2019-03-22 13:35] holgerbrandl opened #730 "Can not configure toc anymore"
When trying to configure a toc with
![image](https://user-images.githubusercontent.com/200952/54826292-c7684d00-4caf-11e9-9f02-17dcb76776bb.png)

it fails with
[code]

[2019-03-22 14:26] vsch commented on #729
@Jelmerb, not your fault. When I read the issue, the water for my coffee was still heating up.

The issue is caused by omission of the use query suffix from the settings equal/hashcode so when you change only this checkbox the change is not detected.

This code got a bit of chewing up when I added all these options to the basic version. One of the main reasons why I was hesitant to do it because i

[2019-03-22 14:45] vsch commented on #730
@holgerbrandl, project is null at this point in the code. I will check to see what changed to cause this and fix it.

[2019-03-22 15:04] vsch commented on #730
@holgerbrandl, my omission. The project is null at this point temporarily until the form is initialized. I forgot to take that into account when cleaning up rendering profiles.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-22 15:04] vsch commented on #729
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-22 20:29] holgerbrandl commented on #730
Thanks @vsch for the quick fix.

[2019-03-22 20:56] vsch commented on #730
@holgerbrandl, sorry for introducing the bug in the first place.

It was a hard decision to touch old, stable implementation but it had to be done because it has morphed over the last two years into pachinko code that sent me into a bout of Tourette's every time I tripped over it. When I heard myself say "Who the F codes this way?" about my own code I knew I reached the limit of my tolerance. 😊

[2019-03-22 20:59] holgerbrandl commented on #730
Don't feel sorry, rather feel proud that you always manage to provide such amazingly short response/fix times.

[2019-03-22 21:35] Jelmerb commented on #729
The setting change is now saved but export to HTML stopped working and gives the following error:

java.io.FileNotFoundException: /css/github-markdown.css?0 (No such file or directory)
	at java.io.FileInputStream.open0(Native Method)
	at java.io.FileInputStream.open(FileInputStream.java:195)
	at java.io.FileInputStream.<init>(FileInputStream.java:138)
	at kotlin.io.FilesKt__FileReadWriteKt.readByt

[2019-03-22 22:35] vsch commented on #729
@Jelmerb, in a rush to fix the destination file name I forgot to do the same query stripping on the source file URI.

[2019-03-22 23:11] vsch commented on #729
@Jelmerb, I took the time to add a test case for query string export to make sure it does work.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-22 23:11] vsch commented on #712
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-22 23:12] vsch commented on #706
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-23 01:23] vsch commented on #705
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-23 14:13] Jelmerb commented on #729
@vsch Thanks for your hard work.

The custom CSS file gets copied correctly if I enter the complete path to a file in the URI field. If I enter an invalid URI, I still get an exception. I think it would be better to warn the use beforehand if the URI is invalid. Wouldn't it be better if the user could just select a file on the filesystem?

[2019-03-23 14:18] vsch commented on #729
@Jelmerb, I agree. I have not reviewed this feature since its early implementation. I will add a browse button and error checking to make sure the URI is valid and convert it to absolute path if a relative path is given.

[2019-03-23 17:03] vsch commented on #729
@Jelmerb, added browse button, validation and error message if URI is file URI and file does not exists or URI is missing protocol prefix. Also generating error in export log message if CSS URI does not exist.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-03-23 19:03] Jelmerb commented on #729
Nice, it works now. The preview also has the custom CSS applied which wasn't the case earlier. Nice job 🙂.

[2019-03-23 20:07] vsch commented on #729
@Jelmerb, the preview always used the provided CSS URI but if it was not valid the preview browser would ignore it. Having validation helps identify problems in configuration.

This code has not seen much attention in a while. I have learned a lot about the JetBrains API  since I wrote it but did not give it much attention since.

I am glad you raised this issue. It motivated some overdue cleanup

[2019-03-24 04:13] vsch commented on #713
@demisolutions, new option added to set the starting format for link completions:

* Add: Languages & Frameworks > Markdown > Editor option `Default link completion format`, sets the starting format for link completions. Use multiple invocation to cycle to other formats.

![image](https://user-images.githubusercontent.com/10299086/54874833-60d75200-4dc9-11e9-9847-729fdf9745e3.png)

EAP update with

[2019-03-24 12:30] Jelmerb commented on #729
No problem, happy to help.

[2019-03-24 16:18] gregallen opened #731 "apache pdfbox vulnerability"
please upgrade your dependency owing to CVE-2018-11797

thx

[2019-03-24 18:01] vsch commented on #731
@gregallen, thank you for the information.

I will update the dependencies which are from OpenHtmlToPDF through flexmark-java.

This should not affect any code in these libraries because PDF files are not parsed but generated from HTML. So there is no chance to carefully craft the PDF to exploit the bug.

[2019-03-27 05:42] grubbins opened #732 "ditaa support"
PlantUML now includes ditaa support, either via `@startditaa` or (temporary arrangement) `@startuml` followed by `ditaa(...)`.

It would be awesome if this worked in Markdown Navigator too. So far I have not been able to make this work. I tried:

[code]

This reports a syntax error on `ditaa`. I downloaded the latest PlantUML jar and copied it into the plugin dir in case that is the issue, but it

[2019-03-27 05:53] grubbins opened #733 "PlantUML include path"
I have a PlantUML block like this:

[code]

Sometimes this works fine in the preview. Other times, I see an error from PlantUML "Cannot include my-file.puml". I cannot figure out what determines whether it is going to work or not!

I suppose this comes down to the include paths used by PlantUML when we run it. How is that handled? Can we have the directory of the markdown file on the list of inclu

[2019-03-27 06:04] grubbins commented on #733
Ah, I did just discover that the "Cannot include" error image is cached, and won't be replaced if all I do is move/edit the included file. If, however, I put the included file in the right place and then delete the image cache, it then works.

With cache clearing the behaviour seems more predictable if I `include` a file in the same directory as the markdown doc. I have not been able to use relati

[2019-03-30 22:18] vsch commented on #732
@grubbins, I will do an update for the next EAP release. Your request came right at the end of the release cycle and I did not want to add another issue to the release.

The last release was right on the heels JetBrains releasing JBR-11 and it was generating several dozen exception reports a day and I needed to get a fixed release out ASAP.

[2019-03-30 22:20] vsch commented on #733
@grubbins, I will add this to the next EAP release. I did not investigate using plant uml inclusions so will need to figure out where it is expected when a relative path is used.

[2019-03-30 22:21] #569 closed

[2019-03-30 22:21] #579 closed

[2019-03-30 22:21] #693 closed

[2019-03-30 22:21] #702 closed

[2019-03-30 22:21] #705 closed

[2019-03-30 22:21] #706 closed

[2019-03-30 22:21] #707 closed

[2019-03-30 22:21] #708 closed

[2019-03-30 22:21] #709 closed

[2019-03-30 22:21] #710 closed

[2019-03-30 22:21] #711 closed

[2019-03-30 22:21] #712 closed

[2019-03-30 22:21] #713 closed

[2019-03-30 22:21] #715 closed

[2019-03-30 22:21] #719 closed

[2019-03-30 22:21] #720 closed

[2019-03-30 22:21] #721 closed

[2019-03-30 22:21] #723 closed

[2019-03-30 22:21] #724 closed

[2019-03-30 22:21] #726 closed

[2019-03-30 22:21] #728 closed

[2019-03-30 22:21] #729 closed

[2019-03-30 22:21] #730 closed

[2019-03-30 22:21] #731 closed

[2019-03-30 22:22] vsch opened #734 "Version 2.8.4 released."
ℹ️ Exception Reports will now show a message to upgrade plugin if it is not the latest version.

⚠️ **Exception reports from Plugin versions older than 2.8.4 will generate an error in the plugin with a message to file a GitHub issue**.

This was prompted by users having extremely old versions of the plugins running on current versions of the IDE and filing exception reports for issues which were f

[2019-03-30 22:34] #704 closed

[2019-03-30 22:51] grubbins commented on #733
Sounds good. I think there are two things:
1. Clear the image cache if an included file has changed, appeared or disappeared
2. Support other include paths

The first one alone would make use of included files in the same directory much more intuitive.

[2019-03-30 22:53] grubbins commented on #732
Thanks for following up, look forward to it!

[2019-04-02 02:16] vsch commented on #732
@grubbins, ditaa is only available for the GPL licensed library. If this ever makes it into more permissive licensed versions then I will be able to include it in the plugin.

[2019-04-02 02:18] vsch commented on #733
@grubbins, I added code to change the user.dir to the file's directory and it works for relative includes but you need to add `./` prefix to the include file, otherwise plant uml library complains that it cannot include the file.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-04-02 22:30] grubbins commented on #733
Thanks!

How about the cached image invalidation part? That was actually the more confusing part for me.

[2019-04-03 18:35] Jelmerb opened #735 "Scroll preview to source position option doesn't work"
IntelliJ IDEA 2019.1
Markdown Navigator 2.8.4.4

Hi Vladimir, I could be wrong but it seems the option to `Scroll preview to source position` doesn't work. I have the JavaFX web browser selected and enabled all the necessary options but the preview doesn't scroll to the position in the editor. Maybe I forgot something

<img width="647" alt="Screen Shot 2019-04-03 at 20 31 06" src="https://user-ima

[2019-04-03 22:37] vsch commented on #735
@Jelmerb, there is a spurious condition which I have not been able to duplicate which causes synchronization and highlighting current block/line to not work.

It happens most often after a new installation and license activation. Closing the editor and reopening it usually fixes the problem. The issue tends to disappear after the next IDE start.

I have been trying to find the conditions/timing wh

[2019-04-03 23:17] vsch commented on #733
@grubbins, I have to think about how to handle the cached images.

Currently, the caching is based on the text's MD5 signature which works great if the diagram text changes. In this case the included file changes.

I would have to parse the text and handle text with included files differently.

I will try adding a simple parser which will look for `!include path` if path is resolved to a file then

[2019-04-04 00:24] vsch commented on #733
The included file(s) must be saved to disk before changes are detected. I have not implemented checking to see if it is open in the IDE.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-04-04 11:57] Jelmerb commented on #735
Closing the editor or restarting the IDE doesn't fix it unfortunately. If I can provide any other information that might help you find the problem, let me know.

[2019-04-04 13:02] Jelmerb commented on #735
I got it working by accident! I changed back to the `Default - Swing` browser and then enabled the `JavaFX Web View` clicking on the tip that appeared which says something like `JavaFX browser available`.

[2019-04-04 13:08] Jelmerb commented on #735
found another bug though, about Page Zoom not working.

[2019-04-04 19:21] vsch commented on #735
@Jelmerb, I will check the code. What you are describing appears to be a corruption of saved settings. It gives me another information point to check.

[2019-04-05 08:57] Jelmerb commented on #735
Ok, I did some testing. Some really weird stuff is happening. Somehow the synchronization stopped working again. So what I did is I changed the `Preview browser` option for the profile I use back to `Default - Swing`. No tip `JavaFX Web-Kit based preview renderer is available.` appeared so I changed it back again to `JavaFX WebView`. No luck!. For some reason I changed the profile setting back to

[2019-04-08 19:00] vsch opened #736 "Add Tracking of Submitted Exception Reports"
Tracking of submitted exception reports and notification when a fix for a particular report becomes available.

https://github.com/vsch/idea-multimarkdown/wiki/Diagnostic-Settings

[2019-04-08 19:01] vsch commented on #736
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-04-08 19:09] vsch commented on #732
@grubbins, if you replace the `plantuml-jar-asl-1.2019.4.jar` in the plugin installation directory with the GPL version of the library `plantuml.1.2019.4.jar` then ditaa() will work.

You don't need to rename the jar file just remove the ASL version of the jar so that only one plangUML library jar is located in the plugin installation `lib/` directory.

[2019-04-10 16:08] DeltaBravo opened #737 ""Hard-break" Trailing Spaces Removed on Manual Save"
# Software Versions
PhpStorm 2019.1
Markdown Navigator 2.8.4.12

# Settings
Editor > General: Other: Strip trailing spaces on Save: All
Editor > Code Style > Markdown: Document: Trailing Spaces: Document: Keep line breaks
Editor > Code Style: General: EditorConfig: Enable EditorConfig support: enabled

## .editorconfig

    root = true

    [*]
    charset                  = utf-8
    end_of_line

[2019-04-10 16:29] DeltaBravo commented on #737
Discovered something that seems to work. I consider this a workaround and not a proper solution. I also suspect this is an IDEA issue and not a Markdown Navigator issue.

Editor > General: Other: Strip trailing spaces on Save: None

Note that the EditorConfig plugin and configuration file are still enabling white space trimming but with an exception for Markdown files.

[2019-04-10 16:43] vsch commented on #737
@DeltaBravo, thank you for bringing this to my attention. I will look into what in editor config integration is causing this.

[2019-04-11 12:19] Jelmerb commented on #493
How can this be achieved? Do can you point me in the right direction?

[2019-04-12 21:37] vsch commented on #493
@Jelmerb, you need to add `Link Address Element` entry to map to convert no extension link text to file ref with `.md` extension:

|       Type       |        Regex Pattern        | Replacement |
|------------------|-----------------------------|-------------|
| Text to File Ref | `^((?:.*[\\/])?[^\.\\/]+)$` | `$1.md`     |
| File Ref to Text | `^(.+?)(?:\.md)$`           | `$1`        |

![Screen

[2019-04-12 23:45] vsch commented on #737
@DeltaBravo, this was actually a bug. The IDE was not recognizing the plugin's filter.

Fixed, but minimum IDE version had to be upped to 2017.3.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-04-12 23:47] vsch commented on #737
BTW, if you set keep hard breaks in Markdown code style then you can enable trailing space stripping in editor config. It will strip all but 2 spaces on lines where they are significant and remove them where they are not, like on the last line of a paragraph.

[2019-04-12 23:47] vsch opened #738 "Minimum IDE Version changed to 2017.3"
Earlier IDE's are no longer supported by versions later than 2.8.4.12

[2019-04-13 06:10] Jelmerb commented on #493
Thank you very much!

[2019-04-15 12:57] DeltaBravo commented on #737
Thank you! It works great.

[2019-04-15 12:57] #737 closed

[2019-04-16 08:42] Jelmerb opened #739 "Suggestion: Option to generate a tree view of files and folders with HTML export"
It would be nice to have the option to add a generated tree view of all markdown files (optionally nested in folders) to the HTML export as an aside, just like in GitHub and GitLab . Right now I create my own breadcrumbs at the top of the wiki pages, which works for basic navigation, but if you have a lot of pages and a lot of directories it can be hard to track where you are. I don't know if this

[2019-04-16 10:41] kidomine opened #740 "PlantUML Fenced Code is Not Rendered"
PlantUML diagrams are not rendered on my setup (see below).
Bundled Markdown plugin for PyCharm is disabled.
I also have a separate PlantUML Integration plugin which works fine on its own.

I also tried the following:
* disabled both PlantUML Integration and bundled Markdown plugin - still NG
* replaced plantuml.jar of Markdown Navigator with the one that came with PlantUML Integration - also NG

[2019-04-16 22:00] vsch commented on #739
@Jelmerb, can you please clarify what you mean. I don't understand how what you are asking is different from the IDE project view for Wiki project.

Why is it hard to track where you are? You can always use the `Scroll from source` in project view to locate the current file in the project view.

[2019-04-16 22:06] vsch commented on #740
@kidomine, plant UML integration is part of the basic plugin and does not require the licensed version.

There is a bug in the released version that does not save a change in puml language parser setting. You either need to change another setting in addition to the PlantUML extension checkbox so that the settings page detects a change in setting.

Alternately, you can use the EAP channel and insta

[2019-04-17 09:49] Jelmerb commented on #739
I mean a tree view in the HTML export. Let me clarify with an example:

<img width="1144" alt="Screen Shot 2019-04-17 at 11 35 15" src="https://user-images.githubusercontent.com/6000226/56277666-11085400-6105-11e9-9ad2-1b604a9487cc.png">

I created this HTML export with [markdown-folder-to-html](https://github.com/joakin/markdown-folder-to-html). As you can see the tool creates a tree view of the

[2019-04-17 13:01] kidomine commented on #740
@vsch Thanks for the quick response. I tried EAP as you suggested, and I am now using v2.8.4.16.
However, I still can't render PlantUML diagrams in fenced code.

I also tried the following configurations, all of which failed (i.e. PlantUML is not rendered):
1. changed `Markdown->Preview->HTML Generator`: Swing vs JavaFx
2. changed `Markdown->Preview->HTML Generation->HTML Generator`: Swing vs Java

[2019-04-17 21:08] vsch commented on #739
@Jelmerb, thank you for the clarification. I understand the use case.

I am hesitant to add extra complexity to the plugin for generating HTML while the goal for the plugin is to provide editing, refactoring and preview for markdown to HTML processing.

One option is to create a stand-alone tool for generating HTML from markdown using Java. Then you can use the same library for markdown processing

[2019-04-17 21:56] vsch commented on #740
@kidomine, I am using the same configuration as you have described, including PlantUML plugin which I have installed in all my iDEs, and I cannot duplicate the issue. The only difference is that I am running on PyCharm not PyCharm CE. I will try the latter to see if there is a difference.

<img width="538" alt="image" src="https://user-images.githubusercontent.com/10299086/56323053-b4269100-6138-1

[2019-04-17 22:01] vsch commented on #740
@kidomine, the export and copy functionality is only available in the enhanced edition so the items for these actions are disabled in the basic edition.

[2019-04-17 22:13] vsch commented on #740
@kidomine, same for PyCharm CE. Renders correctly.

The image cache is located in the user home directory under `~/.markdownNavigator/image-cache` it should include all images generated or converted from SVG. When running the IDE can you see this directory?

[2019-04-18 08:34] Jelmerb commented on #739
Thanks for looking into this. I completely understand, no problem. Although your second suggestion doesn't sound like a hard thing to achieve, unfortunately I don't have the time right know to spend time on it.

I'll just watch this thread, and hopefully other people can upvote this suggestion. If not, no worries. We can't always get what we want. You have been a big help anyways.

[2019-04-18 08:46] Jelmerb commented on #727
CSS export is broken again. No CSS files are exported. Should I open a new issue?

I'm on:
IntelliJ 2019.1
Markdown Navigator 2.8.4.16

[2019-04-18 08:49] XieEDeHeiShou opened #741 "Links"
How to config <kbd>ctrl</kbd>+<kbd>left click</kbd> on a relative path as `open file` like default markdown support plugin instead of `show usage` in editor plane?

I see these a similar issue which related #317 , but I'm not going to export markdown as HTML.

IntelliJ IDEA 2019.1.1 (Ultimate Edition) with Markdown Navigator v2.8.4.

[2019-04-18 09:25] kidomine commented on #740
@vsch It seems the culprit are the last checkboxes under `Parser` (i.e. `XXX fenced code` settings). It seems these are disabled by default, which gave me an impression that the rendering does not work.

My environment is OK now, and I already switched back to official release instead of EAP. I did not try to downgrade to the previous official release, but I think it should still be OK.

Re the ex

[2019-04-18 09:25] #740 closed

[2019-04-18 16:39] vsch commented on #727
@Jelmerb, bug caused by my attempt to clean up `file:/` URI prefix handling code between Windows and non-Windows systems.

Fixed. EAP release shortly.

[2019-04-18 17:03] vsch commented on #727
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-04-18 17:08] vsch commented on #741
@XieEDeHeiShou, can you please give me specific example where this does not work.

By default the IDE ctrl+left click (cmd+left click on OS X) performs show usages/go to definition.

I tried it and it does work correctly, however it is possible that there is an issue with your specific configuration or relative path.

If you perform `Go to declaration` on the same link does it open the file?

You

[2019-04-18 17:33] Jelmerb commented on #727
Fix confirmed :) Thanks

[2019-04-19 02:10] XieEDeHeiShou commented on #741
Markdown support:
![markdown-support](https://user-images.githubusercontent.com/16363180/56401169-37a3c780-628a-11e9-9040-2486946b07b0.gif)

Markdown navigator stable:
![markdown-navigator](https://user-images.githubusercontent.com/16363180/56401177-44c0b680-628a-11e9-9c59-eac90288cecb.gif)

Markdown navigator eap: (the same as stable)
![markdown-navigator-eap](https://user-images.githubuserconten

[2019-04-19 16:33] vsch commented on #741
@XieEDeHeiShou, from the links it looks like they are referring to files outside of the current project.

If this is true then it would explain why the links do not work to open files. The plugin only resolves page relative links if they are part of the project.

I will try to see if there is a workaround for this in the current implementation.

[2019-04-22 20:15] obestwalter opened #742 "PyCharm Jupyter notebook support insists on inbuilt markdown plugin"
Since the last release of PyCharm it insists on activating the inbuilt markdown plugin to be able to use the Jupyter notebook support. Is this problem known already?

[2019-04-22 20:21] vsch commented on #742
@obestwalter, yes it is. There is an issue raised by another user, with my offer to make Markdown Navigator compatible: https://youtrack.jetbrains.com/issue/PY-34367

[2019-04-22 20:30] obestwalter commented on #742
Thanks - added my two cents from a user perspective in the issue. I wish you plugin would be the standard markdown plugin in all Intellij tools. Keep up the great work!

[2019-04-22 20:32] vsch commented on #742
@obestwalter, thank you. I am sure that a solution is possible if JetBrains is willing to put some effort on it.

I cannot see what Markdown Support offers that Markdown Navigator cannot have, especially if I am willing to provide code to make the adaptation as easy as possible.

[2019-04-23 09:45] chilek opened #743 "auto-move in preview to match source code cursor position"
Version used: 2.8.4
My MD document has size 169798 bytes and uses TOC.
Is there some line/size limit in source code to get working preview in right panel with auto cursor position?

[2019-04-23 09:51] chilek commented on #743
Changed _Markdown/Preview/Preview browser_ to _Swing_ and then back to _JavaFX WebView_ and automatic cursor positioning works again ;-)

[2019-04-23 11:26] chilek commented on #743
After PHPStorm restart problem appears again.

[2019-04-23 14:44] chilek commented on #743
Problem is reproducible - switching preview renderer from _JavaFX WebView_ to _Swing_ and back fixes the problem until next PHPStorm restart.

[2019-04-23 14:52] chilek commented on #743
Upgrade to EAP 2.8.4.20 version doesn't fix the problem.

[2019-04-23 20:25] vsch commented on #743
@chilek, I will try to figure out what is causing this. It appears to be related to an unstable settings state being restored on IDE startup. I am trying to figure out what exactly are those setting conditions. Duplicate #735

[2019-04-23 22:00] vsch commented on #743
@chilek, I released an EAP version with added logging to the code changing the panel initialization and changes to settings in the hope that extra information will help me figure out what set of conditions cause this issue.

To enable the extra logging to the IDE log file you need to add a line:

    com.vladsch.idea.multimarkdown.editor.htmlPrep-rendering:trace

to the IDE Debug Log Settings in t

[2019-04-24 06:19] chilek commented on #743
@vsch here is debug log:

[code]

I hope will be helpfull.

[2019-04-25 01:11] vsch commented on #743
@chilek, unfortunately there is nothing in this information that is out of the ordinary.

Can you please add the following to the debug trace settings to add traces for actual scroll pos invocation:

[code]

I would really appreciate the debug log trace for condition when the scroll is not working (before you toggle preview type) and working (after you toggle preview type) separately identified so

[2019-04-25 07:53] chilek commented on #743
Please give me your email address to which I'll send two log files which are result of two PHPStrorm sessions: one with not working preview feature, and other in which works after change PreviewRenderer to Swing and then back to JavaFX WebView.

[2019-04-25 14:46] ozmium opened #744 "Very high CPU usage when typing text with HTML preview open"
When typing text into the editor, and the live HTML preview is open, the IDE uses a very large amount of CPU, approximately 100% of 1 CPU. This seems very inefficient.

It happens even if the "Typing update delay (ms)" is changed to the maximum of 1000 ms. This setting doesn't make any difference.

Please try to reduce the CPU usage.

Markdown Navigator, version 2.8.4

[2019-04-25 20:05] vsch commented on #743
@chilek, you can use my e-mail in GitHub profile: vladimir / vladsch.com

[2019-04-25 20:10] vsch commented on #744
@ozmium, wrap on typing causes a lot of processing. There are two possible workarounds. One is to disable wrap on typing and to use document or element format manually. The other one to try setting `Wrap only after space is typed` in Languages & Frameworks > Markdown > Editor. This will reduce wrapping on typing by wrapping only after a space is typed.

[2019-04-26 05:49] chilek commented on #743
@vsch I've sent it already.

[2019-04-26 07:55] XieEDeHeiShou commented on #741
Please mark this issue with a bug label.

[2019-04-26 08:42] ozmium commented on #744
Thanks for your response. I found that the following options together (both are required):

* View -> Active Editor (markdown file) -> Use Soft Wraps = Off
* Settings -> Languages and Frameworks -> Markdown -> Editor -> Wrap only after space is typed = On

Yield an approximate 40% reduction in CPU usage. It's still fairly high though.

Coincidentally, I've noticed that the Java/Kotlin code editor

[2019-04-27 16:49] vsch commented on #744
@ozmium, soft wraps also add a lot of processing since the lines need to be parsed to find where wrapping occurs. However, this is done by the IDE and not the plugin.

There is a lot of processing that occurs when file content is edited. Most are done in the background which does not cause processing until there is a pause in typing but wrap on typing is something that has to be done as text is mo

[2019-04-27 17:04] vsch commented on #743
@chilek, thank you. I will be going through the logs to isolate differences and figure out the cause of the bug.

[2019-04-28 16:46] vsch commented on #743
@chilek, I could see a difference in the logs. Mainly, the JavaFX panel notification that page load request completes is never seen by the plugin. This causes initialization for scroll sync code to never be run.

I could not see any settings related causes for this. The only thing I found was that initial JavaFX panel creation had a scheduling delay of 1ms while subsequent panel creations, which o

[2019-05-02 16:23] Synchro commented on #664
I've started seeing this in MN 2.8.4.24 in PHPStorm EAP 2019.1.2. It shows multiple times if I relaunch PHPStorm, and also whenever I do a git commit. It's only started happening very recently and it is very annoying - I have not changed the editor associations at all, and nor do I know why it would think file types have changed when they have not been touched.

[2019-05-02 16:28] yole opened #745 "Exception from AppUtils.isAppVersionGreaterThan when running on development build of IntelliJ IDEA"
I've tried to install the plugin (both the release build and the latest EAP, build 2.8.4.24) on a development build of IntelliJ IDEA, build number 192.3492. It fails with the following exception (relevant part extracted):

Caused by: java.lang.ArrayIndexOutOfBoundsException: 2
	at com.vladsch.plugin.util.AppUtils.isAppVersionGreaterThan(AppUtils.java:43)
	at com.vladsch.plugin.util.AppUtils.isSvgL

[2019-05-02 17:14] vsch commented on #745
@yole, thank you for the report.

It is bug in processing app build number. If the build contains only 2 parts or less then this exception will occur.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-05-02 17:19] vsch commented on #664
@Synchro, can you give me some specifics about the files for which this occurs? I am not getting this on PhpStorm 2019.1.2 updated today.

In the mean time you can turn off this behaviour since you do not need this unless changing MD files to plaint text or changing whether HTML should be displayed by the plugin with preview. Worst case your can always close and re-open the editor.

![image](https

[2019-05-02 17:28] Synchro commented on #664
Yes I saw that and disabled it. I don't know which specific files are causing it - I may have several open .md files across various projects, but I have not edited any of them recently. I've not converted anything from plain to markdown, or the other way, or even renamed any .md files, so I don't know why it would think the type has changed.

[2019-05-03 09:30] yole commented on #745
Thanks! Confirmed fixed.

[2019-05-03 09:32] yole opened #746 "Plugin creates files under .idea with default settings"
When I run the plugin for the first time, if I don't change any settings, the plugin creates .idea/markdown-navigator.xml, .idea/markdown-navigator/profiles_settings.xml and modifies .idea/codeStyles/Project.xml. None of this should happen. The plugin should store only settings that differ from defaults, and the platform provides APIs needed to implement that.

[2019-05-03 09:38] yole opened #747 "Useless "Markdown Export On Settings Change" notifications"
I didn't request anything to be exported, so there is no reason to notify me that export will happen later or has not happened.

[2019-05-03 10:35] vsch commented on #746
@yole, that part of settings does not use the API for historical reasons.

It was implemented in Kotlin when Kotlin was still in beta and there was no serialization support. So I rolled my own serialization.

I will either need to migrate all settings to the API or add logic to not serialize default values.

[2019-05-03 10:36] vsch commented on #747
@yole, good point. I will add code to see if there is anything to export.

[2019-05-03 12:00] yole opened #748 "Toolbar is completely hidden when window is not wide enough"
See attached screenshot. There's plenty of space to show one of the two toolbars, but the layout logic hides both toolbars completely.

<img width="794" alt="image" src="https://user-images.githubusercontent.com/46553/57136058-d9a7d180-6dab-11e9-9303-b8fb25e87a9e.png">

[2019-05-03 23:29] pmneve opened #749 "Updated to expanded version and now JavaFX WebView won't render bold or italic"
Switching to swing corrects this but removes scrolling synch and table of contents generation.

What should I look in the settings to try to fix this?  And what do you need to see to help pin it down?

[2019-05-04 10:48] vsch commented on #747
@yole, notification disabled if no profiles have update on save. The notification will still display if there are profiles with export but no files are in scope for the profile.

Determining whether there are actual files to export requires finding files that are in scope for the profile which cannot be done in dumb mode.

[2019-05-04 11:31] vsch commented on #749
@pmneve, what OS are you on? Usually this occurs on Linux due to difference of installed fonts.

Preview bold requires a font family to have normal, bold, italic and bold-italic versions installed. Otherwise the variants will display as normal.

Issue #696 discusses this for non-latin fonts.

The default fonts used for preview are defined by:

[code]

If you add the above into custom CSS text then

[2019-05-07 07:45] chilek commented on #743
Unfortunately on 2.8.4.26 problem still persists :(

[2019-05-07 07:46] chilek commented on #743
Maybe you will be able to re-play problem with my custom MD file? Shall I send it to you?

[2019-05-07 12:14] vsch commented on #743
@chilek, yes please send it to me. Anything that could help me duplicate this issue would be greatly appreciated.

[2019-05-07 13:55] chilek commented on #743
Sent.

[2019-05-08 15:34] vsch commented on #743
@chilek, on my system the file works without scrolling issues.

I think this could be OS or JRE related.

What is the OS you are running on?

Is the JRE for the IDE is JetBrains bundled or Oracle?

[2019-05-08 15:38] chilek commented on #743
@vsch: have you tried close and re-open ide twice or more? It can appear after some ide restarts.

My environment:
[code]

[2019-05-08 16:13] vsch commented on #743
@chilek, tried it on UBUNTU 18.04 under parallels desktop on the mac and no luck in duplicating it.

The about information on my test setup is:

[code]

I suspect that the issue is with initialization of JavaFX WebView which for some reason does not work properly when the IDE powers up. I will keep trying to figure out what set of conditions cause this.

It is not straight forward because the it i

[2019-05-08 16:44] vsch commented on #743
@chilek, the same with PhpStorm under UBUNTU

[code]

[2019-05-08 17:14] vsch commented on #748
@yole, the toolbar is created from two toolbars within a JPanel with g. Both toolbars are created by `ActionManager.createActionToolbar()`.

The standard implementation collapses both toolbars to the single `>>` popup button since both toolbars are bigger than can fit into their allocated space.

I have tried different settings for `ActionToolbarImpl` layout policies but none result in having a to

[2019-05-09 17:06] gaydenko opened #750 "[Q] Add docs/examples how to deal with/embed mermaid"
Hi! Have got the one year License to play with embedded mermaid. But was not lucky to find a doc how to do it. Please, add to doc paragraph or two with examples.

[2019-05-09 20:45] pmneve commented on #749
Running MacOS High Sierra.
Will check the fonts as you suggest.

[2019-05-09 21:48] pmneve commented on #749
Not sure which fixed my issues but I  put the css snippet you suggested into the custom CSS text field and changed the HTML generator to the Swing generator.
I might experiment later to determine which did the trick but need to move on at the moment.
Thank you!!

[2019-05-09 21:48] #749 closed

[2019-05-10 05:30] chilek commented on #743
you mean you have describe problem with above platform or not?

[2019-05-10 10:05] chilek commented on #743
After update to 2019.1.2:
[code]

Problem still persists.

[2019-05-10 16:23] vsch commented on #750
@gaydenko, you only need to enable the parser extension for mermaid to have this working:

![image](https://user-images.githubusercontent.com/10299086/57541973-4d069180-731e-11e9-8d4c-a6c3fa4057ac.png)

[2019-05-10 16:23] vsch commented on #750
* Chart fenced code blocks with info of `mermaid` using
    [Mermaid](https://github.com/knsv/mermaid)

[2019-05-10 16:28] vsch commented on #749
@pmneve, the reason is that Swing CSS uses different ordering for the fonts:

[code]

So if you take the font-family setting from Swing stylesheet and use it in the custom CSS with JavaFX stylesheet then it will work with all JavaFX styles:

[code]

[2019-05-10 16:44] vsch commented on #743
@chilek, on my system all tested IDEs work on both OS X and UBUNTU. Next I will try to duplicate the memory configuration to see if that affects the timing and the result.

[2019-05-10 16:45] gaydenko commented on #750
That your image can not be rendered for some reason. At any case I have enabled parser options:
![MNoptions](https://user-images.githubusercontent.com/3740016/57543075-02a40580-735c-11e9-8a4d-173a897a8630.png)
But still haven't got any rendering:
![MNandMermaid](https://user-images.githubusercontent.com/3740016/57543111-18b1c600-735c-11e9-88d2-cfdf57659a87.png)

[2019-05-10 16:50] vsch commented on #750
@gaydenko, mermaid requires JavaFX WebView preview.

Mermaid is implemented in a JavaScript in the browser so it requires JavaScript support in preview.

From your screenshot I can see that your preview is Swing which cannot display mermaid charts.

[2019-05-10 16:56] gaydenko commented on #750
Probably it isn't the end of story as far as switching to JavaFX Webview is still insufficient:
![MNandMermaid2](https://user-images.githubusercontent.com/3740016/57543676-b78af200-735d-11e9-8ba9-dfa7afc957ff.png)

[2019-05-10 16:59] vsch commented on #750
@gaydenko, it is also dependent on Mermaid script on the Stylesheet page. It is turned on when you turn on the Mermaid parser option but it probably fails to set it when you change preview while the parser option is already set:

![image](https://user-images.githubusercontent.com/10299086/57543804-64944900-7323-11e9-950b-f75116c366cd.png)

[2019-05-10 17:07] gaydenko commented on #750
Yes, stylesheet option was not selected - have missed it. Thanks!

[2019-05-10 17:07] #750 closed

[2019-05-15 22:36] pmneve commented on #749
got it.  thanks!

[2019-05-17 01:35] fuzzyweapon commented on #741
@vsch I seem to **actually** have a bug (mind you I am not using premium version so I'm not sure if that matters here**

The following link styles I've tried do not work using @XieEDeHeiShou's test cases (note that all documents in these tests exist in the root of the project and all anchors exist):
- `[Display Name](FAQ)`
- `[Display Name](FAQ#my-anchor)`
- `[Display Name](./FAQ)`
- `[Display Nam

[2019-05-17 02:05] fuzzyweapon commented on #741
To follow up, this is kind of a global thing for me it seems.  These also fail.
- `[[FAQ]]`
![image](https://user-images.githubusercontent.com/1253399/57898077-599e5480-780c-11e9-8566-dfce2cbd3d29.png)
If I try to navigate to it through usages, it does nothing.
If I try to use the intention action to fix it by making the link explicit, nothing happens.

- `[FAQ]`
![image](https://user-images.githu

[2019-05-17 09:16] chilek opened #751 "TOC stopped working"
![Zrzut ekranu z 2019-05-17 11-14-22](https://user-images.githubusercontent.com/1457437/57917453-002e3800-7895-11e9-8f56-64b217213248.png)

Doesn't generate table of contents - only warning in tooltip as in screenshot. Tried to change contents a little bit, save document - it doesn't help :(

[code]

[2019-05-17 09:45] ivan-kleshnin opened #752 "Disable MD unfolding in the file tree"
How to disable MD unfolding in the file tree? Since one of the last updates it started to show inner file sections.

This new feature drives me mad because it undermines my workflow. I have a huge tree of files where each level of nesting counts (against usability). Now I need to click twice to open a file and the project tree is cluttered with a junk information.

![shot](https://user-images.gith

[2019-05-17 16:20] vsch commented on #741
@fuzzyweapon, there are several parts to your issue.

1. `[[FAQ]]` is a wiki link and on GitHub these are only valid in wiki pages. The plugin requires that a wiki directory be configured in a specific way so that all markdown files under this directory are treated as a wiki for the project: [Adding-GitHub-Wiki-to-IntelliJ-Project]

2. `[FAQ]` is a reference link to a reference defined somewhere i

[2019-05-17 16:32] vsch commented on #751
@chilek, are you getting any exceptions?

The markdown code style setting sets whether toc is updated on save:

![image](https://user-images.githubusercontent.com/10299086/57942581-d3cbe900-789f-11e9-8d2c-67cc3c8d9691.png)

[2019-05-17 16:36] vsch commented on #752
@ivan-kleshnin, the display of headings in project view for markdown documents is controlled by project view setting `Show Members`:

![image](https://user-images.githubusercontent.com/10299086/57942736-44730580-78a0-11e9-8c7e-8b66636760ab.png)

This affects all files not just Markdown.

[2019-05-17 16:46] chilek commented on #751
@vsch thanks for hint! Although you image is broken I was able to find this settings. Indeed - my almost all settings have been lost during struggle strange problems with global/project settings in my PHPStorm. I forgot that I had to reset some settings in my project. Now I adjusted settings for TOC and it works again. Nice side efect by the way: automatic scrolling in preview started working! ;-)

[2019-05-17 16:47] #751 closed

[2019-05-17 16:48] vsch commented on #751
@chilek, although I am glad scroll started working, I am disappointed that I was not able to figure out what was causing it.

The image is hosted by GitHub. So it should be available.

[2019-05-17 16:51] chilek commented on #743
Althout I mentioned that it resolved it's not truth. After PHPStorm restart the problem came back :(

[2019-05-17 16:55] vsch commented on #741
Plain text files now showing up in completions or showing as unresolved, EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-05-17 17:07] vsch commented on #743
@chilek, how have you been updating PhpStorm versions? Using JetBrians toolbox or via IDE update downloading and applying patches?

I have found previous that applying patches in some cases results in messed up installations which were only fixed by downloading and installing a new version. In some cases deleting application support files and re-installing plugins.

No idea what caused it by since

[2019-05-17 17:17] ivan-kleshnin commented on #752
Got it. Thank you!

[2019-05-17 17:17] #752 closed

[2019-05-20 08:14] holgerbrandl opened #753 "Numbered list preview not in sync with code"
Example:
![image](https://user-images.githubusercontent.com/200952/58006277-010ad800-7ae8-11e9-884c-e96fc7d00cba.png)

Expected Behavior: List numbers should be in sync with the code.

[2019-05-20 16:42] chilek commented on #743
Thanks for valuable hint? I'll try to reinstall PhpStorm using full-package? Is JetBrain toolbox accessible on Linux?

[2019-05-21 13:18] vsch commented on #743
@chilek, yes. I am running it in my parallels desktop UBUNTU.

[2019-05-21 13:30] chilek commented on #743
I've downloaded it and lauched and it works.

[2019-05-21 13:31] vsch commented on #743
@chilek, do you mean Toolbox works or PhpStorm scroll synchronization?

[2019-05-21 13:33] chilek commented on #743
@vsch: toolbox.

[2019-05-21 13:55] vsch commented on #753
@holgerbrandl, you need to either set parser lists option to CommonMark which supports control of the first list item number or to indent the fenced code elements so they appear as child items of list items and do not interrupt the list causing a new list to be started for each item.

[code]

![image](https://user-images.githubusercontent.com/10299086/58101953-7f31b200-7bae-11e9-83fe-b63e07b26105.

[2019-05-21 13:59] holgerbrandl commented on #753
I see, thanks for the pointer.

[2019-05-21 13:59] #753 closed

[2019-05-25 13:33] efemoney opened #754 "Add autocompletion for java, kotlin within fenced code blocks"
I noticed there is language injection for `javascript`, `xml`, `json` etc. within fenced code blocks but none for `java` or `kotlin`.

Is this something I can add/update myself?

[2019-05-25 14:02] vsch commented on #754
@efemoney, language injections are added to fenced code in the **enhanced** version of the plugin if the options for this are enabled:

![image](https://user-images.githubusercontent.com/10299086/58370397-098e5480-7ed4-11e9-976d-8a527bb31875.png)

If you do not have a license you can get a trial license https://vladsch.com/product/markdown-navigator/try

[2019-05-26 13:27] efemoney commented on #754
@vsch Unfortunately something is wrong with the image you uploaded.

Also, I got a trial license to confirm for myself and I'm afraid nothing changed.

![image](https://user-images.githubusercontent.com/8434606/58382414-286f1280-7fca-11e9-86c3-54ced4053705.png)
![image](https://user-images.githubusercontent.com/8434606/58382419-3755c500-7fca-11e9-9ee0-d5721d389f42.png)

...`java` and `kotlin` are

[2019-05-26 14:46] worron opened #755 "Temporary files should not be placed into home directory"
The `$XDG_CACHE_HOME` (`~/.cache` default) or `$XDG_DATA_HOME` (`~/.local/share` default) suit it much better. Not a big deal but still would be nice to fix. Seems  related to #615.

Thanks.

[2019-05-30 17:37] linux-china commented on #607
any plan to support MDX?  it's popular now and it's on Github Radar.  https://github.blog/2019-05-21-release-radar-april-2019/

[2019-06-05 15:23] bluelovers opened #756 "in idea 2019.2 eap editor is broken, show loading forever"
in idea 2019.2 eap editor is broken, show loading forever

![image](https://user-images.githubusercontent.com/167966/58968417-9d232780-87e8-11e9-8296-971e23473c63.png)

![image](https://user-images.githubusercontent.com/167966/58968566-d491d400-87e8-11e9-99cd-071df092dc74.png)

[2019-06-11 14:31] wangles opened #757 "Gitlab multi-line blockquote syntax incorrect"
The documentation states:

This works and renders correctly in the ide.

However, the Gitlab spec states that the closing symbol should be `>>>`. Thus, it renders incorrectly in Gitlab.

[GFM: Multi-line Blockquote](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/user/markdown.md#multiline-blockquote)

[2019-06-14 21:55] vsch commented on #754
@efemoney, my misunderstanding. I thought it was code completion inside fenced code that was not working, which requires the enhanced version of the plugin.

The language completion strings are taken from the IDE which means that the language has to be supported by the IDE for it to appear in the completion suggestions.

I suspect that the IDE you are using is not IntelliJ which supports java and

[2019-06-14 22:14] vsch commented on #756
@bluelovers, I will be making an EAP release with the fix shortly.

[2019-06-14 23:43] vsch commented on #757
@wangles, thank you for pointing this out. It is a bug in the implementation. I will have it fixed for next EAP release, due shortly.

[2019-06-15 00:17] vsch commented on #756
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-06-15 00:18] vsch commented on #757
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-06-15 14:52] efemoney commented on #754
Ah yes, you're right

[2019-06-17 11:38] bluelovers opened #758 "can't found where disable link warp with `<>`"
can't found where disable link warp with `<>`

at before, i remember it can be disable and i disable it

![image](https://user-images.githubusercontent.com/167966/59601624-23b7fd00-9137-11e9-9b30-e5a18241bb52.png)

video
[bandicam 2019-06-17 19-34-22-527.zip](https://github.com/vsch/idea-multimarkdown/files/3296770/bandicam.2019-06-17.19-34-22-527.zip)

[2019-06-17 18:34] wangles commented on #757
Thanks for the quick fix. For the record, I liked your syntax better.

[2019-06-17 18:34] #757 closed

[2019-06-17 19:04] vsch commented on #757
@wangles, I also liked my syntax because it allowed nested block quotes. I guess I assumed that the correct syntax was the one giving more functionality. My bad.

[2019-06-19 15:32] bkimminich opened #759 "Table sorting [Feature request]"
It would be awesome to make tables sortable with two new menu items using the column the cursor is currently in and obviously not including the table header.

![image](https://user-images.githubusercontent.com/3531020/59779196-1c6c2d00-92b8-11e9-8f4c-202a81c9b49c.png)

[2019-06-25 19:49] vsch commented on #758
@bluelovers, how are you getting the links wrapped with `<>`. The syntax for having auto-links wrapped with `<>` is standard common mark so it cannot be turned of in the parser, however if the parser `Auto Links` extension is enabled then auto-links without `<>` will also be recognized.

Turning off the auto-link wrapping inspection can be turned off when the inspection pops up.

[2019-06-25 19:52] vsch commented on #607
@linux-china, supporting MDX requires post-processing using babel which is not straight forward and the rendering in JavaFX WebView would require support for all java script libraries.

All that would make the preview a lot slower and much more complex.

GitHub only has single processing while the plugin has to update the preview as you type which means that there is a requirement for generating t

[2019-07-10 16:06] skalpa-rld opened #760 "Attributes support is broken/incompatible with fenced code blocks"
Attributes added to fenced code blocks are not applied to HTML.

Additionally they just break PlantUML support in the preview (which is actually my use-case. I need to be able to add attributes to `plantuml` code-blocks as I convert my Markdown using [pandoc](https://pandoc.org/MANUAL.html#extension-fenced_code_attributes).

### Examples

The attribute is ignored:
\```lang {style="border: 2px soli

[2019-07-10 17:47] vsch commented on #760
@skalpa-rld,

1. The attribute should be added after the code-fence because if it is added on the first line it is treated as part of the info string of the code fence.

2. The attributes are not passed to PlantUML in rendering because the code fence is converted to an image and the attribute is applied to the wrapping `p` tag:

[code]

Gives:

[code]

For non-image type code fences it works as ex

[2019-07-11 13:10] skalpa-rld commented on #760
@vsch Thank you for your answer.

1. This is not how the other projects I saw handle attributes on code blocks. Now, I understand that attributes are a Markdown extension and that we can't expect consistency between all projects. This is a minor issue, but you might still want to do something about it as someone else might have the same problem in the future. For reference:
* [Fenced code blocks](

[2019-07-11 13:21] vsch commented on #760
@skalpa-rld, the issue for plantUML rendering of fenced code blocks is a bug in the plugin recognition of plant uml and other special code fenced blocks. The rendering uses the first word of the info string to generate the HTML class attribute but the code uses the whole string. I will fix this.

The attribute coming after the fenced code is an issue for CommonMark which does not have a limitation

[2019-07-11 16:26] vsch commented on #760
@skalpa-rld, both issues fixed. Now attributes at the end of the info string will be parsed.

:information_source: For fenced code elements, only attributes elements at the end of the info
string line will be parsed.

For example:

[code]

The `{#not-id}` is not parsed as attributes because it is followed non-attributes element and
will result in the following HTML:

[code]

EAP update with a fix

[2019-07-12 12:25] skalpa-rld commented on #760
@vsch I can confirm that the fixes in the latest EAP work as expected, so I'm closing this issue.

Thanks a lot.

[2019-07-12 12:25] #760 closed

[2019-07-15 09:48] #756 closed

[2019-07-15 09:50] bluelovers opened #761 "html paste option can't save"
![image](https://user-images.githubusercontent.com/167966/61207951-ea1fe500-a728-11e9-862a-9d2f1ea95a07.png)

click button but nothing happen

![image](https://user-images.githubusercontent.com/167966/61208021-0d4a9480-a729-11e9-9d53-f352a21ce003.png)

[2019-07-15 11:16] vsch commented on #761
@bluelovers, bug confirmed. Will release EAP with fix shortly.

[2019-07-15 12:21] vsch commented on #761
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-07-17 06:36] #758 closed

[2019-07-22 07:32] KartaviK commented on #565
Have same problem with Markdown support plugin.
OS: Ubuntu 19
Phpstorm: 2019.1.3

After switching to Markdown navigation all works fine

[2019-08-02 17:45] orome commented on #748
This issue is particularly frustrating since in some IDEs (e.g. InteliiJ) they fit, while in others (e.g. WebStorm) — with exactly the same settings — they are entirely hidden. Why would that be?

[2019-08-02 19:28] vsch commented on #748
@yole, in settings you can make it hide disabled buttons and it will shorten the toolbar for most conditions.

I will look into having the toolbars collapse more intelligently instead of all the buttons soon.

![image](https://user-images.githubusercontent.com/10299086/62394071-14034500-b53a-11e9-85c3-563b99ca4176.png)

[2019-08-02 19:45] orome commented on #748
Missed that somehow! That works.

(Is there a way to export? The export functionality doesn't seem to do anything, at least not in the selected directory.)

[2019-08-04 19:29] vsch commented on #748
@orome, by export you mean `Export Settings` under Manage... in main settings?

![Screenshot_Main_ManageSettings](https://user-images.githubusercontent.com/10299086/62428160-6bd1b580-b6cc-11e9-9d78-96e1922eb788.png)

It will export `markdown-navigator-settings.xml` to the selected location. You can then select this file when doing `Import Settings` and it will import all settings.

I tried it and

[2019-08-04 21:48] orome commented on #748
Yes, that export. I don't see any file created in the directory I choose (MacOS).

[2019-08-05 02:54] vsch commented on #748
@orome, I am also running on OSX and tried exporting to as high as my user home directory and it does export.

Do you get any exception in the IDE log file?

[2019-08-05 19:34] orome commented on #748
I don't see any errors. Where would I find those?

[2019-08-06 00:53] vsch commented on #748
Under help > Show Log In Finder then double click the idea.log file and see if there are errors.

<img width="359" alt="image" src="https://user-images.githubusercontent.com/10299086/62503640-08767f00-b7c3-11e9-924d-65890dc291f8.png">

[2019-08-06 03:17] bluelovers opened #762 "freeze when target link is a big file (16mb)"
when hover arrow will freeze

![image](https://user-images.githubusercontent.com/167966/62508793-76f72380-b83b-11e9-97e9-ddb0c0be90dc.png)

[2019-08-06 14:25] vsch commented on #762
@bluelovers, the only thing I can think of that can cause this is the following setting, which you should try to turn off. I will add code to use only the first few thousand chars for the doc comment.

![image](https://user-images.githubusercontent.com/10299086/62547967-157f8680-b834-11e9-961c-08e6d827ffc6.png)

[2019-08-07 00:01] vsch commented on #748
@orome, can you try to export to the project directory. This is the default directory selected on export.

[2019-08-10 19:10] orome commented on #748
[code]

[2019-08-11 14:56] igorwojda opened #763 "Very bad performance while editing document"
After adding a few large images to my Readme I noticed that editing text is very laggy ( after pressing keyboard key it takes a while few seconds for a character to appear) - it looks like images are redownloaded each time document is refreshed.

Steps:
- checkout this project https://github.com/igorwojda/android-showcase/blob/master/README.md
- open it in Android Studio
- open README.md (root fol

[2019-08-13 12:34] arturhun opened #764 "Styling the preview pane"
Please correct me if I am wrong: when writing a markdown document, the writing pane style is governed by **Preferences | Editor | Color Scheme | Markdown**, but can the preview pane be customized?

I would like to be able to define some basic styling properties, such as
- background-color
- font-family
- font-size
- color

with distinction of text and code blocks.

Is it something that can be achi

[2019-08-13 13:12] arturhun opened #765 "Typescript code block not rendered correctly"
Both variants not satisfying my eyes :) Could we have it improved please?

![image](https://user-images.githubusercontent.com/42932011/62944255-91517400-bddc-11e9-9d2d-9bafd66059fa.png)

![image](https://user-images.githubusercontent.com/42932011/62944285-9e6e6300-bddc-11e9-8e0f-19226e908e2c.png)

[2019-08-13 15:31] vsch commented on #764
@arturhun, the preview pane is HTML so it uses stylesheets. There are 2 options included in the plugin for JavaFX: default and dark. JavaFX can also use the Swing style sheets which results in much simplified rendering.

To override the default CSS you need to change individual elements or the whole CSS.

There is more information on this in the wiki: [Customizing-HTML-Preview](https://github.com/

[2019-08-13 15:35] vsch commented on #765
@arturhun, depending on whether you have HighlightJS or Prism selected as your syntax highlighter script this will change.

The selection is made in [Stylesheet-Settings](https://github.com/vsch/idea-multimarkdown/wiki/Stylesheet-Settings)

The two scripts use different style sheets and can be customized by modifying CSS for individual elements or as a whole: [Customizing-HTML-Preview](https://git

[2019-08-14 07:22] arturhun commented on #764
Oh I see.
What I was fooled by was naming. As I had previously used the bundled Markdown plugin, I was looking into Other Settings tab, and then when I looked into Language and Frameworks, I assumed that the Markdown item only applies to that JetBrains plugin.

Might be that a toolbar icon to directly access Settings would have helped me ;-)
Thanks, can be closed.

[2019-08-14 07:38] arturhun commented on #765
Why would all the Scripts be disabled/greyed out?

[2019-08-14 11:32] vsch commented on #765
@arturhun, the syntax highlighting scripts are available only in JavaFX preview browser.

ℹ️ The syntax highlighting in the text editor injected language is controlled by the settings for the language and not markdown, just like injected language in Java strings.

The typescript highlighting can be changed under Editor > Color Scheme > TypeScript.

The `ts` language is not recognized as any langua

[2019-08-15 06:20] FunMiles opened #766 "Can't get any diagram to show up"
I've been trying to use this plug in with CLion and trying PlantUML graph in my .md file.
All I get in the preview is a source code grey box with the text for the diagram. Never get the diagram itself.
Is there something to turn on?

PS: Using CLion 2019.2 on Mac OS X 10.14.6

[2019-08-15 07:13] arturhun commented on #765
@vsch

OK, let's put aside `ts` - let's talk `typescript` then.

Not sure I understand what happens - my main framework and language has long been Angular/TypeScript - I would have probably gone crazy if my TS interfaces had the highlighting wrong, marking half of it red as in the first example. :)

I got my TS scheme set like so:

![image](https://user-images.githubusercontent.com/42932011/630786

[2019-08-15 13:19] vsch commented on #765
@arturhun, I am not familiar with typescript but it seems you need some imports to define the types. The injected fragment is parsed by the IDE as is so any undefined types would be highlighted as red.

To confirm you can create a typescript file with the same content as your fenced code to see if it also highlights the types as error.

This is a limitation of the way the IDE syntax highlights inj

[2019-08-15 14:43] arturhun commented on #765
This is exactly why I rasie the problem - pasted existing TS code, formatted just fine, and saw it mangled in markdown. Types like string or number are basic, provided by the language service, not imported.

OK, looks like I will have to live with that. Thanks.

[2019-08-15 14:46] vsch commented on #765
@arturhun, then there is something about injected language processing by typescript plugin that is missing which is included if the code comes from a typescript file.

I will look into it to see if there is an issue with either markdown or typescript plugin that should be addressed.

[2019-08-16 13:49] holgerbrandl opened #767 "Do not highlight [DONE] as error"
Given Markdown's rather undefined specs, this should not be rendered as error imho or at least it would be nice to configure the reference resolver accordingly to disable to error.

![image](https://user-images.githubusercontent.com/200952/63172107-379bb480-c03d-11e9-97cf-94014667be62.png)

[2019-08-17 11:16] vsch commented on #767
@holgerbrandl, the syntax means a reference link and it is not defined.

If you do not want these annotated then you can disable it which will disable it in all cases. If you want to keep validation but not make this a reference but plain text `[DONE]` then you should escape the square bracket `\[DONE]`.

To disable annotations for reference links:

![image](https://user-images.githubusercontent.c

[2019-08-17 15:27] vsch commented on #767
@holgerbrandl, BTW markdowns specs are really given by the popular implementations but even in the case of CommonMark which has fairly well defined, testable specs, the language itself has no syntax errors. If it does not match any recognizable element then it is plain text. Including missing references used in reference links. This makes it a coin toss in deciding to highlight or not to highlight

[2019-08-27 10:27] holgerbrandl opened #768 "Copy as reference copies invalid link"
When using the copy reference action from the context menu an incorrect reference including the line number is copied
 ![image](https://user-images.githubusercontent.com/200952/63763796-be665200-c8c5-11e9-82e7-8ab40d3c36c2.png)

This reference can not be resolved when being used as link target

![image](https://user-images.githubusercontent.com/200952/63763812-c6be8d00-c8c5-11e9-8043-26588996ec35.

[2019-08-27 20:18] t-rad679 opened #769 "No option to change indent spacing for list items"
I would like my list item indentation to be 4 spaces (note that line continuations for the previous bullet should be 2 spaces, or maybe even also configuration). I think it should be possible to change the indent spacing for list items but it does not seem to be possible.

[2019-08-28 12:41] t-rad679 commented on #769
Thank you for the reply! It mostly works, the only issue I'm running into
is that, when using that setting, I don't seem to be able to combine
ordered and unordered lists. In other words:

1. foo
    * bar

becomes

1. foo
* bar

Do you have a solution to this? It was not doing that before i enabled the
setting you suggested.

On Tue, Aug 27, 2019 at 7:30 PM Vladimir Schneider <notifications@githu

[2019-08-28 15:09] t-rad679 opened #770 "Inconsistent line breaks around fenced code blocks"
I'm finding that when I format my document, I get inconsistent line breaks following fenced code blocks, and it seems to be related to list indentation. If the next list item after the code block is an indentation level deeper, I see an extra line; otherwise, I do not. It also does not seem to care about the preceding line break. For example:

__\* stuff__

  __\```
  foo.code
  \```__

\<two spac

[2019-08-28 21:18] vsch commented on #768
@holgerbrandl, the reference copy is provided by the IDE which copies the file name and line number.

I will need to add either an Md reference copy or see if there is an extension to override the IDE one for Markdown.

The override should copy a link to the header so that paste into markdown will adjust the link like it would if you manually created a link in the file `[How to rebuild the R repor

[2019-08-28 21:40] vsch commented on #766
@FunMiles, sorry about the delay in replying. My inbox overflowed and this notification was pushed out of sight.

Plant UML is an extension to markdown and is not enabled by default to render the diagrams. Enable in parser settings:

![image](https://user-images.githubusercontent.com/10299086/63894520-cd7afc00-c9ba-11e9-9529-2ed6c1816973.png)

<img width="1145" alt="image" src="https://user-images

[2019-08-28 21:43] holgerbrandl commented on #768
Glad that you like the idea.

In fact the reference copy does not always copy the name and the line number. E.g. in kotlin it copies the package and the element name. E:g.
![image](https://user-images.githubusercontent.com/200952/63894704-9bcf5880-c9ed-11e9-8b72-d615346ac086.png)

becomes `krangl.DuplicateNameResolver.resolve` (which relies on the parse-tree of the file). Fingers crossed that they

[2019-08-28 22:05] t-rad679 commented on #770
neither of those cases are what I'm seeing. I formatted them differently in the comment by accident than the way they're formatted in my code. The spaces on the second item are also not removed for me.

The biggest problem is the following:

    1. a
      * b

[code]

      * c

becomes

    1. a
      * b

[code]
      * c

after formatting. See that the code snippet is aligned properly with the

[2019-08-28 23:23] vsch commented on #770
@t-rad679, I am going to make an EAP build with a fix for export markdown settings action that will include markdown code style settings. That way you will be able to export your markdown settings and I will be able to import them on my side and validate all the settings, including ones for formatting.

I also found a "bug" for inspections that I fixed. Mainly, there is an inspection that will fla

[2019-08-29 02:29] vsch commented on #770
@t-rad679, thank you for your patience and persistence. I appreciate the effort you took to report the issue and have it understood correctly.

I think the issue is fixed in the EAP release. It was caused by incorrect loose list item determination. The formatting for lists by default has lists formatting as "Loose if has loose item" the bug was causing the list to appear as a tight list and caused

[2019-08-29 12:44] t-rad679 commented on #770
Thank you so much! I'll try it out right away!

[2019-08-29 14:12] vsch commented on #768
@holgerbrandl, the fix was easier than anticipated. All I had to do was implement a **`QualifiedNameProvider`** since I already handle fqn string resolution on paste it was a matter of adding a condition for fqn resolving to markdown anchor ref target element and pasting a link to it.

Works across IDE instances and projects. Copy reference in one instance or project and paste in another to get a

[2019-08-29 14:15] ksilz opened #771 "macOS: Paste doesn't work when copying link from Safari's context menu"
Hi,

I use the latest versions of macOS, WebStorm and the Markdown Navigator plug-in. Now I can't paste this URL into a WebStorm Markdown document with either [Cmd]-[V] or with the menu item:
https://github.com/jhipster/generator-jhipster/issues?q=milestone%3A6.2.0+is%3Aclosed

Paste does work through the "Edit - Paste without Formatting" menu option. Please see the attached "Paste does not work i

[2019-08-29 15:13] vsch commented on #771
@ksilz, thank you for reporting it. I did not notice the change in Safari but it stopped providing text/html clipboard type when copying a link.

I will try to figure out which of the provided types I can use to duplicate the previous functionality.

[2019-08-29 15:14] vsch commented on #771
@ksilz, the new format is also erroneously detected as Linux file URI list but result returns no files so the plugin has nothing to paste. I will fix this also.

As a workaround you can select the link text and copy it. The resulting HTML will be handled as before.

[2019-08-29 16:14] vsch commented on #771
@ksilz, the erroneous Linux file url list is fixed so the link will paste the link address.

I was unable to get access to the other clipboard data flavours in java (public.url-name) for the link text so only the address is pasted.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-08-29 18:52] vsch commented on #765
@arturhun, I don't use typescript so don't know what configuration would affect the error highlighting.

Without changing WebStorm 2019.2 defaults for typescript, I created a typescript file and a markdown file with fenced code. No issues with error highlighting:

<img width="731" alt="image" src="https://user-images.githubusercontent.com/10299086/63967987-949b5f80-ca6c-11e9-852d-3bb786de2438.png"

[2019-08-29 20:43] ksilz commented on #771
@vsch, thank you for the quick reply! I'm waiting for the next release, I guess.

[2019-09-01 17:58] DarkGhostHunter opened #772 "Solarized Dark scheme uses Solarized Light colors"
![image](https://user-images.githubusercontent.com/5141911/64080286-3961ab00-ccc0-11e9-919a-48e60f096e3e.png)

1. Pick Solarized Dark and Darkula as your Editor Color Scheme and IDE Color Scheme.
2. Open a Markdown file
3. See remnants of Solarized Light color scheme.

[2019-09-01 18:20] vsch commented on #772
see #177, the scheme is not properly declared as a Darkula scheme. So the IDE uses plugin's light scheme.

[2019-09-02 06:14] holgerbrandl commented on #768
Thanks @vsch, I've tried the EAP build and it copies the title tag correctly. The only regression (at least I think it was working differently before, is that it is now always pasting the complete path and not a relative link (within the same file or in files in the same directory:

[code]
Before it was (if I remember correctly just (the more correct imho)
[code]

[2019-09-02 06:17] holgerbrandl opened #773 "Pasting URL from chrome pastes meta-data"
When copying a url from chrome and paste it, it is now pasting
[code]
instead of just
[code]

It just happens when pasting from chrome (under Win10). Microsoft Edge and Firefox are fine.

[2019-09-02 11:42] vsch commented on #773
@holgerbrandl, I will check that. Could be some change on Chrome in Windows that changed available formats on copy.

Safari under OS X Mojave also f-up the link copy. It used to put a dozen formats on the clipboard, including HTML. Now there is about 6 and no HTML.

[2019-09-02 11:45] vsch commented on #768
@holgerbrandl, I did not check it under Windows. It seems I forgot to account for the path separator. I will check this because on OS X it does paste a relative URL but the presense of `\` in the path looks wrong for URLs. They should be in a system independent format and always use `/`.

[2019-09-02 12:05] vsch commented on #771
@ksilz, I will re-open it because it is not fully fixed. I would like copy from link to paste link with text. The information is available on the clipboard. I just have to figure out how to get access to it from Java.

[2019-09-03 13:43] t-rad679 commented on #770
Can you confirm the fix is in v2.9.7.8? I changed my update settings to EAP, performed the update, and restarted IntelliJ, but I am still seeing the same behavior.

[2019-09-03 13:46] t-rad679 commented on #770
I just tried changing my list settings to "Lose if has loose item". That fixed it. Is there a way to keep lists tight, but still enforce that code blocks are surrounded on both sides by a blank line?

[2019-09-03 13:53] vsch opened #774 "Add formatter option to add blank lines around fenced-code blocks"
This should add blank lines around the fenced code even if in list item with list spacing set to "tight".

Needs a warning that this will cause list to become loose even if "tight" is selected.

[2019-09-03 13:54] vsch commented on #770
@t-rad679, commonmark/markdown loose/tight list determination is quirky for human eyes. So trying to keep blank lines around fenced code or other child elements of lists, will make a loose item out of a tight item.

What happens if you select "No Change" for list loose/tight setting in formatter?

This options should not change your blank lines around items or child items so you can control this m

[2019-09-03 14:13] t-rad679 opened #775 "First level of list indent is at 3 spaces while all other layers are at 2."
All first indents of a bulleted and numbered lists default fo 3 spaces, while all other indents default to 2. For example:

    1.  stuff
       * bar
           * foo

[2019-09-03 14:55] t-rad679 commented on #770
That works as well.  Thank you for your help!

[2019-09-03 15:47] vsch commented on #775
@t-rad679, actually in CommonMark the indent has to line up with the text edge of the item.
[CommonMark (spec 0.28)]

I think you could benefit from https://babelmark.github.io/?text=1.++++Deep+indent%0A+++++*+not+child+item%0A to see how your markdown renders on different implementations. You should be getting CommonMark and GitHub Flavored Markdown which is now CommonMark with extensions.

[Comm

[2019-09-03 15:49] t-rad679 commented on #770
I just discovered that I'm still having a similar issue with list bullets that have reduced indent after a fenced code block. To be specific,

    * stuff
      * more stuff

[code]
    * bar

does not change on format to

    * stuff
      * more stuff

[code]

    * bar

However, it also does not change on format to:

    * stuff
      * more stuff
[code]
    * bar

This part of the behavior is

[2019-09-03 18:11] vsch commented on #770
@t-rad679, welcome to Markdown and CommonMark lists.

All three are different beasts.

1. Is a two item tight list with single item loose sublist

[code]
   * bar
[code]

2. Is a two item loose list with single item loose sublist

[code]

   * bar
[code]

3. Is a two item tight list with single item tight sublist

[code]
   * bar
[code]

On #775, I did provide links to help you with better underst

[2019-09-04 14:58] t-rad679 commented on #770
So it's not possible to configure the formatter to consistently add the expected blank line after the fenced code block? It is convention to have blank lines on either side of a fenced code block, correct?

[2019-09-04 15:21] vsch commented on #770
@t-rad679, not if it is the first or last child of a list item because then the blank lines around it have list loose/tight significance which makes these blank lines a list concern not fenced code concern.

I added an enhancement issue #775 to add a setting either to `Fenced Code` or `Lists` to force blank lines around fenced code even when in list items.

Keep in mind that this would make the li

[2019-09-04 20:53] vsch opened #776 "JavaFx Preview displays cached image for deleted file"
When add query suffix to image links is enabled, a deleted file should increment the query suffix so that JavaFx does not display a cached image.

[2019-09-04 21:45] t-rad679 commented on #770
Okay, that makes sense. I will take some time to dive more deeply into the nuances of Markdown, as per your suggestions. Thank you for all your help!

[2019-09-04 21:45] #770 closed

[2019-09-04 21:51] vsch opened #777 "No query suffix is added to image links if absolute file:/ format is used"

[2019-09-04 21:53] vsch commented on #776
Only occurs for absolute file:/ links due to #777

[2019-09-04 21:59] vsch commented on #770
@t-rad679, you are welcome.

[2019-09-10 23:55] vsch commented on #773
@holgerbrandl, got my Windows dev environment updated. Issue was Chrome now pasting HTML snippet which has metadata prefix. Now removed.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-09-11 00:08] vsch commented on #768
@holgerbrandl, it was the IDE virtual file from URL issue. The library always expects `file:///` prefix while on Windows it is `file:/C:...` so code needs to adjust file URI prefix.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-09-11 00:10] vsch commented on #777
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-09-11 00:10] #761 closed

[2019-09-11 00:17] #769 closed

[2019-09-11 06:00] holgerbrandl commented on #773
Awesome, I've already installed the EAP build and it works great.

[2019-09-11 15:12] #745 closed

[2019-09-11 15:14] #727 closed

[2019-09-11 15:14] #733 closed

[2019-09-11 15:14] #736 closed

[2019-09-11 23:44] vsch opened #778 "Add Copy Reference with line numbers for selection"
Add Copy Reference with line numbers for selection to paste as link with line block anchor
`[](#Ln1-Ln2)` where n1 and n2 for the start and end line numbers for the selection.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-09-22 07:13] vsch commented on #646
@marcusleon, took a while but I have flexmark-java library do merge of markdown files with preservation of reference elements so that they don't become duplicates when files are merged.

I will work on the UI for this. IntelliJ puts a high bar on all features so it is hard to produce something simple without it looking out of place.

[2019-09-27 17:49] FunMiles commented on #766
@vsch, thanks. It took me a while to get back to working with this.
Just one little note to help others who may have tried and messed things up:
   I had tried many option and under the "HTML Generation" tab of preferences, I had chosen "Gravizo SVG". With that turned on, I got the lines and text but not the boxes around the the text.
Switching back to "Embedded Library" fixed that.

[2019-09-28 14:21] jsinkers commented on #456
Hey - could you please clarify: do I need to define a language injection for rmarkdown or is it meant to work once the R language support plugin is installed?

Currently have associated .rmd with Markdown, but not seeing any syntax highlighting etc. on the Rmarkdown code chunks.

If I do need to define a language injection - would you be able to share a screenshot of the settings used/attach a fil

[2019-10-01 12:46] holgerbrandl commented on #456
Registering the file Rmd type is the correct first step. You'd also need the r language plugin for highlighting and completion.

No need to define anything custom, nor do you need any special settings.

[2019-10-06 11:39] igorwojda opened #779 "Ignore character casing when checking for matching header"
We want the header to have first letter uppercase, yet in the sentence, we would prefer lowercase, so I think this check should be case insensitive.

![image](https://user-images.githubusercontent.com/530122/66268528-12097b00-e836-11e9-8548-ed3b0427b53d.png)

`v2.9.0.20`

[2019-10-06 11:55] igorwojda opened #780 "False positive for "Unresolved link reference""
False-positive in IDE and no code completion for this file.

![image](https://user-images.githubusercontent.com/530122/66268761-952bd080-e838-11e9-9bc7-7c20fe45d24b.png)

[2019-10-06 18:35] vsch commented on #780
@igorwojda, it is a know issue with files starting with `.`.  They are seen as an extension so don't show up in completions unless the full name is specified so the extension matches.

They also are not seen by resolver because it does not find their file type.

I will add this as a bug and figure out how to resolve both conditions.

[2019-10-06 18:36] vsch commented on #779
@igorwojda, good point. I will change it by adding an option for annotations to allow turning off case sensitivity.

[2019-10-24 08:13] SvenAugustus opened #781 "[Solved] Preview not work when typing non-ascii chars in Linux."
![image](https://user-images.githubusercontent.com/11767671/67465958-c863c180-f678-11e9-9db8-3ed426ff4276.png)

Environment：
MarkDown Navigator Version: 2.9.7
IDEA 2019.2.3
OS: Manjaro 18.1.1 Juhraya
Kernel: x86_64 Linux 4.19.79-1-MANJARO

[2019-10-24 08:56] vsch commented on #781
@SvenAugustus, the fonts used by the Swing preview browser do not have those characters. There is a workaround in #533 for PDF export which will also work for preview, just add those settings to project defaults for Markdown Navigator: Languages & Frameworks > Markdown > Stylesheet.

The instructions for PDF Export fonts are in the wiki https://github.com/vsch/idea-multimarkdown/wiki/Rendering-Pro

[2019-10-24 09:53] vsch commented on #781
@SvenAugustus, if the font is installed in your system you probably do not need to provide the src URL to the file. Not sure if removing the src: line will help. I need to try it on my system with an installed font.

Will get back to you shortly. Waiting for IDE update and re-indexing before I can try anything.

[2019-10-24 10:22] vsch commented on #781
@SvenAugustus, you are using Swing preview browser, this one has different style sheet classes and element definition to get around Swing limitations. Your settings will work with JavaFX preview browser. Which also has JavaScript support so more stylesheet options will work with it.

![image](https://user-images.githubusercontent.com/10299086/67476748-9e81af00-f626-11e9-9881-0aa25081030f.png)

How

[2019-10-24 11:02] SvenAugustus commented on #781
It works in JavaFX. thanks a lot.

[2019-10-24 11:02] #781 closed

[2019-10-28 10:33] igorwojda opened #782 "Links containing anchor are incorrectly coloured"
Link anchor should be ignored (it's not markdown anchor)
![image](https://user-images.githubusercontent.com/530122/67671666-491f0800-f96e-11e9-8510-0288948b0f3b.png)

[2019-10-28 10:40] vsch commented on #782
@igorwojda, AST Element for syntax highlighting is done at parse time when it is not known if the links is a local project file or just a URL.

Remote URL anchors can be validated and completed if you select the options:

![image](https://user-images.githubusercontent.com/10299086/67672121-9dfe5680-f94d-11e9-81d3-43dc9f0cdf56.png)

[2019-10-28 14:54] silkentrance commented on #681
This should be handled as an external link and not be treated as a part of the documentation.
Simplification is the key. One can add link checks later on.

[2019-10-28 14:57] silkentrance commented on #686
This should have been resolved with newer versions of the IDE.

[2019-10-28 15:09] vsch commented on #681
@silkentrance, and how do you suggest the plugin determine if you mistyped and it is an error or if it exactly how you want it but it cannot validate it?

If you do not want links checked, disable the annotations and link checking options. That way there is no confusion and no mind reading AI needed to determine what to check and what to ignore.

The other option is to add `` right after a link el

[2019-10-28 15:22] silkentrance opened #783 "Linking to indexes"
Linking to folders will resolve in that the solution will select the linked-to folder in the project tree.

However, we would not like the solution to just select the folder, but instead would like it to navigate to the index document underneath that folder. And if no such document exists, it should either put out some warning or simply  just select the folder in the project tree.

E.g. `[SomeLink

[2019-10-28 15:28] silkentrance commented on #681
@vsch there is no AI involved - just check for whether it is local or remote, e.g. there is a scheme present, e.g. http(s), or even ftp(s). these would then be considered remote. While other, e.g. `/local` would be considered local links.

[2019-10-28 15:31] vsch commented on #681
@silkentrance, your model of markdown documents and what this plugin has does with links is too simplistic.

You can have 4 types of links to a file in the project: page relative, repo relative, http:// and file://

The plugin determines whether it is a project file by looking whether the link represents a file in the project. Otherwise, http:// links to project files would not be checked.

[2019-10-28 15:37] silkentrance commented on #681
@vsch you should abstract away the page relative and repo relative and make this a local link.
there is no such notion as a repo relative. it is always local in terms of the current working checkout or branch or whatever.

and even if there is a wiki included with the repository, it should be considered an external resource, since it is going to be rendered by github or similar such platforms. (me

[2019-10-28 15:40] vsch commented on #783
@silkentrance, and what if your link is really to a folder, which happens when you want to select a  directory display page?

There are a ton of complexities in figuring out what the link is pointing to and it depends on type of link (image, link or wiki link), the URL used and the link target location.

Links to wiki with extension refer to the raw markdown content, not rendered. So this too has

[2019-10-28 15:48] silkentrance commented on #783
Having a LinkResolver, e.g. a LocalLinkResolver or an UrlLinkResolver, which would then return you either a Directory or an Index sort of object would do the trick.

Both would be implementing the Navigatable interface, where you would just call the NavigateTo method.

Where the LocalLinkResolver would further elaborate on the available types of documents, e.g. search for an index.md or a README.m

[2019-10-28 15:56] vsch commented on #681
@silkentrance,

there is no such notion as a repo relative. it is always local in terms of the current working checkout or branch or whatever.

Really? What if you are creating a page where the final result will not be rendered by GitHub but by some other processor not aware of GitHub link resolution? Many users have this type of use case.

All 4 types of links are needed depending on the use.

Ra

[2019-10-28 16:00] vsch commented on #783
@silkentrance, if you want a specific file then put it into the link URL, links to folders result in folder targets.

Here is a link to a folder:

https://github.com/vsch/idea-multimarkdown/tree/master/resources

[2019-10-28 16:00] #783 closed

[2019-10-28 16:09] silkentrance commented on #681
@vsch the markdown navigator plugin is basically not about providing a content mangement solution, unless you want it to be, but then you need to integrated other platforms as well.

as for website redirection, I would postpone this to a later iteration, as we are talking developers here... and not something that will go into production... and even if that is gone in production, well, it is the ba

[2019-10-28 16:18] silkentrance opened #784 "Insert a breakable space character on pressing return"
After having disabled the non breakable space on return,
the solution will no longer insert a breakable space when
hitting return in the editor.

Before disabling the non breakable space on return option,
it would actually add two spaces, one breakable and one
non breakable.

What I want it to do is to add an extra breaking space
at the end of the line on hitting return, if no breakable
space is p

[2019-10-28 16:19] vsch commented on #681
@silkentrance, you claim to maintain large documentation set, yet not see the need for  maintaining links between all the documents in sync. I guess you like broken links and manual editing. To each his own.

You seem to be under the mistaken assumption that your simple use cases cover all users' use cases and as such the plugin is too complex for its intended users. There are users using it to wr

[2019-10-28 16:19] #681 closed

[2019-10-28 16:22] silkentrance commented on #783
This would still be an external resource. What I would like, would be to link to link to a local resource, which would also kinda work with github, e.g. `./local/somedir`, where in somedir there would be an index.md or a README.md or similar kind of stuff that will allow me to traverse the hierarchy of my documentation without having to explicitly link to `./local/somedir/index.md`.

[2019-10-28 16:24] silkentrance commented on #783
@vsch
And this specifically about the local visualization of the fact and the ability to navigate in the IDE.
Why did you close this?

[2019-10-28 16:28] vsch commented on #783
@silkentrance, because if you want a link that resolves to a file then add the file to the link URL.

Effectively, I am closing it because your request has no use case justification that cannot be currently addressed.

[2019-10-28 16:32] silkentrance commented on #783
@vsch I basically want to link to `./localdir` without having to instruct the plugin to also navigate to `./localdir/index.md`.

This would be a shortcut, which is also a basic mechanic in standard http(s) when fetching the content of remote directories.

[2019-10-28 17:10] #784 closed

[2019-11-08 14:53] vsch opened #785 "🎉 2019.3 Compatible MdNav 2.9.8 Released 🎉"
### 2019.3 Beta has many breaking changes for Markdown Navigator.

The currently released plugin will not work in that release.

Unfortunately the biggest break is caused by the new version of Kotlin bundled with the IDE and requires removing a library used by the plugin for wrapping text and formatting. Which means it is more like open heart surgery than an ingrown toe nail removal.

I am working

[2019-11-10 00:29] vsch commented on #785
Some good progress. I ported the code for wrapping paragraphs, which was the only functionality I did not have in flexmark-java library. This was the hurdle keeping the old beast in play.

I translated the class into Java and removed all the "smart" cacheing and lazy computations. Now just set values and ask for recompute. The new version is a speed demon. The tests are still original Kotlin, exce

[2019-11-14 21:53] holgerbrandl opened #786 "Do not show Clipboard contains markdown warning in same document"
It should not show the warning `Clipboard contains markdown links that may need to be adjusted` when copying and pasting bits and pieces around within the __same__ document. Obviously there's nothing to be adjusted in such a case.

[2019-11-15 02:14] vsch commented on #786
@holgerbrandl, I think it is a bug I introduced when I fixed new Chrome link detection by loosening clipboard data types. It was too loose and the code triggers on non HTML. I remember fixing it in the dev version but will verify.

Unfortunately I am at least a week before I can even think of making an EAP release. The 2019.3 Beta threw me for a loop because of bundled Kotlin 1.30.60. An old libra

[2019-11-15 06:52] holgerbrandl commented on #786
No worries needed, it's just a minor cosmetical aspect which can be easily ignored.

[2019-11-15 08:16] holgerbrandl opened #787 "Custom protocol in source view do not open in handler application"
When clicking (with CTRL being pressed) on non-standard protocolhandler links in the source view nothing happens.

E.g. in screenshots, all preview links are working, all http links are working (when pressing CTRL while clicking), but the custom protocol links highlighted in red do not work.

![image](https://user-images.githubusercontent.com/200952/68927592-68989c00-0788-11ea-8020-f815b2701c4f.pn

[2019-11-21 13:48] vsch opened #788 "Disabling Non-Ascii Identifier Warning for Markdown Documents"
This is done by creating a scope for non-markdown documents and setting the inspection scope to that while disabling it for "Everywhere else".

Topic covered by https://github.com/Yaojian in https://github.com/vsch/idea-multimarkdown/issues/498#issuecomment-401528894

Duplicated here for posterity:

[2019-11-21 14:24] alanhg opened #789 "I want to hide toc in project view"
how to do?

![image](https://user-images.githubusercontent.com/9245110/69901314-c77e2800-13ba-11ea-9eaf-5d2502027bdd.png)

[2019-11-21 14:27] vsch commented on #789
@alanhg, can you show a screen shot of what you are referring to, exactly?

[2019-11-22 06:02] breandan opened #790 "Non-monospaced font for code block in Swing preview browser"
By default, the Swing preview browser uses a proportional font instead of a monospaced font for rendering code blocks:

![Screen Shot 2019-11-22 at 1 00 36 AM](https://user-images.githubusercontent.com/175716/69401618-86ec2380-0cc3-11ea-8842-762d6fbe5229.png)

[2019-11-22 12:08] vsch commented on #790
@breandan, it does but the provided list of common font families not have any installed on a given system.

Here are the default font definitions for Swing browser. You can override it in Languages & Frameworks > Markdown > Stylesheet, by adding custom CSS Text. The first is the default monospaced font definitions:

[code]

You may want to experiment with the list by moving a font family up in the

[2019-11-25 09:16] sagartewari01 opened #791 "build directory should be added to gitignore"
Current size of the repo is over 1.5gb, most of which is the `dist` folder which doesn't contain any code. The rest of the repo is under 50 mb in size.

[2019-11-25 12:42] vsch commented on #791
@sagartewari01, I am in the process of major cleanup of the code and will address this by deleting `dist` and maybe moving more recent releases from it to a separate repository.

[2019-11-30 13:46] alanhg commented on #789
As shown in pic

[2019-11-30 14:57] vsch commented on #789
@alanhg, you have enabled "Show Members" in the project tree. The headings in markdown show as members.

Disable it and the headings from markdown will not show.

<img width="556" alt="image" src="https://user-images.githubusercontent.com/10299086/69902101-ae905b00-1357-11ea-937b-aa29b5d4887b.png">

[2019-12-01 07:57] alanhg commented on #789
@vsch I see, thank you!

[2019-12-01 07:57] #789 closed

[2019-12-01 14:18] alanhg opened #792 "When I click the toc link, can the source also jump to the corresponding position"
When I click the toc's link, can the source also jump to the corresponding position, is there any quick setting?

![image](https://user-images.githubusercontent.com/9245110/69915306-848a8600-1488-11ea-8485-3c67a32a387b.png)

[2019-12-01 15:06] vsch commented on #792
@alanhg, right now the links in preview do not scroll the source. I will add it but it will work for JavaFX WebVIew preview, not Swing browser which does not do source/preview synchronization.

Another way to navigate is to use the TOC gutter icon to jump to heading:

<img width="604" alt="image" src="https://user-images.githubusercontent.com/10299086/69915758-a94b1300-1420-11ea-8949-c9ee953d3957.

[2019-12-02 00:48] alanhg commented on #792
Expecting you to add this feature @vsch

[2019-12-02 00:51] vsch commented on #792
@alanhg, which feature exactly?

Click on preview link scrolling source or TOC heading line elements having a gutter icon?

Both are on the back burner until I have a release compatible with 2019.3

[2019-12-02 01:49] alanhg commented on #792
@vsch Click on preview link scrolling source

[2019-12-02 01:50] vsch commented on #792
@alanhg, you can expect it but it will not work for you even if I add it because you are using Swing preview browser. It would only work for JavaFX WebView preview because scroll sync does not work for Swing.

[2019-12-02 06:33] vsch commented on #785
The progress of this issue has been slower than I wanted but well worth the time it takes. So far tons of bugs were fixed and lots of new tests added to help with the final replacement of the library.

Tons of optimizations were added as part of the cleanup and preparation for the replacement. From experience I know it is easier to do major surgery on cleaned up code than messy one so I chose to s

[2019-12-02 06:36] vsch commented on #788
You will also need to add inspection which checks for mixed language character set use in identifiers if you have such in link addresses/header text/etc.

[2019-12-02 15:14] alanhg commented on #792
@vsch OK，Why are there two different preview browser and what is the difference between them.

[2019-12-02 16:06] vsch commented on #792
@alanhg, historical and practical reasons. JavaFX WebView was not available on all systems and was not very stable before 1.8u40 but it had JavaScript support and CSS so was much easier to work with and generate the desired look. Today it is solid.

Swing browser is extremely limited. I don't think it has HTML/CSS 3.0 fully supported. No Java script. But it is native to the UI in the IDE so it is

[2019-12-02 16:17] vsch commented on #785
Here is an example of speed up from link caching. I got this huge project from a user for #707. And I use it as a tank-test-bed for markdown rendering. The project is huge. 27000 text files and 1100 markdown files so link resolution is slow.

Typing in a file with only 13 images with and without link caching:

![WithLinkCaching](https://user-images.githubusercontent.com/10299086/69975405-28aa1680-

[2019-12-02 16:23] vsch commented on #707
@bluelovers, next release has serious speed gains. I used the project you sent me for testing performance and fix bugs in link resolution which did not handle all URL encoded links properly.

Here is an example of speed up from link caching typing in one of the files in the project with only 13 images with and without link caching:

![WithLinkCaching](https://user-images.githubusercontent.com/1029

[2019-12-03 23:17] vsch commented on #782
BTW, you can change the anchor text color in Editor > Color Scheme > Markdown so they have the same colour as the link address.

[2019-12-03 23:32] vsch commented on #767
@holgerbrandl, just realized that this can be achieved using Link Map Reference mapping. It was intended to allow mapping of specific pattern matched references to actual URLs.

However, in this case you can just add DONE or any other pattern to the regex and map it to # which is a do nothing ref anchor in the plugin. It will remove the error highlight but will create a link in the preview.

<img

[2019-12-03 23:36] vsch commented on #767
I will change link map to allow empty string for link text for `Reference` so it eliminates the undefined reference annotation but will render as as if it was undefined for preview which just treats it as text.

[2019-12-03 23:37] vsch commented on #764
I will add a toolbar button for settings.

[2019-12-03 23:46] vsch commented on #763
@igorwojda, performance has been addressed for next release. There is no lag now for files with many images.

![AndroidShowCaseReadme](https://user-images.githubusercontent.com/10299086/70099558-24692080-15fd-11ea-9973-53565c2fc8ef.gif)

[2019-12-03 23:55] vsch commented on #762
@bluelovers, I found the bug causing this. If an element is not part of the Markdown recognized classes then it used element.getText(), which for files is their content. Now if it is a file will use its name, other elements will display max 500 chars.

[2019-12-04 00:06] vsch commented on #744
@ozmium, This issue could have been corrected by resolved link caching added for next release. Link resolution is very expensive in computation and was done for all links in the file when it was modified. Same links were resolved multiple times for each request. Now the links are cached and reused even between file is modifications.

This speeds up typing response and reduces cpu load so I think t

[2019-12-04 00:10] vsch commented on #743
@chilek, I think I found the bug. There was an uncaught JS script exception which was silently absorbed by Java code during initialization. It was causing the JS not to initialize properly and not have any ability to sync source or generate other JS events for Java use.

It was a real PITA to find and I stumbled on it almost by accident while working on something else. Have not had scroll sync iss

[2019-12-04 00:21] vsch commented on #739
@Jelmerb, one solution that can be easy to implement would be an option to invoke an IDE action after export is performed for a file or all files.

You can make that action do anything including launch external tools or batch scripts to process the exported file directory and create the side panel.

That way the export does not have to concern itself with any post processing and there is no limit

[2019-12-04 00:25] vsch commented on #735
@Jelmerb, I think I found the bug. There was an uncaught JS script exception which was silently absorbed by Java code during initialization. It was causing the JS not to initialize properly and not have any ability to sync source or generate other JS events for Java use.

It was a real PITA to find and I stumbled on it almost by accident while working on something else. Have not had scroll sync is

[2019-12-04 07:58] chilek commented on #743
I have selected EAP update channel in PHPStorm and 2.9.7.20 installed.
Is it enough to check fix or should I do something else?

[2019-12-04 10:29] vsch commented on #743
@chilek, sorry I was not clear enough that it is fixed for the next release and is not yet available.

The last EAP release does not have the scrolling issue fixed. The fix was made after Oct 4 but since then I was unable to make a release due to major rework of code to separate basic and enhanced features.

I was about two weeks away from completing that, when 2019.3 Beta came out and I discovere

[2019-12-04 10:35] chilek commented on #743
@vsch thanks a lot for such good news - I'm looking forward for next release! ;-)

[2019-12-04 13:06] holgerbrandl commented on #767
Thanks for the pointer. I've extended your idea by simply using `.*` as regex (because I honestly don't mind the errors in this case), and this works great as well.

[2019-12-04 14:53] vsch commented on #767
@holgerbrandl, I should have thought of it sooner. Unfortunately, I tend to view the features with a filter for their intended use. It takes a while for me to see other use cases. Can't see the forest for the trees.

[2019-12-06 10:09] vishal786btc commented on #565
Same Issue as above. I switched from markdown support to markdown navigator from Vladimir. It worked.
OS: Windows10
Pycharm: 2019.1.3

[2019-12-06 16:19] vsch commented on #565
Thank you for the encouraging feedback.

Wait till you try the next version. It is ultra fast compared to previous releases and has a ton of bug fixes, including some intermittent ones that I could not reproduce for two years.

I cannot wait to have an EAP release so others can enjoy the speed gain and performance, while I take a short break to catch up on sleep. 😄

[2019-12-13 09:52] toby-griffiths commented on #785
Just wanted to say thanks for working on this.  I've just setup a new PHPStorm install on my new laptop, and it's loading v1.5.0 of the plugin, rather than anything more recent… and now my old laptop has synced the settings and reverted the old version of the plugin 😩

[2019-12-13 09:58] vsch commented on #785
@toby-griffiths, sorry about that. I tried to remove old versions and set their until build but the interface in the plugin marketplace only lets you do one version at a time. After which it shows again the collapsed version list that you have to keep hitting more.

I am just going to delete all the old plugin versions and only leave latest versions for each minimum supported build. This will not

[2019-12-13 10:03] toby-griffiths commented on #785
Wow that was a quick response. Thanks. And thanks again for the great plug-in.

[2019-12-13 10:26] vsch commented on #785
@toby-griffiths, I tried to remove a version and got an e-mail asking to confirm. So I replied and asked to have all the unlisted and old versions removed.

I too was bitten by this when some latest plugin was not compatible with the IDE. The IDE recommended something from the crypt as an alternative. I did not pay attention and updated to that version. It crashed the IDE. Now I keep my eyes peele

[2019-12-15 07:23] vsch commented on #785
@toby-griffiths, I found the YouTrack issue regarding the IDE suggesting vintage versions for plugin upgrade, two months ago when this problem bit me on an incompatible plugin.

Feel free to up vote it: [IDEA-225205: Incompatible Plugin suggested as update version](https://youtrack.jetbrains.com/issue/IDEA-225205)

[2019-12-18 21:47] vsch commented on #785
I am preparing an EAP release of 2019.3 compatible version for later today.

I did not complete all rework but have all the features working, including wrap on typing. It is an improved version, especially since there is not one for 2019.3.

[2019-12-18 22:13] vsch commented on #785
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

[2019-12-19 13:25] toby-griffiths commented on #785
Thanks @vsch.  It's much appreciated.  The only problem is that the plugin's no longer appearing in my market place.  I'm guessing this is because you've remove the really old version that's 'compatible' with my 2019.3 version.  Is there a way to install the EAP manually?

[2019-12-19 13:28] vsch commented on #785
@toby-griffiths, actually the EAP channel is only manual or plugin setup. I forgot that for this version in-plugin setup is not available. Duh!

You can download the zip here: <https://github.com/vsch/idea-multimarkdown/blob/master/dist/idea-multimarkdown.2.9.7.233.zip> and install it manually.

I will upload the plugin to the EAP version to the EAP channel in the market place.

[2019-12-19 13:33] vsch commented on #785
@toby-griffiths, thank you bringing this to my attention. I missed this nuance.

Added EAP channel to plugin in the market place: https://plugins.jetbrains.com/plugin/7896-markdown-navigator/versions

[2019-12-19 14:14] toby-griffiths commented on #785
Thanks.  I'm afraid I still can't see how to install the EAP version in my PHPStorm version.  Do I need the EAP version of PHPStorm?

[2019-12-19 14:25] vsch commented on #785
@toby-griffiths, you need to

1. download the plugin from this repo dist directory or from the plugin market place EAP channel.

   ### ⚠️ DO NOT UNZIP THE DOWNLOADED ZIP

   ![image](https://user-images.githubusercontent.com/10299086/71181037-5f946200-2241-11ea-93a7-c95c40ac8cb5.png)

2. Then go to plugins settings in the IDE and select install plugin from disk and in the file browser select the

[2019-12-19 14:26] vsch commented on #785
@toby-griffiths, I will be making a stop gap stable release version later today, as soon as I have the EAP reported issues cleaned up. A stop gap stable version is better than all this mucking around with EAP and downloads.

[2019-12-19 22:26] vsch commented on #785
@toby-griffiths, version 2.9.8 has been rushed out and should be available for install and update in 2019.3 IDEs.

[2019-12-19 22:37] #735 closed

[2019-12-19 22:37] #743 closed

[2019-12-19 22:37] #746 closed

[2019-12-19 22:37] #762 closed

[2019-12-19 22:37] #763 closed

[2019-12-19 22:37] #768 closed

[2019-12-19 22:37] #771 closed

[2019-12-19 22:37] #773 closed

[2019-12-19 22:37] #776 closed

[2019-12-19 22:37] #777 closed

[2019-12-19 22:37] #778 closed

[2019-12-19 22:37] #785 closed

[2019-12-19 22:37] #786 closed

[2019-12-19 22:37] #787 closed

[2019-12-20 08:50] toby-griffiths commented on #785
That's amazing.  Thank you.  You're a 🌟

[2019-12-20 11:08] vsch opened #793 "NoClassDefFoundError: javafx/util/Pair"
* Fix: diagnostic/4375, Erroneous use of `javafx.util.Pair` instead of
  `com.vladsch.flexmark.util.Pair` in `MdCodeStyleSettings`

[2019-12-20 11:12] vsch commented on #793
Affects IDE/OS combinations which do not have JavaFX in IDE JRE

[2019-12-20 11:18] #793 closed

[2019-12-20 11:29] vsch commented on #793
Suspect that a similar exception but does not identify javafx pair is also fixed by the same code change. The exception also occurs on initialization and only on Linux/Windows for IDEs, and on OS X only for Android Studio which does not bundle JavaFX.

[code]

[2019-12-20 11:39] vsch commented on #793
Can confirm that it is the same bug and the fix resolves it.

[2019-12-20 14:50] vsch commented on #644
@FrankHossfeld, the new version of the plugin released for 2019.3 IDEs has great improvements in use of cached data and filtering for its inspections. This release might address the issue.

[2019-12-20 15:44] vsch commented on #741
When you try the latest release with version 2019.3 of the IDE, please let me know if the issue is resolved.

[2019-12-20 16:35] vsch commented on #743
@chilek, plugin version 2.9.9 is available in JetBrains Marketplace for IDE version 2019.3 or later (one can hope).

[2019-12-20 16:36] LordPachelbel opened #794 "README.md automatically opens when I open old projects -- is it because of this plugin?"
At some point recently whenever I've opened a project in Phpstorm that I haven't opened for a while, it has been automatically opening the `README.md` file in the editor window. I'm just wondering if this is happening because of a recent update to this plugin, or if it's because of a recent update to Phpstorm.

[2019-12-20 16:39] vsch commented on #794
The plugin does not open files on its own. Must the IDE.

[2019-12-20 16:40] LordPachelbel commented on #794
Thanks!

[2019-12-20 16:43] vsch commented on #755
I think a solution that will please everyone is to add configuration that you can change. The plugin will use its current defaults but if you change it then it will use whatever you provide.

[2019-12-20 16:46] chilek commented on #743
I've updated plugin before the moment. I'll let you know if I observe the same problem (I hope not). Thanks for great support!

[2019-12-20 22:20] LordPachelbel commented on #794
I asked JetBrains about it on Twitter and got this reply:

https://twitter.com/phpstorm/status/1208071145746051072

[2019-12-21 00:06] ozmium commented on #744
This is good news, thanks.

Is it possible to offer these bug fixes for "pre 2019.2" IDEs, like Android Studio 3.5.2? The latest version of Mardown Navigator offered in Android Studio is v2.9.0.

[2019-12-21 08:53] vsch commented on #744
@ozmium, I will only be able to back port these changes to versions of the plugin for 2019.1 and higher. What IDE build number does Android Studio 3.5.1 correspond?

I think it is 2019.1 so yes I will make a release for that. Unfortunately, it will take some effort because the number of breaking API changes from 2019.1 to 2019.2 to 2019.3 exceeds changes from 2017.3 to 2019.1.

I was able to keep

[2019-12-21 09:46] vsch opened #795 "Markdown File Rename refactoring ignores "Search for references" checkbox"
Deselecting "Search for references" is ignored and links to markdown files are always changed to the renamed file.

[2019-12-21 09:54] vsch commented on #794
@LordPachelbel, thank you for the update. I suspected as much. There are  a lot of changes added by default in the new releases. Some questionable value and no UI access to turn off.

Some even have default keyboard shortcuts that you can hit accidentally and then wonder how to turn it the F off. Been there. Done that.

[2019-12-21 13:58] ozmium commented on #744
@vsch

I believe Android Studio 3.5.x is based on IntelliJ IDEA 2019.1, as per https://developer.android.com/studio/releases#idea-2019-1

No problem. We can wait patiently for your updates. Thanks for your hard work and dedication.

[2019-12-21 14:08] vsch commented on #744
@ozmium, I appreciate your patience but our discussion made me realize that my approach of branching an old version and then trying to apply changes from the master with tons of refactored code is wrong from git point of view.

What I need to do is branch the master for an older version and then make changes to make it work with an older IDE.

Doing that will allow me to merge future changes from

[2019-12-23 05:37] ajlane opened #796 "Tables aren't recognised or rendered"
Tables are rendered as a single line of text, no matter what I do.

Even if I use the toolbar to insert the table, I can't use any toolbar buttons to modify it, because no table is detected.

![image](https://user-images.githubusercontent.com/1125258/71337779-f42df580-259c-11ea-9f2f-40cab9c537c8.png)

OS: Ubuntu 19.04
IDE: PyCharm 2019.3.
Plugin: Markdown Navigator 2.9.9

I've tried deleting every

[2019-12-23 09:19] vsch commented on #796
@ajlane, tables should be enabled by default in the parser but just to make sure, in your parser settings you should see Tables extension checked. The profile drop down gives a quick setup for a couple of supported profile types. Select GitHub documents to create GitHub compatible parser settings which include table extension.

The syntax highlighting is missing in your screenshot so I suspect the

[2019-12-23 12:41] ajlane commented on #796
You're right, tables weren't enabled in the parser settings. The Parser Profile was set to Custom and all of parser options were unchecked. Now that I've switched to one of the built-in profiles, I can see tables in the preview just fine.

I have no idea how I got those custom settings - it was a fresh install and a new project. I haven't installed 2.9.8 before.

[2019-12-23 12:48] vsch commented on #796
@ajlane, the only way this could happen is the settings were blown away.

If you started a 2019.3 version of the IDE before a compatible plugin version was available, the IDE suggested a really old version from the crypt. Installing that one and restarting the IDE would blow away all the new plugin settings because the ancient version of the plugin had different setting layout.

**You should delet

[2019-12-23 12:48] vsch commented on #796
@ajlane, I will check if fresh install has an issue or something else is involved.

[2019-12-23 17:51] vsch commented on #764
Settings button was added in version 2.9.9.

[2019-12-23 17:51] #764 closed

[2019-12-23 21:06] vsch commented on #796
@ajlane, I just realized there is an easier way to reset all settings. I added this for a user who messed up their settings and wanted an easy way to return to defaults. Completely forgot about it.

<img width="1216" alt="image" src="https://user-images.githubusercontent.com/10299086/71380633-0b211780-259e-11ea-921a-e6c14ffdb222.png">

[2019-12-24 00:55] ajlane commented on #796
Okay, I've reset the settings, and the default parser settings did indeed have tables and other features enabled.

[2019-12-24 18:14] vsch opened #797 "Syntax Highlight Permutations can cause: Too many element types exception"
Although the plugin creates a maximum of 3600 permutations if allowed by options, due to the bug this number can be doubled, tripled or quadrupled if the plugin is loaded by different class loaders.

The class doing the computation is erroneously a Kotlin object instead of an application service and will create an instance per class loader.

[2019-12-24 18:18] vsch opened #798 "Remote content link validation can exceed its max simultaneous fetch threads"
The content cache for remote links is a project service instead of an application service. Remote links don't change for different projects.

The simultaneous fetch limit was enforced pre project. Each open project could potentially use another max fetch limit threads while updating the cache.

The content should be per application and fetch limit is also per application, which makes more sense.

[2019-12-25 00:00] vsch opened #799 "Reload editor on underlying file change is not working"
Feature broken by code cleanup.

[2019-12-25 00:04] vsch opened #800 "Slow typing response caused by Lexer syntax highlighter"
Selecting Annotator for syntax highlighting gives the best typing response.

The plugin always creates editors with Lexer highlighter since it works in all kinds of documents including read only ones which do not invoke an external annotator.

Once an editor is opened and type of document can be checked, the plugin will swap the Lexer highlighter for a dummy Plain Text highlighter which does no hi

[2019-12-25 00:25] #649 closed

[2019-12-25 00:25] #765 closed

[2019-12-25 00:26] #747 closed

[2019-12-25 00:27] vsch commented on #666
Resolved in new runtime

[2019-12-25 00:27] #666 closed

[2019-12-25 00:28] #782 closed

[2019-12-25 00:28] #794 closed

[2019-12-25 00:28] #754 closed

[2019-12-25 00:30] #738 closed

[2019-12-25 00:30] #734 closed

[2019-12-25 00:31] #732 closed

[2019-12-25 00:34] #600 closed

[2019-12-25 00:34] #626 closed

[2019-12-25 00:34] #627 closed

[2019-12-25 00:34] #653 closed

[2019-12-25 00:34] #686 closed

[2019-12-25 00:35] #550 closed

[2019-12-25 00:35] #557 closed

[2019-12-25 00:35] #558 closed

[2019-12-25 00:35] #563 closed

[2019-12-25 00:35] #568 closed

[2019-12-25 00:35] #594 closed

[2019-12-25 00:36] #529 closed

[2019-12-25 00:36] #515 closed

[2019-12-25 00:36] #694 closed

[2019-12-25 00:37] #497 closed

[2019-12-25 00:38] #766 closed

[2019-12-25 00:39] #790 closed

[2019-12-25 00:39] #772 closed

[2019-12-25 00:39] #614 closed

[2019-12-25 00:39] #464 closed

[2019-12-25 00:40] #451 closed

[2019-12-25 00:40] #446 closed

[2019-12-25 00:41] #492 closed

[2019-12-25 00:41] #405 closed

[2019-12-25 00:41] #487 closed

[2019-12-25 00:41] #488 closed

[2019-12-25 00:41] #152 closed

[2019-12-25 00:41] #177 closed

[2019-12-25 00:42] #516 closed

[2019-12-25 00:43] #692 closed

[2019-12-26 22:13] martinlanton opened #801 "Latest version : All options in plugin settings cleared. Reset to defaults does not work."
Numbered lists as well as everything nested in them (ex : bullet point lists made using the * character and nested inside numbered lists) do not display as they should in the latest release of the plugin.

[2019-12-27 03:02] marquisXuan opened #802 "Error"
![image](https://user-images.githubusercontent.com/22328979/71498645-1921b180-2898-11ea-81a4-e90bcc95586d.png)

this is wrong .

![image](https://user-images.githubusercontent.com/22328979/71498667-32c2f900-2898-11ea-8e89-3cfe320062f8.png)

this is true.

what should I do?

IDE: Intellij IDEA 2019.3
Version: 2.9.9

[2019-12-27 10:21] vsch commented on #801
@martinlanton, your settings are messed up. Please reset to defaults or restore them from VCS if you have them under VCS.

See: https://github.com/vsch/idea-multimarkdown/issues/796#issuecomment-568581439

[2019-12-27 10:23] vsch commented on #802
@marquisXuan, your settings are messed up. Please reset to defaults or restore them from VCS if you have them under VCS. All parser extensions are cleared, including fenced code which would cause what you are seeing.

See: https://github.com/vsch/idea-multimarkdown/issues/796#issuecomment-568581439

[2019-12-27 20:01] martinlanton commented on #801
@vsch I never even touched the settings, I'm using the default ones.

[2019-12-27 21:03] vsch commented on #801
@martinlanton, did you have a previous version of the plugin installed or is 2.9.9 the first installation?

Previous release version was not compatible with 2019.3 beta and the IDE would recommend installing a really old version. Installing that would blow away the settings.

I am also not sure if the incompatible version only got far enough to mess up the settings. I have to double check that.

[2019-12-27 21:07] martinlanton commented on #801
@vsch I had a previous version installed when I was on 2019.2, then switched to pycharm 2019.3 and as soon as it was available, I upgraded to 2.9.9.

I tried using the button provided to reset the settings to default, unfortunately, as I mentioned before, the current settings seem to be the default one, as clicking on that button didn't change anything.

[2019-12-27 21:09] vsch commented on #801
@martinlanton, in that case could you paste a screenshot of your parser settings: Languages & Frameworks > Markdown > Parser

And also give me an example of your numbered list that do not display properly, preferably pasted into fenced code in the comment so I can see the raw text.

[2019-12-27 21:21] martinlanton commented on #801
Here are the settings :

![settings](https://user-images.githubusercontent.com/16347152/71533096-c3570480-28ab-11ea-9da2-c1b8ae406f5d.jpg)

Here are the examples, none of those work :
`* A set of instructions :
  1) a first instruction
  2) a second instruction
  3) a third instruction

1) something :
    * a thing
    * another thing
    * a third thing

1) just an element of a list
2) just anoth

[2019-12-27 21:49] vsch commented on #801
@martinlanton, all your settings are cleared. If you do a settings reset on the main markdown settings panel then come back to this panel you should see defaults restored.

This is causing your parser to not process anything properly. The lists are set to 4 spaces fixed which is not the correct setting for defaults. This is the default for historical reasons but no longer the default setting.

[2019-12-27 22:21] martinlanton commented on #801
@vsch as I just mentioned, resetting the main markdown settings doesn't seem to work, it doesn't do anything.

[2019-12-27 22:24] martinlanton commented on #801
I just uninstalled and reinstalled the plugin, and this didn't change anything.
Also tried to reset the settings after reinstalling, and this didn't change anything either.

[2019-12-27 22:36] vsch commented on #801
@martinlanton, can you please send me the project settings files form the plugin. They are located in the `.idea` sub-directory of the project directory  and start with markdown-navigator.

Also if you export Markdown Navigator settings (in the same menu as reset) and send that file to me **vladimir at vladsch.com**. Normally, only the latter would be enough but in this case I would like to see ac

[2019-12-27 23:16] martinlanton commented on #801
@vsch That's sent, thank you for looking into this!

[2019-12-27 23:21] vsch commented on #801
@martinlanton, thank you for sticking to it and sending me your settings. I appreciate you taking the time to give me a chance to figure out what #@$@#@ is going on.

BTW, reinstalling the plugin does not delete the plugin settings for the IDE nor the project so it does not help. I will figure out how to  add a test on installation for existing settings and prompt to use them or discard them so re

[2019-12-27 23:59] martinlanton commented on #801
Thanks @vsch

[2019-12-28 02:07] vsch commented on #759
Table Sort added:

![Screenshot_TableSort](https://user-images.githubusercontent.com/10299086/71537635-cb836400-28ec-11ea-8329-6b8255fc4f29.png)

[2019-12-28 02:08] vsch commented on #525
Table Sort added:

![Screenshot_TableSort](https://user-images.githubusercontent.com/10299086/71537635-cb836400-28ec-11ea-8329-6b8255fc4f29.png)

[2019-12-28 02:12] vsch opened #803 "Add Transpose Table"
Add Transpose Table action to replace current table with transposed version
Add Copy Transposed Table Action to copy transposed current table to clipboard

Ex:

|  Description  | Bytes for characters | Bytes for overhead | Overhead % |
|---------------|----------------------|-------------------:|-----------:|
| New Formatter | 6,029,774,526        |        342,351,155 |       5.7% |
| New Parser

[2019-12-28 02:25] vsch commented on #802
@marquisXuan, please let me know if Reset settings works for you. One user reported that reset settings to defaults does not work on his system.

[2019-12-28 20:12] vsch commented on #801
@martinlanton, found the bug. Fixed and added code to detect invalid settings on load and correct them without needing to reset settings.

I will make a new release shortly. There are a few show stopper bugs that made it into the last release, including this one.

[2019-12-28 20:47] vsch commented on #801
@martinlanton, fixed plugin released. Thank you for providing me with your settings. They were indispensable. I must have copied them over to my test project two or three dozen times before I got the fix working.

[2019-12-28 20:48] vsch commented on #802
@marquisXuan, fixed plugin released. It will detect and fix settings. Also reset settings fixed.

[2019-12-28 20:50] vsch commented on #796
@ajlane, fixed plugin released. It was a bug that was causing settings to initialize empty. Fixed and added code to correct settings if they are empty.

[2019-12-28 20:51] #525 closed

[2019-12-28 20:51] #795 closed

[2019-12-28 20:51] #796 closed

[2019-12-28 20:51] #797 closed

[2019-12-28 20:51] #798 closed

[2019-12-28 20:51] #799 closed

[2019-12-28 20:51] #800 closed

[2019-12-28 20:51] #801 closed

[2019-12-28 20:51] #802 closed

[2019-12-28 20:51] #803 closed

[2019-12-28 21:42] martinlanton commented on #801
I'm glad I could help! I will download the new version! Thanks a lot!

[2019-12-28 22:36] vsch opened #804 "Parser settings always setting default options when loading settings."
Version 2.9.10 bug. Parser settings reduction to only include set options missed the code which set missing options when loading settings.

This causes parser settings to always have default parser settings turned on.

[2019-12-28 22:38] vsch commented on #804
Let me know if you are affected by this bug. I can make an EAP release with the fix.

[2019-12-29 05:28] fctorial opened #805 "Can't search text in preview"
Ctrl + F doesn't work in preview window.

[2019-12-29 13:07] vsch commented on #805
@fctorial, why would you do that instead of searching in the markdown document?

The preview is not a full fledged browser page and is there for visual presentation. Some convenience features were added, such as click synchronization to source, but it is not intended for more than giving visual results of markdown conversion to HTML.

[2019-12-29 13:21] fctorial commented on #805
@vsch I see. In my case it's for readmes. Editing a readme is a very rare task. When I open the readme of an existing project, usually it's because I want information about the project (compiling, dependencies). It would be nice to be able to search for that info.

[2019-12-29 13:55] vsch commented on #805
@fctorial, I will look into adding it but **only for JavaFX preview browser**. It is JavaFX with JavaScript enabled so the functionality should be fairly easy to add.

Swing browser would take more effort and I only keep that for fallback for IDEs which do not have JavaFX bundled, like Android Studio.

[2019-12-31 00:36] GlenKPeterson opened #806 "Hard to copy text from preview"
Thank you for your plugin.  I like it so much that I've converted most of my system admin notes (formerly in bash files) to Markdown which is much easier to read, contains links, etc.

The downside of keeping little bits of text in Markdown to copy to the shell is that I've had to train myself to do all my copying/highlighting in the left-hand side (the markdown side).  I'd rather do that in the r

[2019-12-31 08:24] #804 closed

[2020-01-02 18:17] vsch commented on #806
@GlenKPeterson, I have not tried it in Linux but JavaFX preview browser does show Copy on right click but the CTRL-C action does not work in preview.

Can you please post a screenshot of your preview so I can see what browser is used.

[2020-01-12 22:53] vsch opened #807 "Add Option to Allow Tab/Back-tab list item indent to treat empty items differently"
* Add: `MdTabOverride`/`MdBackTabOverride` option to treat empty items differently:
  * treat empty items as having no children, should only indent/unindent the item in all cases.
  * should roll-over between highest and lowest indentation level when the item can no longer be indented to allow tab to be used to adjust sub-item to parent item

This allows using repeated tab key clicks to adjust new

[2020-01-12 23:02] vsch commented on #469
@vjpr, another list indent/unindent improvement, inspired by your original request.

I got completely used to working with tab/back-tab adjusting new list items, but got tired of having to back-tab for to unindent a new item when it is either created indented or I accidentally over indent it with tab.

Added an option to allow tab/back-tab to cycle indentations so tab on deepest indent level will

[2020-01-16 18:17] jshook opened #808 "Avoid auto-extending setext heading when it is actually a yaml doc separator"
When editing many markdown files which have frontmatter in the form of:

[code]

It can get very annoying when you're editing the weight or the last entry in the front matter and it keeps breaking your yaml doc separator, which is exactly 3 dashes: `---`

For example, you end up with this:
[code]

I know it's a little annoyance, but it's directly counter to the good help that the plugin provides w

[2020-01-16 20:59] vsch commented on #808
@jshook, what version of the plugin are you using and on what IDE? I need to ask because there were so many changes in last few releases that it could be a bug in a particular version of the plugin.

In general there are a couple of things you can do:

1. Enable the Jekyll Front Matter parser extension so YAML front matter is recognized, [Parser Settings](https://github.com/vsch/idea-multimarkdown

[2020-01-16 21:31] jshook commented on #808
2.9.11
The gist of my issue was that I mistakenly expected all the plugin settings to be under Language and Frameworks > Markdown.

I verified that both of these work for me, and opted for enabling the frontmatter parser. Thanks for the fast response!

[2020-01-16 21:31] #808 closed

[2020-01-16 21:46] vsch commented on #808
@jshook, the IDE has a lot of settings and conventions on where to put them. I tried to keep with the convention hoping it would make it easier for users to find them.

In retrospect, Markdown is significantly different from other "languages" that this is not always possible or makes sense. Additionally, most users do not know the IDE well enough to look in all the far corners for settings. I am s

[2020-01-21 14:57] AEHamrick opened #809 "Copy/paste from markdown file into Windows Remote Desktop connection suddenly not working"
With a recent update it seems like copy/paste (clarification: from the editor window)  'through' RDP to a remote windows server doesn't work anymore; up til recently it's been fine.

Plugin version 2.9.11  (Settings are default as far as I know)
PyCharm version 2019.3 and 2019.3.1
Windows 10 client, windows server something or other remote connection.

Works:
c/p from non-markdown (e.g., .py) file

[2020-01-21 17:07] vsch commented on #809
@AEHamrick, are there any exceptions when you try to paste to the remote?

I cannot think of what could be responsible since copy is implemented by the plugin but paste to non-markdown file is not done by the plugin. However, there was a lot of code churn related to 2019.3 compatibility in the plugin and changes in the IDE API/ Something could have been changed on either side to break the function

[2020-01-22 14:41] AEHamrick commented on #809
Thanks @vsch -- the log I have is from Dec 17 to now, it did not show any markdown navigator exceptions, or mentions of markdown navigator at all except back in December warning it was incompatible with my current build---presumably that was when I updated the plugin. I will keep an eye on it though and see if my normal usage makes anything show up.

PyCharm is also telling me that 2019.3.2 is rel

[2020-01-22 14:44] vsch commented on #809
@AEHamrick, go ahead and update to newest version. I will try to duplicate this issue on my end.

[2020-01-24 02:24] vsch commented on #767
Next release the reference map text can be empty. In this case the reference will also not highlight as error and will render as plain text instead of a link.

[2020-01-24 03:09] alanhg opened #810 "Close File Drop/Paste Options popup"
When I execute the paste command，I want to close this popup, and how to do？

![image](https://user-images.githubusercontent.com/9245110/73041745-95a8af80-3e99-11ea-84e4-33450beb8806.png)

[2020-01-24 03:15] vsch commented on #810
@alanhg, I am assuming you are pasting or dropping files into a markdown file.

This popup lets you select the format of the inserted links to these files.

Hit OK to paste the links with selected options or Cancel to cancel the paste.

Does OK not work for you?

[2020-01-24 06:18] alanhg commented on #810
I don't needed this feat,how to close?

[2020-01-24 14:22] vsch commented on #810
@alanhg, this is part of the file drop/paste handler and there is no option to turn it off.

What do you want done when you drop a file or paste a file into a markdown document?

[2020-01-24 14:28] vsch commented on #810
@alanhg, project node in the IDE is a file not the name of the project. So when you copy it and paste it, it is not the name of the project but the directory that gets pasted.

As a workaround you can paste it into any other document type (non-markdown) and copy it from there or paste a link and convert to text.

<img width="403" alt="image" src="https://user-images.githubusercontent.com/10299086/

[2020-01-26 10:20] lapidus79 opened #811 "Table of Contents"
Are there any examples on how to insert a Table of Contents section. I can't see any references to any table of contents stuff anywhere. I'm using the paid version.

[2020-01-26 14:48] vsch commented on #811
@lapidus79, you need to turn on the "Table of Contents" parser extension in Languages & Frameworks | Markdown | Parser and insert a line with `[TOC]: #` where you want the table of contents generated.

https://github.com/vsch/idea-multimarkdown/wiki/Table-of-Contents-Extension

[2020-01-26 18:34] lapidus79 commented on #811
Ah, now I found it. Thx

[2020-01-26 18:34] #811 closed

[2020-01-27 14:45] AEHamrick commented on #809
Sorry for the delay--updating did not seem to impact anything.

Would it be helpful if I could export settings/config for the plugin/Pycharm at large?

[2020-01-27 14:48] AEHamrick commented on #809
This might be some help--I just realized that copying from the preview does still work.

[2020-01-30 11:43] holgerbrandl opened #812 "Empty preview after screen resolution changes"
When changing the screen resolution (e.g. by unplugging a notebook from a docking station but also when using remote desktop), the preview sometimes becomes empty (and stays empty).

Workaround: Restart IJ. Simply closing and reopening a file does not help.

OS: Windows
IJ: 2019.3

[2020-01-31 17:10] TanVD opened #813 "Support in-editor proofreading"
JetBrains released Grazie -- in-editor proofreader for IntelliJ-based IDEs.
It already has support for Markdown plugin by JetBrains.

Would you consider support of Grazie in Markdown Navigator Enhanced?
All you need is to implement `GrammarCheckingStrategy` :)

[2020-01-31 17:48] vsch commented on #813
@TanVD, absolutely. I love Grazie and have it on my near term todo list.

I am now in the process of rushing a release of next version of plugins for 2019.x and 2020.1 IDEs since the plugin was setup for JetBrains Marketplace licensing and then I encountered a glitch in licensing for current non-JetBrains users.

Effectively, the plugin is now available for purchasing in the Marketplace but there

[2020-02-03 22:43] vsch commented on #812
@holgerbrandl, sorry for the tardy reply. It has been a madhouse releasing a plugin for the JetBrains market place.

To me this looks like a JavaFX issue with screen resolution or canvas changes. Not sure if I can do something about it but just in case, can you please try it with Markdown Support and see if JetBrains has a solution for this issue.

If it does then I can implement the same solution

[2020-02-04 08:05] bluelovers opened #814 "old licensing key not work when update to v3"
old licensing key not work when update to v3

[2020-02-04 18:05] starwarsfan commented on #814
Same here. I've renewed my license two months ago but now I'm unable to use it as I always got the message "Key is invalid". How to ahead now?

[2020-02-04 19:16] vsch commented on #814
The latest plugin defaults to using JetBrains Marketplace license which is activated by the IDE.

To continue using your current non-JetBrains license:

1. After upgrading to the new plugin version select “Evaluate for free” in the license activation for Markdown Navigator so the IDE loads and runs the new plugin using JetBrains licensing.
2. The next time you restart the IDE, after about 15 secon

[2020-02-04 20:55] AEHamrick commented on #809
@vsch Having just updated the plugin to 3.0.197.62 it seems like it's working now.

[2020-02-04 21:22] vsch commented on #809
@AEHamrick, thank you for the update. I think it was inadvertently addressed by some other code change, since on my end, using my dev version of the plugin, I was not able to duplicate the issue.

The IDE operations can get (very) complex and some code changes cause strange interaction between seemingly unrelated features.

[2020-02-04 21:36] bluelovers commented on #814
thx, looks like it still didn't auto detect for me

![image](https://user-images.githubusercontent.com/167966/73789192-49366b80-47d9-11ea-8142-c8c62196b834.png)

but i found option switch it by self

[2020-02-04 21:39] AEHamrick commented on #809
I don't doubt it! In any case thanks for looking into it, and I think we can close this. Thanks for all your work on the plugin, it's a lifesaver.

[2020-02-04 21:39] #809 closed

[2020-02-04 23:56] vsch commented on #814
@bluelovers, I am glad this is resolved for you.

If you have "EAP" channel, the plugin still detects the channel and maps it to "EAP - Legacy", otherwise to "Legacy". I will double check but I did test this condition and it worked.

[2020-02-05 02:08] breandan opened #815 "Improper URL escaping when opening browser"
When I navigate to the following link in MDN, the `\` character gets replaced with a `/` character:
[code]

Related to #74.

[2020-02-06 07:55] #791 closed

[2020-02-06 07:58] #759 closed

[2020-02-06 07:58] #767 closed

[2020-02-06 07:58] #779 closed

[2020-02-06 07:58] #807 closed

[2020-02-06 08:05] vsch commented on #744
@ozmium, I got 2019.2 done today and if it goes as smooth, **2019.1 compatible plugin should be released tomorrow**.

When you upgrade to the new plugin please see: #814 for upgrade to 3.0 with an enhanced features license.

Contact me by e-mail on my GitHub profile if you do not have a legacy license.

[2020-02-06 08:08] vsch commented on #815
@breandan, very likely. The URL conversion code is not pretty. It changes windows sep without checking for query.

[2020-02-06 08:12] vsch commented on #815
@breandan, as a workaround until it is fixed can you try using URL encoded backslash?

     ![Test](https://render.githubusercontent.com/render/math?math=%5Cnabla{a})

![Test](https://render.githubusercontent.com/render/math?math=%5Cnabla{a})

[2020-02-06 09:14] reitzig opened #816 "Installation instructions for basic"
The pages still reference the two-tier model. Please update the installation instructions: the basic version doesn't seem to be available through Marketplace anymore, neither directly from the IDE nor as download.

In fact, the upgrade from 2.x to 3.0 disabled the basic version in IDEA for me; it self-identifies as Enhanced now and asks me for a license.

[2020-02-06 14:18] vsch commented on #816
@reitzig, JetBrains Marketplace handles licensing in the IDE. Without a license, it does not load the plugin, not giving a chance to provide a reduced feature set.

I made the decision to keep the plugin ID the same to ensure existing licensed users will get smoother upgrade experience. The other option of creating a new plugin for licensed users, seemed unfair to the very people who supported dev

[2020-02-06 14:21] holgerbrandl opened #817 "Pasting html on windows10 is broken"
With the following config
![image](https://user-images.githubusercontent.com/200952/73944932-bfc78c00-48f3-11ea-90ae-ba7fc6a62f06.png)

using v2.9.11, it seems that copy-html paste from chrome is broken.

Chrome: Version 80.0.3987.87 (Official Build) (64-bit) but the issue was there with the previous offical chrome build already

Selection:
![image](https://user-images.githubusercontent.com/200952

[2020-02-06 14:28] vsch commented on #817
@holgerbrandl, the Link and HTML pasting has to check for specific clipboard formats, since Text is always there as a fallback.

The !#$%# browsers and OS keep changing the clipboard formats between releases. OS X made it impossible to get the link URL and Text from Java altogether. The clipboard has the data but Java has no support for it

I will check to see what Chrome does now because if the f

[2020-02-06 16:09] vsch commented on #817
@holgerbrandl, I tried it with the latest released plugin and it works on Google Chrome Version 80.0.3987.87 (Official Build) (64-bit) on Windows 10.

I would suggest upgrading to the latest release, it has many bug fixes.

When you upgrade please refer to #814 for instructions for non-JetBrains license version activation.

[2020-02-06 18:06] jshook commented on #814
This is still broken for me. I just accepted the EAP channel updates as it looked like all my essential plugins were now supported., but it disabled the plugin before IntelliJ started it's main init.
I switched it to "preview for 30 days" and only after this does it seem to detect the legacy license format and prompt for changing the update channel.

[2020-02-06 18:08] vsch commented on #814
@jshook, there are two EAP channels for the plugin. One for the JetBrains licensed version and the other for Legacy.

Go into settings, Languages & Frameworks | Markdown and select the Legacy EAP channel.

Stable and EAP have JetBrains plugins which is what you have installed since the IDE activates it.

[2020-02-06 18:57] vsch commented on #744
@ozmium, version 3.0.191.64 is released. Please let me know if the issue is resolved with the new plugin.

[2020-02-07 14:07] chilek opened #818 "broken TOC links"
@vsch we use markdown enhanced 3.0.197.64 and it has broken TOC link generator support when it's used in GitHub Wiki. Lets' take a look at example:

[code]

Plugin transforms it in TOC to:

[code]

but it should be:

[code]

as GitHub markdown required.
Is it regression? In plugin 2.x series it was correct.

[2020-02-07 15:27] vsch commented on #818
@chilek, thank you for catching this. I inadvertently broke the code. I will make an EAP release with the fix.

[2020-02-07 15:33] chilek commented on #818
@vsch no - that thank you for great plugin ;-)
Please let me know when it's fixed.

[2020-02-07 17:09] vsch commented on #818
@chilek, EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

Please note the change that EAP channel is for JetBrains licensed plugin and Legacy EAP is for legacy licensing by vladsch.com

[2020-02-07 20:20] chilek commented on #818
Thanks a lot - now it works as should!

[2020-02-07 22:28] DaOneTwo opened #819 "Liscense marked as expired but has 4+ months left on it."
Issue started occurring a couple hours ago.  My license set to expire in June has suddenly stopped working and I do not see it listed on my account.

I have the email showing it to expire 6-14-2020.  Don't see a way t contact you via your site.

Thanks

[2020-02-07 22:31] #819 closed

[2020-02-09 18:47] vsch opened #820 "Repository relative images do not show in preview"
Image links using repo relative format `/...` do not show in preview.

Page relative and absolute are not affected.

[2020-02-09 21:21] vsch commented on #820
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

Please note the change that EAP channel is for JetBrains licensed plugin and Legacy EAP is for legacy licensing by vladsch.com

[2020-02-18 11:12] lndmflngs opened #821 "Unresolved link reference for wiki page"
Unresolved link reference for wiki url (wiki is empty for now, but for other empty wiki's there is no such problem)
Have tried with early access program, but get same error

![image](https://user-images.githubusercontent.com/18148878/74730092-934a3300-5256-11ea-9680-77875350a048.png)

[2020-02-18 18:56] vsch commented on #821
@lndmflngs, the links are tested by trying to get a page from the URL if remote links are validated. In some cases GItHub and other sites will not respond with an error and instead show some default page. If that happens then the link will not show an error.

If the wiki exists and is public then the link should resolve. It should also resolve if the wiki is part of the current project, see [Addin

[2020-02-26 12:54] InvisibleSmiley opened #822 "Unresolved reference Reference with text in square brackets"
Text in square brackets is annotated with error "Unresolved reference Reference".

PhpStorm's default Markdown plugin doesn't classify this as an error (or warning).

AFAICT it is valid Markdown to put text in square brackets without making it a link. All viewers/renderers I've tested are OK with it, too. I couldn't find any source that states that if something is put in square brackets it must be

[2020-02-27 03:44] #821 closed

[2020-02-27 14:00] DeuxAlpha opened #823 "Add cs and csharp for code block (in addition to c#)"
Hello. Love the plugin!

In Azure DevOps Services, if you create a wiki, it does not recognize c# as a valid code block, so there is no syntax highlighting. However, cs and csharp is supported. In turn, the navigator does not support cs and csharp, so I have no code highlighting on that end.

If you could add support for one or the other, it would be much appreciated!

[2020-03-01 16:05] vjpr commented on #472
I can't get it working anymore. Do I need to include a stylesheet? Has anything changed recently that would prevent it working. I have enabled GFM and code fences.

[2020-03-02 11:59] sjdeak opened #824 "Can I use asterisk as bullet for bullet list?"
"Toggle Bullet List Item" action will create a bullet list starts with "-" as  bullet character by default.
![image](https://user-images.githubusercontent.com/8575264/75674421-f066cf80-5cbf-11ea-8403-fbc150fc35ed.png)

Is there a way that I can use asterisk as the default bullet character? So that "Toggle Bullet List Item" action will create a list like the second one:
![image](https://user-images

[2020-03-03 06:02] fartem opened #825 "Korean language in "Preview" mode."
Korean characters are not displayed correctly in "Preview" mode.

**Example:**

Text: 한국어
Displaying: 

**IDE:** Android Studio 3.6.1 (based on IntelliJ IDEA 2019.2).
**Plugin version:** 3.0.

[2020-03-04 11:10] TanVD commented on #813
Any update on this? :) We get complaints from Markdown Navigator customers that Grazie does not work with plugin. But we can not fix it :(

[2020-03-04 13:28] jsinkers commented on #430
Wondering if there is support (or likely to be) for math with katex using `$ $` and `$$ $$` delimiter syntax?  This would be enable me to get markdown preview + pandoc + jekyll all working happily together.  Or maybe I'm missing a better approach?

[2020-03-06 06:14] jsinkers opened #826 "Markdown math"
Markdown navigator enhanced 3.0
Win 10

Is there any support in markdown navigator for `$$ $$` syntax for math representation in preview?  A couple of other issues mention using this syntax but I cannot get it to work.  I have enabled Katex script in `Settings>Markdown>Stylesheet`, and I can see it works with $\` \`$ syntax when I enable Gitlab Katex, but ideally I would be able to use `$$ $$` bec

[2020-03-11 12:09] martin770 opened #827 "Markdown Navigator Enhanced has toolbars that pop over intelliJ IDE but never go away"
What steps will reproduce the issue?

1. Install plugin 'Markdown Navigator Enhanced' for intelliJ
2. Open a markdown file (.md extension)
3. When the IDE is not maximized, the editor window has a toolbar icon that will pop over the IDE to show more toolbar actions for the markdown file. Click the toolbar icon to show more toolbar actions, and the popover will display.
4. The popover never goes aw

[2020-03-12 22:15] radomirm-g opened #828 "Memory leak"
Android Studio runs memory analysis when memory is low. Below is a fragment of such report sent by a user:

[code]

The report points to a memory leak in Markdown Navigator plugin where `ProjectImpl` objects are leaked (which are large structures to closed projects). These objects are kept alive due to a reference in `MdProjectSettings.myProject`. `MdProjectSettings` is a `Disposable` object itsel

[2020-03-19 06:23] houchang1991 opened #829 "Non-ascii characters exported as #"
While using "export rendered markdown to pdf", noc-ascii characters are all turned into "#"

[2020-03-19 08:58] houchang1991 commented on #829
found solution here
https://github.com/vsch/idea-multimarkdown/wiki/Rendering-Profiles-Settings#export-rendered-markdown-to-pdf-profile

[2020-03-19 08:58] #829 closed

[2020-03-19 17:45] vsch commented on #822
@InvisibleSmiley, the plugin has no way of telling whether you are missing a reference definition or simply using square brackets since Markdown has no syntax errors. Anything which is not defined is simply treated as text.

You can disable reference validation inspection and also annotation settings:

![image](https://user-images.githubusercontent.com/10299086/77097511-48ebdb80-69e7-11ea-8209-50c

[2020-03-19 17:57] vsch commented on #823
@DeuxAlpha, the syntax highlighting in preview is provided by HighlightJS or Prism JavaScripts and configured in Languages & Frameworks | Markdown | Stylesheet settings.

To customize these you would need to add custom JS to HTML Generation settings and to know how each of these libraries can be extended.

In the text editor the syntax highlighting is provided by the IDE not the plugin. The plugin

[2020-03-19 18:37] vsch commented on #813
@TanVD, I was out of commission for the last few weeks. I will address this for the next release.

[2020-03-19 19:05] InvisibleSmiley commented on #822
Thanks for the pointer toward #767 - since it supports regexps this might suffice as a workaround in case I need one.

Not sure about the defaults though since AFAIK they only serve as templates for new projects and don't affect existing ones (of which I have many).

Disabling reference validation doesn't sound like something I would want to do. After all if a text in square brackets is actually a

[2020-03-19 20:24] colin-bitterfield opened #830 "CSS Style does not apply"
I am trying to get a better formatted list for numbers:

1.
a.)
i.

etc

No CSS I add is applied to the preview screen.

[2020-03-21 18:59] vjpr opened #831 "In latest beta, I enable and restart, and it silently disables itself"

[2020-03-21 20:20] reitzig commented on #816
Bah, that sucks. I'm sorry the crows is coming across as being ungrateful due to that.
For what it's worth: thank you.

Fair enough! In that case, please remove the misleading documentation. :)

Thanks! I'll try that when I need Markdown support next (looking at AsciiDoc these days, since Markdown is kind of a hellpit, as you certainly know. ;) )

[2020-03-22 14:03] vsch commented on #831
@vjpr, I am not able to duplicate this with the latest release of 3.0.197.72.Legacy.

What plugin version are you using?

[2020-03-22 16:09] Araxor commented on #831
I have the same problem with plugin version 3.0.197.72 (installed from marketplace) and this version of IDEA:

[2020-03-22 17:06] vsch commented on #831
@Araxor, it looks like you have JetBrains Markdown Support enabled.

Also, do you have JetBrains Marketplace license for Markdown Navigator or a legacy license?

If it is a legacy license then you should install plugin version 3.0.197.72.Legacy, otherwise the installed plugin will be one using JetBrains Marketplace license and without one it will not load.

[2020-03-22 17:46] vjpr commented on #831
I have `3.0.197.72` - just purchased a new marketplace license. Still not working.

[2020-03-23 06:55] Araxor commented on #831
I have a new JetBrains Marketplace. I was able to make it work after registering it in Help > Register.

After registering the license and restarting IDEA it started working fine. Thanks for this amazing plug-in!

[2020-03-23 10:56] vjpr commented on #831
@Araxor Problem for me is that I cannot load the plugin so the context menu is not available.

[2020-03-23 11:11] Araxor commented on #831
@vjpr,  `Help > Register` is a menu of the IDE, not the plugin. It seems the licenses for all the plugins are managed here.

Until I activated the license from this menu, the plugin was deactivating each time I tried to activate it from the plugins list and restart the IDE.

[2020-03-23 12:34] vjpr commented on #831
I don't see `Help > Register` :/

![Screen Shot 2020-03-23 at 1 33 46 pm](https://user-images.githubusercontent.com/281413/77317148-f2dea700-6d0a-11ea-8a19-63f098b0ebb3.png)

[2020-03-23 15:13] Araxor commented on #831
It looks like the menu is not the same on Windows and MacOS.

I think you can use `Find action` and search for `register`

[2020-03-23 16:13] sindre-nistad opened #832 "Preview of mermaid diagrams in separate files"
Hi,
Would it be possible to have Markdown Navigator render / preview mermaid files (`.mmd`)?

## Some background
Since Git*Hub* does not support mermaid rendering (yet), I have to create separate SVG / PNGs from separate files. In order to preview them, I could change the file extension to `.md`, and then surround the content with

[code]
The files are then passed though [markdown.cli](https://git

[2020-03-23 18:39] vjpr commented on #831
I went to the JetBrains marketplace online and clicked buy again, and I had to read and accept some terms and conditions. I clicked accept, then restarted IDE and now it works.

So looks like acceptance of marketplace terms was disabling the plugin...I'm guessing.

[2020-03-24 13:52] Tecktron commented on #814
@vsch When I open IntelliJ today, I get a License Activation window.

I have a valid license that was sent to me in email (318 days valid).
Where do I go from here as nothing seems to work?

![image](https://user-images.githubusercontent.com/4650904/77432651-bc5d6680-6db4-11ea-9730-7552cc3bb084.png)

[2020-03-26 13:46] vsch commented on #832
@sindre-nistad, the extension to language mapping is controlled by the IDE. The plugin provides defaults: .md, .mkd and  .markdown.

If you add .mmd extension association with Markdown language in Editor | File Types

![image](https://user-images.githubusercontent.com/10299086/77653438-0d509480-6f46-11ea-970b-dd9a8e5890ca.png)

If you know if any website which renders mermaid syntax to image simil

[2020-03-26 14:00] vsch commented on #814
@Tecktron,

The evaluation period for JetBrains licensed plugin is expired, so the plugin is not loaded. You should follow the second set of instructions to install the Legacy plugin manually.

The standard and EAP channels have plugins which use JetBrains licensing which is managed by the IDE. The Legacy and Legacy EAP have plugins which do not use JetBrains licensing and instead manage licensing

[2020-03-26 17:04] vsch commented on #830
@colin-bitterfield, your CSS mods applied to Stylesheet settings need to take the default CSS stylesheet into account.

The default CSS is applied in two parts: layout and colour settings, with different files for JavaFX and another for Swing browser.

JavaFX - Layout in https://github.com/vsch/idea-multimarkdown/blob/master/resources/com/vladsch/idea/multimarkdown/layout-fx.css

JavaFX - Default

[2020-03-26 17:23] vsch commented on #472
@vjpr, you also have to enable either GitLab extensions or just mermaid or math extensions.

[2020-03-26 20:19] vjpr commented on #831
Just upgraded and to latest beta and this happened again...

[2020-03-27 23:27] allejo opened #833 "Surrounding markdown code blocks with alternate code blocks breaks"
It is valid to nest to code blocks in markdown as such:

<pre>
[code]
</pre>

You can see how GitHub handles this below:

[code]

However, this breaks all parsing after these nested code blocks in this plugin.

![image](https://user-images.githubusercontent.com/1246453/77808073-4de40700-7047-11ea-8d94-2f91368e4216.png)
![image](https://user-images.githubusercontent.com/1246453/77808080-55a3ab80-70

[2020-03-28 14:07] vsch commented on #833
@allejo, it is an issue with CommonMark parser which need to be upgraded to version 28.1 compatibility.

Previous version treated `~~~` and ````` ``` ````` and interchangeable so the triple tilde is closed by the triple back ticks.

The only workaround for now is to use 4 or more tilde or back ticks on the outer code fence:

[code]

[2020-04-01 07:33] Zaijo commented on #661
@vsch Could you please update or fix these images? Without these I can't find the `default` setting.

[2020-04-01 07:36] vjpr commented on #831
@vsch Any ideas? I've seen the same thing happen to other plugins in the new beta too. Maybe its a new "version compatibility check" or something.

[2020-04-02 08:44] dAnjou commented on #780
Hi, the same happens for files that do _not_ have an extension.

[2020-04-02 14:22] vsch commented on #661
@Zaijo, the latest settings are in:

![image](https://user-images.githubusercontent.com/10299086/78260038-7cd8fd80-74cb-11ea-98c7-10662e0d0b24.png)

![image](https://user-images.githubusercontent.com/10299086/78260251-c1649900-74cb-11ea-9337-7cabc29e6e67.png)

[2020-04-02 15:09] vsch commented on #661
@Zaijo, there is also a right margin override in profiles to allow changing the right margin based on scope/profile:

![image](https://user-images.githubusercontent.com/10299086/78265362-54a0cd00-74d2-11ea-9275-83d354bd5659.png)

[2020-04-02 15:27] vsch commented on #825
Please see #781. The font used for preview does not have these characters. A different font should be used.

Same goes for PDF Export, see: https://github.com/vsch/idea-multimarkdown/wiki/Rendering-Profiles-Settings#export-rendered-markdown-to-pdf-profile

[2020-04-02 15:37] vsch commented on #826
@jsinkers, this option would have to be added to the markdown parser. Right now there is no easy way to make it work.

I did some tests and it can be done for MathJax which does its own parsing of the HTML document so it does convert `$$ $$` to math rendering.

This can be done by adding MathJax JS to the HTML Generation settings. In the example below I have a [custom rendering profile](https://gi

[2020-04-02 16:13] fartem commented on #825
@vsch thanks.

[2020-04-02 16:13] #825 closed

[2020-04-04 17:51] vsch commented on #813
@TanVD, **EAP** and **Legacy EAP** version with `GrammarCheckingStrategy` support in Markdown Navigator released.

Added option in Languages & Frameworks | Markdown | Editor, `Ignore casing of simple list item text`, to ignore case of single line text list items.

[2020-04-04 17:51] vsch commented on #813
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

Please note the change that EAP channel is for JetBrains licensed plugin and Legacy EAP is for legacy licensing by vladsch.com

[2020-04-05 09:38] antonbabenko commented on #832
http://kroki.io/ can do rentering as image and much more.

[2020-04-05 14:08] vsch commented on #832
@antonbabenko, thank you for the rendering site link. I will add it as an option.

[2020-04-05 14:29] antonbabenko commented on #832
Great plugin! 👍

I am looking forward to getting the full support of Mermaid in this plugin so that I don't have to use [mermaid-live-editor](https://mermaid-js.github.io/mermaid-live-editor/) all the time.

[2020-04-07 19:09] reynoldsdj opened #834 "JavaFX markdown preview 3.0.197.72 seems to be broken (Intellij Ultimate 2019.3/mac/catalina)"
After buying a license and updating to the latest version, the JavaFX Webkit preview is broken.  The Preview page shows nothing.

If I switch back to the Swing Preview, the preview appears on the screen.  I would be glad to post any logs, if someone could point me to them.

[2020-04-07 21:11] mtraynham opened #835 "Fenced code in editor seems to ignore syntax highlighting"
I can't seem to get fenced code in the editor to match my syntax coloring for other languages.
 Everything seems to be very blue.   It does however seem like code intentions work, I can Ctrl+Click an item to go to that specific reference.  Any thoughts, maybe some issue with configuration?  Here's an example with Python.

<img width="795" alt="Screen Shot 2020-04-07 at 5 07 06 PM" src="https://use

[2020-04-07 21:30] mtraynham commented on #835
Well I figured it out.  For some reason, switching to this plugin updated the Markdown code block style foreground colors to be a single color rather than inherited.

[2020-04-07 21:30] #835 closed

[2020-04-08 02:34] vsch commented on #834
@reynoldsdj, I am running the same version on Catalina 10.15.3 with IU 2019.3.4 and JavaFX works fine, but this depends on the JRE with which the IDE is launched.

Are you running the IDE with bundled JRE or is it customized?

Are you getting any errors? (The red flashing exclamation icon in the bottom right corner of the IDE after you open a markdown file with JavaFX Preview)

**Can you copy the

[2020-04-08 12:21] reynoldsdj commented on #834
I am running the bundled JRE and have not customized it.  The only different is this is running on Catalina 10.15.4.  I am wondering if the issue was with the Catalina 10.15.4 update; that is probably around the time it stopped working.  Thanks, Apple.

Output from Intellij about box:
[code]

[2020-04-08 12:28] #834 closed

[2020-04-08 14:24] vsch commented on #834
@reynoldsdj, I have been hesitant to update OS X and wait a few months before updating. I remember having this hesitation about upgrading Windows.

There is probably an OS incompatibility in JavaFX.

You can try to download a later JetBrains runtime: https://bintray.com/jetbrains/intellij-jbr/jbrsdk11-osx-x64. The latest 2020.1 IDEs use 765.25.

I use these for my SNAPSHOT version. **I usually dow

[2020-04-09 18:16] pabloalmunia opened #836 "Editor/Code Style/Markdown don't load"
Configuration:

- Webstorm 2020.1
- Markdown Navigator 3.0.198.72

After Markdown Navigator is installed the config Editor/Code Style/Markdown don't load and show a "loading..." label always.

![image](https://user-images.githubusercontent.com/1365303/78927293-ea25f900-7a9e-11ea-842a-8c2233eaca74.png)

[2020-04-09 19:00] vsch commented on #836
@pabloalmunia, later 2020.1 versions removed a resource string from the bundle.

The issue is fixed in EAP release for 2020.1 IDEs.

EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

Please note the change that EAP channel is for JetBrains licensed plugin and Legacy EAP is for legacy licensing by

[2020-04-09 20:01] pabloalmunia commented on #836
Hi, thank, run but I have a new error:

[code]

[2020-04-09 20:05] vsch commented on #836
@pabloalmunia, this one is intermittent and markdown content dependent caused by backspace handler.

If you can give me the markdown paragraph and location of caret when this occurs, I would be grateful since it is impossible to reproduce without specific conditions.

[2020-04-10 01:13] vsch commented on #832
Kroki support is working, now all fenced code special rendering is configured in [Fenced Code](https://github.com/vsch/idea-multimarkdown/wiki/Fenced-Code-Settings)

Also added [JLatexMath](https://github.com/opencollab/jlatexmath) rendering to images to allow embedding images in PDFs by using it as the rendering option.

I just have to update documentation and fix a late found bug and I will rele

[2020-04-10 17:36] colin-bitterfield commented on #836
I had the same issue (I have a paid license). I removed the plugin and the configuration directory from ~/.markdownNavigator and then restarted the IDE and reinstalled the plugin and license and the problem went away (resolved)

[2020-04-10 17:37] colin-bitterfield opened #837 "What setting controls the HTML anchors?"
What setting creates <a> anchors?

like:
<a id="markdown-2-references" name="2-references"></a>

## 2.0. References [ There is a {} reference showing but is not copy-able ]

[2020-04-11 04:06] vsch commented on #832
EAP update with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

Please note the change that EAP channel is for JetBrains licensed plugin and Legacy EAP is for legacy licensing by vladsch.com

[2020-04-11 12:16] pabloalmunia opened #838 "Editor is blocked two or three second"
- Webstorm: 2020.1
- Multimarkdown: 3.0.201.79
- OS: Windows 10 pro (64 bits)
- CPU: Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
- Mem: 16 GB
- Webstorm Map Head Size: 4029M

When I change between Markdown windows, the editor is blocked two or three seconds before I can write. Typically, my .md files has between 5Kb to 30Kb, no more.

[2020-04-11 13:12] vsch commented on #838
@pabloalmunia, is it blocked or the text shows as plain text without syntx highlighting for a couple of seconds?

[2020-04-11 14:44] pabloalmunia commented on #838
It's complety blocked, I cannot write or move the cursor or click over other position into the text.

[2020-04-11 14:56] pabloalmunia commented on #838
![multimarkdown](https://user-images.githubusercontent.com/1365303/79047135-1e232a80-7c15-11ea-98fb-680d4f9aab54.gif)

This is a simple example. After the page change, I try to click on the title, but it doesn't respond until several seconds later.

[2020-04-11 21:51] vsch commented on #838
@pabloalmunia, I am not able to reproduce this on my test system with Windows 10, WebStorm 2020.1 and Markdown Navigator 3.0.201.79.

**Q: Do you have preview enabled?
Q: Do you update your IDE through JetBrains Toolbox or manually through the IDE?**

[2020-04-11 22:55] vsch commented on #837
@colin-bitterfield, there very few settings controlling how the heading id is genereated.

These are in Parser settings:

![image](https://user-images.githubusercontent.com/10299086/79056305-e15e3000-7c22-11ea-9f92-c4bc9c29e5dc.png)

I duplicated the way GitHub does it by trial and error.

I added the extra settings as compatibility issues came up.

To generate the id, GitHub normally replaces non

[2020-04-12 02:05] vsch commented on #837
@colin-bitterfield, I forgot to mention that you can completions for anchor refs in links to have the plugin fill it in automatically.

You can also turn on a setting in Editor settings to show the heading ID in the editor after the heading to allow you to "debug" the ids:

![image](https://user-images.githubusercontent.com/10299086/79056632-89292d00-7c26-11ea-8e1b-13c3e4284610.png)

<img width="1

[2020-04-12 02:06] vsch commented on #837
@colin-bitterfield, I found more discrepancies with GitHub, mainly if an emoji shortcut is included in the heading. `## Heading :+1:`, GitHub includes the shortcut text as part of heading text used to generate the id.

I am addressing this and will release an EAP version with the fixes.

[2020-04-12 04:02] vsch commented on #837
@colin-bitterfield,
EAP update Version **3.0.201.81** with a fix for the issue is available.

[Installing EAP Plugin Version](https://github.com/vsch/idea-multimarkdown/wiki/EAP-Update-Channel)

Please note the change that EAP channel is for JetBrains licensed plugin and Legacy EAP is for legacy licensing by vladsch.com

[2020-04-12 10:40] pabloalmunia commented on #838
Q: Do you have preview enabled?
No
Q: Do you update your IDE through JetBrains Toolbox or manually through the IDE?
from the IDE

[2020-04-12 16:39] colin-bitterfield commented on #837
I installed the latest EAP version.

The issue is some of our team members are using VS Code which adds these HTML type Achors.

<a id="markdown-11-purpose" name="11-purpose"></a>
### 1.1. Purpose

[1.1. Purpose](#11-purpose) — Idea does this. (Works fine)

How do I get the HTML based anchor to generate about the TOC (based on settings i.e. level 2 & 3 )

We are pioneering Unified Automation for h

[2020-04-12 17:39] vsch commented on #837
@colin-bitterfield,

The plugin does not need the `a` tag and will do anchor ref completion and TOC based references on the automatically generated id based on the heading text. The plugin will also update any anchors which reference a heading if you use `Rename Refactoring` on the heading text instead of just editing it.

There is no option to create `a` tags in Markdown. These are added automati

[2020-04-12 18:25] vsch commented on #838
@pabloalmunia, in my experience updating the IDE manually had a tendency to make it unstable after a few updates, especially EAP.

I cannot claim that this is the problem but I am not able to replicate this issue and suspect that there is something out of whack.

It is also possible that it is an interaction between plugins. The two somehow cause a UI lock up for a couple of seconds.

Are you gett

[2020-04-12 18:49] pabloalmunia commented on #838
Well, I have advanced work and I had already completely uninstalled WebStorm and deleted absolutely all the configuration folders.

I have installed Webstorm and have only installed and activated the minimal set of plugins.

As a result I have a more stable behavior. I have a small deleay of few seconds the first time when I open an .md file, but after this first open the response is immediate.

[2020-04-12 19:06] vsch commented on #838
@pabloalmunia, that is good news.

I used to update my IDEs manually, but noticed that after a few updates the IDE started developing all kinds of issues which would go away if I uninstalled it, backed up the settings and then deleted all its support directories, then re-installed it fresh.

Since I adopted using JetBrains Toolbox which updates the IDEs, I never have experienced these stability is

[2020-04-12 19:06] #838 closed

[2020-04-12 20:26] pabloalmunia commented on #838
Thanks for your recommendation. I have installed a new version over a previous version from 2016 to today with no problems. I will install the toolbox and follow your recommendation. Best regards

[2020-04-13 17:54] colin-bitterfield commented on #837
This is what I was told:

“It was used to provide the links before headers shown on Github.”

We opt’d for turning off the VS Code feature.

v/r

Colin A. Bitterfield
Alpha Health
Director of Security
https://alphahealth.com/
mailto: colin.bitterfield@alphahealth.com
--
We are pioneering Unified Automation for healthcare revenue cycle management. Learn more at alphahealth.com
On Apr 12, 2020, 10:4