[2016-10-30 14:17] vsch commented on #240
@lolmaus, GitHub option added for list item interpretation to parser options, which is more like kramdown than GitHub which have differences.

<img width="829" alt="screen shot 2016-10-30 at 9 00 10 am" src="https://cloud.githubusercontent.com/assets/10299086/19836728/d60d1290-9e7f-11e6-9edb-e54c211d0c1c.png">

The indent is not 2 spaces but the column of the first list item text. For example:

[c

[2016-10-30 15:19] Supuhstar commented on #322
Interesting. It wouldn't let me report it to JetBrains, claiming it was
caused by the plugin. Perhaps another thread was the culprit but its stack
trace wasn't included

On Sun, Oct 30, 2016, 09:12 Vladimir Schneider <notifications@github.com>
wrote:

--
— Kyli Rouge —

[2016-10-30 15:24] vsch commented on #322
@Supuhstar, can you check the log file for the IDE, maybe it has more information.

<img width="370" alt="screen shot 2016-10-30 at 11 20 40 am" src="https://cloud.githubusercontent.com/assets/10299086/19837590/455d2384-9e93-11e6-9d9f-a65402542ee0.png">

and send me the relevant section so I can double check what could be causing this exception.

[2016-10-31 12:41] lolmaus commented on #240
You ![image](https://cloud.githubusercontent.com/assets/200884/19854490/45bd7eb2-9f80-11e6-8736-60ca4c41b8a1.png)!

[2016-10-31 20:30] vsch opened #323 "Add scope based rendering configuration"
Scope based rendering configuration will allow fine grained control of all Markdown rendering options for a project.

This works like copyright config (which it was based on) so you can define scopes and associate scopes with a rendering profile allowing you to change all project based Markdown options on a profile basis.

For example, I like JavaFX WebView browser for preview on all markdown file

[2016-10-31 21:05] vsch commented on #323
Additionally, all profile sections come with a flag 'Override Project Settings' allowing you to only override some settings while using project defaults for others. By default all profile sections have this option turned on.

![scoped_profiles](https://cloud.githubusercontent.com/assets/10299086/19871560/c8b6acde-9f8b-11e6-9473-ba035d2c9acc.png)

![screen shot 2016-10-31 at 4 37 39 pm](https://clo

[2016-11-01 12:26] #191 closed

[2016-11-01 13:17] vsch opened #324 "PhpStorm & WebStorm 2016.3 EAP strip trailing spaces in files regardless of settings"
This is a PhpStorm & WebStorm 2016.3 EAP and can cause Markdown rendering issues because trailing spaces can be very significant for the rendered results. https://youtrack.jetbrains.com/issue/IDEA-163429

This only happens if you Save All manually and only affects the current file. Switching to another application so that the IDE automatically saves all files does not exhibit the bug.

A solution

[2016-11-01 23:34] vsch commented on #174
@drdaeman, EAP plugin update channel has a version that allows you to define replacement mapping from markdown link ref text to GitHub equivalent link ref text that will be used to resolve the target.

This is the Link Text to Link Ref table which is the first table of the `Link Map` config pane. The second table allows you do apply reverse mapping for completions, intentions and other areas of th

[2016-11-01 23:51] vsch commented on #283
Print HTML Preview for JavaFX WebView preview browser added to plugin EAP update channel.

[2016-11-02 01:23] vsch opened #325 "Fenced code format with option 'minimize indent' turned off removes indent of first line"
Turning off `minimize indent` for fenced code causes the first line of the code to be formatted at the left margin, even if the code fence is in a list item.

Workaround is to leave minimize indent option turned on.

[2016-11-02 01:23] vsch commented on #325
latest plugin EAP release has this issue fixed.

[2016-11-02 13:47] neoaddix opened #326 "Missing configuration options Mac Sierra"
I seem to be missing some configuration options in my installation (see screenshot). I'm Using:

Plugin version 2.1.1 (enhanced version)
IntelliJ Build #IU-162.2228.15, built on October 14, 2016
Mac OS with Sierra

I'm missing the options:
- Preview
- HTML export
- Link map
- Rendering

I removed all other Markdown plugins and also reinstalled the Navigator plugin to no avail

Thanks

Jeroen
![mar

[2016-11-02 15:49] vsch commented on #326
@neoaddix, the last official release does not have these options. The new options are available in the EAP plugin update channel. The selection for the update channel is at the top of the options pane you have in your screenshot.

These new features will be in the official release scheduled for Nov 14.

[2016-11-02 16:00] neoaddix commented on #326
@vsch, thanks for the clarification, I'll show some patience ;-)

[2016-11-02 16:00] #326 closed

[2016-11-02 17:29] bstout opened #327 "IntelliJ IDEA 2016.3 EAP : java.lang.NoClassDefFoundError: com/intellij/profile/Profile"
Updating to latest Intellij, on startup throws error:

IntelliJ IDEA 2016.3 EAP
Build #IU-163.7342.3, built on November 1, 2016
IntelliJ IDEA EAP User
Expiration date: December 1, 2016
JRE: 1.8.0_112-release-408-b2 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[code]

[2016-11-02 17:43] vsch commented on #327
@bstout, thank you for the heads up. I upgraded to latest EAP now and will debug the issue.

[2016-11-02 18:08] vsch commented on #327
@bstout, seems that the previous issue with class not found from issue #315 is back in the latest release.

I commented on previously closed YouTrack issue: https://youtrack.jetbrains.com/issue/IDEA-162576 that the issue is back with another class in the latest release.

[2016-11-02 19:20] vsch commented on #327
This is caused by an API change in the IDE. I will make an update as soon as I have it working.

[2016-11-02 23:01] vsch commented on #327
@bstout, plugin's EAP update channel has new release 2.1.1.22 with a fix for this issue.

[2016-11-03 13:59] vsch opened #328 "Wiki links with + < > show as unresolved"
In wiki links with `+`, `<` or `>` show as unresolved when a file with these characters replaced by `-` exists.

Additionally, renaming the target file does not modify these wiki links

[2016-11-03 14:35] bstout opened #329 "Rename files"
I don't think this is a bug or maybe it is...

I have a whatsnew.md and it exports to whatsnew.html just fine.  I renamed my whatsnew.md to changelog.md and noticed a new changelog.html was there - but I initially opened whatsnew.html because it was still there and I was confused.

Maybe?  We should rename/delete/create the exported files when we rename the source files to keep them better in sync

[2016-11-03 15:16] bstout opened #330 "unexpected HTML export files"
My HTML export is as:
![image](https://cloud.githubusercontent.com/assets/742839/19971782/4a32839c-a19d-11e6-96be-7aa612e6ffdd.png)

I also have a README.md at the module root.  When I make changes to that, an HTML file is created right next to it.  By above config, it shouldn't generate an HTML file, and even if it did, it shouldn't put it right next to it - but in the docs/html folder.

All I ca

[2016-11-03 17:03] vsch commented on #329
@bstout, sounds like a bug. I will also see about adding a mechanism to handle removing exported HTML files. The reason I did not make it automatic was to avoid removing files in error.

I will add a dialog box to prompt for removing files the plugin thinks are exported and give the user the opportunity to exclude some files from the operation. It is a chunk of UI work that I left until later.

[2016-11-03 17:28] vsch commented on #330
@bstout, it is a bug. ExportAll action checks for the right path prefix. OnSave actions does not. 😊

[2016-11-03 22:10] vsch opened #331 "Add markdown context aware trailing space removal"
Change the current options from boolean trim trailing spaces to:

- Keep all trailing spaces
- Keep line break spaces
- Trim all trailing spaces

with Keep line break spaces being a default.

[2016-11-04 04:25] vsch commented on #331
Available from the plugin EAP update channel.

[2016-11-04 04:25] vsch commented on #331
Caveat, if you disable trailing space trimming in Editors > General then no spaces will be removed. This setting is a constraint on the global setting.

[2016-11-04 04:26] vsch commented on #330
Available from the plugin EAP update channel.

[2016-11-04 04:33] vsch commented on #329
@bstout, Available from the plugin EAP update channel.

I added two actions to the tools menu to do clean up. One will remove all previously generated files and the other will only remove ones which are not part of the current HTML export configuration.

This means that if you manually export a markdown file via the toolbar, which lets you export any file with a valid export config but without the

[2016-11-04 04:34] vsch commented on #328
Available from the plugin EAP update channel.

[2016-11-04 04:35] vsch commented on #324
This issue is fixed for the next 2016.3 EAP release.

[2016-11-04 20:50] vsch commented on #330
@bstout, EAP release 2.1.1.26 has new HTML Export options to automatically export files on settings change and optionally on project open. These will also remove any generated files that are no longer part of the export profile.

![screenshot_htmlexport](https://cloud.githubusercontent.com/assets/10299086/20021947/a26e434a-a2ae-11e6-8c89-fd259cad5266.png)

Rudimentary wiki also updated: https://gi

[2016-11-04 20:52] vsch commented on #314
Please see #330 for update to HTML export functionality with auto export on save, settings change and project open.

[2016-11-05 02:36] vsch commented on #330
@bstout, 2.1.1.26 was a dud. Use 2.1.1.28.

[2016-11-06 10:36] neoaddix commented on #189
Hi just some additional thoughts on Jekyll 'support'. Please have look at the example code below. It includes some yaml frontmatter at the beginning and 2 references.

The references to page 1 and 2 can be easily refactored thanks your plugin! But when I would like to rename the index file to start.md the permalink will not be refactored. Is there any way to support the .md files in the Yaml?

`--

[2016-11-06 11:23] vsch commented on #189
@neoaddix, learning Jekyll is on my todo list. I would like to add full Jekyll syntax support and refactoring features.

I am going to see how to access PsiTree in an injected block so that I can use the YAML plugin in the IDE to provide references to `permalink:` value if it matches a file.

From what I see in the Jekyll docs only the name needs to match. Directory and extension should be ignored

[2016-11-06 11:56] neoaddix commented on #189
@vsch, I think that makes sense yes. As far as I know the Jekyll logic is
like this:

   - Any markdown file with the frontmatter yaml at the top will get
   converted
   - They will be converted to their permalink filename and path
   - Depending on how someone uses Jekyll you can choose to give everything
   an absolute permalink, so all files are generated in the root folder and
   you don't ha

[2016-11-06 12:36] vsch commented on #189
@neoaddix, yes, I would appreciate a sample actual Jekyll use case.

I will probably add Jekyll or Text based refactoring configuration that will allow flexible reference/refactoring in markdown elements based on RegEx patterns. That way any additional front matter variables, or other text elements, could be refactored without me having to modify code.

For example file ref pattern: `^permalink: (

[2016-11-06 16:57] vsch commented on #311
@neochief, good news. While looking into how multiple carets are implemented I stumbled into the soft wraps implementation. After a couple of hours perusing the code to see if I can propose a patch to JetBrains for the feature, I found what I needed was right there, only minor mods required. The API is awesome! It usually it takes 20 lines of code but to find what, where and when to plug in can ta

[2016-11-06 17:28] vsch commented on #189
I am going to open a new issue for the enhancements.

[2016-11-06 17:28] #189 closed

[2016-11-06 17:28] vsch opened #332 "Refactor file name reference in Jekyll Front Matter when renaming file"
@neoaddix, yes, I would appreciate a sample of actual Jekyll use case.

I will probably add Jekyll or Text based refactoring configuration that will allow flexible reference/refactoring in markdown elements based on RegEx patterns. That way any additional front matter variables, or other text elements, could be refactored without me having to modify code.

For example file ref pattern: `^permalink

[2016-11-06 18:43] vsch commented on #331
EAP Prior to 2.1.1.30 has a bug where all but 1 space are trimmed if setting is "Keep All"

[2016-11-06 22:11] vsch commented on #331
Available via plugin EAP update channel.

[2016-11-06 22:13] vsch commented on #329
@bstout, latest EAP implements exporting files on settings change, including cleanup of invalidated ones. Detects when export config has conflicts that cause file overwrites and has options to re-export all files on project open.

[2016-11-06 22:14] vsch commented on #311
@neochief, Available via plugin EAP update channel.

[2016-11-07 12:07] neochief commented on #311
Hey Vladimir! I absolutely feel your pain (and also happiness), since I created an IDEA plugin myself, being non-Java developer. That [thing](https://plugins.jetbrains.com/plugin/8412) was the most research-challenging work I ever had. I remember spending days in a frustration over non-documented APIs of IDEA. Ah, sweet tears of nostalgia :D

But, anyway, thanks so much for the update! Glad that y

[2016-11-07 12:19] vsch commented on #311
@neochief, you are welcome.

I have a motto now for plugin functionality: "It will probably take only 10 lines of code but it will take indeterminate number of days to figure out which 10 lines"

[2016-11-07 12:22] neochief commented on #311
Yeah, totally. Sometimes I wonder whether there is a person in JetBrains who knows all of their code base or is it too big for one human brain to contain.

[2016-11-07 12:37] vsch commented on #311
From my experience with their guru's they definitely have some three frontal lobed developers.

It is impossible to know it all but based on the complexity of what is there, someone had to fit enough of it into their head to work it out and create meaningful abstractions.

Having a high level map of available functionality and where to look for it is the most piece of information. I suspect the gr

[2016-11-09 08:26] neoaddix commented on #332
@vsch I have added a basic Jekyll example to Github that you can browse through a bit and get acquainted with Jekyll. I tried to add clear explanations, it's a starting point and let me know if you have any questions

https://github.com/neoaddix/jekyll-markdown-navigator

[2016-11-10 08:50] vsch commented on #332
@neoaddix, thank you. Much appreciated.

Here is the progress on the jekyll front matter refactoring:

![jekyll](https://cloud.githubusercontent.com/assets/10299086/20169950/323484b0-a6f8-11e6-9dd8-5711c55fc115.gif)

Here is the extended configuration that lets you define how to map text to file references (same as link references) and then from file to text. The former is used for finding file re

[2016-11-11 05:22] vsch commented on #332
@neoaddix, eap 2.1.1.34 has this feature and I also updated the [wiki](https://github.com/vsch/idea-multimarkdown/wiki/Modifying-Link-Processing#jekyll-front-matter). For now this is under modifying link processing but has a section on jekyll front matter.

I added a section to experiment and validate the patterns so it makes it easier to get it right.

![Img](https://github.com/vsch/idea-multimar

[2016-11-11 05:25] vsch commented on #330
@bstout. eap 2.1.1.34 out. HTML export now shows progress dialog (only happens if you have a lot of files exported) and can be put in the background. Editing files that are being exported will result in a stale export.

[2016-11-11 07:07] neoaddix commented on #332
@vsch really awesome work! I have downloaded the EAP release and am working with it nog and it seems to work smoothly. Thanks

I'm not really good at regex (not at all ;-) nut I assume this way of working can also be applied to the liquid include code? such as:

{% include links.html %}

[2016-11-11 08:12] tysonite opened #333 "Cannot init ProjectCodeStyleSettingsManager component state: java.lang.AssertionError: Unexpected content storage modification"
Got exception while opening project in the IDEA (Community edition):
Idea version:
IntelliJ IDEA 2016.2.5
Build #IC-162.2228.15, built on October 14, 2016
JRE: 1.8.0_112-release-287-b2 x86
JVM: OpenJDK Server VM by JetBrains s.r.o

[code]

[2016-11-11 12:29] vsch commented on #332
@neoaddix, I put the regex for `permalink:` in the wiki so it can be copied into config:

For release I will have a way of adding some "standard" mapping groups without needing to write them yourself.

Support for liquid tags is not possible at the moment because it requires being able to process text blocks for liquid tags. I will see see if I can do the same as front matter processing for text b

[2016-11-11 14:00] vsch commented on #333
@tysonite, thank you for the report. I am looking into what is causing it.

[2016-11-11 15:02] tysonite commented on #333
@vsch, thanks. Either bug in Idea or plugin. Just after that exception Idea cleared its configuration in the user's home directory saying that it is corrupted.

[2016-11-11 15:15] emartynov opened #334 "Exception while opening markdown file in Android Studio"
Here is exception from logs:
[code]

[2016-11-11 15:41] vsch commented on #334
@emartynov this should happen only the first time you open a markdown file when the plugin is first installed or detects JRE version change. The plugin tries to create a JavaFX WebView based browser. If it fails it defaults to Swing browser and sets a config flag not to try until JRE version change.

Does this description make sense in your observed behaviour?

[2016-11-11 15:44] emartynov commented on #334
It happens whenever I open markdown file. I see this error constantly.

[2016-11-11 15:55] vsch commented on #334
@emartynov, the plugin tries to detect if JavaFX WebView is available and if not then it will not even try to make it as an option. Can you select Swing preview browser at least until i can see if I can duplicate this.

❓ What OS and JVM version are you running Android studio on?

To disable attempts at using JavaFX select Swing as the preview browser from:

![screenshot_settings_previewbrowser](h

[2016-11-11 16:42] vsch commented on #334
@emartynov, I found a possible cause. A class added to the JavaFX preview browser was not added to the custom class loader. This should not be a problem since the custom class loader is only needed for older versions of the IDE using an Open JDK version that is missing JavaFX support files.

I will be making another EAP plugin release with this fix in it. I will post a link to the distribution zip

[2016-11-11 16:47] emartynov commented on #334
Thanks! If you still need my environment details:

- MacOS Sierra 10.12.1
- Android Studio 2.3 Canary
- JRE: 1.8.0_112-release-b05 x86_64
- JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2016-11-11 16:48] emartynov commented on #334
I've changed settings and don't see this error anymore!

[2016-11-11 16:54] vsch commented on #334
@emartynov, it is a temporary solution because your preview is Swing, which has a minimal set of features. It is much faster than WebView.

I would like to see if the possible cause I found was the reason. I will let you as soon as I have the new EAP release ready.

[2016-11-11 19:53] neoaddix commented on #332
@vsch Your last assumption is correct (at least in our case). When using Jekyll for documentation of projects we create separate projects/repositories for the documentation. And in other cases such as blogging the same. A dedicated Jekyll plugin sounds awesome. And if you need any 'help' from me just let me know.

I did copy the regex patterns from the wiki and they are working great. Concerning t

[2016-11-13 14:14] defconx commented on #290
As a data point, I was experiencing this about once out every 5 times I opened IJ and always after an update of IJ. I did an "Invalidate Caches / Restart" with plugin disabled and it has been working with no issues since then. I am using JetBrains Toolbox and the migration from non-toolbox IJ installation to ToolBox didn't go well, I lost a lot of settings. So it may be related to toolbox?

[2016-11-18 15:35] lolmaus opened #335 "Markdown Navigator breaks the line end whitespace trimming feature of EditorConfig"
Hey @vsch, how are you?

I've started a new project and discovered that line end whitespace is no longer removed on save. This feature from the EditorConfig plugin is tiny, but when I was deprived of it, it turned out to be extremely important.

I get endless lint errors, and removing whitespace manually is super tedious. IDEA tends to produce tons of it!

JetBrains support suggested to disable cu

[2016-11-18 18:14] vsch commented on #335
@lolmaus, some people at JetBrains like to blame third party plugins for everything without explanation.

When you name a file with _ext1.ext2 the IDE treats it as a template file with template language being ext2 but the file being of ext1 type.

The plugin does not recognize .js files on its own, the IDE tells it that it is a Markdown File.

In markdown stripping trailing spaces needs to be done

[2016-11-18 18:16] lolmaus commented on #335
It was a support ticket, not a YouTrack issue. :(

Is this a bug or a feature? Sounds like something unwanted.

[2016-11-18 18:23] vsch commented on #335
This is what I want to address. It is a feature of the IDE to support template languages. It is a feature of the plugin to not treat trailing space trimming according to the general IDE setting but have a markdown specific one.

It is a feature of the IDE to let custom language plugins to handle their language specifics.

This is something that the users must become aware of. I will contact someon

[2016-11-18 18:26] vsch commented on #335
BTW, I forgot to mention that in the next release the trim trailing spaces is a per project setting in Editor > Code Style > Markdown. So you will be able to control it on a per project basis.

[2016-11-20 09:07] lolmaus commented on #335
I've just tried reenabling Markdown Navigator, and the issue persists in all JS files, even the ones that don't start with an underscore and don't contain the word `markdown`.

[2016-11-20 11:11] vsch commented on #335
@lolmaus, I am going to have to debug this with EditorConfig installed. i don't see why .js are affected when they are not markdown but stranger things have happened in plugin interactions.

To confirm, you are using the release version of the plugin: 2.1.1?

[2016-11-20 12:02] vsch commented on #335
@lolmaus, can you try the EAP version of the plugin? You can Download and install plugin from disk: https://github.com/vsch/idea-multimarkdown/raw/master/dist/idea-multimarkdown.2.1.1.34.zip

The handling of trailing spaces has been changed to remove the original idea-markdown implementation, which JetBrains is phasing out, to the trailing space filter extension. Maybe that will resolve the issue

[2016-11-20 12:11] vsch commented on #335
@lolmaus, can you please send me a copy of your .editorconfig file.

[2016-11-20 12:13] lolmaus commented on #335
@vsch https://github.com/lolmaus/lolma.us/blob/master/.editorconfig

Will try the EAP version later (PS I'm on IDEA RC3).

[2016-11-20 12:20] vsch commented on #335
@lolmaus, so much more reason to use the EAP. I am developing on RC3, but a custom build with a few bug fixes that are not yet in the official release. I also submitted an enhancement patch for an extension to the trailing spaces mechanism that will allow specifying how many trailing spaces to keep. The current extension API for the filter can only say remove all trailing spaces or keep all. For m

[2016-11-21 03:17] joshuawhite929 commented on #295
I get this issue frequently.  It's really painful because IntelliJ will disable the plugin.  Every time I get e-enable it, the same problem occurs.

[2016-11-22 17:24] vsch commented on #327
Found another cause for this. A jar was included in the distribution that is only needed for compilation. It is part of the IDE distribution.

The next EAP release, coming today will fix this.

[2016-11-23 09:45] vsch commented on #327
EAP update released. Has lots of new features and improvements. You can enable the EAP update channel in the plugin or download and install from disk: https://github.com/vsch/idea-multimarkdown/raw/master/dist/idea-multimarkdown.2.1.1.40.zip

[2016-11-23 09:47] vsch commented on #315
EAP update released. Has lots of new features and improvements. You can enable the EAP update channel in the plugin or download and install from disk: https://github.com/vsch/idea-multimarkdown/raw/master/dist/idea-multimarkdown.2.1.1.40.zip

[2016-11-24 04:51] akshaybabloo opened #336 "java.lang.StackOverflowError exception in the plugin"
Hi,

This just popped out of nowhere and the plugin crashed. I got the following exception

[code]

[2016-11-24 05:20] vsch commented on #336
@akshaybabloo, thank you for the report. The issue is happening during init of the component, it appears to experience an exception and this is causing an infinite loop.

This code has changed drastically for the next release to remove possibility of any such thing in the future.  The new version is available on the EAP plugin update channel. It has many bug fixes and features. It also fixes 2016.

[2016-11-24 07:39] akshaybabloo commented on #336
@vsch but I am using version 2.1.1 isn't that the latest one?

[2016-11-24 07:44] vsch commented on #336
@akshaybabloo, latest released but I have had a few Early Access Program versions out with fixes for newly found issues or compatibility problems due to the new IDEs.

![screenshot_settings_updatechannel](https://cloud.githubusercontent.com/assets/10299086/20590179/9964dade-b1ef-11e6-8bbe-c63507702108.png)

Version 2.2.0 is coming soon but if you are encountering issues as above you should try the

[2016-11-25 14:36] vsch opened #337 "When soft wraps are enabled wrap on typing and format document should have disable options"
With soft wraps enabled the wrap on typing should have an option to automatically disable.

Added two options:

1. Checkbox to disable wrap on typing when soft wraps are on.
2. For document format an option to:
    1. Disable formatting,
    2. leave enabled,
    3. use infinite right margin. which will reflow all paragraphs to a single line, barring use of embedded hard breaks.

[2016-11-25 14:43] vsch commented on #337
BTW, the latter format option is great for removing soft breaks from documents that will be processed treating soft breaks as hard breaks. Such as GitHub comments.

Select this options for formatting. Create the text without soft wraps with wrap on typing enabled. Then toggle soft wraps on and reformat the document.

[2016-11-25 20:11] vsch commented on #184
@yunti, you would not believe what was causing the issue. I have tired to figure this and typing delay out on half a dozen attempts. Gave up every time after killing 4 to 6 hours without success.

Today I decided enough is enough. I have to make it work. Finally after 5 hours on a hunch I disabled wrapping content in a div used to create the GitHub page wrapper and voila both problems solved.

The

[2016-11-25 22:12] vsch commented on #184
@yunti, the issue was even simpler to solve. It was caused by border radius. If it is not 0 then rendering is slow. Needless to say, I will have all border radii removed in the upcoming release.

All you need to do in your version is add the following to custom CSS text:

[code]

<img width="1020" alt="screen shot 2016-11-25 at 5 09 42 pm" src="https://cloud.githubusercontent.com/assets/10299086/2

[2016-11-26 09:18] yunti commented on #184
That is brilliant news well done! Thank you for taking the time to sort it out.  I apologise for not giving you better prompt feedback - I had held off properly adopting your plugin because of this bug made the user experience not great so I just stuck with current alternatives.  Really looking forward to ditching those and giving this a proper test later today.

Thanks

[2016-11-26 09:21] vsch commented on #184
@yunti, please let me know how it works out. I am curious because on my system it was the typing that was affected by this more than scrolling.

However, I am completely reworking the handling of web view requests which should make page updates and typing even more responsive. I will let you know when it is ready if you want to give it a try and let me know how it works on your system.

[2016-11-26 13:36] lolmaus commented on #335
I've just tried latest EAP (`idea-multimarkdown.2.1.1.40.zip`) and the issue persists. Have to fall back to the default Markdown plugin. :sob:

[2016-11-26 13:38] lolmaus opened #338 "Toolbars disappear when there's not enough space to fit all icons"
Any other app I've ever worked with only hides icons that don't fit. This way, most icons always stay available.

Markdown Navigator hides all icons if one of them doesn't fit.

I work with two editor panes and I never see any icons on the toolbar.

[2016-11-26 13:51] vsch commented on #335
@lolmaus, can you send me a copy of your .editorconfig file and a small sample of the .js file that has the problem so I can debug it. I don't have an editor config file plus it is some setting in the file that could be causing this.

I am working on the next release and want to get this addressed too. BTW, I rewrote the JavaFX browser integration. AWESOME typing response. I can roll my head on th

[2016-11-26 13:57] lolmaus commented on #335
@vsch Great job figuring out performance! Causes of such issues can hide really deep.

I had linked to my `.editorconfig` file above. Here it is again: https://github.com/lolmaus/lolma.us/blob/master/.editorconfig

The issue happens in all JS files for me (and maybe in other filetypes too). This is the one I tried the last: https://github.com/lolmaus/lolma.us/blob/master/app/locales/en/translation

[2016-11-26 17:44] vsch commented on #335
@lolmaus, thanks for reposting the links. I will take a look at it.

I've been running on 4-5 hours of sleep for the past two weeks and haven't slept since yesterday morning. Been up for 27hrs. Got excited when I figured out what was causing the performance disaster. Then decided to rewrite the implementation. It really rocks. Its like typing in a plain text file, unless your file is 5000 lines. E

[2016-11-26 18:06] vsch commented on #184
@yunti, preview version is available from the EAP update channel in plugin setup or from GitHub: https://github.com/vsch/idea-multimarkdown/blob/master/dist/idea-multimarkdown.2.1.1.42.zip let me know what you think of the scrolling. I love typing response. The lag has bothered me from the beginning.

[2016-11-26 18:08] vsch commented on #337
In the EAP 2.1.1.42

[2016-11-26 18:19] vsch commented on #175
@inf3rno, @tanndev, @svenax  a new EAP is available on the plugin EAP update channel or direct from this repo: https://github.com/vsch/idea-multimarkdown/blob/master/dist/idea-multimarkdown.2.1.1.42.zip

It may have a fix for the memory issue. I completely rewrote the JavaFX integration. Typing response and preview scrolling speed was fixed too. It was a PITA to find the cause but in the end it wa

[2016-11-26 18:22] vsch commented on #338
@lolmaus, you may want to file YouTrack issue for this. The plugin does not control the toolbar behaviour. Being a plugin it works within the provided environment.

I will add configuration for the toolbar in settings so that you can remove buttons that you don't use. I got a ton of these uselessly taking up space.

[2016-11-27 01:56] NonePro opened #339 "breadcrumb not support chinese"
![image](https://cloud.githubusercontent.com/assets/5492842/20645003/929c92a6-b487-11e6-8910-6d7ff579a448.png)

[2016-11-27 02:16] vsch commented on #339
@NonePro, I am not sure but suspect it is a font issue. With the font I use there seems to be no problem:

<img width="389" alt="screen shot 2016-11-26 at 9 04 48 pm" src="https://cloud.githubusercontent.com/assets/10299086/20645031/2134aff6-b41c-11e6-8887-bff2987eebc6.png">

<img width="767" alt="screen shot 2016-11-26 at 9 05 19 pm" src="https://cloud.githubusercontent.com/assets/10299086/206450

[2016-11-27 02:38] NonePro commented on #339
I'm truly grateful for your help.

[2016-11-27 02:38] #339 closed

[2016-11-27 03:14] bstout opened #340 "2.1.1.40 Fail to re-gen HTML files when HTML already exists"
I regenerated all HTML from .md and saw a proper tree of html files.  I then edited a .md file and saved it, but a new HTML wasn't then generated.  I then again went to regenerate all HTML files from .md and still no new html file.  I think deleted the html file, regenerated all, and now the HTML file was created with my new edits.

[2016-11-27 14:09] lolmaus commented on #338
Thx!

[2016-11-27 14:12] vsch commented on #340
@bstout, sorry I did not catch this one. There were two bugs in one here.

The on save export was not forcing the export but relying on the file modification time stamp and due to a bug I was comparing the wrong "modification  timestamp". Deleting the HTML file was the only way of getting an HTML file generated.

Both now fixed. On save export will overwrite the html file regardless of timestamps.

[2016-11-28 03:56] vsch commented on #340
@bstout, EAP 2.1.1.44 out with the fix for this issue and a whole bunch of others.

[2016-11-28 12:41] vsch commented on #340
@bstout, sorry for the trouble but don't use 2.1.1.44 it has broken export through over-optimization.

I will post a fix shortly.

[2016-11-28 14:08] vsch commented on #340
@bstout, fixed and improved. Added a Re-Export action that will export ignoring modification time stamp. EAP 2.1.1.46

[2016-11-28 14:10] vsch commented on #338
@lolmaus, came up with a temporary solution. In settings Languages & Frameworks > Markdown there is a new option: Hide disabled buttons. Actually quite nice, removes all the buttons you cannot press anyway.

Hope this is an acceptable contractor special for this issue. EAP 2.1.1.46 (also solves the trailing spaces issue, was a small bug with big consequences)

[2016-11-28 14:12] vsch commented on #335
@, fixed. It was a small typo with big consequences. Thank you for the sample files and editor config file.

EAP 2.1.1.46 has the fix. Available on the plugin EAP update channel.

[2016-11-28 14:12] vsch commented on #335
@lolmaus, fixed. It was a small typo with big consequences. Thank you for the sample files and editor config file.

EAP 2.1.1.46 has the fix. Available on the plugin EAP update channel.

[2016-11-28 14:14] lolmaus commented on #335
My pleasure! Thank you for your hard effort. :bow:

[2016-11-28 14:14] #335 closed

[2016-11-29 15:04] yunti commented on #184
Just did a quick test by changing the CSS stylesheet.  It's a lot better - not as smooth as the normal editor, but definitely a lots better. Thanks!

[2016-11-29 15:08] vsch commented on #184
@yunti, get the EAP version. It has lot of bugs fixed and the preview is an order of magnitude faster than the release. Use the EAP update channel to get the latest or download https://github.com/vsch/idea-multimarkdown/blob/master/dist/idea-multimarkdown.2.1.1.48.zip which is the latest at the time of this comment.

[2016-11-29 15:15] yunti commented on #184
Thanks will do - can't seem to find how to install via a download again....

hmmm I got a
`Plugin 'com.vladsch.idea.multimarkdown' failed to initialize and will be disabled.  Please re...`
error.

I unticked the old plugin, clicked on `install plugin from disk` choose lib-> idea-multimarkdown.jar

[2016-11-29 15:17] yunti opened #341 "Collapsible sections - summary/ details don't render details properly."
Trying to use the collapsible details section as per this thread. https://github.com/dear-github/dear-github/issues/166

Works correctly to give a collapsible section, but the markdown within the details tag fails to render properly (eg italics, bold etc.. fail to render).

eg try with:

`<details><summary>stuff with *mark* **down**</summary><p>
*formatted* **heading** with [a](link)
---
{{stamdar

[2016-11-29 15:20] vsch commented on #184
@yunti, not a problem,

1. download to your machine.
2. Go to plugins in settings (preferences on Mac)
3. Press the "Install plugin from disk..."
4. Select the file you downloaded and press ENTER
5. Restart the IDE

![downloadandinstallfromdisk](https://cloud.githubusercontent.com/assets/10299086/20715474/543a5e20-b61d-11e6-9bc9-d2c5d4c56830.png)

[2016-11-29 15:34] vsch commented on #341
@yunti did you install the chrome extension or how did you do that. I installed the chrome extension and all seems to show up fine.

<img width="698" alt="screen shot 2016-11-29 at 10 34 34 am" src="https://cloud.githubusercontent.com/assets/10299086/20716203/71e84c3c-b61f-11e6-9990-f41a975aea1a.png">

[2016-11-29 15:36] yunti commented on #184
thanks.  I'm still getting the initialisation errors, when trying to 'install plugin from disk`
<img width="716" alt="screen shot 2016-11-29 at 15 36 16" src="https://cloud.githubusercontent.com/assets/1826271/20716287/99110e6e-b649-11e6-8b1e-0ae2af160737.png">
.  Note when I download the file, macOS seems to unzip it automatically so I picked `lib-> idea-multimarkdown.jar` file to load the plugin

[2016-11-29 15:39] vsch commented on #184
@yunti, you cannot unzip the file. You have to install the downloaded zip. It contains all the dependency libraries. The jar does not.

When you download the zip file, don't click on it in the browser which extracts it. No need to download it again, it should still be on the disk. Just select the zip when you install plugin from disk.

If it is no longer on the disk then download it again but don'

[2016-11-29 15:41] yunti commented on #341
Didn't install any chrome extension - not quite sure what you mean - it's just rendering in pycharm /intellij (chrome not needed)?  Will add screenshot to show but plugin broken from other issue

[2016-11-29 15:47] vsch commented on #341
@yunti, thought you mean in the browser not the preview of the plugin. Did you include the "GitHub Collapse Markdown" script as part of the custom stylesheet or HTML generation?

I will check but I am pretty certain that right now the markdown parser does not parse inlines in code but I will confirm.

[2016-11-29 15:52] vsch commented on #341
@yunti, seems to work in my version,

<img width="1481" alt="screen shot 2016-11-29 at 10 49 55 am" src="https://cloud.githubusercontent.com/assets/10299086/20716925/d540d720-b621-11e6-89b5-467ffa1e751d.png">

I added it surrounded by `<script></script>` in the head

<img width="981" alt="screen shot 2016-11-29 at 10 51 20 am" src="https://cloud.githubusercontent.com/assets/10299086/20716913/cbbde

[2016-11-29 15:58] yunti commented on #184
Thanks thought you couldn't unzip.  Safari did something strange and automatically extracted it. Downloaded with chrome and that worked fine.

Works very well now. Thanks for the changes.

(ps love the new click on preview and it goes purple and sync to the editor - great feature)

[2016-11-29 15:58] #184 closed

[2016-11-29 16:00] vsch commented on #341
@yunti, neat. I'll add the script as a standard Stylesheet script option.

<img width="931" alt="screen shot 2016-11-29 at 10 59 50 am" src="https://cloud.githubusercontent.com/assets/10299086/20717276/030ebe5a-b623-11e6-9590-c9740f99debb.png">
<img width="936" alt="screen shot 2016-11-29 at 11 00 31 am" src="https://cloud.githubusercontent.com/assets/10299086/20717303/126f73c6-b623-11e6-9c45-1468

[2016-11-29 16:08] vsch commented on #184
@yunti, told you it has improved tremendously over the last release.

I can now state that it is not only the most feature full Markdown plugin for IntelliJ IDEs, it is also the fastest. The parser is faster than Markdown Support and now the preview is as fast.

On large file I use for testing (12,000 lines and 500k size) Markdown Support becomes unusable for editing, Markdown Navigator only has a

[2016-11-29 16:11] yunti commented on #341
I didn't realise it needed a script to be honest, thought it was built in to html 5 http://caniuse.com/#search=details
(presumably the script is probably needed to parse markdown through the tags)   -

Thanks that would be great if you could add it as standard - hmmm I can't seem to find the relevant script (was it in the link I posted)?.

[2016-11-29 16:13] vsch commented on #341
@yunti, I will add it to the next EAP and the release. The script you need is here: https://github.com/Mottie/GitHub-userscripts/blob/master/github-collapse-in-comment.user.js

[2016-11-29 16:14] yunti commented on #184
@vsch , very very impressed. It's very speedy well done.  Completely changes how I can use it now.

[2016-11-29 16:16] vsch commented on #341
@yunti, I will add both the collapse in comments and the collapse markdown, so that headers will be collapsible. Thank you for bringing it to my attention. It is a 5 min effort to add these as standard options and will make it easier to deal with large docs.

I will see how I can persist the collapsed/expanded  state across page refreshes that occur every time you edit the document. I need this so

[2016-11-29 16:18] vsch commented on #184
@yunti, thank you. I have had a beaming smile 😀 on my face ever since I found the problem and rewrote the JavaFX WebView integration.

[2016-11-29 16:24] yunti commented on #341
Thanks that is a brilliant feature - I was really hoping to be able to get a collapsable section working.

If you can persist state somehow that would be ideal. So that reopening a document loads the collapsed and expanded sections as they were when it was last edited.  (If that proves not to be easy - I would default to load all collapsed).

It is possible to add a shortcut to create a collapsed

[2016-11-29 16:32] yunti opened #342 "Drag and drop image support"
This doesn't seem to be currently supported from a quick test and I'm not sure if this is possible within the confines of intellij platform, but having drag and drop support for images as can be done in github would be a big improvement to help speeding up a workflow where images are needed in markdown.

Perhaps it can be implemented via: drag file from project folder in intellij file explorer tre

[2016-11-29 16:35] vsch commented on #341
@yunti, I'll add a live template to the next release for the collapsed section insert of the `GitHub-collapse-in-comments.js` script. I can see myself using it all the time to collapse the bitmap images I include to make the explanation easier.

As for preserving the state I don't see a problem. It is only a matter of modifying the script so that it gets the collapse information from a variable I

[2016-11-29 16:39] vsch commented on #342
@yunti, it has been on my to do list for a while. I haven't gotten around to figuring out the drag drop handling but will soon. I will also add similar feature to what [Paste Images into Markdown](https://plugins.jetbrains.com/plugin/8446?pr=idea) plugin does. With a bit more configuration flexibility based on the plugin rendering profiles to allow intelligent placement based on scope of which doc

[2016-11-29 16:40] yunti commented on #341
That sounds brilliant thank you.

[2016-11-29 16:43] yunti commented on #342
From the clipboard with a configurable folder is probably even better, than having to prepare the files.

Anyway that’s the last of my big requests.  Thanks for your work.

[2016-11-29 16:47] vsch commented on #342
@yunti, please don't stop the requests big, small and in between.

It is users like you who let me know of what gets in their way or what would make their life easier that make the plugin better for everyone, including me.

A request that is difficult or I don't know how to implement will wait for more favourable conditions, but in the end most get implemented.

So please don't stop the requests o

[2016-11-29 17:38] yunti commented on #342
@vsch  :)

[2016-11-30 05:50] vsch commented on #341
@yunti, new EAP out. In the main settings for the plugin select EAP update channel and check for updates. In the end support for `<details>` requires no script but header collapsing does.

I added a script in the Stylesheet config `Details tag opener` selecting it will always have the details tags open so you can edit them. Otherwise they will always be closed unless you add `open` attribute to th

[2016-11-30 05:52] vsch commented on #338
@lolmaus, BTW thank you for motivating me on this. I don't know if you are using the hide disabled buttons but I am hooked on the feature. All the stuff that I cannot press out of the way makes it easier to find the right operation.

Thank you.

[2016-12-01 12:52] #174 closed

[2016-12-01 12:52] #240 closed

[2016-12-01 12:52] #283 closed

[2016-12-01 12:52] #311 closed

[2016-12-01 12:52] #313 closed

[2016-12-01 12:52] #314 closed

[2016-12-01 12:52] #315 closed

[2016-12-01 12:52] #319 closed

[2016-12-01 12:52] #320 closed

[2016-12-01 12:52] #323 closed

[2016-12-01 12:52] #324 closed

[2016-12-01 12:52] #325 closed

[2016-12-01 12:52] #327 closed

[2016-12-01 12:52] #328 closed

[2016-12-01 12:52] #329 closed

[2016-12-01 12:52] #330 closed

[2016-12-01 12:52] #331 closed

[2016-12-01 12:52] #337 closed

[2016-12-01 12:52] #338 closed

[2016-12-01 12:52] #340 closed

[2016-12-01 12:53] #254 closed

[2016-12-01 12:53] #280 closed

[2016-12-01 12:53] #289 closed

[2016-12-01 12:53] #290 closed

[2016-12-01 12:53] #291 closed

[2016-12-01 12:53] #295 closed

[2016-12-01 12:53] #303 closed

[2016-12-01 12:53] #333 closed

[2016-12-01 12:54] #336 closed

[2016-12-01 12:54] #255 closed

[2016-12-01 12:54] #334 closed

[2016-12-01 12:55] #270 closed

[2016-12-01 12:55] #11 closed

[2016-12-01 12:56] #13 closed

[2016-12-01 12:56] #173 closed

[2016-12-01 12:56] #272 closed

[2016-12-01 12:56] #304 closed

[2016-12-01 12:57] #322 closed

[2016-12-01 20:55] yunti commented on #341
Thanks just saw the update automatically appear today (2.2.0). However although it worked previously before the update the rendering of markdown inside the tags no longer works for some reason.
I unticked the old script in HTML Generation -> Head bottom and ticked: Style sheets-> Scripts: github collapse markdown.  (also ticked details tag opener - as not sure if this was related).
Unfortunately p

[2016-12-01 21:05] vsch commented on #341
@yunti, post the markdown in fenced code markers so I can take a look at it. For `<details>` tag you don't need a script. The browsers handle it. The characters before the tag are only needed to prevent the markdown parser from parsing it as an HTML block, in which case it will not parse the markdown inside.

Instead of a back tick I use `&nbsp;` it does the job without leaving visual trash once r

[2016-12-02 07:24] vsch opened #343 "ArrayIndexOutOfBounds when parsing text block with \ as last character"
Caused by flexmark-java escaped char extension not checking for this condition.

vsch/flexmark-java#19

[2016-12-02 08:56] kiru commented on #283
@vsch Thank you for your effort. Print function works perfectly.

[2016-12-02 12:01] yunti commented on #341
the code is:
<img width="461" alt="screen shot 2016-12-02 at 11 57 17" src="https://cloud.githubusercontent.com/assets/1826271/20833228/838964e4-b886-11e6-8602-02b1b3a668f0.png">

but actually it doesn't matter as it seems to be working based on the actual markdown headings (ie without need to include `<details>` tags, which is much better - and actually ideal. With different colours for different

[2016-12-02 12:41] vsch commented on #341
@yunti, the reason the first details tags are not working is you do not have something in front of the tag so that the markdown parser interprets it as an HTML Block, in which case no markdown parsing is done on the content. If you add `&nbsp;` in front of it then it will work because the parser treats it as inline HTML and parses markdown in the content.

As for the headers being collapsible with

[2016-12-02 12:45] yunti commented on #341
Ah I see.  Thanks.

[2016-12-02 15:37] vsch opened #344 "Project is already disposed exception"
Closing a project with an export pending after indexing is complete will cause a project is already disposed exception.

It is harmless and can be ignored until the next release.

[2016-12-03 00:21] vsch opened #345 "Indenting empty item makes it text preventing un-indenting action"
If you indent an empty list item to make it a sub-item then the parser treats it as text and prevents the un-indent action from acting on it.

Workaround: type a dummy character, un-indent, backspace to delete the dummy

[2016-12-03 12:19] vsch opened #346 "GitHub Comments changed to a commonmark 0.27. Do we now call it GFC?"
GitHub has changed its comment markdown processor to something that resembles commonmark but with GitHub Flavour.

The plugin profile `GitHub Comments` in Parser settings no longer corresponds to what GitHub is using.

[2016-12-03 12:20] vsch commented on #346
Partial workaround is to switch list parsing to "Commonmark" for rendering purposes while I am working on a fix.

[2016-12-03 15:34] vsch commented on #346
Confirmed by GitHub support that they switched over and are converting old comments now.

[2016-12-06 17:42] jimlongo56 opened #347 "Stops rendering on PHPStorm"
All of a sudden stopped rendering HTML view.
HTML tab is not present. Split pane or HTML View button (top right of toolbar) render a white page.
Happens on all markdown documents.

#PS-163.7743.50 on Mac OS 10.12.1

Note icon in plugin list doesn't look like the rest.
![screen shot 2016-12-06 at 12 39 36 pm](https://cloud.githubusercontent.com/assets/6787988/20936585/1d90de6e-bbb1-11e6-96a0-97fee3

[2016-12-06 17:48] vsch commented on #347
@jimlongo56,

1. the tab views were removed  in the last release.

2. The plugin Icon does not look like the reset because it is a third party plugin the rest are JetBrains plugins so they are marked with the JetBrains logo.

3. Probably settings issue from upgrading, Go into Languages & Frameworks > Markdown > Preview, select the preview browser other than what is there. Ok. Go back and switch th

[2016-12-06 18:03] jimlongo56 commented on #347
Thanks for the prompt response.
It took a few toggles back and forth, and toggle Default editor layout and preview type, but it is rendering as usual now.

[2016-12-06 18:05] vsch commented on #347
@jimlongo56, then the toggling of the Default editor layout did it. I have to check the code, I suspect that with some combination of settings of default layout and saved editor state the pane is blank.

I'll reopen this issue to help remind me that there is a bug.

[2016-12-09 17:40] gkertai opened #348 "IDE error when switching to Default JavaFX Stylesheet"
Version 2.2.0

In *Preferences / Languages & Frameworks / Markdown / Stylesheet* I changed the *Stylesheet* setting from **Default Swing Stylesheet** to **Default JavaFX Stylesheet**, and an IDE error was reported when I clicked Apply. Also, the markdown preview no longer rendered.

[code]

Switching back to *Default Swing Stylesheet* or *No Stylesheet* resolves the issue. Reproducible 100% of the

[2016-12-09 17:43] vsch commented on #348
@gkertai, you are using swing browser. I will check why it shows JavaFX in settings because the code is failing for JavaFX and switching to Swing, but not switching the style sheet. That is the cause of the error. It is all Swing HTMLEditorKit code:

[code]

[2016-12-09 17:48] gkertai commented on #348
You are right. Somehow it switched back to Swing… Maybe after the latest PHPStorm upgrade? Switching to JavaFX resolves the problem.

[2016-12-09 17:51] gkertai opened #349 "Show version number on plugin configuration screen"
Just a small idea for improvement: display the currently installed version number on the *Languages & Framework / Markdown* page for easier inclusion in issue reports.

It would be quicker to access than scrolling through dozens of plugins on the Plugins page (or searching thereof).

![screen_shot_2016-12-09_at_18_41_23](https://cloud.githubusercontent.com/assets/1874498/21058675/66d0c554-be3f-11e

[2016-12-09 17:53] vsch commented on #348
@gkertai, yes I noticed loosing a few settings here and there after an IDE upgrade. I have had to manually delete the IDE cache directories in: `~/Library/Application Support`, `~/Library/Caches` and `~/Library/Preferences` a few times to let it start with a clean slate or it would not work reliably, like fail compilation of project with cryptic error message about a missing library that is not us

[2016-12-09 18:00] vsch commented on #349
@gkertai, I will add it to the top too. :)

![screenshot_settings_version](https://cloud.githubusercontent.com/assets/10299086/21059230/6a256050-be0f-11e6-8d2d-82252a5f894d.png)

[2016-12-09 18:02] gkertai commented on #349
Oops… my bad. :)

Close this then?

[2016-12-09 18:03] vsch commented on #349
@gkertai, no. You are right. It should be next to the update channel selection drop down.

[2016-12-09 20:34] vsch opened #350 "Animated GIF images can turn JavaFX browser into a memory black hole"
JavaFX browser can start sucking up all available memory when displaying large animated gifs.

An option, enabled by default, prevents GIF images from being displayed in preview as a precaution until I can change it to only display the first frame of the animation.

[2016-12-15 17:01] bkimminich opened #351 "Support Gitbook Header IDs"
Gitbook markdown allows a special syntax for Header IDs to link easily between chapters of a book split into different files:

[code]

---

There are two issues with this:

#### Markdown Navigator renders the ID in the preview

![image](https://cloud.githubusercontent.com/assets/3531020/21233526/bdd67146-c2ef-11e6-806a-c32ba94faf9e.png)

#### Even with the GitBook parser profile the anchors do not

[2016-12-15 17:34] vsch commented on #351
Hi Björn,

In the current release, Markdown Navigator only uses the GitBook profile to change the encoding of URLs to be GitBook compatible.

Adding of GitBook attribute processing directive is on the parser’s to do list. I should have it implemented for next major release scheduled for Jan 2017. It is needed for proper Jekyll support and for non-github processing when an attribute of the generate

[2016-12-19 08:33] bkimminich opened #352 "Files without suffix are not resolved in links"
![image](https://cloud.githubusercontent.com/assets/3531020/21305873/4a69b3c6-c5ce-11e6-8544-c0cdb29333db.png)

There actually is a `LICENSE` file locally and on GitHub, it seems just not to be recognized by the plugin - maybe because it does not have a suffix?

Edit: _Both_ the errors shown in the screenshot belong to this single link.

[2016-12-21 10:21] bkimminich commented on #351
I switched to heading-based anchors in my GitBook for now. Works like a charm thanks to the plugin's code-completion!

[2016-12-25 05:43] vsch opened #353 "Add subscript, superscript and ins (underline) extensions from flexmark-java"
[code]

[code]

<p style="margin:0 0 1.2em;">Subscript<sub>sub</sub>, Superscript<sup>sup</sup> and <ins>Underlined</ins></p>

[2016-12-29 04:16] vsch opened #354 "Add Definition Lists"
Php Markdown Extra syntax

Definition Term
: Defintion

[2017-01-04 13:34] danielgodard opened #355 "Icons are disable in the markdown toolbar"
Only few icons are enables in the toolbar:

![image](https://cloud.githubusercontent.com/assets/15653345/21643834/cad05dee-d28a-11e6-89d1-34e1edb054d8.png)

[2017-01-04 13:46] vsch commented on #355
@danielgodard, the toolbar buttons are contextual and will enable/disable based on the caret context in the document.

You can hide disabled toolbar buttons to save screen real-estate by selecting the `Hide disabled toolbar buttons` in main settings panel:

![Screen Shot Settings Hide Toolbar Buttons](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_HideT

[2017-01-04 19:30] vsch commented on #352
@bkimminich, files are looked up using file type index. To address this issue I add "Text" file type if no index is given in completion or a link has no extension. It will work for files without extensions that were not assigned a different file type by the user to a file without extension.

Assigning a different file type in the IDE to a file without extension will make it again invisible to the

[2017-01-04 19:59] vsch commented on #10
Full support for formatting, list indent/un-indent based on list processing setting added in next release.

[2017-01-04 20:43] vsch commented on #349
@gkertai, next release:

![screenshot_settings_version](https://cloud.githubusercontent.com/assets/10299086/21658418/8f0aff08-d294-11e6-8741-d794f3a8aae4.png)

[2017-01-04 20:46] vsch commented on #352
Fix available on the plugin EAP Channel.

[2017-01-04 21:25] FatherShawn commented on #343
Is this the same issue as this error message:

`Flexmark parser exception: String index: 23 out of range: 0, 22`

[2017-01-04 21:27] vsch commented on #343
@FatherShawn, depends on whether the markdown has a trailing \ as part of a paragraph or a list item.

Can you please post the first few lines (enough to include the first 23 characters of the file) so I can double check it?

[2017-01-04 21:40] FatherShawn opened #356 "Flexmark parser exception"
Error message is:
`Flexmark parser exception: String index: 23 out of range: 0, 22`

Details:
[code]

[2017-01-04 21:41] FatherShawn commented on #343
I'm not sure which file - I really was just working in phpStorm and the exception came up. I didn't want to spam your issue queue if it was the same. I've loaded everything I know into https://github.com/vsch/idea-multimarkdown/issues/356

[2017-01-04 22:14] vsch commented on #343
@FatherShawn, thank you for taking the  time to report this.

The file you included seems like the right one because it is only 22 characters long. It is a table separator row. It makes sense that you were typing in a new table and triggered the bug if the parser was expecting more characters after the first line.

The new version of the flexmark-java parser and the plugin no longer have a problem

[2017-01-04 22:16] vsch commented on #356
@FatherShawn, I updated issue #343. Thank you for reporting it. It is fixed in the next release.

[2017-01-04 22:17] FatherShawn commented on #343
You are welcome!

It sounds like you have this, but just to be clear: _I was not working in markdown, nor did I have any markdown files open._

[2017-01-04 22:24] vsch commented on #343
@FatherShawn, as long as you have markdown files in the project and the plugin installed, the IDE will have the plugin parse markdown files when it is indexing the project. So something triggered indexing of files on the project and this partial file was indexed causing an exception.

[2017-01-04 22:27] FatherShawn commented on #343
That make perfect sense.  I had recently pulled from the repo.  Thank you for this project!

[2017-01-05 02:56] vsch commented on #343
@FatherShawn, you are welcome.

[2017-01-09 03:52] #10 closed

[2017-01-09 03:52] #175 closed

[2017-01-09 03:52] #343 closed

[2017-01-09 03:52] #344 closed

[2017-01-09 03:52] #345 closed

[2017-01-09 03:52] #346 closed

[2017-01-09 03:52] #347 closed

[2017-01-09 03:52] #348 closed

[2017-01-09 03:52] #349 closed

[2017-01-09 03:52] #350 closed

[2017-01-09 03:52] #352 closed

[2017-01-09 03:52] #353 closed

[2017-01-09 03:52] #354 closed

[2017-01-09 03:52] #356 closed

[2017-01-10 09:29] dave-irvine opened #357 "First open of existing markdown document causes crash"
I've tried this a couple of times to be sure, but here are the replication steps:

1. In a Project, add a new Markdown file and edit it (this works fine).
2. Add content to the Markdown file and save.
3. Close the Markdown file and quit the IDE.
4. Re-open the IDE and try to open the Markdown file: crash.

Workaround:

1. After opening the IDE for the first time, create a new Markdown file and edi

[2017-01-10 14:40] vsch commented on #357
@dave-irvine, can you please attach the exception stack trace or even better if you could make the log file available. You can get the log file under the Help menu > Show Log in Finder. You can send me a dropbox link to my e-mail address given in my profile https://github.com/vsch

I tried to duplicate the crash using your steps and not able to do it so I suspect there are some other conditions ne

[2017-01-10 14:43] dave-irvine commented on #357
@vsch Hi! Once the IDE crashes it makes a new threadDump every second or so.

https://gist.github.com/dave-irvine/29bf156be334028988a99f5525dfb7ad

Hope this helps!

[2017-01-10 14:44] vsch commented on #357
@dave-irvine, thank you. I will take care of it ASAP.

[2017-01-10 14:50] vsch commented on #357
@dave-irvine, it appears to be having a problem initializing JavaFX but I cannot tell from the thread dump, I think the log file would have the actual stack trace of the crash which would show where it is failing. If you could make the exception stack trace available it would help.

As a workaround can you try disabling the JavaFX WebView browser by setting preview broswser to default - Swing?

![

[2017-01-10 14:58] dave-irvine commented on #357
@vsch Changing to Swing prevents the issue, so that's a good workaround for now :)

As for the log file, I've deleted all files, started the IDE. This creates idea.log, but once the crash occurs nothing goes into it.

If I Force Quit WebStorm I can get you the stack trace from the Apple error reporting tool if that would help?

[2017-01-10 15:08] dave-irvine commented on #357
@vsch Got it :) It only crashes when I have [Flexiglass](https://www.nulana.com/flexiglass/) open. I'm not sure if there is anything you are going to be able to do about the crash.

I'll have to see if I can find another tool to do window arranging on my Mac :)

[2017-01-10 15:09] vsch commented on #357
@dave-irvine, what I find interesting is that if you create a new file then open an existing file it works without a problem. If you don't do this step and try to open an existing file it plants. This could be timing issue but it is hard to say without knowing where it hangs, because the repeated thread dumps point to a deadlock issue. It also could be the reason that nothing is added to the log o

[2017-01-10 15:21] dave-irvine commented on #357
Done, BetterTouchTool supports what I need, and now that Flexiglass isn't running, Multimarkdown runs *way* faster!

Thanks for your help @vsch :)

[2017-01-10 15:22] vsch commented on #357
@dave-irvine, make sense since Flexiglass affects rendering which JavaFX is sensitive to. Glad your issue is resolved.

[2017-01-10 15:22] #357 closed

[2017-01-10 16:26] bkimminich opened #358 ""Unresolved link reference" errors"
I get several `Unresolved link reference` errors in my markdown which seem strange, because they all are existing links.

Examples that do not work:
* :red_circle: `![Juice Shop Architecture](https://github.com/bkimminich/juice-shop/blob/gh-pages/assets/Architektur_JuiceShop.png?raw=true)`
* :red_circle: `![Juice Shop Architecture](https://raw.githubusercontent.com/bkimminich/juice-shop/gh-pages/a

[2017-01-10 17:11] vsch commented on #358
@bkimminich, the plugin does not check the actual http: or https: link but uses the github.com prefix and the user/project to see if the link is part of one of the project's GitHub VCS roots. Here it gets confused by the `gh-pages` and `releases` part because it expects a branch name.

I will add `gh-pages` and `releases` to built-in "branch" equivalents that are ignored so that no unresolved high

[2017-01-10 18:25] bkimminich opened #359 ""Reformat Document" inflates files with link references"
I did not realize this problem before the affected README file reached 30MB in size. It's hard to explain what happens, so I created a "screenshot-story" instead! :book:

The first screenshot below shows my starting situation:
![image](https://cloud.githubusercontent.com/assets/3531020/21818955/0a62489e-d76a-11e6-80d6-72fdd190bfe8.png)

Every following one was taken after I clicked "Reformat Docum

[2017-01-10 18:28] vsch commented on #359
@bkimminich, thank you for reporting it. I will look into the bug. Are these footnotes (you have footnotes extension enabled in parser settings) or link references that look like footnotes because of the ^ prefix?

[2017-01-10 18:40] bkimminich commented on #359
I use the GitBook profile with Footnotes enabled. When I turn Footnotes off in the profile the problem does not occur any more.

[2017-01-10 18:44] vsch commented on #359
@bkimminich, it gets confused on the content of footnotes and doubles the text. The surprise for me is that the performance of the plugin is so good that you only noticed it when the file grew to 30MB.

I'll fix it and make a fix release and post a link here.

[2017-01-10 18:45] bkimminich commented on #359
Yep, the plugin is definitely worth it's license cost! :grin:

[2017-01-10 19:17] vsch commented on #359
@bkimminich, confirmed it is a dumb bug I introduced when refactoring code to make all elements respect the parser "List Type" processing and unified the element prefix/text handling. For footnotes I used the wrong element type to mark the start of text. Fix coming shortly.

[2017-01-10 22:51] vsch commented on #359
@bkimminich, EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-01-10 22:51] vsch commented on #358
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-01-10 23:43] bkimminich opened #360 "Auto-formatting creates list by accident"
Another one for the gallery of unlucky coincidents... 🖼

## Before auto-formatting
![image](https://cloud.githubusercontent.com/assets/3531020/21829542/e5d81558-d796-11e6-9170-d502b1985c3e.png)

## After auto-formatting
![image](https://cloud.githubusercontent.com/assets/3531020/21829546/f2d1ab02-d796-11e6-9473-7d8aaeef8c68.png)

### Another auto-format later...
![image](https://cloud.githubuserco

[2017-01-10 23:47] bkimminich commented on #360
## Workaround

![image](https://cloud.githubusercontent.com/assets/3531020/21829631/91536b80-d797-11e6-9809-34a3a2bfbb6c.png)

[2017-01-10 23:55] vsch commented on #360
@bkimminich, it is an issue that I will address soon. In the case of numbered lists it is a plugin issue. I need to disable auto-list formatting when a numbered item needs a blank line before to be recognized by the processor. Bullet lists are actually recognized by GitHub and GitBook.

What I have on the todo list is to escape the marker when it reflows to start of line and remove it when it migr

[2017-01-11 05:16] vsch commented on #360
EAP update with a fix for the issue is available. To enable EAP update channel:

* Fix: #360, Auto-formatting creates list by accident, added two code style settings for text  wrapping options for `Special Characters` which are `*+-:~` and digits followed by `.` (or `)`  for CommonMark), enabled by default:
  * `Escape when wrapped to start of line`
  * `Unescape when wrapped away from start of li

[2017-01-11 05:58] vsch commented on #360
@bkimminich, I forgot to add `>` to the special characters to prevent accidental block quotes. I will add it to the next release.

[2017-01-11 07:55] saldi opened #361 "HTML Export "CSS dir" and "script dir" not saved"

[2017-01-11 07:57] saldi commented on #361
When I changed settings off "CSS dir" or "Script dir" a new configuration is not saved between export steps. Next export is made with default settings.
Windows 7/Idea 2017.1 EAP

[2017-01-11 13:28] vsch commented on #361
@saldi, thank you for report this. It is confirmed to be a bug caused by recursive event triggering during initialization of settings UI that overwrites values of the text fields.

I will make an EAP release with a fix shortly.

[2017-01-11 14:50] jalopez opened #362 "Java exception in version 2.3.0 with Pycharm 2016.1.5"
After installing plugin version 2.3.0 in Pycharm 2016.1.5, the following exception is raised continuously

[code]

[2017-01-11 15:06] vsch commented on #362
@jalopez, thank you for reporting this. I updated the implementation to the new API without thinking. This API is not available in earlier releases. I rolled back the change.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChanne

[2017-01-13 02:12] vsch opened #363 "Markdown aware trailing space stripping is not working in 2017.1 EAP"
API issue.

[2017-01-15 15:49] spyhunter99 opened #364 "Feature request: image url offsets"
I'm on a maven project editing site documentation in markdown.

The markdown is located here:
`src/site/markdown`

Images are located here:
`src/site/resources/images/`

And they are referenced like this in the markdown
`<img src=images/something.png>`

When maven does it's magic, it renders the site markdown into html and puts it all in the right locations so that the images resolve fine. The mag

[2017-01-15 19:13] vsch commented on #364
@spyhunter99, do you mean that you are using HTML img tags in markdown to reference images in Markdown, not the Markdown image element `![]()`?

Because if you are using Markdown image elements you can use Link Map configuration to do the mapping which would resolve the images in preview, annotate missing images and make completions resolve to the right link.

In Markdown HTML is passed through as

[2017-01-15 20:47] spyhunter99 commented on #364
@vsch yes i'm using html img tag, but i can convert to the markdown syntax. I found the "Link Map" and I just found the wiki article on it. I'll read on and ping you if i have further questions, thanks!

[2017-01-15 22:03] spyhunter99 commented on #364
@vsch ok so here's what i have. This is a "Link Ref Element"

File reference pattern, prefix is "images/"
To Element text, i've tried the following
 - file:///projects/xyz/src/site/resources/images
 - /src/site/resources/images
 - file://c:/projects/xyz/src/site/resources/images

In all 3 cases isn't not working. The generated html for the preview window still shows `images/something.png`

In the

[2017-01-16 00:05] vsch commented on #364
@spyhunter99, here is what I used on a sample project. The caveat is that the project needs to be under Git VCS. The plugin uses Git for repo relative link resolution. Also for completions you need to invoke the completion twice to switch completions to repo relative `/src/...` link format. That way completion will be changed to `images/...`

![sampleimagemap](https://cloud.githubusercontent.com/a

[2017-01-16 00:48] spyhunter99 commented on #364
interesting, autocomplete isn't working in this context for me. I do get the popup but it just says "No suggestions". windows 10 with 16.3.2 community.

i can get realtive links in the markdown (../resources/images/something.png) to render, but even after applying your screen shots, it's still not working. Could it perhaps be a version difference?

[2017-01-16 01:00] vsch commented on #364
@spyhunter99, I tried it on Windows XP but with a latest plugin. Are you using version 2.3.0? I can release an EAP of the latest that I used for the test to see maybe it is some fix affecting it. I will post a link here.

For Autocomplete you need invoke it twice (hit the auto complete key twice) to switch to repo relative format '/...' and for images it has to be image links `![]()` to make it lo

[2017-01-16 01:03] vsch commented on #364
@spyhunter99, new EAP released. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-01-16 01:11] spyhunter99 commented on #364
It is a git repo. 2.3.0.10 is now installed same deal :(

[2017-01-16 01:16] vsch commented on #364
@spyhunter99, can you post screenshot of your link map config so I can double check it. Maybe something is missing.

1. Is it a single VCS root project or multi-root project? Each VCS root resolves repo relative links relative to its root.

I will try to think of what else could be affecting it in the project configuration.

[2017-01-16 01:21] spyhunter99 commented on #364
single git repo, no sub modules or any other VCS in place. screener coming

[2017-01-16 01:24] spyhunter99 commented on #364
![markdown3](https://cloud.githubusercontent.com/assets/1975321/21968253/a5907ed6-db60-11e6-8978-64bf7cf4ec01.PNG)
![markdown issue1](https://cloud.githubusercontent.com/assets/1975321/21968251/a58d664c-db60-11e6-86b0-19b1fcf4f3f6.PNG)
![markdown2](https://cloud.githubusercontent.com/assets/1975321/21968252/a58f69d8-db60-11e6-93cc-e64bc5fad315.PNG)

[2017-01-16 01:27] vsch commented on #364
@spyhunter99, I see nothing wrong. I uploaded my test project. Can you download it and unzip it then open it and see if it is working. It will at least allow us to see if it is system related or project config.

https://github.com/vsch/idea-multimarkdown/raw/master/assets/site-sample.zip

[2017-01-16 01:33] spyhunter99 commented on #364
it's different.
![image](https://cloud.githubusercontent.com/assets/1975321/21968357/dc773d9e-db61-11e6-9384-304372210636.png)

[2017-01-16 01:34] spyhunter99 commented on #364
oh hang on

[2017-01-16 01:35] vsch commented on #364
@spyhunter99, just realized that you have the basic version and this functionality requires enhanced features because it needs the AST tree parsing for the full markdown: Get a trial license https://vladsch.com/product/markdown-navigator/try and it should work.

[2017-01-16 19:59] vsch commented on #364
@spyhunter99, I am curious if the solution worked for you?

[2017-01-16 22:19] spyhunter99 commented on #364
yup that did it. thanks

[2017-01-17 07:23] jalopez commented on #362
Thanks for the update. Now works perfectly 👍

[2017-01-17 08:21] fulopattila122 opened #365 "PhpStorm - Highlight preview element settings doesn't persist between sessions"
Hello,

here's a tiny little bug (I guess). The title should tell it all, but also see this short video demonstrating it:
https://youtu.be/RD7SsA-MZyc

[2017-01-17 13:28] vsch commented on #365
@fulopattila122. thank you for reporting it. Confirmed that the setting is lost when the IDE restarts. Investigating it now.

[2017-01-17 14:35] vsch commented on #365
@fulopattila122, EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-01-17 22:09] bkimminich opened #366 ""Unknown emoji" error reported for timestamp"
![image](https://cloud.githubusercontent.com/assets/3531020/22042048/c6358da2-dd09-11e6-85ae-f81ae29a73a0.png)

⌚️ != 😃

----

😛

[2017-01-18 01:50] vsch commented on #366
@bkimminich, emoji shortcuts are between two colons. If I can think of a good constraint to eliminate common two colon constructs I will add it to the parser not to interpret these as emoji shortcuts.

I will add this case to the list. For now you can safely ignore it. 😁

[2017-01-18 09:42] fulopattila122 commented on #365
Thank you, that was fast :) I confirm that it works on my end as well.

[2017-01-18 09:42] #365 closed

[2017-01-19 18:08] #332 closed

[2017-01-19 18:20] vsch opened #367 "Jekyll include tag parsing and processing"
@neoaddix, jekyll include tag parsing and rendering of included content is added for next release.

For include tags only the $ProjectFileDir$/_includes is searched for completion and reference resolution.

The only catch is that if the file is Markdown it should have a markdown extension so that it will be parsed and any reference able elements are added to the document.

If you need to absolutel

[2017-01-19 19:57] vsch commented on #367
@neoaddix, EAP update with a this feature is available. Also added reference search for references to elements of included files from including files.

To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-01-20 18:09] tomjohnson1492 opened #368 "Right margin setting not honored with soft wrap"
I have soft wrap enabled, but the Markdown Navigator plugin isn't honoring the right margin setting that I specify. Is this a bug, or is there another way to adjust where the content wraps? The default column is too narrow.
![rightmargin](https://cloud.githubusercontent.com/assets/6385062/22160020/765540a2-def8-11e6-8995-11e7e364bff9.png)
![rightmargin2](https://cloud.githubusercontent.com/assets/

[2017-01-20 18:13] vsch commented on #368
@tomjohnson1492, please check markdown code style to make sure you have default checked for the right margin settings. Otherwise, markdown has its own margin.

<img width="920" alt="screen shot 2017-01-20 at 1 10 38 pm" src="https://cloud.githubusercontent.com/assets/10299086/22160129/0b1107bc-df12-11e6-8ce4-268ef488a95b.png">

[2017-01-20 18:17] tomjohnson1492 commented on #368
ahhh, that works. I hadn't set that margin setting. Thanks!

By the way, it seems like there are two Right Margin settings. One at Code Style, and another at Code Style > Markdown.

[2017-01-20 18:17] #368 closed

[2017-01-20 18:18] vsch commented on #368
@tomjohnson1492, the right margin at Code Style applies to all languages, Markdown also provides its own since chances are good that you don't want the same margin for code and docs.

[2017-01-20 18:21] vsch commented on #368
@tomjohnson1492, Markdown has many IDE settings that it overrides because the IDE settings don't always make sense for Markdown. Trim Trailing spaces is one, soft wrapping is another. The former is in Code Style > Markdown and the latter in Languages & Frameworks > Markdown.

[2017-01-22 12:39] vsch opened #369 "HTML to Markdown and Markdown to HTML intention actions"
Actions to convert: image link (Multi-Line URL images), Tables, Definition List to HTML and also to convert HTML to Markdown.

[2017-01-22 12:39] vsch commented on #369
EAP 2.3.0.16 has this feature implemented.

[2017-01-22 12:51] vsch commented on #132
@JimStearns206, latest EAP 2.3.0.16 has intention actions to convert markdown to HTML for image links and vice-versa. Specifically, multi-line URL image links, tables and definitions are supported. So you can convert to Markdown multi-line URL, edit and validate then when you are done use the Markdown To HTML intention to covert it to URL encoded image tag that should work with all markdown parser

[2017-01-22 20:01] vsch opened #370 "Export Markdown to PDF"

[2017-01-23 00:53] vsch opened #371 "HTML to Markdown conversion on Paste"
EAP update with HTML to Markdown conversion is available in EAP release. Now you can convert
HTML content copied from a browser to Markdown simply by pasting it into a markdown document.

To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for up

[2017-01-23 01:05] vsch commented on #276
@SemanticBeeng, EAP update with HTML to Markdown conversion is available in EAP release. Now you can convert HTML content copied from a browser to Markdown simply by pasting it into a markdown document. When you paste into Markdown document, the available clipboard content is checked for text/html and if available this is converted to markdown and used for the paste. No selection stuff. Most of th

[2017-01-23 01:16] vsch commented on #256
@bmsantos, EAP update with HTML to Markdown conversion is available in EAP release.

I implemented HTML to Markdown parser in the [flexmark-java](https://github.com/vsch/flexmark-java) project so this functionality is available in OSS if desired.

Now you can just select the HTML in the browser preview of the Jira issue and paste it into Markdown to get automatic Markdown conversion. I think this

[2017-01-24 03:53] vsch opened #372 "Missing toolbar buttons for new style elements added"
* subscript
* superscript
* underline/inserted text

[2017-01-24 03:53] vsch commented on #372
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-01-24 13:47] Vasiliy-Bondarenko opened #373 "Last PHPStorm EAP crashes on open any .md file."
[code]

[2017-01-24 13:51] vsch commented on #373
@Vasiliy-Bondarenko, EAP update with a fix for issue #362 is available. The cause is the same, all non-IDEA IDEs will have this issue.

To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-01-27 14:01] vsch opened #374 "EAP Plugin version Find Usages related functionality generates exception in 2016.3 and prior"
Use of 2017.1 EAP API not available in 2016.3 and prior.

[2017-01-29 02:07] bitshark commented on #373
I've run into a similar problem to the one referenced here in issue #373 as well as  the related issue #362.  I'm using Pycharm Professional version 2016.2.3.  In response to seeing
[code]
in the event log, After reading these two github issues, I enabled the early access program on the plugin, ran "check for updates" , then restarted Pycharm.  However, I'm still seeing the error, which is throwin

[2017-01-29 06:19] vsch commented on #373
@bitshark, yes the stack trace is caused by #362. The code causing it was removed in the EAP plugin release since it relies on API update only added to 2017 EAP IDE.

If you update to the EAP plugin channel your Markdown Navigator plugin version should be 2.3.0.20 (or higher if another EAP release is made in the meantime). You can see the version number in Languages & Frameworks > Markdown:

![scr

[2017-01-30 10:07] dotancohen opened #375 "Leading space on second-level headings not supported on nth heading."
When using line-style headings, all but the first second level heading are not recognized with leading spaces.

[code]

Note that the last heading is _not_ properly parsed as a heading in Markdown Navigator.

[2017-01-30 10:07] dotancohen commented on #375
First level heading
==========

 Second level heading
----------
Foo for:

* bar
* baz

 Another second level heading
-----------------

The foo has barred.

[2017-01-30 11:35] vsch commented on #375
@dotancohen, thank you for for the catch. I am assuming that you have the parser set for "GitHub" document compatibility since this is the only setting that exhibits this behaviour.

I will address it in [flexmark-java](https://github.com/vsch/flexmark-java#-flexmark-java) the parser used for the plugin.

The issue is the indent on the heading text that makes the heading a child element of the `ba

[2017-01-30 14:27] dotancohen commented on #375
Note that the Github issue tracker does in fact parse the code correctly:

First level heading
==========

 Second level heading
----------
Foo for:

* bar
* baz

 Another second level heading
-----------------

The foo has barred.

[2017-01-30 14:42] vsch commented on #375
@dotancohen, GitHub comments in issues and pull requests are CommonMark, GitHub Documents are GFM which is a bastardized version of original Markdown. CommonMark has no issues with the input and if you set the parser to CommonMark it will work.

The problem with GitHub doc emulation is that it is awkward to accomplish with CommonMark based parser architecture which is geared towards standard proce

[2017-01-30 16:42] #132 closed

[2017-01-30 16:42] #256 closed

[2017-01-30 16:42] #276 closed

[2017-01-30 16:42] #358 closed

[2017-01-30 16:42] #359 closed

[2017-01-30 16:42] #360 closed

[2017-01-30 16:42] #361 closed

[2017-01-30 16:42] #362 closed

[2017-01-30 16:42] #363 closed

[2017-01-30 16:42] #364 closed

[2017-01-30 16:42] #367 closed

[2017-01-30 16:42] #369 closed

[2017-01-30 16:42] #371 closed

[2017-01-30 16:42] #372 closed

[2017-01-30 16:42] #373 closed

[2017-01-30 16:42] #374 closed

[2017-01-30 19:54] dotancohen commented on #375
Thank you, I can work around the bug using CommonMark.

On which upstream library should I file the bug? I've looked through the `lib` directory but don't see anything relevant. Thanks.

[2017-01-30 22:35] vsch commented on #375
@dotancohen, I already opened a bug but it will not be fixed because it is idiosyncratic of the GitHub processor that affects de-normalized markdown formatting. https://github.com/vsch/flexmark-java/issues/51

[2017-01-30 22:47] vsch commented on #375
@dotancohen, to see how different markdown processors handle this input go to http://johnmacfarlane.net/babelmark2/?normalize=1&text=*+baz%0A%0A+Second+level+heading%0A---------------------

Only one, Black Friday, processes it like GitHub. The rest either handle it like commonmark or like flexmark-java handles it when set to GitHub.

[2017-02-02 13:09] vsch opened #376 "HTML to Markdown converter does not handle pre tags with inner span tags"

[2017-02-02 13:14] vsch opened #377 "Add Format conversion between list indentation types"
Need ability to convert between different list indentation processor types

To allow switching from another indentation type to the currently selected type:

<img width="894" alt="screen shot 2017-02-02 at 8 13 03 am" src="https://cloud.githubusercontent.com/assets/10299086/22550741/7cb4b87a-e91f-11e6-9615-f6c63bb70a24.png">

[2017-02-03 03:56] bmsantos commented on #256
@vsch, this is outstanding work!! :)
I'm not on an EAP version. In which official version will this be first released? I'm currently on Ultimate 2016.3.4.

[2017-02-03 10:55] vsch commented on #256
@bmsantos, latest plugin release 2.3.1 has this feature. There is a bug in conversion of syntax highlighted `<pre>` wrapped HTML #376 conversion to fenced code which will be released in the next EAP version of the plugin or official release 2.3.2 scheduled for release by Feb 14.

[2017-02-06 04:08] vsch commented on #376
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-06 04:08] vsch commented on #377
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-07 21:20] vsch opened #378 "Leading spaces on reference definition after the first would cause the reference to be processed as text."
[code]

will not parse second reference.

[2017-02-07 21:22] vsch opened #379 "HTML block content indent doubling on document format"

[2017-02-07 21:25] vsch opened #380 "Sorting of non-rendering elements should not be case sensitive"

[2017-02-09 12:09] cemerick opened #381 "'Wrap on Typing' setting doesn't apply in .md editors"
In the top-level 'Code Style' settings, I've selected a margin of 100, and enabled 'Wrap on Typing'. This works as expected in all other editor types, but seems to be ignored in .md buffers. The margin rule is drawn properly, but my typing rolls right through it without any wrapping.

[2017-02-09 12:16] vsch commented on #381
@cemerick Markdown has its own margin by default. Please see #368.

[2017-02-09 12:19] cemerick commented on #381
I tried ticking that 'Default' checkbox, with no change.

I see the "code style only available in enhanced edition" text; I presume that applies here.

[2017-02-09 12:21] vsch commented on #381
@cemerick, yes it does. Wrap on Typing requires full parse tree for Markdown which is only available in the enhanced edition. You can get a trial license at https://vladsch.com/product/markdown-navigator/try to enable all enhanced features for 15 days.

[2017-02-09 16:06] vsch opened #382 "JavaFX Preview is using project settings for Zoom and Grey Scale Antialiasing instead of scoped rendering profile"

[2017-02-09 18:52] vsch opened #383 "Absolute http:// links to wiki pages do not resolve to files"
Once a link to a wiki page is converted to http:// absolute format then it is no longer recognized as a link to file in the project

[2017-02-09 21:39] vsch commented on #383
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-09 21:39] vsch commented on #382
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-09 21:40] vsch commented on #380
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-09 21:40] vsch commented on #379
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-09 21:40] vsch commented on #378
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-10 00:49] vsch commented on #366
@bkimminich, I settled for not highlighting emoji shortcuts that contain all digits and are 2 digits in length.

[2017-02-11 15:07] vsch opened #384 "Add block quote level on ATX heading looses the heading prefix"

[2017-02-11 15:18] vsch opened #385 "Toolbar button tooltips should show reason for button being disabled."
In some cases it is difficult to figure out why a toolbar button action is disabled.

Now toolbar button tooltips show why a button is disabled.

[2017-02-11 23:52] vsch commented on #385
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-11 23:52] vsch commented on #384
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-11 23:54] vsch commented on #355
@danielgodard, latest EAP release adds reason why toolbar button is disabled. #385

To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-11 23:55] vsch commented on #366
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-14 14:19] #355 closed

[2017-02-14 14:19] #366 closed

[2017-02-14 14:19] #376 closed

[2017-02-14 14:19] #377 closed

[2017-02-14 14:19] #378 closed

[2017-02-14 14:19] #379 closed

[2017-02-14 14:19] #380 closed

[2017-02-14 14:19] #382 closed

[2017-02-14 14:19] #383 closed

[2017-02-14 14:19] #384 closed

[2017-02-14 14:19] #385 closed

[2017-02-14 14:20] vsch opened #386 "Markdown to PDF Export"

[2017-02-14 14:20] vsch commented on #386
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-14 14:21] #386 closed

[2017-02-15 10:09] dotancohen opened #387 "Exception: NoClassDefFoundError"
Markdown Navigator is throwing an exception when used with **PhpStorm EAP 2017.1**, but I'm not sure how to reproduce it. I'll simply find the exception in the IDE log without knowing exactly what happened to cause it.

This is the IDE:
[code]

Here is the stack trace in the hope that it will be useful:
[code]

[2017-02-15 11:35] vsch commented on #387
@dotancohen, it was a bug that was fixed in version 2.3.1.

[2017-02-15 19:44] vsch commented on #341
@yunti, state persistence added to JavaFX preview and GitHub Collapse Markdown modified to restore collapsed state of headings between file editing updates and file close/open actions.

Headings are not collapsed by default but you can always hold the SHIFT key as you collapse a heading and all sibling headings will also be collapsed.

EAP update with a fix for the issue is available. To enable EA

[2017-02-15 19:45] #341 closed

[2017-02-15 19:47] vsch opened #388 "JavaFX JS state persistence and GitHub Collapse Markdown to use it for heading collapsed state"
Now GitHub Collapse Markdown persists collapsed/uncollapsed state between file edits based on heading id of each heading concatenated with all higher level headings.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

T

[2017-02-15 20:13] vsch commented on #351
@bkimminich, you might find the new feature in the latest EAP useful. It is state persistence for GitHub Collapse Markdown script in Languages & Frameworks > Markdown > Stylesheet. This script converts all headings in preview into collapsible sections.

The latest EAP allows you to collapse/expand headings and persists the collapsed state across preview refreshes on document edit and file open/clo

[2017-02-16 10:27] yunti commented on #341
Brilliant thanks.  I'll try that out in the next few days.

[2017-02-20 06:50] dotancohen commented on #387
I see, thank you. I've upgraded and do not see the issue any longer.

[2017-02-20 06:50] #387 closed

[2017-02-20 20:18] mt3o opened #389 "Null Pointer Exception on"
Error happened just after starting IntelliJ 2016.3.2. Linux, Ubuntu

Can I do something with this or just disable the plugin for a while?

java.lang.NullPointerException
	at com.vladsch.idea.multimarkdown.util.DelimitedBuilder.append(DelimitedBuilder.java:149)
	at com.vladsch.idea.multimarkdown.editor.actions.DisabledConditionBuilder.<init>(DisabledConditionBuilder.java:56)
	at com.vladsch.idea.mu

[2017-02-20 20:28] vsch commented on #389
@mt3o, you can temporarily disable the plugin but I will be making an EAP release in a few minutes to address this bug. I will post instructions here for the updated distribution zip.

[2017-02-20 20:42] vsch commented on #389
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-20 21:37] vsch opened #390 "Copy Markdown as HTML formatted action is disabled unless there is a selection"
Workaround is to select the whole document with `Select All` to enable the action and copy the whole document.

[2017-02-25 19:11] bstout opened #391 "#anchor tags not working"
It seems anchor tags in .md docs don't resolve.

Simple case, atop "Inventor.md" is:
[Update] (Inventor.md#patch)

The #patch is red and doesn't resolve.
![image](https://cloud.githubusercontent.com/assets/742839/23334012/0d484086-fb4b-11e6-9635-7aa191e57dbf.png)

If I reference another .md, and in that .md is an anchor tag, it similarly doesn't resolve and find my anchor tag defined in .md as in:

[2017-02-25 19:36] vsch commented on #391
@bstout, HTML is not parsed for anchor tags. Only heading anchors created by GitHub, Jekyll and Kramdown are resolved. The plugin uses the same algorithm (trial and error determined) to create heading ids.

The anchor for a heading with `Update` text is `update` and you do not need to add one manually to have it resolve. You can also use completions to complete all anchors in a file.

These also p

[2017-02-25 20:17] vsch commented on #390
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-25 20:19] vsch opened #392 "Paste image link and save file when clipboard contains an image"
* Paste Images from clipboard directly into Markdown documents to inserts an image link or
  update links and save PNG image file thanks image utils library from
  [holgerbrandl/pasteimages]
  * caret context ops: insert image link, replace link, replace link target, replace image file
    content
  * image processing options with preview:
    * crop left, right, top, bottom settings
    * scale i

[2017-02-25 20:19] vsch commented on #392
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-02-27 17:27] #370 closed

[2017-02-27 17:27] #388 closed

[2017-02-27 17:27] #389 closed

[2017-02-27 17:27] #390 closed

[2017-02-27 17:27] #392 closed

[2017-02-27 20:37] BenLeggiero opened #393 "Crash when using "Find Action..." Help menu item"
[code]

[2017-02-27 20:42] vsch commented on #393
@BenLeggiero, this issue appears to be a duplicate of #389 which was fixed in the latest release 2.3.3.

Could you please confirm your plugin version. You can see it in settings:

![Screen Shot Settings Version](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_Version.png)

[2017-02-28 17:03] BenLeggiero commented on #393
![idea markdown settings](https://cloud.githubusercontent.com/assets/10189808/23415663/f2dcd80a-fdad-11e6-8529-e8693e5a2f2f.PNG)

[2017-02-28 17:56] vsch commented on #393
@BenLeggiero, thank you. Yes it is the same issue that was fixed in version 2.3.3. You should upgrade to the latest to get the fixes and new functionality such as direct image pasting into documents to insert a link and save image file and PDF export.

[2017-02-28 18:39] Javaru opened #394 "NullPointerException in MarkdownPasteHandler.doExecute()"
Getting a `java.lang.NullPointerException` in IDEA 2017.1 EAP (build #IU-171.3566.24) with Markdown Navigator v2.3.3. This appears to be a different stack trace than the recently reported and fixed issue #389.

[code]

[2017-02-28 18:53] vsch commented on #394
@Javaru, thank you for reporting this. It appears that virtual file is null, I have made an EAP release that fixes it by testing for null but in this case the image paste will do nothing.

Q: Under what condition does this occur?
Q: Is it an injected Markdown segment?

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://gi

[2017-02-28 22:44] vsch commented on #342
@yunti, Drag/Drop file from project tree to insert link is implemented in EAP 2.3.3.4.

* Add: File drag and drop into markdown document to create links, image files create image links
  the rest create inline links. Each file link will be added as a separately undoable command.

  If copy dragging images (Ctrl on Linux/Windows, ⌥ on OS X) then for image files the `Copy
  Image` dialog will open (

[2017-03-01 01:27] vsch opened #395 "Add Link format options for Paste Images and Drag N Drop file links"
* Add: Link Format option to `Paste Image` and `Copy Image` dialogs
  * Page Relative
  * Repo Relative (`/...`)
  * Absolute (`http://`)
  * Absolute (`file://`)

  ![ScreenShot_PasteImages_sm](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/ScreenShot_PasteImages_sm.png)
* Add: Link Format option to drag & drop non-image files if copy dragging (Ctrl on
  Linux/Windows, ⌥ on O

[2017-03-01 01:33] vsch commented on #395
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-03-01 09:28] holgerbrandl opened #396 "Remove unnecessary frame in preview"
The preview should not wrap content again, since the preview pane is part of the editor, so the user is always aware of the file name

![image](https://cloud.githubusercontent.com/assets/200952/23453698/9e5b64ec-fe69-11e6-8434-7bcd62304b5d.png)

It's more obvious in the fx-preview but also applies to the regular swing preview

[2017-03-01 09:31] holgerbrandl opened #397 "Good code is red: images links in non-project markdown files"
When opening non-project markdown files (e.g. by dragging them into idea or by using Idea's shell helper), image references are flagged as `Unresolved`.

However they are resolvable with respect to the document location in the filesystem and even the preview works:
![image](https://cloud.githubusercontent.com/assets/200952/23453812/04d68abc-fe6a-11e6-8188-095ab2d77edf.png)

[2017-03-01 09:44] holgerbrandl opened #398 "Poor alignment between source and preview when using "Sync source to preview""
It a perfect world they would be vertically aligned, but in our world it's _just_ ;-) :
![image](https://cloud.githubusercontent.com/assets/200952/23454163/b6380a64-fe6b-11e6-9799-bb6c907d79ce.png)

So still a lot of manual by-eye preview scanning is needed to find the caret position in the preview.

[2017-03-01 09:50] holgerbrandl opened #399 "Highlight search results in preview"
It would be awesome if the plugin could also highlight search results in the preview pane. Ie. yellow background for the search results hits also for the preview. Here's mockup for the expected result:
![image](https://cloud.githubusercontent.com/assets/200952/23454429/7bb3ec40-fe6c-11e6-90d1-a9acbf7e7d8a.png)

This would allow to actually use the preview more often. Especially when being combined

[2017-03-01 10:12] holgerbrandl opened #400 "Better code color consistency needed"
By default (I think at least), inlined code is red but chunk code is gray.

They should have the same color imho. Also showing inlined code bits in red, looks like an error which it is not.
![image](https://cloud.githubusercontent.com/assets/200952/23454728/76973f7c-fe6d-11e6-8330-4cbd7d29732c.png)

I know that I can change it under Editor->Color&Fonts, but having sensible defaults is imho better.

[2017-03-01 10:13] holgerbrandl opened #401 "Parser fails if code chunks contain mardkown header elements"
Example markdown code

[scratch_60.txt](https://github.com/vsch/idea-multimarkdown/files/810339/scratch_60.txt)

![image](https://cloud.githubusercontent.com/assets/200952/23455868/85c17a7c-fe71-11e6-975f-d1d9f8593835.png)

The 2 last lines are regular markdown, but the parser got confused when using a comment with a preceding leading line in the code-chunk.

Language injection is not needed, so y

[2017-03-01 10:44] yunti commented on #342
thansk I'll take a look,  will copy and paste image from clipboard work too? I often use the screenshot tool on osx.  Would this use the same dialogue for as for copy image to specify where to save the file?

[2017-03-01 14:44] vsch commented on #396
@holgerbrandl, the frame is there only to match the GitHub look. To turn it off de-select `Add Page Header`

![screenshot_html_pageheader](https://cloud.githubusercontent.com/assets/10299086/23464558/82e2945c-fe63-11e6-9c8d-ffa367ef8f54.png)

[2017-03-01 14:51] vsch commented on #397
@holgerbrandl, completions and resolution of links is done via file index which requires that the IDE considers them as project files otherwise it does not index these files.

The preview browser uses its own resolution rules which resolves files relative to the document location.

My solution so far has been to mark the root directories of these files as `Test Resources` root, then they will be i

[2017-03-01 14:53] vsch commented on #398
@holgerbrandl, thank you for stimulating me to make improvements. I love it.

I will add an option, enabled by default, to align (as much as possible) the editor caret vertical position and the highlight in preview. I think it is a great idea.

[2017-03-01 15:07] vsch commented on #399
@holgerbrandl, I wanted to do this for a long time. Not knowing exactly how to do it has put it on the back burner. Thank you for bringing it to the forefront.

I will look for the IDE API to get the search criteria so I can add it to flexmark-java library to have the generated HTML generates with highlighted text. This way both JavaFX and Swing preview will have this functionality.

[2017-03-01 15:09] vsch commented on #400
@holgerbrandl, I will change the defaults. I chose this color scheme to make inline code more visible so I can see where it is missing. You are right and I will customize my own scheme to do this.

[2017-03-01 15:11] vsch commented on #401
@holgerbrandl, this is a bug in the parser library that I will address in the EAP release shortly. I will post as soon as it is available.

[2017-03-01 15:18] vsch commented on #401
@holgerbrandl, temporary workaround is to switch list item parsing rules to CommonMark, it is an issue with GitHub parsing rules. I am fixing it now.

![screenshot_parser_lists](https://cloud.githubusercontent.com/assets/10299086/23466162/503981fa-fe68-11e6-83ef-487d9f8ccffd.png)

[2017-03-01 15:21] Javaru commented on #394
@vsch - Thanks for the fix and quick turn around on it.

It turns out this is a pretty serious bug. It happens anytime I try to paste text into various dialog boxes. For example, if I'm in the VCS "Commit Changes" and try to paste into the "Commit Messages" field, this NPE is thrown and I do not get my pasted text. (It happens regardless if I activate the paste action via Ctrl+V or via the context

[2017-03-01 16:14] BenLeggiero commented on #393
Thanks, @vsch. Odd it didn't auto-update. Seems to be fixed now!

[2017-03-01 16:15] #393 closed

[2017-03-01 16:38] vsch commented on #401
@holgerbrandl, I made an official release for the NPE bug on paste and the fix for parser fix is part of it. If you update the plugin to version 2.3.4 then parsing will work correctly with GitHub list processing.

[2017-03-01 16:39] #342 closed

[2017-03-01 16:39] #394 closed

[2017-03-01 16:39] #395 closed

[2017-03-01 16:39] #401 closed

[2017-03-01 19:40] vsch commented on #398
Now there is an option to vertically align synchronized position in Preview Settings, selected by  default.

![verticalalignscroll](https://cloud.githubusercontent.com/assets/10299086/23477725/eae6dd3c-fe8c-11e6-9099-9853e55f1362.gif)

[2017-03-01 19:43] vsch opened #402 "PDF Export action fails silently if no text is selected in document instead of exporting the full document."
Export PDF does nothing if there is no selection in the document.

It should export the full document instead.

Workaround is to select all then export.

[2017-03-01 19:45] vsch commented on #400
Also changed copy Markdown as HTML formatted text and PDF export to align inline code color with indented and fenced code.

BTW, I found the bug #402 in PDF export which expects a selection of text to export, if there is no selection it does nothing instead of exporting the document. This too will be fixed in the next EAP plugin release. A workaround is to select all before exporting PDF.

[2017-03-01 20:26] vsch commented on #402
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-03-01 20:27] vsch commented on #400
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-03-01 20:27] vsch commented on #398
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-03-01 22:16] vsch opened #403 "Indented code in list items not indented enough with GitHub list parser option"
GitHub requires 8 space indentation from list item marker, not 4 spaces from content indent

Minimize indent code style for indented code did not take list processing option into account causing indented code to loose the extra indentation and turning it into paragraph text

[2017-03-01 22:43] vsch opened #404 "Conversion from CommonMark or FixedIndent to GitHub does not properly indent code blocks in list items"
Indented code blocks in list items for GitHub Doc format require 8 spaces from list item marker not 4 spaces from content indent.

flexmark-java Formatter bug.

[2017-03-02 03:25] vsch commented on #399
@holgerbrandl, figured out how to get search panel information and notifications when this changes. Tomorrow I will add code to highlight search results.

No way for me to get excluded elements so the search results will be results of the search through the document text.

I will have to regenerate the HTML with highlights every time the document changes or search criteria change. Text in preview

[2017-03-02 08:37] holgerbrandl commented on #396
How could it I miss it?! Thanks for helping out.

Since github is just a very special use-case the default should imho be the other way round.

[2017-03-02 08:37] #396 closed

[2017-03-02 08:39] holgerbrandl commented on #401
This was amazingly quick :-). Thanks a lot for the great support!

[2017-03-02 09:06] holgerbrandl commented on #398
It's a great addition to the plugin and works pretty well already.

A minor improvement (actually it's a bug imho) would be to also sync the position if a user clicks in the preview to jump back to the editor (aka "Synchronize source to preview on click"). Currently the caret to preview synchronicity is lost when doing so.

[2017-03-02 09:06] holgerbrandl commented on #399
Sound like a great improvement to me. Just let me know when I could try/test it via EAP.

I would guess that in 99% of the time users don't bother with element exclusion when searching stuff.

[2017-03-02 09:10] holgerbrandl commented on #400
Cool, pdf export works for me as well now.

Code chunks are much more consistent now.

* backticks still use inconsistent colors
* lists asterisks are still red and look like errors to me (because red==error in intellij)

![image](https://cloud.githubusercontent.com/assets/200952/23500455/651a5784-ff30-11e6-986f-be08c62154d8.png)

[2017-03-02 12:24] vsch commented on #398
@holgerbrandl, clicking in preview moves the caret in source to the line and then aligns the preview to position in source. Here is the preview to source sync by clicking in preview:

![verticalalignscroll2](https://cloud.githubusercontent.com/assets/10299086/23506989/f7ce7fe6-ff18-11e6-8ec2-adc9f4d3d9fc.gif)

What are you seeing when clicking in preview?

[2017-03-02 14:09] bstout opened #405 "Reformat Document margin"
Perhaps I'm missing the setting - the nice feature I just discovered to reformat the .md doc looks to wrap the text at column 73.  I see in IJ for code style the margin I have set to 120 so it must be pulling this value of 73 from somewhere else.

I'd like to reformat the doc, but not have the lines chopped too narrow.

[2017-03-02 14:29] vsch commented on #405
@bstout, Format documentation is found in
[Document-Format-Options](https://github.com/vsch/idea-multimarkdown/wiki/Document-Format-Options)

Markdown has its own margin by default since it is highly likely that you do not want the same
margin setting for documentation as code. If you want the IDE right margin to apply to Markdown
documents select `default` under `Right margin`:

Another thing to

[2017-03-02 15:32] larvanitis opened #406 "2.3.4 Breaks drag and drop of text"
Since updating to the latest version of Markdown Navigator, when I drag and drop some text:

1. The selection disappears, as expected
2. The text does not appear where I drop it, like it should

This leads to lost text.

See https://youtrack.jetbrains.com/issue/IDEA-168934 for the original report.

PS. Disabling this plugin fixes it.

[2017-03-02 16:08] vsch commented on #406
@larvanitis, thank you for the report. I will make a fix and post an EAP plugin release with the fix.

[2017-03-02 16:48] SmedbergM commented on #406
+1

[2017-03-02 18:08] vsch commented on #406
The issue turned out to be an assumption in the IDE editor implementation about what other interfaces are implemented by the PasteHandler. Oops. Extra interface implemented and bug fixed.

This release also has file drag/drop from project tree to markdown document to create links. Copy drop action (Ctrl or Mac Alt) only available when `Replace Editor Drag and Drop Handler` (disabled by default) is

[2017-03-02 21:48] holgerbrandl commented on #398
1. Clicking in the preview scrolls the preview, which feels odd (why would/should it?). If possible the preview should keep its scroll position when being clicked.
2. content seems always properly aligned on preview clicks when "highlight preview element" is set to "line" but fails to align correctly in 1 of 20 clicks when using "block" or "line". That's at least how I perceive it.

I'd think that

[2017-03-02 23:20] vsch commented on #399
@holgerbrandl, here is the result so far. Need to clean up some code and it will be ready for EAP, may have a few bugs.

![searchhighlight](https://cloud.githubusercontent.com/assets/10299086/23531513/bd4e5056-ff74-11e6-8c9c-9cead19f006c.gif)

[2017-03-03 01:32] vsch commented on #399
@holgerbrandl, EAP available

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-03-03 01:36] vsch commented on #398
@holgerbrandl, clicking in preview moves the caret in the document. Because the option to vertically align source and preview caret position is set this in turn causes the preview to scroll.

If I can figure out how to handle it without creating a state machine hell in the code I will prevent the preview scroll right after a preview click caret move but all these things happen asynchronously on bo

[2017-03-03 05:35] vsch commented on #399
@holgerbrandl, each feature leads to another feature. :) Another EAP released.

I think you will like this one. I find it very convenient:

![previewhighlights](https://cloud.githubusercontent.com/assets/10299086/23539349/ba9489e6-ffa8-11e6-84cc-67c56f6662be.gif)

To customize colors add these selectors to your custom CSS text (modify style to your liking):

[code]

![image](https://cloud.githubus

[2017-03-03 05:47] holgerbrandl commented on #399
Once it's enabled, it works just great. Thanks a lot! Its a  super handy feature and gives MN another clear edge over JB MS.

It took me a while to realize that it's not enabled by default. Why would anyone not like it enabled by default? Personally I would not even have added a settings item for it at all.  Imho the MN is a bit too obsessed with configurability and should rather go for convention

[2017-03-03 05:54] holgerbrandl commented on #398
Indeed it's a state machine problem for which there is no easy solution I guess. Even so, the improved preview alignment is a great improvement, I was just getting picky. :-)

[2017-03-03 05:54] vsch commented on #399
@holgerbrandl, could be configuration, although I have it enabled by default. Could be a bug or a version diff. I have not tested on anything but IDEA, RubyMine, PyCharm and PhpStorm may have quirks that I will need to debug.

I try to make defaults acceptable but I add options because there is always someone with a system that under performs or they just don't like it.

Is it enabled on your syst

[2017-03-03 06:00] vsch commented on #398
@holgerbrandl, the state machine I could handle. Here there is the async issues and the fact that you think you are looking at a preview page but every doc change and now selection or search change loads a new page as far as JavaFX is concerned. I have to try and make it display after load as exact as I can the way it was displayed last so you don't notice the reload.

To add to the problems, not

[2017-03-03 06:14] vsch commented on #399
@holgerbrandl, just tried RubyMine, PyCharm, WebStorm, PhpStorm all 2016.3 and all had selections working. What IDE and version are you using?

I am developing on latest 2017 EAP and tried PhpStorm 2017 too. All worked. Are you getting any exceptions?

[2017-03-03 07:29] holgerbrandl commented on #399
IntelliJ IDEA Ultimate 2016.3.4. Anyway I figured it out. You pushed out another EAP after the EAP with the search highlighting, which I had not installed. Now I can see the additional settings entry as well, and the selection highlighting works like charm.

[2017-03-03 10:55] blowsie opened #407 "Plugin error when loading project."
I dont know what the end result of this error is, It just frequently happens when I open my project using Webstorm latest. Webstorm throws a notification for the error.

[code]

[2017-03-03 13:03] vsch commented on #407
@blowsie, thank you for reporting this. It is an issue when pasting into non-editor. It has been fixed in version 2.3.4.  #394

[2017-03-03 13:04] vsch commented on #407
@blowsie, please install latest version to fix this issue.

[2017-03-03 14:17] #407 closed

[2017-03-08 12:16] holgerbrandl opened #408 "Intellij crashes when pasting word content into markdown document"
Not sure why, but the plugin is crashing IJ (like being not responsive anymore and requiring a forced quit) when pasting the contents from the attached word file into the markdown editor.

MacOS 10.12.3
MS Word 15.30

IntelliJ IDEA 2016.3.5
Build #IU-163.13906.18, built on March 6, 2017
Licensed to Max-Planck-Institut fuer Molekulare Zellbiologie und Genetik / holger brandl
You have a perpetual fa

[2017-03-08 12:22] holgerbrandl opened #409 "Incorrect spacing in rendered lists"
Using the following markdown code,
[code]
I get the following preview when using version  2.3.4.8:
![image](https://cloud.githubusercontent.com/assets/200952/23703830/2c452a84-0402-11e7-81fa-c391f0377dd7.png)

Imho there's unintended space after "Equipment". Or do I miss some part of the Markdown language specs?

[2017-03-08 17:56] vsch commented on #409
@holgerbrandl, welcome to GitHub Document processing idiosyncrasies. Here is a document created with your source and displayed on GitHub:

![image](https://cloud.githubusercontent.com/assets/10299086/23716293/b3419b30-03fd-11e7-87c7-606627005eb4.png)

You can turn off this idiocy-ncrasy in Parser settings by de-selecting the `GitHub loose list item rules` but then the document will not display cor

[2017-03-08 18:59] vsch commented on #408
@holgerbrandl, the paste in Markdown document tests to see if the clipboard has a "text/html" clipboard content representation. There is something in the HTML for this file that causes a bug in HTML to Markdown parser.

I don't have MS Word 15 for OS X, I will add text/html trace functionality into the next release that will dump the text before parsing HTML to the log so I can debug what is being

[2017-03-08 19:07] holgerbrandl opened #410 ""Invalid file" Exception when network drive disappears"
I got this exception upon IJ frame activation when a network drive got lost meanwhile.
[code]

Not a big deal for me, but having a plugin being blamed by IJ for throwing an uncaught exception does not make a good impression to some endusers I guess.

[2017-03-08 19:14] holgerbrandl commented on #408
Just let me know once I should retest it. In general pasting from MS office products under MacOS seems a bit off. Like when pasting from Excel
![image](https://cloud.githubusercontent.com/assets/200952/23719405/8b12040e-043b-11e7-949b-46717324bb79.png)
So my test table was copied and ended up totally wrong in MD even if the IJ clipboard detected a correct plain text version of my current clipboard

[2017-03-08 19:15] vsch commented on #410
@holgerbrandl, there are many instances when a plugin is blamed for IJ internal state changes.

Trying to catch all possibilities in the plugin code is hopeless.

In this case there is a virtual file associated with an editor document. The network drive goes away and the file is now marked invalid. When this virtual file is passed to a JetBrains API call an exception is thrown that it is not valid

[2017-03-08 19:18] vsch commented on #410
@holgerbrandl, the virtual file is obtained from `FileDocumentManager.getInstance().getFile(editor!!.document)` call in which case the IDE should probably return null instead of returning an invalid virtual file.

I'll add a test but this seems like a kludge.

[2017-03-08 19:53] vsch commented on #408
@holgerbrandl, the hang is due to a bug that causes an infinite loop in the parser by forgetting to skip an element which is not being recognized. I am building a version that will allow pasting HTML that would be converted to Markdown so that your paste will give the HTML that I can use to debug.

It will be useful when you don't want to convert to Markdown right away. The HTML to Markdown intent

[2017-03-08 19:56] holgerbrandl commented on #409
I don't see why gh would call this a feature, looks more like a bug to me. Anyway thanks for the info and the settings item.

[2017-03-08 19:56] #409 closed

[2017-03-08 19:58] holgerbrandl commented on #410
As said before, it's not bothering me in any way, I just wanted to share it with you.

[2017-03-08 19:58] vsch commented on #409
@holgerbrandl, I agree and can cry over a long list of "features" that I had to find by trial and error and then wrestle with mimicking in my rendering.

At least they switched to CommonMark for issue and pr comments. Before that their parser would be even weirder than for documents.

Markdown only looks simple at first glance.

[2017-03-08 20:00] vsch commented on #410
@holgerbrandl, please keep letting me know. I will address as many and as fast I can. I was just pointing out that chances of me catching all cases where this type of network drop out would be addressed is slim to none.

In this case I removed the virtual file reference and using the PsiFile which has its own virtual file. Hoping that this will allow the IDE to handle it better, although no guaran

[2017-03-08 20:11] holgerbrandl commented on #408
I'm not sure if you should even try to overcome issues in text/html representations. No parser in the world will cover all imaginable versions of broken html. The example above looks like one of those broken cases to me.
Falling back to plain-text pasting in case txt/html representation is not well-formed (with respect to e.g. w3c markup validation) seems totally legit to me.

[2017-03-08 20:52] vsch commented on #408
@holgerbrandl, I agree. Next version will have this disabled. However, it is very convenient to have it working, especially from the browser. So now it is a configurable option that can be enabled when needed. Detecting when the HTML is too malformed to use is also difficult.

EAP available with two new settings that disable text/html detection on the clipboard disabled by default and allow to dis

[2017-03-09 10:55] holgerbrandl opened #411 "Network drives links are not resolved correctly"
Relative link suggestions/resolver results are correct for local files but fail on network drives (ie smb shares on macos sierra.

![image](https://cloud.githubusercontent.com/assets/200952/23747086/b9514d06-04be-11e7-84d1-da27dbe40338.png)

As shown in the project view (and the terminal screenshot to be sure), the `foo.md` is present in the same directory as `bar.md` but not resolvable.

![image]

[2017-03-09 13:10] vsch commented on #411
@holgerbrandl, I will need to setup SMB share to a windows share to see where it fails. Could be assumptions about path format that is not met on a share and causes the matching regex pattern used for filtering files is wrong for a shared drive.

The missing leading / is not a problem because the format you have for completions is `file://` which removes the prefix from completion list display str

[2017-03-09 13:13] vsch commented on #411
@holgerbrandl, are the shared files under a VCS root?

The only files that appears is the file itself which is there for self-reference link completion and not really part of a search match.

[2017-03-09 14:56] holgerbrandl commented on #411
No, the directory is not under any kind of version control. But the effect
is the same for me when using VCS control on the directory.

Under macos files from mount points should be not distinguishable from
local paths.

Vladimir Schneider <notifications@github.com> schrieb am Do., 9. März 2017,
14:13:

[2017-03-09 17:19] vsch commented on #411
@holgerbrandl, the plugin uses only the JetBrains Open API for gathering files. The only factor is the regular expression used to filter paths that is constructed but in the case of an empty link the completion is using the project directory prefix which is probably causing the issue for the files to be filtered out.

Is this a module in a project that is located in another directory? If this is t

[2017-03-10 18:22] vsch commented on #411
@holgerbrandl, I think I found the issue. It has to do with trying to complete a link with `http://` addressing format. Since the file you are trying to link to is not under VCS the plugin does not know how to convert it to this addressing mode.

I created a project with a module from another volume. The module is not under VCS. When I use page relative completion I see the file in the completion

[2017-03-10 18:27] vsch commented on #411
@holgerbrandl, correction to above the external module is under VCS, removing the VCS root from config removes all files from completions. While under VCS the links complete but only in non-http format.

I am going to investigate the logic that causes the latter. I will also try to figure out if there is a logical solution to resolving modules which are outside the project directory and not under

[2017-03-10 19:50] holgerbrandl commented on #411
I'm not sure if I can follow. The file that I'd like to reference is in the same directory. This directory was added as a content root to the idea module, and all it's files and subdirectory are correctly listed in the project tool-window. From a my naive user perspective it should imho not matter if VCS if used or not. The completion provider should "just" get the parent directory of the markdown

[2017-03-10 20:34] vsch commented on #411
@holgerbrandl, yes I concur. It took me a long time to wrap my brain around the difficulty of mapping file system path to GitHub link variations through many iterations of implementation (four or five if I remember). Another reason is historical evolution of the code with some limitations left in from previous implementations.

The main difficulty comes from the fact that link resolution is done a

[2017-03-11 05:38] vsch commented on #411
@holgerbrandl, I think I got it to work in a way that makes sense.

EAP available. Now it will handle inter vcs-root links if file:// or http:// and also handle modules not under project root. Intra module links can be page or repo relative or file://. If it is under vcs with remote URL then also http://.

Also fixed a lot of bugs where the code assumed that an http:// link was either current file

[2017-03-11 23:42] vsch commented on #408
@holgerbrandl, was able to get this duplicated by installing my older version of MS Office. EAP updated please let me know if your issues have been resolved.

[flexmark-java](https://github.com/vsch/flexmark-java) library used for parsing updated with fixes for the hang and the incorrect table parsing from Excel:

### 0.18.2

* Fix: #76, HTML to Markdown hangs if comments included in Text nodes

*

[2017-03-11 23:47] vsch commented on #408
@holgerbrandl, now this is the result from Excel:

![image](https://cloud.githubusercontent.com/assets/10299086/23827817/d895e65e-068a-11e7-90e8-000af5189f05.png)

Need to have HTML automatically converted to markdown since it has a lot of blank lines which break up the HTML blocks if it is inserted as HTML into markdown. Select `Convert HTML content to Markdown` in settings/preferences to get thi

[2017-03-11 23:55] vsch commented on #408
@holgerbrandl, here is the result of paste with conversion to Markdown of your crash file:

![image](https://cloud.githubusercontent.com/assets/10299086/23827836/776e0766-068b-11e7-95b6-2648b8a20b32.png)

![image](https://cloud.githubusercontent.com/assets/10299086/23827842/8e426734-068b-11e7-9d7f-d99e70e0f5b6.png)

Numbered lists:

![image](https://cloud.githubusercontent.com/assets/10299086/2382

[2017-03-12 03:52] vsch opened #412 "Add Copy/Modify Image intention action to allow modifying existing image from link"
This will load the image from the image link, local or URL and open the Copy/Paste Image dialog to allow modifying it and its storage location.

[2017-03-12 03:52] vsch commented on #412
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-03-12 03:54] vsch opened #413 "Add Copy Modified Image to Clipboard in the Copy/Paste Image dialog"
This allows replacing the image on the clipboard, with or without saving it into a file.

  ![Screen Shot Paste Image](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_PasteImage_sm.png)

[2017-03-13 07:18] holgerbrandl commented on #408
The word paste crash issues is solved for me as well, the inserted bits use a tab instead of a space which breaks the list rendering:
![image](https://cloud.githubusercontent.com/assets/200952/23844836/ee7073f0-07c4-11e7-928a-3da4923f9c96.png)
 However, for me it's perfect already and easy to correct with column edit

The excel table paste now brings up the "paste image" instead.
![image](https://

[2017-03-13 13:19] vsch commented on #408
@holgerbrandl, I will address both the tab and the image paste pop-up. I had the image dialog pop-up once but was not able to duplicate it, so assumed it was a glitch. I will ignore the image on the clipboard if HTML is enabled option is enabled and available on the clipboard.

The tabs I will convert to spaces during HTML to Markdown conversion.

[2017-03-13 14:47] vsch commented on #408
@holgerbrandl, the list conversion you are seeing is standard IDE text paste not the plugin HTML to Markdown conversion. If you enable the two options:

![image](https://cloud.githubusercontent.com/assets/10299086/23859553/5e4ad1d8-07da-11e7-96a7-3b682ee7ff03.png)

for HTML clipboard handling then you will get:

![image](https://cloud.githubusercontent.com/assets/10299086/23859540/4d02d3b2-07da-11

[2017-03-13 14:59] holgerbrandl commented on #408
oh, now it works. Not sure why I disabled the option in the first place. Potentially to overcome the now-fixed crash bug I guess. The list compression button is very handy.

[2017-03-13 15:04] vsch commented on #408
You also have an intention to clean up empty list items, sometimes HTML to Markdown can create these:

![image](https://cloud.githubusercontent.com/assets/10299086/23860202/a0f8fbca-07dc-11e7-9020-fa348516442d.png)

To get:

![image](https://cloud.githubusercontent.com/assets/10299086/23860222/b535140c-07dc-11e7-800a-fbf40fe292b6.png)

[2017-03-13 15:15] vsch commented on #408
@holgerbrandl, EAP released with fix giving mime text/html clipboard content higher priority over images if `Use clipboard text/html content when available` is enabled. This will take care of the image paste of Excel copied table instead of Markdown table.

I think that this version should work with Excel tables for your excel version. May need some editing for tables with a lot of cell formatting

[2017-03-13 21:29] holgerbrandl commented on #408
Thanks Vladimir for your amazing support. Both features work as described now.

It was quite a ride, but I think the issue is resolved now. :-)

[2017-03-13 21:34] vsch commented on #408
Complexity of creating full featured JetBrains plugins is greatly underestimated. 😄

[2017-03-16 00:06] leventov opened #414 "Exception when starting IDEA"
[code]

[2017-03-16 17:21] vsch commented on #414
@leventov, thank you for reporting this. It occurs when there is a delayed action in a project and the project is closed before the action is triggered.

It is fixed for next release. For now you can safely ignore this error.

[2017-03-17 14:47] vsch opened #415 "Setting default right margin in code style markdown settings disables wrapping"
When default is selected for right margin in code style > markdown the right margin should be the right margin defined in the IDE. Instead text wrapping is disabled.

[2017-03-17 15:04] vsch commented on #415
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-03-17 15:04] vsch commented on #414
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-03-17 15:05] vsch commented on #404
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-03-17 16:47] SpencerBrown opened #416 "NPE version 2.3.4 (w/license)"
I typed:

[code]
 and got NPE:

[code]

[2017-03-17 17:01] vsch commented on #416
@SpencerBrown, thank you for reporting it.

It appears from the stack trace that it is a timing issue between typing and the parse tree. The list item has no children even though this is not possible because it has to have at least the list item marker node as the first child.

I added a test for this so it does not cause an exception if this occurs. For now ignore it if it occurs again.

[2017-03-21 08:19] holgerbrandl opened #417 "Allow to apply atx/setext quickfix to all occurences in file"
It would be great if the quickfix could be applied to all occurrences in a file
![image](https://cloud.githubusercontent.com/assets/200952/24138127/440d4bf0-0e17-11e7-8e8b-d6ba69b71ebd.png)

Similar to how java-quickfixes can be applied to a complete file
![image](https://cloud.githubusercontent.com/assets/200952/24138146/56dc09b0-0e17-11e7-80bf-a11f130e4b77.png)

[2017-03-22 14:31] eacquah opened #418 "Causes problems with drag and drop"
Enabling this plugin stops the drag and drop feature causing PHPstorm to delete code rather than move it

[2017-03-22 14:36] vsch commented on #418
@eacquah, thank you for reporting this. It is a duplicate of #406 which has a fix available.

[2017-03-24 22:29] vsch opened #419 "Bread crumbs broken when running in 2017.1"
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-03-25 03:21] vsch commented on #417
@holgerbrandl, I am looking into the API so I can figure out how to implement this. If you have any idea where to start looking please let me know. I will also post a question on plugin dev for advice.

[2017-03-25 21:33] holgerbrandl commented on #417
That's a good question. For actual inspections (i.e. subclasses of com.intellij.codeInspection.LocalInspectionTool you get it automatically if a corresponding LocalQuickFix is defined. However for com.intellij.codeInsight.intention.IntentionAction's the "Fix all" is also missing in my R-plugin. Let's see what the JB folks say in the forum.

[2017-03-25 21:35] vsch commented on #417
@holgerbrandl, I think I saw an adapter from LocalQuickFix to IntentionAction in the API, maybe there is one for the reverse or I can rewrite intentions as local quick fixes and use an adapter to turn them into extensions.

[2017-03-26 00:27] Javaru opened #420 "java.lang.IllegalStateException: node.treeNext must not be null"
I got the following exception in IntelliJ IDEA v2017.1 (build 171.2780.107) with Markdown Navigator 2.3.4.30. Unfortunately I am not sure what action specifically triggered the exception as I did not notice it immediately.

[code]

[2017-03-26 01:06] vsch commented on #420
@Javaru, thank you for the report. It is an error that would depend on the markdown contents. Most likely you got it while typing.  I fixed it for next release. Too much reliance on compile time kotlin null warnings.

I will make an EAP release tomorrow with the fix.

[2017-03-27 11:57] #398 closed

[2017-03-27 11:57] #399 closed

[2017-03-27 11:57] #400 closed

[2017-03-27 11:57] #403 closed

[2017-03-27 11:57] #404 closed

[2017-03-27 11:57] #406 closed

[2017-03-27 11:57] #408 closed

[2017-03-27 11:57] #410 closed

[2017-03-27 11:57] #412 closed

[2017-03-27 11:57] #413 closed

[2017-03-27 11:57] #414 closed

[2017-03-27 11:57] #415 closed

[2017-03-27 11:57] #416 closed

[2017-03-27 11:57] #418 closed

[2017-03-27 11:57] #419 closed

[2017-03-27 11:57] #420 closed

[2017-03-27 11:57] #402 closed

[2017-03-28 17:09] vsch opened #421 "NoSuchFieldError on startup after upgrading plugin on IDEs version 2016.1"
This is caused by an API change between 2016.1 and 2016.3 that is not caught by the plugin.

This can be safely ignored since it occurs once after an update to a new plugin version.

Upgrading the IDE to a more recent version such as 2016.3 or 2017.1 will also eliminate this error.

[2017-03-28 17:36] timothymdavis opened #422 "Preview doesn't appear to use the accepted IntelliJ Server Certificates"
Images in preview are broken for custom certificates. IntelliJ provides a way to define accepted certificates under Preferences > Tools > Server Certificates.

Some certificates seem to work just fine. For instance, https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png won't cause an issue, since browsers support some root certificate authorities right out of the box.

[2017-03-29 00:29] vsch commented on #422
@timothymdavis, thank you for reporting this. I will take a look at how JavaFX WebView can be customized to recognize other server certificates.

The plugin uses WebView and is not involved in its internal workings. I will have to find if there is an API to customize the security handling.

[2017-03-29 01:51] vsch opened #423 "Duplicate Spell check errors on same word"

[2017-04-02 00:09] vsch opened #424 "NoClassDefFoundError in WS 2017.1"
[code]

[2017-04-03 08:29] blowsie commented on #265
For me, the parser does not render a TOC
![image](https://cloud.githubusercontent.com/assets/308572/24601242/0ecbc4ba-1850-11e7-86d8-61a26c25f93f.png)

[2017-04-03 18:39] vsch commented on #265
@blowsie. the table of contents needs to be updated to generate the contents for the tag.

You can either use the update table of contents intention

![image](https://cloud.githubusercontent.com/assets/10299086/24624893/3a806ec8-187b-11e7-8fe6-573e8eb06544.png)

Or set the Code Style > Markdown options for TOC to update generated text on format and also to format on save so that the TOC will be up

[2017-04-04 07:13] blowsie commented on #265
Thank you 😃

[2017-04-04 23:22] vsch opened #425 "Add Heading anchor ID display in editor"
Option will display the heading id after heading text and application setting option to enable this

When enabled:

![image](https://cloud.githubusercontent.com/assets/10299086/24683204/ac2508c2-196b-11e7-95c1-badf06c4e5a3.png)

Disabling returns to normal:

![image](https://cloud.githubusercontent.com/assets/10299086/24683194/9ae09d74-196b-11e7-94b1-4ba3a34d0bd0.png)

Option in Languages & Framew

[2017-04-04 23:33] vsch commented on #421
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-04-04 23:33] vsch commented on #424
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-04-04 23:34] vsch commented on #425
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-04-07 10:20] blowsie opened #426 "Cannot add images from clipboard or drag and drop"
![recording](https://cloud.githubusercontent.com/assets/308572/24796265/3bb67b32-1b84-11e7-8476-75ccd9ba4c0e.gif)

[code]
[code]

[2017-04-07 22:43] vsch commented on #426
@blowsie, thank you for reporting this. It is a bug. I will address it ASAP and make an EAP release with a fix.

[2017-04-08 20:01] vsch commented on #426
@blowsie, sorry its taking longer than I anticipated. The cause of the bug is improper handling of file paths under windows for this code. It took a while to setup Windows 10 dev environment so I can work under windows to fix this. I should have a fix by tomorrow.

[2017-04-09 02:41] vsch commented on #426
@blowsie, fixed. Tested on Windows XP and Windows 10.

Also added an application wide page zoom setting (Languages & Frameworks > Markdown) which is non-shared setting. This allows changing preview page zoom for the installation instead of the project preview zoom.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://githu

[2017-04-10 12:46] codekiln opened #427 ""Find" / Cmd+F Keyboard Shortcut Breaks Editor With This Plugin"
In PyCharm 2017.1, using the latest version of the markdown plugin, if I use Cmd+F (Mac) to search the readme document, the entire document turns to a blank rectangle, and it needs to be closed and reopened to continue editing it.

I uninstalled the markdown plugin, and find works just fine again.

[2017-04-10 14:19] vsch commented on #427
@codekiln, was there an exception? Do you have a stack trace that you can post here?

[2017-04-10 14:43] vsch commented on #427
@codekiln, I was not able to duplicate this in PyCharm 2017.1 and 2017.1.1 RC for both plugin version 2.3.5 and 2.3.5.4 eap.

If you try the eap plugin version 2.3.5.4 and do get an exception can you please send the exception report so I can see what is causing the problem.

To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/

[2017-04-11 07:44] Guilouf opened #428 "Lack of encoding declaration when exporting in html"
There is a missing `<meta charset="UTF-8">` in the html code preview. This does not cause any problem to view inside the jetbrains IDE, but when putting the html code in a html file, obviously some chars did not display properly.

[2017-04-11 16:30] vsch commented on #428
@Guilouf, thank you for the report. I will make the change to HTML export and make an EAP release with the fix shortly.

[2017-04-11 16:43] vsch commented on #428
@Guilouf, you can use a workaround by manually adding the meta tag to HTML Generator tab of your export profile or to the project HTML Generator if you have export defined in the project profile:

![image](https://cloud.githubusercontent.com/assets/10299086/24920227/7e420f10-1eb4-11e7-966f-3ef67ecfe2d4.png)

[2017-04-11 16:50] vsch commented on #428
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-04-12 18:45] Guilouf commented on #428
Thank for the tips!

[2017-04-12 18:45] #428 closed

[2017-04-14 22:58] Javaru opened #429 "Scrolling Issue after swtiching from split view to preview"
(v2.3.5.6 on v2017.1.2 EAP build #IU-171.3780.107)
I was editing a document in split view. After Switching to "Show Preview Only", the screen did switch to the preview, but when I scrolled, the document preview view was split down the middle with only the left side scrolling.  I'm using the JavaFX WebView with a "Default preview type of "HTML Preview"

![image](https://cloud.githubusercontent.com/

[2017-04-14 23:08] Javaru commented on #429
Note that the issue went away after a restart of IDEA. So its hard to know what sequence of events lead to the issue. Intermittent bugs are so much "fun" :(  If I find any way to reliably reproduce it, I'll let you know.

[2017-04-15 00:31] vsch commented on #429
@Javaru, it appears to be some timing issue in JavaFX WebView. I have encountered it a few times and it would go away after turning off preview and turning it on again and modifying the file so the preview is refreshed. I think it happens if the preview size is modified while an update is in progress.

[2017-04-15 12:00] thekalinga opened #430 "Add support for KaTeX"
Currently there is no way to write math formulas in markdown documents.

If you add support for [KaTeX](https://github.com/Khan/KaTeX), it will be much easier for people to mix markdown with LaTeX.

KaTeX performs far better than MathJax.

[Source](http://www.intmath.com/cg5/katex-mathjax-comparison.php)

[2017-04-15 14:12] vsch commented on #430
@thekalinga, support for LaTeX in markdown depends on the final markdown processor and adding it to the plugin will not help unless the plugin is used to generate the final HTML. This is the reason I have not been able to settle on a LaTeX implementation.

The plugin does allow for processor independent way of displaying LaTeX using a web service in an image URL:

[code]

GitHub does not display s

[2017-04-16 07:15] thekalinga commented on #430
Did u check this?

https://github.com/mjbvz/vscode-markdown-katex

One of the developer on vscode added support for katex (on experimental basis)

[2017-04-17 01:51] johnsoftek opened #431 "Single line breaks in list item generates a <br/>"
List items should be allowed to continue over multiple source lines with the line breaks treated as "soft". The generated HTML should auto-flow the list item content without inserting ```<br/>``` for each line break.

Note that the treatment of line breaks is not consistent across all Markdown renderers. Notably, Github does ignore single line breaks as does this online Markdown editor: http://dil

[2017-04-17 16:51] vsch commented on #431
@johnsoftek, you need to de-select `Hard Wraps` option in parser settings. Please see issue #91

[2017-04-17 20:49] vsch commented on #430
@thekalinga, the issue with adding LaTeX support to the plugin is the decision on which syntax to use since GitHub does not support LaTeX and there is no standard yet for this extension.

Since the plugin is used for GitHub preview with a few users using it for Jekyll projects I would lean more towards using a Jekyll compatible implementation so it is at least usable for some user's application pr

[2017-04-18 05:47] QueenBeeSC commented on #341
How do I create collapsible headers with <details> ? When I try to add the hashtags inside <details> <summary>##New User</summary> it doesn't translate as a header anymore. Also the content inside the collapsible section isn't reading as markdown with the GitHub pages as it does in the preview? I am very new to markdown and I am learning as I go, any help will be much appreciated.

[2017-04-18 17:13] vsch commented on #341
@QueenBeeSC, GitHub syntax for headings requires a space between the last `#` and the heading text and it must be on a line by itself.

As for not processing Markdown in block HTML, it is a limitation of GitHub. One way to get around it is to force the `<details>` tag to be processed as inline HTML by prefixing it with some text, at least `&nbsp` so that the block is parsed as a paragraph instead

[2017-04-18 22:19] johnsoftek commented on #431
@vsch That works. Thank you.

[2017-04-18 22:19] #431 closed

[2017-04-21 12:20] holgerbrandl commented on #411
With  v2.3.5.8 `file://` links are still flagged in red whereas `http://` ones are not
![image](https://cloud.githubusercontent.com/assets/200952/25277064/77dc031a-269d-11e7-9cd5-e450430e8593.png)
It does not make a difference if they start with `file:///` or just `file://`.

The referenced file exists but does not belong to any IJ module.

[2017-04-21 17:33] vsch commented on #411
@holgerbrandl

[2017-04-21 17:35] vsch commented on #411
@holgerbrandl, the http: links are only checked for validity if they point to a GitHub project URL. Otherwise they are not checked.

The file:// link shows that it does not exist because it points to a file not under the project root so the IDE indexing does not cover this file.

[2017-04-21 20:43] holgerbrandl commented on #411
Wouldn't the regular java.io.File API to test local URLs? I don't understand why all references must sit under a project root. Having an external link is not an error, and should imho no displayed as such (i.e. b by tagging it as missing/unresolved).

[2017-04-21 20:52] holgerbrandl commented on #411
Wouldn't the regular java.io.File API able to test local URLs? I don't understand why all references in a markdown file must sit under a project root. In my experience there's not just source code but always also some not-vcs-controlled data which needs to referenced. Having an external link is not an error, and should imho not be displayed as such (i.e. by tagging it as missing/unresolved).

[2017-04-22 01:17] vsch commented on #411
@holgerbrandl, you are right about not displaying as an error since no checking can be reliably done. Going to the File test method would only solve the error highlight issue and not help with completions which require indexed files.

I will add a test for file:// prefixed links that are not part of any module root to exclude these from being highlighted as errors.

[2017-04-22 01:50] vsch commented on #411
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-04-22 10:03] holgerbrandl commented on #411
Thanks for the quick update.

I don't fully agree: file URLs always correspond to absolute filesystem paths, so plugin could actually indicate if a file URL is valid or not. File URLs referring to non-existing files could/should imho be marked in red (second example in screenshot).

![image](https://cloud.githubusercontent.com/assets/200952/25303409/ac7353ca-2752-11e7-929f-9b8f044ac930.png)

[2017-04-24 20:37] SUPERCILEX opened #432 "Add a way to disable the startup notification"
### This is the one I'm talking about BTW:

![untitled](https://cloud.githubusercontent.com/assets/9490724/25357560/20cbf4ec-28f3-11e7-8bcf-e986ac980976.png)

[2017-04-25 09:40] TobseF opened #433 "Support external links for the Link Map (eg. JIRA link)"
I want to recognize our JIRA links which are in the format: `[ITS-123]`.
So when I click on such an link, the browser should open the corresponding link (http://jira.somedomain.com/browse/ITS-123).
Is it possible to handle a link to a external website with the link map feature?

I already tired it in the style of (Link Ref element):
_Element Text Pattern_: `\[ITS-(\d){1,5}\]`
_To File Reference_:

[2017-04-25 14:35] blowsie opened #434 "Spellchecker context menu is duplicated"
WebStorm 2017.1.1
Build #WS-171.4073.40, built on April 11, 2017
JRE: 1.8.0_112-release-736-b16 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.

![image](https://cloud.githubusercontent.com/assets/308572/25390874/b3b21852-29cc-11e7-8e61-afcf7b1fe069.png)

---
I have confirmed this does not happen with other file types.

[2017-04-25 14:36] blowsie commented on #434
Sorry I did search for this issue before posting this issue, however I found this one after.

#423

feel free to close

[2017-04-26 20:35] HappyHamster opened #435 "Table formatting broken"
Can't get tables to format properly for the love of me.

![image](https://cloud.githubusercontent.com/assets/7311675/25455195/93de629a-2ad7-11e7-9b59-c837165fb62a.png)

Expected result is obviously different, but I can't even scheenshot the expected because there's no way I can make it to format property even if I turn auto-formatting off. In syntax colors preview formatting is also consistently b

[2017-04-26 22:57] vsch commented on #435
@HappyHamster, This could be an issue with the font character width handling. I tried this without it and with it on a OS X and in both cases there was proper alignment.

There is another setting that can affect formatting in general and table layout specifically:

![image](https://cloud.githubusercontent.com/assets/10299086/25460371/1e07a6b0-2ab1-11e7-9cc4-21708e816a35.png)

Can you please try th

[2017-04-26 23:32] HappyHamster commented on #435
Yup, these were the first things I've tried :)

Setting the setting of OFF without changing font makes zero difference to the point I'm not even sure it re-renders/re-parses the content when I apply settings, so I re-open file and type something in the table with auto formatting ON to force it reformat.

I've tried using Droid Sans Mono with both setting OFF and ON, setting makes no effect, I do s

[2017-04-26 23:40] HappyHamster commented on #435
Ok I pinned-down the issue. In my style settings the ---- splitter between header and table is set to BOLD, if I set it to regular I don't have an issue:

![image](https://cloud.githubusercontent.com/assets/7311675/25461601/8bbe2224-2af2-11e7-985f-a44fb5c23fdf.png)

Also the caret behaves as expected while navigating vertically between lines. Could you however still check if this is me-specific is

[2017-04-26 23:41] vsch commented on #435
@HappyHamster, yes that would make a difference since the formatting code does not use font style. I will add it to the documentation and keep it in mind. From the screenshots it is not visible that the bold style is used.

[2017-04-26 23:45] HappyHamster commented on #435
I would advice to prohibit the setting altogether

![image](https://cloud.githubusercontent.com/assets/7311675/25461727/49672690-2af3-11e7-93d7-0bcde5a12c89.png)

It would not have ever crossed my mind to seek for the solution in documentation because it's does look like a bug and behaviour is difficult to describe in some google'able terms.

[2017-04-26 23:47] vsch commented on #435
@HappyHamster, disabling the setting might be more difficult than it appears. This part of the UI is provided by the IDE.

I will take a look to see if some solution is possible.

[2017-04-26 23:53] HappyHamster commented on #435
Thank you.

Also would be much appreciated if there was a button/shortcut to "add column to the left of current". I know now (after reading the docs) that you can just start typing at the end of line to add column, but it's not intuitive. The mind is looking for a button/shortcut because there IS in fact a button to add to column the left.

I totally understand why it's designed that way (you NEED

[2017-04-27 00:02] vsch commented on #435
@HappyHamster, I can add the buttons/actions for additional functionality. The show stopper has been toolbar space. It is already quite big. I need to add ability to hide/show button configuration that would allow each user to customize the toolbar.

Do you mean add a column to the right of the current column? Since adding to the left already exists. Inserting a column is only needed to insert one

[2017-04-27 00:12] HappyHamster commented on #435
@vsch toolbar space didn't cross my mind cause I'm on a 4k monitor lol :) But it's a good point I guess. Built-in top-level IDEA toolbars are customazible, but not sure you can get this functionality for free for a non-top-level bar.

Personally I would drop bolt/italic etc from the toolbar if they were mapped to defaults instead of Meta+B (which doesn't work on my system at all, probably due to r

[2017-04-27 00:17] HappyHamster commented on #435
@vsch Yes I meant when I start a table, I click "insert table" which gives me a template, then i start filling up headers and first thing i want to do is to insert another column the same way i just created a table, as in my mind it's a part of table design process sort of. Then when I will be filling the rows, I am obviously not expecting to be editing content via a popup or button, I expect that

[2017-04-27 00:22] vsch commented on #435
@HappyHamster, the insert table is really needed because it takes 2 lines of text before the table is recognized. Thereafter, auto-formatting handles the other stuff other than insert column between existing columns, that was the reason why the other functionality was not added.

Another option would be a table editor that will let you edit a table in a spreadsheet type editor.

I will add all of

[2017-04-27 00:31] HappyHamster commented on #435
@vsch Yup I totally understand the logic behind, your decision making is vastly driven by technical necessity of having a button because not everything can be easily (or at all) inferred from pure text input.

But, the last point to I want to add to this wall of text is that I am a markdown-retard :)

Meaning I do NOT know markdown that well, so I use your plugin to EXPLORE what markdown has to of

[2017-04-27 14:43] ogradyjd opened #436 "Header link results in bad Table of Contents entry formatting"
A few versions ago, if I had a header like this:
`## [ChangeLog](doc/changelog/ChangeLog.md)`

It would result in a Table of Contents entry `3. ChangeLog` that linked to the target instead of the header.

In the GFM preview, the Table of Contents entry looks fine, but the generated TOC markdown code is wrong:
`3. [[ChangeLog](doc/changelog/ChangeLog.md)](#changelog)`
and looks like this on Github:

[2017-04-27 17:27] vsch commented on #435
@HappyHamster, it is a good point to address. I will look into adding features to help users not fluent in markdown syntax.

[2017-04-27 17:28] vsch commented on #436
@ogradyjd, thank you for reporting this. It appears to be a bug. The table of contents entry should not render embedded links. I will fix it and make an EAP release.

[2017-04-27 17:32] vsch commented on #433
@TobseF, the link map is only applied to explicit link addresses. The syntax you are using requires automatic creation of link ref definitions. At the moment this is not supported. I will take a look at how this can be added and let you know when it is implemented.

[2017-04-27 19:27] vsch commented on #434
@blowsie, thank you for reporting this. I am still in the process of trying to find the condition under which this occurs.

If you have a snippet of Markdown that shows this bug can you please post it here so I can duplicate this for debugging.

[2017-04-27 19:55] vsch commented on #436
@ogradyjd, issue fixed but it also requires that TOC is generated without formatting information:

![image](https://cloud.githubusercontent.com/assets/10299086/25501799/f78270d6-2b61-11e7-8dd8-2ec2cc7da7b8.png)

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/

[2017-04-27 19:57] vsch commented on #432
@SUPERCILEX, this is only supposed to pop-up after an update to a new version or a new installation. Are you getting it every time you start the IDE? If you are then this is a bug.

[2017-04-27 20:16] SUPERCILEX commented on #432
@vsch Yup, just restarted Intellij and the `2.3.5.10` notification is still there. It's really kinda annoying actually.

[2017-04-27 20:29] vsch commented on #432
@SUPERCILEX, thank you for the information. I found the bug.

The information about the version is stored in the markdown_navigator.local.xml file in IDE settings `options` subdirectory. This file holds all non-shared local settings for the plugin.

The line holding the information is the following:

    <WasShown licensedAvailable="true" lastFeatureUpdateVersion="2.3.5.12" lastLicensedAvailableVe

[2017-04-27 20:34] SUPERCILEX commented on #432
@vsch Awesome, thanks!!!

[2017-04-27 20:40] vsch commented on #432
@SUPERCILEX, you are welcome and thank you for reporting it.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-04-27 20:41] SUPERCILEX commented on #432
@vsch Thanks, I was already in the EAP I enjoy your plugin so more more than JetBrains'. Thanks for the great work!

[2017-04-27 20:46] vsch commented on #432
@SUPERCILEX, please send me your name and e-mail to my `vladimir at vladsch dot com` address and I will send you a complimentary license. If you think you are enjoying the plugin now you will be surprised at how much more enjoyable it is with all the IntelliJ smarts features enabled.

BTW, the nag about licensed features was a suggestion from a user who was shocked by the difference in the license

[2017-04-27 21:10] SUPERCILEX commented on #432
@vsch Aw man, getting a free license would be awesome!!! Haha, can't wait to try out the pro version if it's just _that_ good! 😁

PS: I sent you the email.

[2017-04-28 10:12] blowsie commented on #434
I will try and share something next time it comes up. Interestingly right now, I have no spell checking working at all

[2017-04-28 10:15] blowsie commented on #434
I just discovered with the same text in PHPStorm this is not and issue, like it is in WebStorm

[2017-04-28 10:16] blowsie commented on #434
Here is an example file that causes this error
[code]

[2017-04-28 10:17] blowsie commented on #434
Perhaps WebStorm matches more than one of the following
- Code
- Literals
- Comments

![image](https://cloud.githubusercontent.com/assets/308572/25524911/4f22b84e-2c04-11e7-87ab-9d11c119ac0e.png)

[2017-04-28 14:24] holgerbrandl opened #437 "GitHub Switched Document Processing to CommonMark"
![image](https://cloud.githubusercontent.com/assets/200952/25532863/0cd3fe96-2c2f-11e7-8ad6-3d99a1cb3b31.png)
It should show a bullet list for the last 2 items.

[2017-04-28 15:48] ogradyjd commented on #436
Awesome.  Love the plugin.  I'm trying to get the entire team at Comcast using it.

[2017-04-28 15:48] #436 closed

[2017-04-28 19:56] vsch commented on #437
@holgerbrandl, you need to select CommonMark list item processing in parser options.

![Screenshot_Parser_Lists](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/Screenshot_Parser_Lists.png)

I just checked and it appears that GitHub has switched their document processing to CommonMark from what it used to be, the preview you are seeing was the correct rendering for GitHub D

[2017-04-28 19:59] vsch commented on #437
@holgerbrandl, btw if you had documents formatted for old GitHub Doc and want to change over to CommonMark you need to switch the parser option to CommonMark then go to tools menu and select the change from GitHub Doc format:

![image](https://cloud.githubusercontent.com/assets/10299086/25545172/a318d4ca-2c2b-11e7-97e3-0b9f4e8308bf.png)

[2017-04-28 20:19] holgerbrandl commented on #437
Oh, not a bug then. :-) Indeed changing the mode "fixes" the rendering. Thanks!

[2017-04-28 20:19] #437 closed

[2017-04-28 20:24] vsch commented on #437
Not a bug but I have a feeling I will need to address it to save a lot of user confusion and bug reports.

[2017-04-30 01:30] vsch opened #438 "Markdown Syntax Change looses TOC element in source"
Using the change markdown format to another type looses simulated TOC element.

[2017-04-30 22:05] vsch commented on #434
@blowsie, thank you for the extra information. However, I am not able to duplicate the issue which only means that there is some other required condition for this bug to be activated.

It could also be related to IDE implementation changes making it version dependent.

[2017-05-01 01:01] #421 closed

[2017-05-01 01:01] #424 closed

[2017-05-01 01:01] #426 closed

[2017-05-01 01:01] #427 closed

[2017-05-01 01:01] #432 closed

[2017-05-01 01:01] #438 closed

[2017-05-02 17:02] vsch opened #439 "Backslash in Fenced Code content can cause exception"
Erroneous parsing of escape sequence in fenced code causes parser exception under some conditions.

[2017-05-02 17:02] vsch commented on #439
Emergency release to fix this exception bug.

[2017-05-02 17:02] #439 closed

[2017-05-02 17:33] vsch opened #440 "Autolinks should not appear in fenced code"
Parser erroneously processing auto-links in fenced code block content

[2017-05-02 22:18] vsch commented on #411
@holgerbrandl, latest eap 2.3.7.2 will highlight these types of links if the file is missing. Intentions on these links are not supported. Only missing highlight is implemented.

[2017-05-02 22:39] vsch commented on #433
@TobseF, latest EAP has this functionality added to Link Map via "Reference" element type. You can create it by pressing + on the tree view then select "Reference" link type and "Jira Reference" for initial content:

![image](https://cloud.githubusercontent.com/assets/10299086/25641866/6e210b48-2f64-11e7-9712-8d6bbbb29676.png)

Change "jira.somedomain.com" to your specific location:

![image](http

[2017-05-02 22:42] vsch commented on #375
@dotancohen, GitHub recently changed its document processing to CommonMark so this is no longer an issue.

[2017-05-03 07:03] holgerbrandl commented on #411
I've just tried it and it works like charm. Thanks for your great support.

[2017-05-03 07:12] holgerbrandl opened #441 "false positive typo annotation in header"
For some reason words followed non-word characters (!, ?, .) in headers (and just there) are tagged as typo

![image](https://cloud.githubusercontent.com/assets/200952/25650925/75ecc6a6-2fe0-11e7-9567-9b35816627b0.png)

MN version: 2.3.7.4

[2017-05-03 08:41] dotancohen commented on #375
Terrific, thanks for keeping up. I need to build the latest Markdown Navigator and I'll mark this as closed as soon as I've built and tested.

Thank you.

[2017-05-03 09:26] TobseF commented on #433
Thank you for the fast reply with the update. It works and its the feature I needed.
A little improvement would be to also support link opening with ctrl + click in the editing window.

[2017-05-03 23:19] vsch commented on #441
@holgerbrandl, I tried it on intellij-community master branch build and I am not getting this nor in IDEA 2017.1.2 nor 2016.3, nor PyCharm 2017.1.2

What IDE and version is this in? The plugin passes the text to the IDE for spell checking, without breaking it up on any characters. I suspect it is an issue in the IDE code.

[2017-05-04 00:09] vsch commented on #435
@HappyHamster, I added a "Insert Table Column on Right" action and toolbar button and changed the previous insert column action to show that it adds a column on the left.

![image](https://cloud.githubusercontent.com/assets/10299086/25686451/52eb5652-303c-11e7-8e6e-cdbc9524c3db.png)

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Chan

[2017-05-04 06:48] holgerbrandl commented on #441
IntelliJ IDEA 2017.1.2
Build #IU-171.4249.39, built on April 25, 2017
Licensed to Max-Planck-Institut fuer Molekulare Zellbiologie und Genetik / holger brandl
Subscription is active until January 25, 2018
JRE: 1.8.0_112-release-736-b16 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.4

Not sure what other  info to provide. It's flagged as typo just in markdown headers (both

[2017-05-04 22:47] vsch commented on #441
@holgerbrandl, just realized that I missed a critical detail of text in Headings. I can duplicate this so I will take a look at the cause.

[2017-05-05 15:31] vsch opened #442 "Image Paste in Windows always pastes absolute file:// regardless of selection"
Forcing the link to be relative renders correctly in the preview, but the editor complains about the path and when exporting to PDF the image is missing.

[2017-05-05 17:46] vsch commented on #442
Fixed file://... on Windows not resolving. The correct URI for Windows is file:/...

Also made URI links on windows default to file:/.... instead of file://....

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then m

[2017-05-05 18:19] vsch commented on #441
@holgerbrandl, found the bug. For elements that can have references IdentifierSplitter was used to split text for spellchecking but for Markdown TextSplitter should be used since these elements are text and not Camel case identifiers.

EAP 2.3.7.10 has this issue fixed.

[2017-05-06 17:38] kirilenko opened #443 "Doesn't work synchronised scrolling between the left and right (preview) views"
Doesn't work synchronised scrolling between the left and right (preview) views

[2017-05-07 00:02] vsch commented on #443
@kirilenko, this functionality is available in the licensed version with the options enabled. You can get a free trial license to enable the functionality https://vladsch.com/product/markdown-navigator/try

![screenshot_settings_previewsourcesynchronization](https://cloud.githubusercontent.com/assets/10299086/25776795/c22eb91c-3296-11e7-8825-a7a56f7a2b00.png)

[2017-05-07 06:06] kirilenko commented on #443
Thanks

[2017-05-11 09:30] holgerbrandl commented on #397
Also in module-included vcs-versioned markdown files relative links are tagged as errors:

![image](https://cloud.githubusercontent.com/assets/200952/25942440/2589cb42-363d-11e7-955b-65fc995ebf93.png)

IntelliJ IDEA 2017.1.2
Build #IU-171.4249.39, built on April 25, 2017
Licensed to Max-Planck-Institut fuer Molekulare Zellbiologie und Genetik / holger brandl
Subscription is active until January 25

[2017-05-16 09:03] HaasJona opened #444 "Markdown Navigator 2.3.7 breaks paste of github checkout url"
I'm unable to paste (ctrl+v) an url into the url box in the "VCS->Checkout from version control->Github" dialog in IDEA 2017.1.2. But only when Markdown Navigator 2.3.7 is installed.

For details see here: https://youtrack.jetbrains.com/issue/IDEA-172916

[2017-05-16 13:32] vsch commented on #444
@HaasJona, thank you for reporting this bug. It is caused by the plugin paste handler erroneously skipping paste if the project passed in the data context is null.

It has been fixed for next release. EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenS

[2017-05-18 13:19] holgerbrandl opened #445 "there should no be default language injection in bare code chunks"
For some reason there's syntax highlighting in bare code chunks. But since no language is defined after the triple-backtick there should be none.

![image](https://cloud.githubusercontent.com/assets/200952/26203847/1e474814-3bdd-11e7-993d-cb81de6c25ef.png)

[2017-05-18 13:41] vsch commented on #445
@holgerbrandl, HighlightJS tries to guess the language when one is not supplied. I will add an attribute to fenced code without language and indented code blocks to not try to guess a language.

[2017-05-18 18:22] vsch commented on #397
@holgerbrandl, seems to depend on the project structure. Simple attempt to duplicate this failed.

Is the module under a project directory or located at another location?

[2017-05-18 23:08] chrullrich opened #446 "How does HTML export really work?"
I'm having trouble getting the HTML export working:

* When I have a Markdown file open and click  the "Export Markdown as HTML" menu item, nothing happens.
* If I click the button for "Export rendered HTML as per rendering profile", one HTML file and various JS and CSS files are exported.
* If I then use the above menu item again, the previously exported files are deleted, and nothing further hap

[2017-05-18 23:25] chrullrich opened #447 "Exported HTML has unexpected CSS and JS URLs"
HTML files exported from Markdown contain really weird CSS and JS URLs, which prevent either from working at all (intervening lines deleted):

    <link rel="stylesheet" href="../../../../..//C:/Daten/Projekte/E/ExportHTML/css/multimarkdown_layout-fx.css">
    <link rel="stylesheet" href="../../../../..//C:/Daten/Projekte/E/ExportHTML/css/multimarkdown_default-fx.css">
    <link rel="stylesheet" h

[2017-05-19 09:03] bkimminich opened #448 "Auto-format breaks Jekyll metadata"
Using the _Format_ button in documents that contain Jekyll-metadata (e.g. for GitHub pages) will break the metadata so that it cannot be interpreted by Jekyll any more.

## Example
### Before auto-format
![image](https://cloud.githubusercontent.com/assets/3531020/26240773/81348144-3c82-11e7-959f-64ab4fba17d6.png)

### After auto-format
![image](https://cloud.githubusercontent.com/assets/3531020/26

[2017-05-19 09:13] bkimminich opened #449 "Strikethrough not rendered in preview"
Using the strikethrough syntax of GFM will show in the editor but not the rendered preview:
![image](https://cloud.githubusercontent.com/assets/3531020/26241183/0ffbb34c-3c84-11e7-8670-2dff6664085e.png)

[2017-05-19 11:25] vsch commented on #448
@bkimminich, you need to enable the `Jekyll front matter` parser option. Without it the source is parsed as a thematic break followed by a level 2 heading.

![Screenshot_Parser_Settings](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/Screenshot_Parser_Settings.png)

[2017-05-19 11:31] vsch commented on #449
@bkimminich, this is caused by source line highlighting in preview which wraps each source line in `<span>` tag. When the inline tag is split across lines this messes up the preview HTML parsing.

You should set the highlight preview element to BLOCK to prevent this from happening.

![Screenshot_Settings_PreviewSourceSynchronization](https://github.com/vsch/idea-multimarkdown/raw/master/assets/ima

[2017-05-19 11:42] vsch commented on #446
@chrullrich, the menu item triggers export for all files configured to export on save. It will also delete any exported files that are no longer exported on save.

The toolbar button does it for the current file regardless if it is configured to export on save.

You can configure export settings using "Profiles" and IDE scopes to control which files (or directories) should be exported and with wha

[2017-05-19 13:09] vsch commented on #447
@chrullrich, it looks like a bug in Windows path resolution.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-05-19 14:03] holgerbrandl commented on #397
It's a single module project, with the module being located in the project-directory. However, the mentioned markdown file sits in another content-root which I have added to the module:
![image](https://cloud.githubusercontent.com/assets/200952/26251120/7cbf353a-3cac-11e7-8d84-080da48f9304.png)
From an idea  perspective it's still part of the module, and is listed under "project" in the project-to

[2017-05-19 14:50] bkimminich commented on #448
Seems I failed at RTFM once again... 😇

Thank you!

[2017-05-19 14:50] #448 closed

[2017-05-19 14:51] bkimminich commented on #449
Thanks, I'll change that setting!

[2017-05-19 14:51] #449 closed

[2017-05-19 19:15] chrullrich commented on #447
Fixed. Thanks for the quick turnaround!

[2017-05-19 19:15] #447 closed

[2017-05-19 19:19] chrullrich commented on #446
Hm. I'm not sure if I get it now, but thanks for explaining again. I think I will understand it if I think about it again.

[2017-05-22 13:12] pguichon opened #450 "Generate plantuml pycharm"
hi.
Sry for my bad english.
Thx for your awesome works.

I have a bug with plant uml.

I wrote this :

![alt](https://g.gravizo.com/g?
 @startuml
 actor "Informatique" as dev
 actor "Personnel administratif" as administratif
 actor "Personnel pédagogique" as professeur
 actor "Etudiant" as etudiant
 node "pfsense"
 node "serveur client léger" as serveur_client_etudiant
 node "serveur client léger"

[2017-05-22 15:34] vsch commented on #450
@pguichon, the limitation in the plugin is that no blank lines are allowed in the multi-line URL because a blank line ends the paragraph that contains the image link.

Also, you need to add semicolons at the end of lines. The following works:

[code]

[2017-05-22 20:42] pguichon commented on #450
it's works thx

[2017-05-22 20:42] #450 closed

[2017-06-02 10:03] linux-china opened #451 "Any plan to support gitpitch"
gitpitch is Markdown Presentations For Everyone on GitHub, GitLab, Bitbucket   https://gitpitch.com/

[2017-06-03 19:27] vsch commented on #451
@linux-china, adding support for any new markdown processor is a lot of effort and at the moment I have no plans to add specialized markdown processing.

[2017-06-08 10:48] yunti opened #452 "Paste image tool breaks when using an image folder."
I have a project which I will have a lot of markdown files and rather than pollute the folder tree with lots of image files ( I don't think there is a way to hide them in Intellij project folder tool) I've tried to move them to an image folder.

The paste image tool correctly generate a unique name for the image (which is great as there will likely be 100's to 1000's of images.)

However although

[2017-06-08 10:54] yunti opened #453 "Option to hide toolbar"
I couldn't seem to find it, if it's there, but generally I work without toolbars so that it's less distracting.

Could you add an option to show hide toolbar?
Thanks.

[2017-06-08 11:21] yunti opened #454 "Incorrect filename inspection error"
I'm getting an incorrect file inspection error, where it's incorrectly detecting spaces in the filename.
(Note these are filename autogenerated by the image paste tool)

<img width="356" alt="screen shot 2017-06-08 at 11 12 06" src="https://user-images.githubusercontent.com/1826271/26926291-fc7e432c-4c44-11e7-9b5d-12965f723e6d.png">

[2017-06-08 17:58] yunti opened #455 "Editor wrap not functioning"
I have soft wraps disabled under settings->general ->"use soft wraps in editor'

However trying to enable this in the markdown editor (not preview) seems not to work.

My settings are:
Code style-> Markdown->
Wrap on typing: Wrap
Disabled if soft wraps - ticked

Then under Text
Wrap Text - ticked

Also unders Languages and Frameworks->

Soft wrap: Default
Soft wrap at right margin - ticked.

That

[2017-06-08 19:02] vsch commented on #455
@yunti, when Markdown "Soft Wrap" is set to "Default", markdown documents will follow the Settings > General > "use soft wraps in editor"

To enable them in markdown separately from general settings select "Enabled", to disable "Disabled"

You might also want to set code style under "Text", "When soft wrap is enabled" to "Disable Formatting" to not wrap on format or to "Infinite right margin" to "

[2017-06-08 19:03] vsch commented on #454
@yunti, it is an erroneous inspection warning. It should only apply to Wiki pages. I'll fix it.

[2017-06-09 11:55] yunti commented on #454
Thanks

[2017-06-09 13:36] yunti commented on #455
thanks.

Currently some things do wrap but not eg the image links:

<img width="1016" alt="screen shot 2017-06-09 at 14 35 15" src="https://user-images.githubusercontent.com/1826271/26977763-ef036e7a-4d20-11e7-8dde-3ea4b173b686.png">
<img width="698" alt="screen shot 2017-06-09 at 14 35 03" src="https://user-images.githubusercontent.com/1826271/26977766-f06fc0c4-4d20-11e7-9bd3-6f4b3b064232.png">
<

[2017-06-10 17:22] vsch commented on #455
@yunti, links and image links are not wrapped by design because there is no general way to wrap them without changing the result.

If you want to remove the distraction of long links from your text, you should convert them to reference links (using the intention) and configure the code style to put them at the bottom of the document where they will be out of the way.

[2017-06-10 19:42] vsch commented on #452
@yunti, is the folder for images under the project directory or project root? It appears that the plugin is not recognizing the location properly and not adding a `file:/` prefix.

Can you give me more details of where the image directory is relative to the project?

Also, what plugin version are you using?

[2017-06-10 19:45] vsch commented on #453
@yunti, I can add this option but it would also affect the preview buttons that switch: Text Only, Preview Only, Split View with the preview type buttons: Preview, HTML, Raw HTML.

You can define keyboard shortcuts to perform these functions. Is this something that would address your needs?

[2017-06-12 13:20] yunti commented on #455
thanks, good tip about reference links.

Note that the editor default softwraps does seem to wrap long link addresses, (but not if markdown navigator plugin is disabled)

<img width="815" alt="screen shot 2017-06-12 at 14 19 11" src="https://user-images.githubusercontent.com/1826271/27035707-3af4493e-4f7a-11e7-942c-a50f339bb5b2.png">

[2017-06-12 13:23] yunti commented on #453
Yes that's ideal thanks.  (I normally access all IDE tools via keyboard shortcuts with all toolbars turned off.)

[2017-06-12 13:26] yunti commented on #452
Version 2.3.7

Structure in the attached. (but one below project directory)

<img width="124" alt="screen shot 2017-06-12 at 14 24 52" src="https://user-images.githubusercontent.com/1826271/27035939-14086746-4f7b-11e7-90a4-2ae1995e091e.png">

[2017-06-18 03:22] stevesobol commented on #229
I uninstalled Markdown support, only Markdown Navigator is enabled, and I still had to add`*.md` as a Markdown Language extension. Once I did that, everything worked.

[2017-06-19 12:38] holgerbrandl opened #456 "Register r markdown codechunk prefix"
Would it be possible to auto-inject r also if code chunks start with ```{r ?

This is because in the Rmarkdown format (which is the most popular literal programming mechanism for R) code chunks start like that. See [here](http://rmarkdown.rstudio.com/authoring_rcodechunks.html) for examples.

[2017-06-21 11:22] vsch commented on #455
@yunti, this will happen when you don't have the closing `)` of the link while typing. The reason is that the parser does not recognize the text as a link.

You can use the link shortcut or the template to insert a full link before filling in the URL or to have the closing `)` before typing the URL.

[2017-06-21 11:26] vsch commented on #452
@yunti, is the project also under `~/Library/Mobile Documents/.../notes`? If it is not then is the notes directory a module?

[2017-06-21 11:31] vsch commented on #229
@stevesobol, what was associated with `*.md` before you changed it?

The plugin does not change extension associations. It uses the API to define extensions recognized by the plugin: `.md`, `.mkd` and `.markdown`.

It is possible that this was done by Markdown Support.

[2017-06-21 11:46] vsch commented on #456
@holgerbrandl, I will add a configuration option to allow user defined fenced code info string to IDE language mapping. In this case a regex of `^\{r(?:\w|\})` to `r` will accomplish this.

I had this in mind since the beginning but never got around to implementing it. Currently there are a couple of hardcoded maps which I will move to default map definition.

[2017-06-21 14:02] holgerbrandl commented on #74
Was this fixed? I've tried all kind of modifier keys to open a link from the editor (not the preview), but no luck yet.

[2017-06-21 14:24] vsch commented on #74
I was not  able to do this because it is not compatible with OSX. Ctrl+Left Click is actually a right click on OSX. None of the IDE ctrl+left click work either.

[2017-06-21 15:01] breandan commented on #74
This feature could be bound to the current navigation action - ie. when the user normally navigates to a markdown link, if the link text is an external URL then call `BrowserUtil` instead of jumping to source (where the exact keystroke [Ctrl+Left Click] is not important).

[2017-06-21 15:13] stevesobol commented on #229
Markdown Support was what I was using before switching.

I uninstalled it before installing Navigator.

My personal opinion is that the plugin should change the *.md association or add it if it doesn't exist; but I can also see valid arguments for _not_ doing that, and in any case, it wasn't a big deal to add the association, anyhow.

[2017-06-22 08:41] holgerbrandl commented on #74
I actually don't mind at all how to do it, but being able to navigate to an external URL from the editor would be great. Currently I'm forced to go via the preview.

[2017-06-22 11:33] thekalinga opened #457 "Allow search within preview"
Currently there is no way to search for a given text within preview. I need to switch to edit mode to search for any string.

It would be much helpful if search can be done without toggling back between modes.

[2017-06-27 15:25] wotanii opened #458 "Image pasting under ubuntu cinnamon"
#### Problem
Pasting images from clipboard doesn't work under ubuntu/cinnamon.

#### Reproduction
1. Safe screenshot to clipboard (default: ctrl + print)
1. paste into MD-Editor (default ctrl + v)
1. paste into pinta (or any other image editor) to check if the image was actually copied

##### Result
1. in MD-Editor nothing happens
1. in pinta Screenshot appears

##### Expected Result
screenshot ap

[2017-07-01 03:02] vsch opened #459 "PDF export does not resolve local ref anchors"
Caused by not generating heading id attributes in the HTML used for PDF export.

[2017-07-01 03:08] vsch commented on #458
@wotanii, I got ubuntu 16.04 installed and got my dev environment configured so I can debug the plugin. I will update the status within the next day.

[2017-07-01 22:24] vsch opened #460 "TOC options do not change default Heading level"
Changing TOC options in editor > code style or in TOC options intention does not detect a change in default TOC heading level.

Workaround is to use explicit heading level in the quoted title "## Table of Contents" for example to force it to level 2 heading.

[2017-07-02 00:25] vsch opened #461 "TOC with HTML generated content causes exception if skipping heading levels"
The following would generate internal exception because of unbalanced generated HTML tags

    # Test 1

    ### test 0.0.1

    ### test 0.0.2

    ## test 1.1

    ### test 1.1.1

    #### test 1.1.1.1

    #### test 1.1.1.2

    ## test 1.2

    ### test 1.2.1

    #### test 1.2.1.1

    #### test 1.2.1.2

    [TOC levels=2,4 html]

[2017-07-02 00:50] vsch commented on #457
@thekalinga, sorry about the tardy reply. It got buried in my inbox.

The search uses the IDE text search mechanism to highlight and navigate the preview. All of the search functionality would have to be implemented in the preview. That is a very significant effort and it would need to keep up with the changes in the IDE to be intuitive.

Why don't you use the split mode so you can have both text

[2017-07-02 00:52] vsch commented on #74
@breandan, @holgerbrandl, I will look into overriding the navigate to element method for external links that don't map to project files and pass it to external browser.

[2017-07-02 01:35] vsch commented on #458
@wotanii, can you please try the EAP Plugin version. There were a few bugs fixed in image paste, file list paste and drag/drop that could be causing this.

I tested it with my dev version and it works as expected on ubuntu 16.04, no cinnamon. I will try this next.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github

[2017-07-03 06:34] thekalinga commented on #457
@vsch If its a lot of work, I think, Its OK with me to use the split mode.

Thanks

[2017-07-03 06:34] #457 closed

[2017-07-04 07:27] holgerbrandl commented on #74
Thats great news. Thanks for your excellent plugin

[2017-07-05 09:03] yunti commented on #452
Yes the root project folder is `~/Library/Mobile Documents/.../notes`

[2017-07-07 11:26] vsch commented on #456
@holgerbrandl, I hardcoded the r code chuck logic for now. Will take anything that equals or starts with `{r` that is not followed by an identifier character.

The UI implementation would take longer than I wanted to spend and this was causing the delay in implementation.

EAP released.

[2017-07-07 11:27] vsch commented on #453
@yunti, EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-07-07 11:29] vsch commented on #460
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-07-07 11:29] vsch commented on #445
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-07-07 11:30] vsch commented on #458
@wotanii, I tried this with cinnamon in latest version and this too is working. Can you please get the latest plugin EAP version and let me know if it solves your issue.

[2017-07-07 11:32] vsch commented on #452
@yunti, I think this is fixed in the latest EAP plugin release. Can you please let me know if it is still an issue for you.

To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-07-07 11:34] vsch commented on #454
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-07-07 15:01] vsch commented on #74
* Add: #74, Launching external URLs inside the browser, now `navigate to declaration` opens url
  in browser, ftp or mail client depending on the link. Can also use line markers for navigation
  of these elements.

EAP updated.

[2017-07-07 16:38] holgerbrandl commented on #74
Thanks. Works like charm.

[2017-07-07 16:40] holgerbrandl commented on #456
thanks a ton. Works great.

[2017-07-07 16:42] holgerbrandl commented on #445
Where else than EAP would I be? :-)

Just to confirm: Works great for me. Thanks a lot for the fix/feature,.

[2017-07-07 16:55] vsch commented on #445
@holgerbrandl, I agree with your sentiment.

On the other hand I am getting but reports from users for version 2.3.5 of the plugin which is more than 3 months old.

[2017-07-08 01:54] vsch commented on #433
@TobseF, external links can now be opened with the Goto Declaration action with caret on the link URL or through the line marker for external links.

Is this the functionality you mentioned above or did you also want to navigate to JIRA references?

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-m

[2017-07-10 19:35] yunti commented on #453
Excellent thanks

Barclay

[2017-07-10 19:35] yunti commented on #454
Thanks I'll give it a test

Barclay

[2017-07-13 14:24] Ghostium opened #462 "IntelliJ IDEA crashes after restart to activate the freshly installed plugin"
Hey there,
I've just installed Markdown Navigator today. After the installation, when I restart the IDE, it gets unresponsive and then crashes.

JavaFX version: 8u111-b14-1
[File that should have rendered](https://github.com/vsch/idea-multimarkdown/files/1145489/why-commit-convention.md.txt)

The details below are taken from the [crash log](https://github.com/vsch/idea-multimarkdown/files/1145478/

[2017-07-13 18:00] vsch commented on #462
@Ghostium, the crash is occurring in a JavaFX native library and the plugin cannot do anything about it other than not use JavaFX by switching to Default Swing Browser in settings Languages & Frameworks > Markdown > Preview.

There was previously a JavaFX had issues with SVG and PNG images that would cause a crash.

The file you provided does not have any images. Only text so there should not be a

[2017-07-13 18:49] Ghostium commented on #462
The swing renderer worked fine. I am using the JVM I've installed over apt. As JavaFX is not bundled in the openjdk-8-jre package, a separate package called openjfx is needed for JavaFX. To my surprise, the versions in the Ubuntu repository are, in fact, two different versions.

https://packages.ubuntu.com/search?lang=en&suite=zesty&keywords=openjdk-8-jre
OpenJDK Java runtime, using Hotspot JIT
8u

[2017-07-13 19:08] vsch commented on #462
@Ghostium, the bundled JRE from JetBrains has critical fixes, including rendering of fonts under OSX and I suspect also for Linux. Font rendering in Oracle or OpenJDK is horrible compared to JetBrains JRE so there are added benefits for using the bundled JRE.

The JetBrains OpenJDK is available for download separately. The last "stable" bundled version with 2017.1.5 is available here: https://bint

[2017-07-14 16:56] vsch commented on #417
@holgerbrandl, to make the Fix All available on the sub-menu these intentions need to be changed to Inspection quick fixes.

Now that can be done and then all intentions that make sense to apply to a file will automatically have the Fix All.

The other option which I already implemented as a quick fix is to add "Apply all '...' in file" low priority intention which puts these at the bottom of the

[2017-07-14 19:18] vsch commented on #417
@holgerbrandl, eap plugin channel updated with above fixes added.

[2017-07-15 04:09] vsch opened #463 "Allow toggling task item open/closed by clicking on item box in preview"
Convenience feature to allow toggling task status by clicking on the task box in preview.

For JavaFX browser only.

[2017-07-16 01:12] vsch commented on #463
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-07-16 01:14] #440 closed

[2017-07-16 01:14] #442 closed

[2017-07-16 01:14] #459 closed

[2017-07-16 01:14] #460 closed

[2017-07-16 01:14] #461 closed

[2017-07-16 01:14] #463 closed

[2017-07-17 11:36] holgerbrandl commented on #417
I did not now about the existing "Apply all" which completely solves my usecase. Thanks a lot for the improvement!

I think most users won't need mass markdown refactorings using analyze reports, so I'd guess the "Apply all" is sufficient.

[2017-07-17 20:05] holgerbrandl opened #464 "Too much gray gutter space when multiple links are present in paragraph"
In general I like gutter icons, but since recently (EAP channel) the gutter column started to eat a lot of space  when some of the paragraphs contain multiple links:
![image](https://user-images.githubusercontent.com/200952/28287329-86475bba-6b3b-11e7-9cd5-03b4e9bf4a35.png)

And since the gutter width is fixed for an editor instance, this creates weired empty spaces even if no link is present at a

[2017-07-17 20:13] vsch commented on #464
@holgerbrandl, the IDE puts all gutter icons on the line where they occur.

You have soft-wraps enabled which means that the text is not wrapped to multiple lines causing paragraphs to be on a single line. If the paragraph has multiple links then all of these will go on one line.

Since the IDE collects the line markers (gutter icons) by going through elements in the file the knowledge of how many

[2017-07-17 20:19] vsch commented on #464
@holgerbrandl, I am running dev version built from idea-community/master and it seems that now the IDE will combine elements with the same icon into a drop down. In your case it will save one icon space.

However, wrapping the text to margins to reduce the line length will do a much better job. Turn off soft-wrap and reformat document, or enable text wrapping with soft-wraps:

![image](https://use