[2017-07-17 20:40] holgerbrandl commented on #464
Thanks for the info. I'll think I'll wait for 2017.2 and keep my softwraps. :-)

[2017-07-18 01:34] vsch commented on #452
@yunti, I think this one is fixed in the latest release.

[2017-07-18 01:37] vsch commented on #397
@holgerbrandl, I think this one is fixed in the latest EAP 2.3.8.2.

I found some code that would cause a file to be flagged as unresolved if it is not under VCS and has an empty path in the URL. This falls under this use case.

[2017-07-18 01:39] #411 closed

[2017-07-18 01:39] #417 closed

[2017-07-18 01:39] #433 closed

[2017-07-18 01:39] #435 closed

[2017-07-18 01:39] #441 closed

[2017-07-18 01:39] #444 closed

[2017-07-18 01:39] #445 closed

[2017-07-18 01:39] #453 closed

[2017-07-18 01:39] #454 closed

[2017-07-18 01:39] #456 closed

[2017-07-18 17:03] vsch opened #465 "Paste to convert "Copy Reference" clipboard text to link"
Support for links to project source code using text copied via "Copy Reference"

[2017-07-18 17:07] vsch commented on #465
Automatically converts paths relative to project, paths relative to module root and fully qualified names to links with line reference anchor where available.

Will paste text as is if unable to convert to file reference or if pasting in fenced code, inline code or between two back-ticks <code>``</code>.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Sho

[2017-07-18 17:15] vsch commented on #465
This works with language specific Fully Qualified Names so Ruby class refs Mod1::Mod2::Class1 will result in a link to containing file with line span defining the given class.

[2017-07-18 17:19] vsch commented on #458
@wotanii, please let me know if this is resolved when you get a chance to try this in the latest released version.

[2017-07-18 17:20] vsch commented on #452
@yunti, please let me know if this is resolved when you get a chance to try this in the latest released version.

[2017-07-18 17:47] #375 closed

[2017-07-18 20:59] vsch commented on #465
PhpStorm `QualifiedNameProvider` cannot convert FQN strings it generates for class member methods and fields. For this provider the plugin falls back by truncating the member name from the reference string and tries to resolve the FQN again. This means that until the PhpStorm is fixed all member references will paste as a link to the class.

[2017-07-18 21:01] vsch commented on #465
WebStorm "Copy Reference" on any member within a file does not include the file name in the reference string so no link will be produced from this reference.

Workaround is to invoke "Copy Reference" on part of the file where there is no language element: blank line, whitespace before beginning of line, etc.

[2017-07-19 18:56] vjpr opened #466 "Indents with 4 spaces instead of 2 as I like"
I can't find an option to manually set the spaces.

[2017-07-20 02:17] vsch commented on #466
@vjpr, in markdown indentation spaces are significant and will be interpreted differently by different processors. So you cannot change indentation without changing the processor used.

The parser syntax is selected in settings (preferences on OS X) under Languages & Frameworks > Markdown > Parser, in Syntax Options, Lists: dropdown. Select CommonMark which will be the closest to 2 space indents (

[2017-07-21 05:45] breandan opened #467 "Support LaTeX rendering"
There is a [VSCode extension](https://github.com/goessner/mdmath) which supports rendering inline LaTeX snippets. Would be nice to have something similar in IntelliJ IDEA. You might be able to use [MathJax](https://www.mathjax.org/).

[2017-07-21 07:12] mirkotschaeni opened #468 "Move (refactoring) of .md files breaks links to sections in same file"
When moving .md files (using refactor move or drag and drop, all links in the file that point to sections in the same file are broken after the move.

File a.md in folder foo
# A
 [XYZ](#xyz)
# abc

# xyz

--> move to sibling folder bar
# A
 [XYZ](../foo/a.md#xyz)
# abc

# xyz

It does not matter if the original link is just a hash link (as in the example) or if it is a relative link to the same f

[2017-07-21 10:38] vjpr opened #469 "Pressing tab in a empty list item should indent the list"
[code]

Expected:

[code]

Actual:

[code]

[2017-07-21 15:35] vjpr commented on #466
When I press the tab key with the cursor is at the first column, I get 4 spaces which creates a code block. But I don't want a code block. If I want a code block I will press the `tab` key twice, or I will use add backticks, or I will hit a keyboard shortcut to create me the code block in whatever is the correct way.

Markdown's advantage is that it is plain-text, which lets me move quickly. I can

[2017-07-21 15:39] vjpr commented on #466
I think there is a bug too. Say I want to indent a flat list.

[code]

[code]

Results in:

[code]

Whereas:

[code]

[code]

This is an issue not being consistent with how many spaces a tab inserts.

[2017-07-21 15:49] vjpr opened #470 ""Increase list level" action inserts keyboard key if the list indent is invalid"
[code]

First of all, I would expect it to do nothing rather than inserting the default shortcut.

Secondly, I think that it should allow you to make invalid indentations, otherwise it feels like Visual Basic popping up a modal dialog when you make a syntax error 😵 . All other editors don't prevent me from writing invalid code - as sometimes you need to as part of refactoring, etc.

I also think t

[2017-07-21 16:53] vsch commented on #466
@vjpr, I think the solution needs to override the tab key in markdown documents to make it context sensitive. That way after a list item marker it can indent the list item and everywhere else to insert spaces according to the setting.

Similarly for back tab. It should un-indent the list item and everywhere else to back tab.

BTW, the indent list action will indent according to the selected parser

[2017-07-21 16:57] vjpr commented on #466
@vsch What you just said sounds perfect! Looking forward to testing it out.

[2017-07-21 17:00] vsch commented on #470
@vjpr, that is IDE behaviour, not the plugin. When there are multiple actions assigned to the same shortcut, the IDE will apply a contextual shortcut if it is available. When it is not available, the next available action assigned to the shortcut will be invoked.

The plugin has no control over this. In the use case you present, the list indent action is disabled because there is no next list leve

[2017-07-21 17:17] vjpr commented on #470
I am suggesting that it should not be disabled because there is no next list level. It should allow me to create invalid indentation.

This is how most editors work. This should generate a "lint" error, but I should still be able to perform that action.

Otherwise it is very restrictive and feels like a WYSIWIG editor instead of plain-text, which is the spirit of markdown.

[2017-07-21 17:31] vsch commented on #467
@breandan, I have been struggling with the syntax that should be used since there is no standard support for LaTeX in markdown. The MathJax syntax is popular but it is not supported by GitHub and I also have to look into Jekyll compatibility so the plugin can support another processor.

I am also considering making LaTeX support that would be transparent from processor, like table of contents whic

[2017-07-21 17:59] vsch commented on #470
@vjpr, the indent action is context sensitive and not just "insert spaces". It will "indent" the item and its sub-items, if it has any, indent action on item 2:

[code]

Will result in:

[code]

If you want plain text editing behaviour then you should use tab or spaces. I will add config option for number of spaces for a tab then you can set it to 2 and get what you want. However, setting smart ta

[2017-07-21 18:03] vsch commented on #469
@vjpr, I will add smart tab behaviour for markdown documents.

[2017-07-21 18:43] vsch commented on #468
@mirkotschaeni, thank you for reporting this. It is a bug. I will address it shortly and make an EAP plugin release.

[2017-07-21 18:44] vsch commented on #468
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-07-22 01:48] vsch commented on #467
@breandan, I forgot to mention that you can have LaTeX rendering right now by using the multi-line URL image and a server side rendering.

[code]

The markdown image will display in preview but will not display on GitHub but you can use the "Change Markdown to HTML" intention on the image element to convert the image to HTML tag which will display on every processor.

Converted  to HTML:

[code]

[2017-07-22 01:54] vsch commented on #467
The content of the multi-line URL image is LaTeX, without the `$$` block delimiters or `$` inline delimiters so it is easy to edit. Here is the sample from the first reply:

[code]

Converted to HTML:

[code]

Rendering of HTML img tag:

<img src="http://latex.codecogs.com/gif.latex?%5Cbegin%7Balign*%7D%0Ax%5E2%20%2B%20y%5E2%20&amp;=%201%20%5C%5C%0Ay%20&amp;=%20%5Csqrt%7B1%20-%20x%5E2%7D%20%5C%5C%

[2017-07-22 01:59] vsch commented on #467
BTW, this workaround works for any other type of server side graphing language like UML:

[code]

Converted to HTML:

[code]

Displayed as:

<img src="http://g.gravizo.com/g?@startuml;%0Aactor%20User;%0Aparticipant%20%22First%20Class%22%20as%20A;%0Aparticipant%20%22Second%20Class%22%20as%20B;%0Aparticipant%20%22Last%20Class%22%20as%20C;%0AUser%20-%3E%20A:%20DoWork;%0Aactivate%20A;%0AA%20-%3E%20B:%

[2017-07-22 21:55] vjpr commented on #470
This is cool, I didn't realise it did this and would be very useful.

This works for me.

[2017-07-23 13:44] arslancharyev31 opened #471 "Support for local file line reference"
Good day. For links to files, hosted on github repository, appending to file link `#L' or '#L-#L'  highlights the specified line(s) in the github website. However, this doesn't work for relative links. Moreover, in the preview clicking on the relative link with line reference doesn't open the file in the IDE itself. It would be nice if plugin could not only open such files, but also highlight spec

[2017-07-23 16:16] wotanii commented on #458
Thank you very much for putting work into fixing a "linux-problem".

___

I changed to EAP. It now says "Installed Version: 2.3.8.8"

I did not notice any changes in the behavior.

Note:
* I do not own a licence of Markdown Navigator. I use PyCharm Pro, but a free version of Markdown Navigator
* I did this test on a different machine, than I used when I open this issue.
* I did not modify the defa

[2017-07-23 16:21] vsch commented on #458
@wotanii, pasting images is a licensed feature. This would explain why it does not work for you. You can get a trial license and see all the features enabled and also get the paste images to work here: https://vladsch.com/product/markdown-navigator/try

The licensed version lets you work with markdown files like you do with other languages in the IDE with support for refactoring, navigation, forma

[2017-07-23 16:33] vsch commented on #471
@arslancharyev31, this feature is available in version 2.3.8 and improved in latest EAP 2.3.8.10 to include conversion of "Copy Reference" strings to links with line references on paste into Markdown documents.

To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then m

[2017-07-23 16:37] arslancharyev31 commented on #471
Good news. Thank you!

[2017-07-23 18:08] arslancharyev31 commented on #471
This EAP release indeed fixed the problem with opening such files. However, it does neither direct to specified line or select specified lines

[2017-07-24 01:09] vsch commented on #471
@arslancharyev31, how are you navigating the link?

The link has two navigable parts: the file URL and the anchor. Navigating the file will only open the file and not change the caret location or selection. Navigating from the anchor ref will open the file and navigate to the start line, and select the lines if the end line is part of the link.

Clicking the link in preview will open the file on G

[2017-07-24 01:13] vsch commented on #471
@arslancharyev31, BTW this is how a class method reference `aClass.aMethod()` is handled in the IDE. If you navigate to declaration from the class name then you will be taken to the class declaration. If you navigate from the method name you will be taken to the method declaration.

[2017-07-24 09:56] arslancharyev31 commented on #471
@vsch, I am referencing files according to this post about [Relative links in markup files](https://github.com/blog/1395-relative-links-in-markup-files) and appending links like so: `[file.ext](directory/file.ext#L20)`. Navigation to the file works in both github and IDE markdown preview, however
in IDE it doesn't place caret to the specified line. Even if I specify a full path to local file like

[2017-07-24 10:35] vjpr opened #472 "Mermaid diagram support"
I currently use `markdown-preview-enhanced` for Atom, but I would love to migrate all my markdown editing to IntelliJ.

It supports:

- Math rendering- KaTeX, MathJax
- Reveal.js presentations
- Mermaid diagrams - http://knsv.github.io/mermaid/#mermaid

Is there a way that this plugin could easily support extensions like Mermaid?

I'm guessing playing with `HTML Generation` might work?

[2017-07-24 10:49] vjpr commented on #472
Okay so using the `HTML Generation` options I can get it to work with the Swing renderer. But Mermaid doesn't work with the JavaFX renderer.

[2017-07-24 23:36] vsch commented on #471
@arslancharyev31,

To get this behaviour you must have the caret on the anchor ref part of the node `#L20` for the above example. The anchor ref is treated as a separate element from the URL in the source.

[2017-07-25 01:28] vsch commented on #472
@vjpr, it is a conflict between HighlightJS and mermaid. Make sure highlight js and prism are not selected. HighlightJS does syntax highlighting of `<pre><code>` blocks.

![image](https://user-images.githubusercontent.com/10299086/28551585-dcfe8930-70b6-11e7-8878-f5c8f7f672e4.png)

[2017-07-25 19:20] vsch opened #473 "Base64 encoded embedded images do not display in JavaFX preview"
The following does not display an image:

[code]

[2017-07-25 19:20] vsch commented on #473
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-07-26 02:25] vsch opened #474 "Embedded image data links do not display in Swing preview"

[2017-07-26 02:26] vsch opened #475 "Add HTML Generation Option to embed image data in the image link"
This will allow creating HTML with all non-http/https links to be embedded in the HTML.

[2017-07-26 02:27] vsch opened #476 "Add intentions for image links to Encode/Decode base64 image data"
To allow converting a linked image to a base64 embedded one and vice versa

[2017-07-26 02:28] vsch opened #477 "Add "Embed Image" to Paste Image link format options"
To allow embedding an image on paste instead of saving it to a file

[2017-07-26 20:21] holgerbrandl opened #478 ""Apply all setext header" should just be availabe just for atx headers"
Currently it is even available on regular text which is confusing

![image](https://user-images.githubusercontent.com/200952/28641782-b1ccebc6-7250-11e7-8ce0-b1f411542864.png)

[2017-07-26 20:59] vsch commented on #478
@holgerbrandl, the apply all intentions work on the file. Hence they will appear on any element.

Can be addressed in the following way:

1. only allow "Apply all...." intentions to show up on relevant elements
2. change all intentions to include the relevant source element so in this case it will become "Apply all 'Change atx to setext header' in file".

Solution 1. has the advantage of not being

[2017-07-26 21:29] vsch commented on #478
@holgerbrandl, I opted out to apply both. Now there is a Markdown setting to allow showing "Apply all ... in file" intentions on any element. By default it is disabled and the apply all intention will only show up on element it affects.

[2017-07-26 22:43] vsch commented on #478
EAP channel updated with fix.

[2017-07-27 02:15] vsch commented on #467
@breandan, I got MathJax to work with JavaFX preview by adding the following to HTML Generation:

[code]

![image](https://user-images.githubusercontent.com/10299086/28650460-1953cbd6-724a-11e7-999d-3ed6aafb580a.png)

The limitation right now to prevent markdown from parsing the text that includes LaTeX is to wrap it inside `div` tag and not have any blank lines.

[code]

To get the following in p

[2017-07-27 02:17] vsch commented on #467
@breandan, I will take a look at MathJax to see if I can limit its processing to only certain tags/classes so that I can parse the LaTeX text and emit special HTML that MathJax will recognize to eliminate the need for `div` tags.

I tried the LaTeX plugin for IntelliJ but other than some syntax highlighting could not get it to work in 2017.2

A good solution would be to have a LaTeX plugin for lan

[2017-07-27 11:13] holgerbrandl commented on #478
Works great, thanks!

[2017-07-29 11:07] vsch opened #479 "Multi-line URL images are not converted in PDF export or Copy HTML Mime"
multi-line URL image links not displayed when exporting to PDF or Copy HTML Mime Format  actions.

[2017-08-04 08:09] vjpr commented on #469
Hey @vsch any updates on this feature. I really want to move from Atom to IntelliJ for Markdown editing, and this is the only thing holding me back (i know its small - but i use a lot of bullets!).

Can I assist?

[2017-08-04 12:31] vsch commented on #469
@vjpr, I could not make it for the last release but will be adding this functionality over the weekend. It is not the feature but dealing with side-effects and tweaking for comfortable use that will take the most time.

Helping on this would be difficult since the open source version has diverged and I have been making very slow progress in merging changes from my source base back to this repo. I

[2017-08-07 10:42] vsch opened #480 "Allow preview window to float"
Create a floating preview window

[2017-08-08 17:41] acrodrig opened #481 "Will not allow me to crop beyond 200px"
The current cropping controls will not allow me to go beyond 200px. This seems arbitrary and does not work for the large images I work with.

![screen shot 2017-08-08 at 12 40 12](https://user-images.githubusercontent.com/959336/29086042-d8127504-7c36-11e7-8fab-697456214cfe.png)

[2017-08-08 17:45] vsch commented on #481
@acrodrig, you are right. I will set the limit at 4096, which should take care of most cases. It was not really intended to do large image cropping. I figured it would be used for cleaning up cropping on a screen captured image.

I'll make an EAP release with the fix so you can use it.

[2017-08-08 19:28] vsch commented on #481
@acrodrig, now limits are derived from the image dimensions and image operations.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-08-11 09:58] freedimension opened #482 "Pressing Tab in fenced code blocks inserts 4 spaces instead"
I expected, that inside of fenced code blocks, indentation can be done with tabs. Instead it keeps inserting 4 spaces. There really may be reasons to use spaces outside of fenced code blocks, but what happens inside should be my choice. IMHO it should at least follow the Code Style options set for the injected language.
Using return-Key to insert a new line produces tabs if there is an indentation

[2017-08-11 16:07] vsch commented on #482
@freedimension, the plugin does not yet do its own tab key processing so this is how the IDE handles tabs in injected code.

If you edit the code fragment in a separate editor via the "Edit injected code fragment" then the editor will be that of the injected language.

[2017-08-14 12:25] neilellis opened #483 "Intellij Hangs on opening project with Markdown window open"
Intellij hangs with spinning beach ball of doom on project open.

https://www.dropbox.com/s/jtvl1woce4vmeqm/Screenshot%202017-08-14%2013.19.56.png?dl=0

VM settings:

-Xms128m
-Xmx4g
-XX:ReservedCodeCacheSize=240m
-XX:+UseCompressedOops

I can email over logs from Intellij

[2017-08-14 13:30] vsch commented on #483
@neilellis, yes please e-mail me the logs so I can check where it hung.

[2017-08-14 13:39] vsch commented on #483
@neilellis, can you also include the thread dumps if they are time stamped when the hang occurred. IntelliJ IDEs create these when the EDT thread hangs for longer than normal and are created in subdirectories where the idea.log file is located.

[2017-08-14 14:54] neilellis commented on #483
Yep I'll go and reproduce the problem now and email the logs over.

[2017-08-14 14:59] neilellis commented on #483
OK emailed to you now

[2017-08-14 14:59] vsch commented on #483
@neilellis, thank you. I will investigate the cause.

[2017-08-16 13:52] vsch commented on #483
@neilellis, it hangs in JavaFX WebView initialization. This is JRE related and has cropped up before in the JetBrains Open JRE but I thought it was fixed. The only workaround is to switch to Default Swing preview.

What exact build of the IDE are you running? Specifically the JRE build number.

[2017-08-17 17:24] ianfp commented on #446
I cannot figure out how to export to HTML at all. I defined a keyboard shortcut and used it, and it did nothing. I see no menu items about exporting Markdown to HTML. I have the free version -- is this a paid version-only feature? If so, why is that not obvious?

[2017-08-17 17:51] ianfp opened #484 "Open links in preview, not browser"
I just started a trial license, and suddenly internal links in the preview pane are opening in my browser rather than in the preview pane. How do I get to other .md files to open in the preview pane? They did when I was using the free version.

Also, this is not a bug report. Where do I go for help?

[2017-08-17 17:55] ianfp commented on #484
Update: I just added a new local link, and it appeared yellow with the warning: "Target file is not on GitHub. Link will only resolve locally." That's the behaviour I want all the time! When did GitHub get involved here?

[2017-08-18 15:18] magneticflux- commented on #177
Unfortunately, changing the parent scheme breaks my "Monokai Sublime Text 3" scheme for other languages' colors. Are the default Darcula colors for Markdown Navigator available to paste into my  `.icls` file manually?

[2017-08-19 16:22] vsch commented on #484
@ianfp, the plugin's initial intention was to work with GitHub markdown nuances. Since then users have used it in a lot of ways not related to GitHub documents.

You can ask for help here or by e-mailing me directly.

As for opening MD files in preview, I will need to add a setting to open markdown documents instead of using the GitHub link for the document. Navigation to documents from preview is

[2017-08-20 10:54] vsch commented on #177
@magneticflux-, I added the current default colors. You can get the Darcula version https://github.com/vsch/idea-multimarkdown/blob/master/resources/com/vladsch/idea/multimarkdown/colorSchemes/MarkdownDarcula.xml

[2017-08-21 14:36] lihaoyi opened #485 "Header Outline view?"
Would it be possible to include a nice outline/navigation bar while editing markdown documents? e.g. this is from the Typora markdown app:

![screenshot 2017-08-21 22 34 32](https://user-images.githubusercontent.com/934140/29523918-04c8dc70-86c1-11e7-96fc-896e7becc553.png)

You can see on the left, it pulls out all the headers, arranges them in a nice tree, and highlights the one you are currently

[2017-08-21 15:41] lihaoyi opened #486 "Multi-line links do not preview correctly"
This:

[code]

previews as

[code]

Whereas it really should preview as

[code]

[2017-08-21 16:59] ianfp commented on #484
@vsch Thanks for your thorough answer! I'll try your suggestions when I have time and follow up here if I have any further questions.

I'll let you decide whether close this issue or leave it open for the proposed new setting.

[2017-08-22 10:08] vsch commented on #485
@lihaoyi, the plugin does support the IDEA structure view API and provides structure navigation tree.

You can see the document outline in the IDE structure view."Headers" section shows heading hierarchy.

You also have sections for Links, Images, References, Tables, Footnotes and Abbreviations showing their corresponding list of elements.

The Document section shows elements in the document in th

[2017-08-22 10:10] vsch commented on #486
@lihaoyi, thank you for catching this. I will have a fix out shortly and make an EAP release.

[2017-08-22 10:18] vsch commented on #486
@lihaoyi, this is caused by a bug in source line highlighting in preview and as a workaround you can change the mode to `Block` which does not split blocks into individual lines.

[Screenshot_Settings_PreviewSourceSynchronization](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/Screenshot_Settings_PreviewSourceSynchronization.png)

[2017-08-22 10:59] lihaoyi commented on #485
Oh cool, did not realize that at all!

[2017-08-22 10:59] #485 closed

[2017-08-22 11:12] lihaoyi commented on #485
@vsch Maybe put this in the readme somewhere? I suspect I'm not the only one who didn't realize that this was available

[2017-08-22 11:13] lihaoyi commented on #485
I mean in the big image that shows off all the features. I saw that it's in the changelog, but the changelog isn't the first place I look for what features it has

[2017-08-22 11:18] vsch commented on #485
@lihaoyi, you are completely right. I have to add all the new features to the [Enhanced Features](https://github.com/vsch/idea-multimarkdown/wiki/Enhanced-Features) wiki. I created it to highlight the major features to help users get oriented. However, the feature set grows quite quickly with user demands and the documentation lags significantly.

I need to take some time to address the documentat

[2017-08-22 11:21] vsch opened #487 "Update Enhanced Features wiki for recently added features"
Add the following to [Enhanced Features](https://github.com/vsch/idea-multimarkdown/wiki/Enhanced-Features):

* [ ] Structured View
* [ ] Drag/Drop files to create links
* [ ] Paste Images
* [ ] HTML to Markdown conversion on Paste
* [ ] Modify Image
* [ ] Convert between PNG and BASE64 encoded images

[2017-08-22 11:23] vsch commented on #485
I added an issue for the Enhanced Features update #487

[2017-08-22 14:36] lihaoyi opened #488 "Smooth scrolling for markdown preview on OS-X?"
At least for me, the left-hand HTML (non-Swing) rendered-markdown preview doesn't scroll well with my macbook's trackpad. Each "tick" scrolls a large amount, and it often vibrates back and forth. "Up" and "Down" arrows do not work on the preview, since the cursor always seems captured by the text editor

Currently, my most reliable way of scrolling through the markdown preview is placing my cursor

[2017-08-22 14:43] lihaoyi commented on #488
Notably, disabling `Add page header` as is suggested in https://github.com/vsch/idea-multimarkdown/issues/184 does not seem to improve the experience for me.

Both `JavaFX HTML Generator` and `Default Swing HTML Generator` both seem to suffer from this jerky/vibraty scrolling

Note that this is about scrolling performance. I am not making any edits to the document, just trying to scroll with my tr

[2017-08-22 14:50] vsch commented on #488
@lihaoyi, GFM uses JxBrowser which is Chromium as an option so it is running native code browser. Markdown Navigator uses JavaFX WebView which is more limited.

Since both Swing and JavaFX suffer from this it would be related to rendering through Java but how is the scrolling performance in the main editor? It would be doing the same as at least Swing browser?

Can please you try switching the GFM

[2017-08-22 15:46] lihaoyi commented on #488
The scrolling performance in the main editor works great, as does the "Default Swing" preview. What I mentioned above as not-working-great was the "JavaFX Webview" preview with "Default Swing HTML Generator" set.

Setting the GFM plugin to use JavaFX exhibits the same jerky/vibraty scrolling behavior as idea-multimarkdown.

Notably, the GFM plugin has  "replace markdown plugin preview tab", but it

[2017-08-22 15:51] lihaoyi commented on #488
Since the Swing preview works fine, I wouldn't mind just using the Swing preview all the time either, but it's lacking a few features like syncing the scroll-positions of the preview and the source code, or re-styling it with CSS.

Having to constantly manually manage the scroll-positions of two panes kills any benefit of having the right-pane not scroll jankily =P

[2017-08-22 16:45] vsch commented on #488
The GFM replace tab works with tabbed editors. The plugin has a split editor so GFM simply adds its own tab.

It seems to be a JavaFX performance issue. I will see if there is anything to be done on my side or it is simply a resource limitation.

[2017-08-22 23:13] neilellis commented on #483
Version details: https://www.dropbox.com/s/j8ix2gnw9famctm/Screenshot%202017-08-23%2000.12.27.png?dl=0

Thanks, I will give that a try.

[2017-08-22 23:21] neilellis commented on #483
I have tried both, still hangs. Will do a clean install of Intellij

[2017-08-23 03:17] lihaoyi commented on #488
One "good enough" solution for me I think would be implementing the "sync scrolling between preview and source-code pane" functionality in the Swing-preview. That would let me avoid the HTML preview altogether.

(Ideally I'd be able to re-CSS the swing preview to be a bit prettier, but that's less important)

[2017-08-25 00:19] neilellis commented on #483
Okay, tried with a fresh install, still hangs

[2017-08-26 02:53] neilellis commented on #483
Yep I am
[code]

[2017-08-27 23:31] vsch commented on #488
@lihaoyi, the swing preview is a pretty as I could get it. Swing browser is very limited and ignores a lot of attributes and CSS settings.

I got started on this plugin because I thought I could change the CSS for the idea-markdown plugin that I wound up forking and then rewriting. So trying to get Swing to generate a better preview is a futile task.

Same for synchronization. Swing does not have

[2017-08-28 05:22] lihaoyi commented on #488
Sure, I don't mind if you don't think the Swing rendering can get much prettier. That's a low priority for me.

I also don't need the fancy line highlighting, select-highlighting or click-scroll-synchronization behavior that's currently present in the HTML preview; I just want the scroll positions to line up as you scroll up and down the source view or Swing preview

Doesn't Swing allow you to ins

[2017-08-28 15:51] #458 closed

[2017-08-29 11:51] vsch commented on #484
An option was added to preview that allows opening corresponding GitHub files or local files for page relative or repo relative links.

![Screenshot_Settings_PreviewBrowser](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/Screenshot_Settings_PreviewBrowser.png)

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Ch

[2017-08-29 12:21] vsch commented on #486
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-08-29 12:55] vsch opened #489 "Paste Image does not create file if parent directory does not exist"
The directory is created but not the image file.

[2017-08-31 13:41] blowsie opened #490 "Syntax highlighting and editor features not working"
For some reason, maybe an update, lots of markdown navigator features are not working at all for me anymore.

Please advise or let me know if you require any additional information.

Windows 10 64bit
Webstorm 2017.2
Markdown Navigator 2.3.7

![image](https://user-images.githubusercontent.com/308572/29926038-29c6a7e6-8e5a-11e7-90df-0deabcf09c26.png)

[2017-08-31 13:49] vsch commented on #490
@blowsie, are the features enabled in the parser options? For example Jekyll, Abbreviations, etc.

![Screenshot_Parser_Settings](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/Screenshot_Parser_Settings.png)

Does the plugin think it's license is not valid or activated? If license is valid and activated it should look something like this:

![Screenshot_Main_licensed](https

[2017-08-31 13:58] blowsie commented on #490
I simply copied the example for the syntax highlighting options. I woudl have expected at least some of it to work.

![image](https://user-images.githubusercontent.com/308572/29926949-c4e0eab4-8e5c-11e7-9728-4e7caa217328.png)

![image](https://user-images.githubusercontent.com/308572/29926960-cc9e64c0-8e5c-11e7-91a3-34debbf11030.png)

[2017-08-31 13:59] blowsie commented on #490
Its worth adding that its everything in the left side, editor that Im having issues with. Not the publishing / preview.

[2017-08-31 14:09] blowsie commented on #490
Somehow the file name ended up in the Text file type association list. Which caused the text editor to be used instead.

![image](https://user-images.githubusercontent.com/308572/29927454-56c282b6-8e5e-11e7-905b-96754f9efd65.png)

[2017-08-31 14:09] #490 closed

[2017-09-04 05:55] koppor opened #491 "Enable autocompletion for relative links in subdirectories"
When pressing <kbd>Ctrl</kbd>+<kbd>Enter</kbd> to autocomplete an image link, there is "no suggestions" shown even if files are existing.

- OS: Windows
- Path separator used: `/`

![grafik](https://user-images.githubusercontent.com/1366654/30013337-3f569adc-9146-11e7-81a0-f44c33c37dec.png)

I think, the starting directory of resolution for autocompletion is not the current directory, but the root

[2017-09-04 07:20] koppor opened #492 "Auto completion should offer lower case, too"
I miss a lower case variant for auto completion of linked files:

`images/ManageExternalFileTypes.png` should propose `manage external file types`, too.

![grafik](https://user-images.githubusercontent.com/1366654/30015707-301f6254-9152-11e7-89e1-a3592030b048.png)

[2017-09-04 07:36] koppor opened #493 "md suffix should be automatically added for validation"
I am using Jekyll on my site and I want to have [Semantic URLs](https://en.wikipedia.org/wiki/Semantic_URL).

For instance, I create `FileLinks.md`, but the URL is without `md` suffix: http://help.jabref.org/en/FileLinks

This confuses the validation:

![grafik](https://user-images.githubusercontent.com/1366654/30013283-fa285de2-9145-11e7-9c43-6a7e7b2ca633.png)

Is it possible to tune the validati

[2017-09-04 12:52] vsch commented on #491
@koppor, your image link is missing the closing `)` so it is not interpreted as an image link but an image ref with some text following it.

[2017-09-04 13:03] vsch commented on #492
@koppor, the lowercase variants are generated but they are not shown because your caret is preceded by `Manage exter` and the IDE uses it as partial match to exclude all that don't match.

Put the caret before `Manage ... ` and you will get all the variants.

[2017-09-04 13:07] vsch commented on #493
@koppor, you can use the link map functionality to change extensions and in this case add an extension when one does not exist. See https://github.com/vsch/idea-multimarkdown/wiki/Modifying-Link-Processing

It is a bit more involved if you have some links with extensions and some without so you will need to change the regex to exclude any links which have an extension from being modified. Otherwis

[2017-09-14 05:17] lihaoyi opened #494 "Add ability to fold headers?"
Since it seems you already extract the "structure" of the headers in a markdown document into IntelliJ's file `Structure` viewer, it would be super useful if I could use IntelliJ's code fold/unfold shortcuts to fold/unfold parts of the markdown document in the editor

[2017-09-15 02:08] vsch commented on #494
@lihaoyi, it is on the short to do list. i will see if I can add it to the next release.

[2017-09-15 12:18] neochief opened #495 "Is it possible to make a Github-styled preview?"
This item in feature list:

_GitHub style rendering that you are used to, out of the box_

Gives me the impression that plugin must have some way to render preview exactly as I would see them on github. Is it the case? If so, how would I turn this on? Right now without attaching some external css, I can only see the default styles.

[2017-09-15 20:30] vsch commented on #495
@neochief, you probably have the preview browser configured as Swing. Then it is the best swing browser can do. For better preview you should switch to JavaFX WebView preview.

The plugin does show an editor annotation if you have Swing and JavaFX is available on your system, unless you turn it off.

Go to settings (preferences on mac) Languages & Frameworks > Markdown > Preview and change preview

[2017-09-16 23:19] neochief commented on #495
Thanks!

[2017-09-16 23:19] #495 closed

[2017-09-18 11:01] rochejul opened #496 "NoClassDefFoundError on Webstorm 2017.2.X"
Hi

since I have upgraded to Webstorm 2017.2.X, I got the following error:

[code]

I used windows 10 with openjdk 1.8 and it seems Webstomr use the 2.1.1 version

Have you an idea what happens and how could I fix it ?

Many thanks

Regards

[2017-09-18 11:08] rochejul commented on #496
Never mind, it works with 2.3.8

[2017-09-18 11:08] #496 closed

[2017-09-22 14:22] neochief opened #497 "Wrong highlighting in a block containing HTML comment"
A block like this:

[code]

Will render as commented HTML, despite that comment is only a part of it.

Here's a screenshot:
https://www.dropbox.com/s/hyd38hdqoa4j0mt/Screen%20Shot%202017-09-22%20at%205.20.10%20PM.png?dl=0

[2017-09-22 14:24] neochief opened #498 "Non-latin titles"
When using non-latin titles, such as this one:

[code]

I get a warning inspection that says: "Non-ASCII characters in an identifier"

Looks like a bug to me. In any case, is there a way to suppress it just form markdown?

[2017-09-22 14:27] vsch commented on #498
@neochief, disable the IDE inspection for international issues. This is not a plugin issue.

[2017-09-22 14:29] vsch commented on #497
@neochief, thanks for noticing it. It is a flexmark-java parser issue, treating a line starting with a comment as HTML block instead of inline HTML. I will fix it in the parser.

[2017-09-22 15:06] neochief commented on #498
In my case, that inspection might help to catch some nasty bug in the real PHP code. Since markdown is not code, and it's perfectly okay to use it with any non-English text, I'd argue that this is not a plugin issue. But, I guess it's your call.

On that note, it seems that it's not a coincidence that titles are treated as identifiers. Is there some related feature? I never noticed any special beh

[2017-09-22 15:12] vsch commented on #498
@neochief, markdown is code as far as the IDE is concerned or you don't get any of the code features like completions or navigation. You can set up scope based inspection profiles for markdown files and disable inspections that you don't want to apply.

[2017-09-22 15:13] neochief opened #499 "Image paths should respect Resource Root directories"
In a code like this:
[code]
I get an "Unresolved link reference" warning, while that path points to an existing image, which rests inside a directory marked as Resource Root.

I'd like to add that if I create an HTML file with an equivalent HTML image tag, my IDE will resolve the image path just fine.

[2017-09-22 15:15] vsch commented on #498
@neochief, titles are identifiers because they can be referenced from links via anchor refs `#`. Completions and refactoring apply to them.

![image](https://user-images.githubusercontent.com/10299086/30751351-1b413cb6-9f87-11e7-9bc8-8a901d695760.png)

You can also hit rename refactor on the title or the anchor ref and have the other change:

![refactor](https://user-images.githubusercontent.com/1

[2017-09-22 15:24] vsch commented on #499
@neochief, the plugin does not know about specific IDE config for projects. Originally, it was implemented to work with GItHub documentation for the project so all the links resolve as per GItHub link rules as they apply to the project.

Your link on GitHub is expected to be located in `images` directory under the project root.

What IDE are you using? I can look into adding configuration to addre

[2017-09-22 15:58] vsch commented on #497
@neochief, I double checked and this is actually part of the CommonMark spec that html comment block includes trailing text after it.

[code]

to render as:

[code]

To have it handled as text you need to have the comment on its own line

[2017-09-22 16:04] neochief commented on #499
I see, thanks for the info. I use PHPStorm.

My project includes tons of content in markdown, which is processed and
rendered via PHP framework. The content is stored separately from static
resources such as images, videos, etc.

That's why I rely on Resource Roots to point to the static content.

On Fri, Sep 22, 2017 at 18:24 Vladimir Schneider <notifications@github.com>
wrote:

--
- Alexander

[2017-09-22 16:06] neochief commented on #497
Oh, I didn't know that. I'm sorry for wasting your time.

On Fri, Sep 22, 2017 at 18:58 Vladimir Schneider <notifications@github.com>
wrote:

--
- Alexander

[2017-09-22 16:09] neochief commented on #498
Thanks a lot for explaining this in details. The markdown flavor used in my
project doesn't render anchors in such way, that's why I didn't realize
that people link to headers this way.

On Fri, Sep 22, 2017 at 18:16 Vladimir Schneider <notifications@github.com>
wrote:

--
- Alexander

[2017-09-22 16:27] vsch commented on #499
There is a simple mapping feature that might work for you if your images are located in a single root:

![image](https://user-images.githubusercontent.com/10299086/30754520-0378a63c-9f91-11e7-86d9-5d6c4aeb7af8.png)

On my project I have images in `public/images` but all links refer via `/images` so the above mapping does the conversion.

You need two way conversion from link text to a plugin resol

[2017-09-22 16:58] #498 closed

[2017-09-22 17:09] neochief commented on #499
Thanks for trying to provide a workaround, I appreciate that.

I've tried to set up the link map exactly as you showed (my project is structured in a similar way). But I still have warnings. Here's a mega-screenshot, which captures everything—project structure, settings, markdown and warning (I really hope I'm not missing anything):

https://www.dropbox.com/s/nox4ql6a6ghyy07/Screen%20Shot%202017-0

[2017-09-22 17:36] neochief commented on #497
After digging through Commonmark specs, I realized that your conclusion "html comment block includes trailing text after it" is not 100% accurate. Text after HTML comment block is indeed treated as HTML, but not as a HTML comment. So, it shouldn't be grayed-out in IDE, but highlighted as regular HTML.

[2017-09-22 17:36] neochief commented on #497
I'm not sure whether you'll fix it but reopened the ticket just in case.

[2017-09-22 17:38] vsch commented on #499
You need to enter a sample `File Ref` text to test the reverse conversion. In my case I used `/public/images/tests.png`

It uses both test string to test the search/replace patterns.

[2017-09-22 23:47] neochief commented on #499
The test works fine. However, I wanted to illustrate on the screenshot that I still get the warning despite the correct settings. Is it expected behavior?

[2017-09-23 02:42] vsch commented on #499
@neochief, do you not see the missing text string or am I seeing things?

![image](https://user-images.githubusercontent.com/10299086/30769473-10e9a644-9fe7-11e7-8833-da03161a3b25.png)

This is used to make sure completions will generate the expected final link: `/images/file.ext and`not `/public/images/file.ext`

[2017-09-23 14:31] vsch opened #500 "Add intentions for converting a link between regular and raw content"
Should allow conversion between raw content link and regular link for wiki and explicit links for wiki pages and repo files.

[2017-09-24 14:30] neochief commented on #499
Vladimir, please, accept my apologies if my posts were confusing.

I thought that field is just a preview. Even if I fill it with a correct path, I still see the warning in my actual markdown. It can be seen in the following screenshot:

https://www.dropbox.com/s/tfvkukhqb4w1ae1/Screen%20Shot%202017-09-24%20at%205.26.20%20PM.png?dl=0

[2017-09-25 08:02] cLupus opened #501 "Trouble with proxy"
Is there a way to make the license lookup work through a corporate proxy?

I get the following error message:

[2017-09-25 19:49] vsch commented on #501
@cLupus, on some corporate networks the secure connection through a proxy causes the communications to fail. You can try turning off `Use secure connection` for license activation to see if it will work:

![Screenshot_Main_unlicensed](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/Screenshot_Main_unlicensed.png)

[2017-10-01 14:11] vsch commented on #494
@lihaoyi, EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-10-01 17:48] lihaoyi commented on #494
Thanks!!!

On Sun, 1 Oct 2017 at 7:11 AM, Vladimir Schneider <notifications@github.com>
wrote:

[2017-10-05 00:22] MikeVelazcoMtz opened #502 "Error changing font in PHPStorm"
I've been trying a new font called [Hack](http://sourcefoundry.org/hack/) on my other tools and, when I decided to set into PHPStorm I received an error into the Event Log of my project:

![screen shot 2017-10-04 at 7 19 48 pm](https://user-images.githubusercontent.com/5341310/31205765-10c8126c-a939-11e7-9a80-796edee6a0e3.png)

[code]
I'm using PHPStorm 9.0.3

[2017-10-06 21:46] acrodrig opened #503 "Wrapped Text not aligned to left when wrapping"
When writing markdown text, it would be nice to have all text aligned to the left when wrapping. Right now, as shown in the image, the text looks as if there was a hanging indent from the first line. The extra character is distracting when reading/writing text. The file line numbers to the left already give a visual indication that the line is being wrapped.

Please provide a way to turn off. Than

[2017-10-06 21:51] vsch commented on #503
@acrodrig, this is an IDE soft-wrapping issue not the plugin. If you turn off the soft-wrap and set wrap on typing for markdown (Code Style > Markdown), the plugin will do exactly that.

In the IDE, there is only an option to display the soft-wrap symbol for the current line, however the indentation remains. It just does not show the wrap symbol.

[2017-10-06 21:57] #503 closed

[2017-10-07 21:14] jabocrack1 opened #504 "Wrong character's encoding in exported PDF"
Wrong character's encoding in exported PDF (see screenshot). PhpStorm 2017.2.4, installed plugin 2.3.8
on left - acrobat reader with rendered PDF, on right - preview zone with same document.
![screenshot_2](https://user-images.githubusercontent.com/14205678/31311838-7317a190-abbd-11e7-9968-1f2a581e1680.png)

[2017-10-08 08:09] C0deboy opened #505 "Improved higlighting for Jekyll"
1)  Jekyll tags are not always well higlighted.
[code]

In this case lower `{% endhighlight %}` is not highlighted. Needs enter before to be highlighted.

2)  Inline Liquid tags are not highlighted at all.

3) Inside Liquid tags higlighting for code is messed up with markdown higlighting.

4) It would be also more clean, if inside `{% raw %}` tag no more Liquid tags are highlighted.

5) Higlightin

[2017-10-09 18:53] vsch commented on #502
@MikeVelazcoMtz, what is the version of the plugin are your using?

[2017-10-09 18:55] vsch commented on #504
@jabocrack1, thank you for the report. I will take a look at PDF conversion to see what encoding should be used.

[2017-10-09 18:56] vsch commented on #505
@C0deboy, Jekyll support is currently very limited. Only the include tag and front matter is handled.

I will add these to the to do list for Jekyll.

[2017-10-09 19:06] MikeVelazcoMtz commented on #502
![screen shot 2017-10-09 at 2 01 20 pm](https://user-images.githubusercontent.com/5341310/31354179-037e9b4c-acfb-11e7-9c6f-63f3310dc3da.png)

[2017-10-10 11:26] neochief commented on #499
Do you need any additional info to track it down? It looks like a bug to me.

[2017-10-11 16:32] lilred opened #506 "Settings file under `.idea` conflicts with source control best practices"
See [JetBrains support: How to manage projects under Version Control Systems](https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems). `.idea` is for files worth checking in, with the notable exception of `workspace.xml` and `tasks.xml`. But `.idea/markdown-navigator/profiles_settings.xml` is probably not something I want under sourc

[2017-10-12 12:26] vsch commented on #506
@lilred, the IDE saves project based config files under that directory. Plugins do not have control over this so you better let JetBrains know to either update their documentation or project settings persistence implementation.

At the same time if they are not using the plugin then these settings will have no effect on them and unless they routinely manipulate files in this directory they will no

[2017-10-13 10:14] holgerbrandl commented on #462
I'm still having this crash problem on a daily basis with the current  2.3.8.28 build (and latest 2017.2.5 release of IJ): Sometimes e.g. freezes when starting up, but sometimes even when opening empty markdown files into in IJ:
![image](https://user-images.githubusercontent.com/200952/31541628-91c8b2cc-b00f-11e7-9d01-459e67d96ab5.png)

It seems indeed related to the fx-renderer, but the swing one

[2017-10-14 18:02] vjpr commented on #466
@vsch Any progress on this?

[2017-10-15 22:27] trzye opened #507 "How to be sure that HTML autogenerated link will have unchanged url"
Let's say that I've got  `[description](data/home/init.sql)` line in my *.md file.

After using `Export HTML as per rendering profile` I can get one of these:

1. `<a href="data/home/init.sql" class="absent">description</a> `
2. `<a href="https://github.com/ANYTHING/data/home/init.sql" class="absent">description</a> `
3. `<a href="C://ANYTHING/data/home/init.sql" class="absent">description</a> `

[2017-10-15 22:40] trzye commented on #507
My settings

![0](https://user-images.githubusercontent.com/7382132/31590059-9fed17ec-b20a-11e7-8a18-7a6ca0bc58ef.PNG)
![1](https://user-images.githubusercontent.com/7382132/31590060-a00c88ca-b20a-11e7-99d2-14d6bac257e6.PNG)
![2](https://user-images.githubusercontent.com/7382132/31590061-a02e9992-b20a-11e7-93d2-e6dfdc795db7.PNG)
![3](https://user-images.githubusercontent.com/7382132/31590062-a04dd

[2017-10-18 16:28] vsch commented on #499
@neochief, you have the mapping defined for `Link Ref Elements` this is an element of the form `[some text]` and allows pre-defined references to be mapped.

What you want is a `Link Address Element` which is an explicit link, image link or the address part of a reference definition. That is the reason it is not working for you.

[2017-10-18 16:40] vsch commented on #462
@holgerbrandl, from past YouTrack issues I have researched this was an issue that was related to OS X and was very hardware version dependent. The JavaFX initialization hangs waiting on native code.

Something in the native implementation was causing this issue. I thought this was fixed in the Open JDK that comes bundled with the IDE.

On the plugin side there is nothing that can be done for this

[2017-10-18 17:46] vsch commented on #466
@vjpr, this affects all the formatting code including wrap on typing.

This part of the code is very brittle because it depends on the IDE implementation and when it updates the PSI tree for the file.

I have not made any progress since I realized that I first have to rewrite that part of the code to make it independent of the IDE implementation details, which change often.

I added it to the to d

[2017-10-18 17:49] vsch commented on #507
@trzye, I will have to add an option to always render links in a specific format: page relative (this is what you want), site relative (`/....`), http:// absolule, file:// absolute

Right now if the file is on GitHub the plugin uses http:// absolute format.

I will make an EAP release and post it an update here.

[2017-10-19 06:26] holgerbrandl commented on #462
Thanks for looking into that problem.

Sorry, I did not mean to be offensive about the swing renderer.

I'll change the jre for testing purposes and let you and jb know if it solves the problem.

[2017-10-19 06:56] vsch commented on #462
No offense taken. Quote from the read me file at the bottom:

So I fully agree with you on swing's retro, 1990's look.

[2017-10-19 11:55] neochief commented on #499
Thanks for your answer. However, I don't have the "Link Address Element" in the list when I try to add a new group:
https://www.dropbox.com/s/zpsm020llyfbuz3/Screenshot%202017-10-19%2014.53.08.png?dl=0

[2017-10-19 11:56] neochief commented on #499
Just in case, I use Official Plugin Release, version 2.3.7, with a premium license.

[2017-10-19 16:31] vsch commented on #499
Ah, this is key piece of information that I forgot to ask. Is there a technical reason you are running a an old version? The latest release is 2.3.8.

I would recommend you upgrade to the latest EAP version. It has a lot of bug fixes and it may resolve your issue too.

To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets

[2017-10-19 17:01] neochief commented on #499
Vladimir, I'm sorry that this issue is such pain in the ass. I almost regret informing you that it still doesn't work for me.

I tried to keep configuration overrides to minimum, that's why I didn't use EAP version. But now I updated the plugin to 2.3.8.28 as you asked and restarted the IDE. Then, I configured Link Map once again as you described. But my image tags still show red warnings "Unresol

[2017-10-19 17:13] vsch commented on #499
@neochief, my bad. The setup for site relative links only works with specific github layout.

The only workaround is to map to local `file://` based urls. Instead of `/public/images/` put `file:///...../public/images/` in both map strings. Where `file:///...../public/images/` is the full path to your directory.

This will use local file URLs for the mapping and avoid all GitHub specifics.

[2017-10-20 11:27] neochief commented on #499
It finally worked! Thanks a lot for your support.

[2017-10-20 11:27] #499 closed

[2017-10-20 11:31] neochief commented on #506
As a workaround, you could add the `.idea/markdown-navigator` directory to your project's `.git/info/exclude` list. This will only affect your own project copy, so you won't need to mess with the project's `.gitignore` file.

[2017-10-20 19:31] jamesiter opened #508 "About TOC, why can't generate"
![image](https://user-images.githubusercontent.com/2541839/31838574-0eb7c488-b5a3-11e7-9662-8c7de55a105e.png)
![image](https://user-images.githubusercontent.com/2541839/31838593-1b194f62-b5a3-11e7-951a-276129d4c3ed.png)
![image](https://user-images.githubusercontent.com/2541839/31838625-3bd9b9d0-b5a3-11e7-8c15-026fb612d56e.png)
![image](https://user-images.githubusercontent.com/2541839/31838680-8c

[2017-10-20 19:34] jamesiter commented on #508
My another old project. This is normal.
![image](https://user-images.githubusercontent.com/2541839/31838728-bc897534-b5a3-11e7-8fd7-b30585335a81.png)

[2017-10-21 00:30] vsch commented on #508
@jamesiter, TOC element parsing is optional and if you don't enable it in Languages & Frameworks > Markdown > Parser then it will be treated as a reference link and that is why you are getting all the link related intentions.

Enable the Table of Contents  in Parser options and it will work like it does in your other project.

![Screenshot_Parser_TOC](https://github.com/vsch/idea-multimarkdown/raw

[2017-10-21 14:50] jamesiter commented on #508
success！Thank you.........

[2017-10-21 14:50] jamesiter commented on #508
You can close this! Thank you.

[2017-10-21 15:06] #508 closed

[2017-10-27 10:00] vjpr commented on #466
@vsch What's the time frame for the rewrite being done? Is there a branch to see the progress, help out?

[2017-10-27 23:46] vsch commented on #466
@vjpr, it will be after the next release. I don't want to make such big changes without a long EAP cycle.

I have delayed the next release, waiting for JB to release the 2017.3 version of the IDEs. These are now in public preview so the next release should happen soon after this version of the IDEs is released. Afterwards, I can start on the rewrite of the auto-formating code and consistent handli

[2017-10-27 23:58] vjpr commented on #466
Understand, really appreciate your work on it!

I think its a really important plugin and the refactoring is killer for people maintaining lots of documentation.

Seems like a very tiny thing to have an option to change 4 spaces to 2 spaces...but I guess I can wait.

[2017-10-28 00:33] vsch commented on #466
@vjpr, I will try just the 2 space option only. Since it does not make a difference for the code I will add it in without making changes to anything else. It will only affect those that make the change, so it is safe enough since by default no one will be affected.

The bigger change is to have full implementation of all the IDE tab/space options which extends to having embedded tabs with variable

[2017-10-28 14:20] vsch opened #509 "Text with colons is incorrectly interpreted as an invalid emoji shortcut"
[code]

does not parse the emphasis and treats everything between colons as an emoji shortcut

**Workaround**: In Languages & Frameworks > Markdown > Parser, disable the Emoji Shortcuts and the parsing will be correct.

[2017-10-28 14:36] vsch commented on #466
@vjpr, EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-10-28 14:36] vsch commented on #466
@vjpr, in code style > markdown change the indent size to 2. https://github.com/vsch/idea-multimarkdown/wiki/Document-Format-Options#general-options

[2017-10-28 14:44] vsch commented on #507
@trzye, EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

There is a new dropdown in html export settings for the link format. It is enabled if "Link to exported HTML" is not set.

[2017-10-28 15:50] vjpr commented on #466
Thank you! Works great.

On 28 October 2017 at 16:36, Vladimir Schneider <notifications@github.com>
wrote:

[2017-10-28 16:01] vjpr opened #510 "Toolbar always collapsed on small editor window"
I use a MBP with Retina display with 3 editors open + Project pane. This seems like a standard setup.

The toolbar icons are always collapsed. This is frustrating because I often just want to quickly switch between preview and output, but have to click an additional button each time.

![screen shot 2017-10-28 at 5 59 50 pm](https://user-images.githubusercontent.com/281413/32136103-d2fd5f08-bc09-11

[2017-10-28 16:37] vjpr opened #511 "`Cycle split layout` shortcut stop working when `Preview Only` is selected"
I have `Command+P` set to this command. When it reaches the `Preview Only` I have to click on the preview before the key will work.

I am using FX preview.

[2017-10-28 16:39] vjpr opened #512 "Add keyboard shortcut to `Cycle between Preview only and Editor only`"
There is `Toggle Editor Layout` and `Cycle split layout`. But often I want to replicate the Github editor behaviour by cycling between editor and preview - because I use small editor panes which don't look good split.

[2017-10-28 16:45] vjpr commented on #512
Will also depend on https://github.com/vsch/idea-multimarkdown/issues/511 being resolved.

[2017-10-28 17:05] vjpr opened #513 "Vertical editor/preview split"
When using 3 editors on one screen there is not much horizontal space in the editors.

I would prefer to have a vertical split.

[2017-10-28 17:31] vjpr opened #514 "ES6 javascript code highlighting not compatible with Github"
When I write:

Doesn't highlight correctly in multimarkdown but works on Github.com:

[code]

Highlights correctly in MM but not on GH:

[code]

[2017-10-28 17:34] vjpr opened #515 "Scrolling on MacBook touchpad in JavaFX preview is jumpy when scrolling past the bottom"
If I use my mouse which is set to scroll 3 lines at a time it works fine.

_Mostly_ occurs once you have scrolled to the bottom of the document.

Sometimes happens before the bottom.

[2017-10-30 01:18] vjpr commented on #469
Hey, just wondering if this feature could be another quick fix? It really makes it difficult to work with lists.

Feels like something as simple as:

[code]

[2017-10-30 01:22] vjpr opened #516 "When caret is in a list element, shift-enter should move to new line but not add bullet"
**Expected**

[code]

**Actual**

[code]

[2017-11-02 18:39] Javaru opened #517 "Invalid tool tip for "Show Breadcrumb text""
In the settings, the tool tip for  "Show Breadcrumb text" says "Show notification when plugin is updated."

![image](https://user-images.githubusercontent.com/2196944/32343901-7ded3562-bfdb-11e7-8c71-2a8216c4721d.png)

[2017-11-03 08:21] vjpr opened #518 "Allow scrolling past end of document"
If my text fills the entire pane, I want to be able to scroll so that the last line is at the top of the pane.

[2017-11-03 08:23] vjpr commented on #518
Nevermind, found the setting here: https://stackoverflow.com/a/593248/130910

[2017-11-03 08:23] #518 closed

[2017-11-03 11:30] vsch commented on #513
Already on the todo list #260

[2017-11-03 11:34] vsch commented on #516
@vjpr, see #192

[2017-11-03 11:36] vsch commented on #515
See #488

[2017-11-03 11:42] vjpr commented on #516
I think my issue is different.

I want `shift+enter` to create sub text without a bullet, but not stop bulleting.

[2017-11-03 11:54] vsch commented on #516
@vjpr, shift enter is not a separate handler in the IDE but a combination of cursor move and enter combination so it is not possible to have one insert a list item and the other not.

However, as a workaround hitting enter on an empty list item removes the item prefix. This is the best I could come up with considering the limitations.

[2017-11-03 11:57] vjpr commented on #516
Okay so the workaround is okay:

[code]

[2017-11-03 11:58] vjpr commented on #516
But there seems to be `Editor actions > Start new line` set to `Shift+Enter` in the Keymap. If Markdown exposed a Shift+Enter action then we could bind to this no?

[2017-11-03 12:12] vsch commented on #514
The plugin uses language name of available languages for highlighting. Some hardcoding for compatibility is added manually. For example `js` is a copy of `javascript`, `shell` is a copy of `bash`.

On my IDEA Ultimate I don't have `js6` listed as available languages.

What IDEA settings are you using for JavaScript to have `js6` configured as ES6 javascript?

[2017-11-03 12:14] vsch commented on #516
The Plugin does not override the action but implements an EnterHandler, which is the way the IDE expects customizations of the ENTER to be implemented.

[2017-11-03 13:10] vjpr commented on #514
Hmm, just tried again and it works for `js` now.

But when I type something random it also highlights correctly...

[2017-11-03 19:30] mallowigi opened #519 "Reduce color scheme footprint?"
I'm a plugin developer and I wanted to update my color scheme to include Markdown Navigator colors inside it. However after seeing the icls generated by my configuration, I've seen that the icls grew up to more than 65000 lines!!! and 62000 lines of it are Markdown Navigator!!!!!

It looks like you're registering every combination possible of bold-italic-subscript-abbr-etc. It kind of make sense w

[2017-11-03 22:12] vsch commented on #516
@vjpr, it sounds like you are doing manual text formatting. Why are you not using the wrap on typing and element or document format to have the text reflow within a list item?

[2017-11-04 07:05] vjpr commented on #516
I want to be able to write documents with sub-lines like so:

- test
   _this is a sub-line_
- test
- test

[2017-11-04 08:32] psicho2000 opened #520 "Not working: As you type automation: Double of bold/emphasis markers and remove inserted ones if a space is typed"
When I enter **, *, __ or _ I would expect to have it doubled with the caret in the middle of it. This is currently not working.

[2017-11-04 08:45] psicho2000 opened #521 "License terms"
What happens after one year license expires - does the plugin not provide enhanced features anymore? Or is it simply not possible to receive updated versions, but with enhanced features in the already installed plugin still working?

[2017-11-04 10:10] vsch commented on #516
@vjpr, are you using the hard line break (two or more spaces at the end of the line) to separate the sub-line from the main item?

If you are not then this is only in the markdown source but not in the rendered HTML.

If you are using the hard-break spaces then that could be added to the logic for handling ENTER. If the line you are on end is two or more spaces then ENTER will not add the item mar

[2017-11-04 10:12] vsch commented on #520
@psicho2000, this feature was disabled because many users complained about the behavior. I can enable it as an option that is turned off by default.

[2017-11-04 10:12] vsch commented on #521
@psicho2000, after one year you can keep using any version of the plugin that was released before your license expired.

[2017-11-04 10:45] vsch commented on #519
@mallowigi, the combination attributes are generated from base attributes when the plugin initializes or the scheme is switched.

I did not find a way of intercepting saving of the color scheme so that all the combinations could be removed when saving the color scheme. I will take another look at the API to see if this could be achieved. The plugin does not need the combinations to be saved, only

[2017-11-04 10:47] vsch commented on #514
That is probably a side effect of highlightjs which tries to identify the language of the code block.

[2017-11-04 10:48] vsch commented on #517
@Javaru, thanks for catching it. I will update the tooltip.

[2017-11-04 10:48] #514 closed

[2017-11-04 10:56] mallowigi commented on #519
Maybe one improvement would be to set two type of color scheme settings? For instance, I don't separate between even and odd rows, so they mostly take some space for nothing.

In any case I've removed the combination attributes from the color schemes, so that solves it; but unfortunately every time the user would select the color scheme, IntelliJ would mark the scheme as a copy as a result of the

[2017-11-04 10:58] vjpr commented on #516
I wasn't. And did not know about [hard line breaks](http://markdown-guide.readthedocs.io/en/latest/basics.html#line-return).

When the profile is set to `Github Markdown Documents` two trailing spaces are required.

When the profile is set to `Github Comments`, the document renders how I like it.

Yep, this is what would work best for me. Shift+Enter to create a line return without a bullet.

Are

[2017-11-04 11:02] vsch commented on #519
@mallowigi, I did not see any way of controlling this in the API. The plugin provides the attributes and the color management is done by the IDE. I will ask JetBrains if there is a way to filter out attributes during color scheme saving so that only original attributes are saved.

Another option is to add configuration settings that will allow disabling creating some or all combinations so that th

[2017-11-04 11:03] mallowigi commented on #519
Thanks a lot! Great plugin by the way :)

[2017-11-04 11:05] vsch commented on #516
@vjpr, GitHub comments has HARD BREAKS enabled, which treats all line breaks as hard breaks.

Usually, the parser configuration is set for how the document will be rendered outside the IDE, for example if it is on GitHub then it will be rendered as GitHub Markdown Document not as a comment and implicit hard breaks will not be rendered.

If comment mode works for your use case then it is not an iss

[2017-11-04 11:15] vjpr commented on #516
This issue is just about the `shift+enter` behavior though.

If hard breaks enabled, add two spaces, new line, **indent to left-most text**.

If hard breaks not enabled, new line, **indent to left-most text**.

[2017-11-04 11:19] vsch commented on #520
@psicho2000, option re-enabled in Editor > Code Style > Markdown, under smart edit.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-11-04 11:31] vjpr opened #522 "Keyboard shortcut to insert fenced code block"
[code]

[2017-11-04 11:36] vsch commented on #522
@vjpr, look into Live Code Templates they already do this. You can also define `surround` templates that will allow you to select a block of lines and wrap them in a fenced code.

Fenced code mnemonic is `.codefence` but you can change it to anything you like

You can also record your own macro and assign it to a key that will insert fenced code or any other element. The IDE provides a lot of cust

[2017-11-04 11:38] vsch commented on #516
@vjpr, since there is nothing I can do about shift+enter without affecting enter then an intelligent workaround is the only option.

What I am proposing is that if the current line ends is two or more spaces then enter will indent the caret on the next line (if following a list or other indenting item), whether HARD-WRAPS option is enabled in the parser or not.

The two spaces continuing  a list i

[2017-11-04 11:38] vjpr commented on #522
Cool!

![screen shot 2017-11-04 at 12 37 31 pm](https://user-images.githubusercontent.com/281413/32405008-f17a68a6-c15c-11e7-816a-fe8bff6c561c.png)

[2017-11-04 11:58] vjpr commented on #516
In the keymap I see this:

![screen shot 2017-11-04 at 12 46 18 pm](https://user-images.githubusercontent.com/281413/32405073-73756c74-c15e-11e7-97d1-5018cd4607b8.png)

So I was wondering why you cannot create an action that can be "new line and indent". Surely key-mappable actions can check the position of the cursor and do multiple things...or is this where I am wrong?

I just realized that `shi

[2017-11-04 12:24] vsch commented on #509
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2017-11-04 12:30] vjpr commented on #516
Like this: ![kapture 2017-11-04 at 13 29 28](https://user-images.githubusercontent.com/281413/32405369-5a942942-c164-11e7-9a5e-c8d3d50d0107.gif)

[2017-11-04 12:43] vsch commented on #516
The answer is simple. I only have so much available time and have to prioritize requests. I do this based on usefulness to many users. As much as I would like to have every user's wishes satisfied, it is not realistic from my time management perspective.

Once the two spaces at end of line context sensitivity is implemented for ENTER, you will be able to create a macro that will do what you want w

[2017-11-04 12:48] vjpr commented on #516
If this is the case, then this feature does not matter so much to me.

But would it be possible to please implement https://github.com/vsch/idea-multimarkdown/issues/469 quickly? This is a daily frustration much more than anything else I have requested. If you can do this, then I am happy for a long time. I would 100% implement myself if it were possible...but as you have mentioned it is not right

[2017-11-04 13:35] vjpr commented on #522
I'm going to leave this open actually. Usually I will create a code block up front and fill it with code. Having to use surround means you have to type something first, then use the surround shortcut. There still should be a keyboard shortcut to create the block.

[2017-11-04 13:47] vjpr opened #523 "Language injections not working"
I saw that language injections are implemented but I can not seem to get them to work.

This should automatically be injected? And how can I verify that its working?

[code]

![screen shot 2017-11-04 at 2 48 54 pm](https://user-images.githubusercontent.com/281413/32405948-4fbaf478-c16f-11e7-9367-5a9edfcaf1a3.png)

[2017-11-04 21:10] psicho2000 commented on #521
Thanks for the answer. So after expiration, I can still use enhanced features, but just not update anymore. Great!

[2017-11-04 21:10] #521 closed

[2017-11-04 21:23] vsch commented on #523
@vjpr, the info part of the fenced code has to correspond to what the IDE calls the language.

The best way to get it right is to use completions to select the language, if you are not sure.

![fencedcodecompletions](https://user-images.githubusercontent.com/10299086/32409581-ea4dcadc-c184-11e7-912f-82ec94e395ef.gif)

[2017-11-04 21:25] vsch commented on #522
@vjpr,

Why wait for the plugin to implement this action when you can spend 30 seconds and record a macro and assign it to a key, which will do it for you now?

[2017-11-04 21:30] psicho2000 commented on #520
Thanks, I tested it and it is working great (better than Sublime with MarkdownEditing plugin). I wonder why others did not like it :) Good way to make it configurable, though.

[2017-11-05 05:35] vsch commented on #520
@psicho2000, you also have the shortcuts for toggling bold, italic or inline code.

1. When there is a selection:
   1. if the selection selects all or portion of the inline formatted text then the formatting is removed
   2. Otherwise wrap the selection in the inline formatting markers
2. When there is no selection:
   1. When the caret is inside the inline element the attribute is removed.
   2.

[2017-11-05 07:19] vjpr commented on #522
I just made a live template for ``<tab>`. This will be fine. Closing.

I've never used macros before, thanks for the tip.

[2017-11-05 07:19] #522 closed

[2017-11-05 07:24] vjpr commented on #523
Still not working for me.

I don't see syntax highlighting, and there is no other indication it is working.

[2017-11-05 09:45] vjpr opened #524 "Dedent shortcut not working properly"
- indent a nested list
- dedent the same list

Don't get the same results.

![kapture 2017-11-05 at 10 44 22](https://user-images.githubusercontent.com/281413/32413649-6f35c772-c216-11e7-9861-b33fc9026325.gif)

[2017-11-05 23:43] ghost opened #525 "Table sorting"
It would be great to sort a table column ascending / descending in my markdown. It would be much easier than sorting this by hand (obviously).

I would really like to see this as a feature.

[2017-11-06 04:39] vsch commented on #525
@bdiekert, did you try the [String Manipulation plugin](https://plugins.jetbrains.com/plugin/2162-string-manipulation) which has really nice sorting options including Sort Lines by Sub-Selection?

It is the reason I haven't bothered adding these options yet. The functionality offered by this plugin already does a good job.

[2017-11-06 07:20] trzye commented on #507
I was using relative mapping intensively and it works great. Thank you!

[2017-11-06 07:20] #507 closed

[2017-11-06 09:14] bdiekert commented on #525
@vsch Never heard of the plugin, but I just tested it and it works great.

IMHO I still see a feature :)

Thank you so much for your help.

[2017-11-07 11:56] vsch commented on #523
@vjpr, If the section of code has an injected language then you get intentions to edit the fragment.

can you please provide a markdown sample that is not working.

[2017-11-07 11:59] vsch commented on #524
@vjpr, bug.

[2017-11-07 12:57] vjpr commented on #523
Its in every file. Never works.

[2017-11-07 13:00] vsch commented on #525
@bdiekert, I agree it is a future feature.

[2017-11-07 13:04] vsch commented on #523
@vjpr, can you make a screenshot of what you are getting?

It may not be obvious but the above does not give me anything to work with.

[2017-11-07 13:08] vjpr commented on #523
![kapture 2017-11-07 at 14 08 36](https://user-images.githubusercontent.com/281413/32495250-2f731b48-c3c5-11e7-9ab6-e222ff37d90f.gif)

[2017-11-07 13:13] vsch commented on #523
@vjpr, if you want to see syntax highlighting of the injected language you either need to edit the language fragment using the intention which will open a new window with only the injected language text or switch syntax highlighting (Languages & Frameworks > Markdown) to "Lexer".

With syntax highlighting set to annotator the lexer highlights of injected languages get overwritten by the annotator.

[2017-11-07 19:43] vsch commented on #523
![image](https://user-images.githubusercontent.com/10299086/32513991-b72d3b46-c3c9-11e7-8319-3aaaa8c72d78.png)

If you are not seeing this intention then there is no language injection.

I was only able to duplicate what you are describing by turning off the "Use language injections in Fenced Code" option under Languages and Frameworks > Markdown.

[2017-11-07 20:00] vjpr commented on #523
I don't think its ever worked for me.

Here are my settings:

[code]

[2017-11-07 20:06] vsch commented on #523
The settings for language injection are saved in `markdown_navigator.local.xml` the ones you are looking at are `markdown_navigator.shared.xml`

[code]

[2017-11-07 23:49] vjpr commented on #523
Could not find these ones. Are they global or project specific?

On 7 November 2017 at 21:06, Vladimir Schneider <notifications@github.com>
wrote:

[2017-11-08 19:02] vsch commented on #523
@vjpr, these are IDE global found in the IDE preferences/settings directory in the `options` sub-directory.

[2017-11-12 14:22] Mc128k opened #526 "Code sections not exactly monospace in preview"
Hi, I'm trying to draw diagrams in the markdown file, like this:

    ╔═══════════╗   ╔═══════════╗   ╔════════════╗
    ║  G Cloud  ║   ║  G Cloud  ║   ║  G Cloud   ║
    ║ FM Server ║◀──║  Web API  ║◀──║ Job Status ║
    ╚═══════════╝   ╚═══════════╝   ╚════════════╝
          ▲               ▲
          └───────┐       └────────┐
    ╔═══════════╗ │ ╔═══════════╗  │╔════════════╗
    ║  Dev Env

[2017-11-13 00:38] vsch commented on #526
@Mc128k, it depends on the fonts installed on your system. Here is what it looks like on my system:

![image](https://user-images.githubusercontent.com/10299086/32705231-b8fb22f2-c7df-11e7-8fbb-a268f3998f78.png)

The CSS for fixed fonts has the following font list:

[code]

Previous reports of non-fixed font used where fixed pitch was expected was either caused by
incorrect font installation or by

[2017-11-13 13:25] vsch commented on #511
@vjpr, I will take a look at it. If I remember right in the text view I had to add a change focus to have the shortcut working. I suspect I need to add something similar for the preview.

[2017-11-15 16:15] vjpr opened #527 "How to use *italics* instead of _italics_ when pressing `Ctrl+I`"

[2017-11-15 16:55] vjpr opened #528 "`Header level up` should create H1 when there is no heading"
[code]

[code]

[2017-11-15 17:14] vjpr commented on #488
For me, it does not seem like a performance issue. Its just with the Macbook trackpad. If I scroll to the bottom of a file and scroll down, it jumps up repeatedly. Its the handling of the scroll events or something.

Is this part of the code public?

[2017-11-16 00:30] vjpr commented on #488
@vsch So I took a look at the code, and there looks like a few places where the browser is being scrolled using javascript.

That `onScroll` method looks suspicious...seems like it could cause the jerkiness. Could you take a look?

https://github.com/vsch/idea-multimarkdown/blob/b202c3b61eb505f6debdff365d13f792fa446461/src/main/java/com/vladsch/idea/multimarkdown/editor/MultiMarkdownFxPreviewEdito

[2017-11-16 00:33] vjpr commented on #488
Also came across this project for using Chromium in Java apps. Maybe worth a look -> https://bitbucket.org/chromiumembedded/java-cef.

[2017-11-16 12:08] vsch commented on #488
@vjpr, if the solution was this easy, I would not have to spend many days trying to optimize the code and look for bottlenecks.

First lets address the scroll issue. It manifests itself on systems that have this problem even when mouse scrolling is used. In which case the onScroll method stores the resulting top offset into the preview. This means that the jumpy scrolling is not driven by the plug

[2017-11-16 12:12] vjpr commented on #488
When I use mouse scroll set to 3 lines at a time I never see the issue.

[2017-11-16 12:23] vsch commented on #488
@vjpr, can you please try the same with Markdown Support just to see if it is a JavaFX issue or plugin issue.

[2017-11-16 12:38] vjpr commented on #488
@vsch

[2017-11-16 13:05] vjpr commented on #488
I added a scroll-hijack to the js -> http://manos.malihu.gr/jquery-custom-content-scroller/

This helps prevent the tearing during scroll. It doesn't feel good, and it doesn't fix the wierd bouncing behaviour at the bottom.

[2017-11-16 13:51] vjpr commented on #488
Okay scroll hijack was a bad solution.

The gfm plugin works perfectly. It would be cool if it were supported by markdown-navigator. Maybe you could have a separate plugin just for the JxBrowser because of its size. Link to gfm issue regarding size: https://github.com/ShyykoSerhiy/gfm-plugin/issues/32

For now I am just switching back and forth between markdown-navigator and gfm and it works well.

[2017-11-16 13:54] vjpr commented on #488
@vsch Regarding using gfm and markdown-navigator together, is there a way to make `Gfm Preview` the default multi-editor tab that is activated when opening a markdown file?

Does markdown-navigator interfere with this in any way?

[2017-11-16 17:16] neochief opened #529 "Copy-paste behavior with images"
Suppose I have following file:

a.md:
[code]

When I copy and paste this line into another file, it is being pasted like this:

b.md:
[code]

How do I avoid this change in the image URL?

BTW, this might be related to https://github.com/vsch/idea-multimarkdown/issues/499, since when I disable link mapping, this thing does not happen (but images become unrecognized, which is not desired).

[2017-11-17 06:16] tdeuling opened #530 "Duplicate 3rd level headline marked as warning"
The same spelled 3rd level headline in different 2nd levels are marked as warning. But the headlines are unique in their 2nd level sections.
![selection_049](https://user-images.githubusercontent.com/1298841/32931977-3684ab96-cb67-11e7-87c2-f7a23588b7f2.png)

[2017-11-17 12:50] vsch commented on #488
@vjpr, the IDE opens the file with the main tab activated.

[2017-11-17 12:55] vsch commented on #529
@neochief, when the specific URL format does not resolve to the file, the plugin automatically changes the format to absolute http: format so the image resolves. Otherwise, you would be pasting a link that does not resolve. On the other hand if the link resolves but the format is wrong then you can always use the intentions to change the format.

If you fix the image becoming unrecognized when usi

[2017-11-17 12:57] vsch commented on #530
@tdeuling, the heading id attribute is derived from the heading text. When two headings have the same text it results in the same id which means that the anchor reference will not resolve to a single element.

You can ignore the warning. It is only there as an indication that you can't create an anchor ref to this heading that will work as expected.

[2017-11-17 12:59] vsch commented on #527
@vjpr, at the moment there is no option for this. I will take a look if a current option can be used to determine which characters to use.

[2017-11-17 13:46] tdeuling commented on #530
@vsch Thanks for your reply. I understand, you're right.
I just ask, because I love that 'green bar feeling' below the scrollbar so much ;) I need to ignore that.

[2017-11-17 13:46] #530 closed

[2017-11-17 14:38] vjpr commented on #488
@vsch Who decides what is the main tab?

[2017-11-17 15:07] vsch commented on #488
@vjpr, the IDE takes the first editor tab as the main tab, if memory serves correctly.

[2017-11-20 03:06] hokkun-dayo opened #531 "Couldn't we reflect font specification to preview?"
I've specified to custom CSS as follows:
[code]
and I can see this in the actual HTML file. However, this plugin's HTML preview can't be reflected.
Can I change the font used in JavaFX preview?

[2017-11-20 22:11] vsch commented on #531
@hokuto-k, the preview CSS uses classes for the containers so it overrides the settings on the body element.

You should modify the font settings and use it as the CSS override for the preview:

[code]

[2017-11-21 09:51] lolmaus opened #532 "[support request] Reset Markdown Navigator settings to defaults?"
Hi! I've been using Markdown Navigator for years and I feel some of my settings have become outdated over time, e. g. an inoptimal renderer.

How do I reset them to defaults?

[2017-11-21 18:19] vsch commented on #532
@lolmaus, Markdown Navigator settings are stored in two places:

1. Project based settings are stored in the .idea directory in files starting with `markdown-` and in the directory `markdown-navigator`

   If you delete these files then defaults will be used.

2. Application wide settings are stored in the IDE settings directory (OS specific) in the `options` sub-directory.

   1. file `markdown_n

[2017-11-30 13:55] vjpr commented on #469
@vsch Just checking in on this feature.

I've tried using different shortcuts such as `ctrl+shift+right` but its still not as easy to press as tab, and is still a daily frustration for me.

Is there any quick hack to get this function?

[2017-12-05 10:29] sholong opened #533 "export to pdf error (when Chinese in content )"
![tim 20171205183319](https://user-images.githubusercontent.com/7708380/33602635-e57e6330-d9ea-11e7-8890-2bf0d429b92d.png)
![tim 20171205183350](https://user-images.githubusercontent.com/7708380/33602637-e70b8638-d9ea-11e7-82fa-63f0c5fc8382.png)

[2017-12-06 07:47] haifang12 opened #534 "How to debug the project"
Hi, I want to use this project to study how to add new file types to Android studio, and how to edit the new file type's file.
   I'm using IntelliJ IDEA 2017.1.5 on Mac OS X 10.12.3. But when I debug the project in the new project. The new project can not recognize the file type "mkd" or "md". So my study is blocked.
Could you please tell me how to debug the idea-multimarkdown project in IntelliJ

[2017-12-07 17:42] #397 closed

[2017-12-07 17:42] #452 closed

[2017-12-07 17:42] #465 closed

[2017-12-07 17:42] #471 closed

[2017-12-07 17:42] #473 closed

[2017-12-07 17:42] #474 closed

[2017-12-07 17:42] #475 closed

[2017-12-07 17:42] #476 closed

[2017-12-07 17:42] #477 closed

[2017-12-07 17:42] #478 closed

[2017-12-07 17:42] #479 closed

[2017-12-07 17:42] #481 closed

[2017-12-07 17:42] #484 closed

[2017-12-07 17:42] #486 closed

[2017-12-07 17:42] #489 closed

[2017-12-07 17:44] #466 closed

[2017-12-07 17:44] #468 closed

[2017-12-07 17:44] #494 closed

[2017-12-07 17:44] #509 closed

[2017-12-07 17:44] #517 closed

[2017-12-07 17:44] #520 closed

[2017-12-08 18:27] jmalin-satori opened #535 "Documentation for link maps and mapping groups"
The Markdown Navigator plugin has a option to view or edit link map groups, but there's no documentation for this feature. In addition, I can't find anything related to Markdown that describes link maps.

I'd like to have at least a link to some documentation that discusses the use of this feature.

[2017-12-08 18:35] vsch commented on #535
@jmalin-satori, I will add a link on the page to the documentation. https://github.com/vsch/idea-multimarkdown/wiki/Modifying-Link-Processing

This is not a "markdown" feature but  a plugin feature to allow custom pre-processing of links so that non-standard links could be resolved by the plugin by transforming the link to what the plugin can resolve.

There is also a reverse transformation so tha

[2017-12-08 19:04] jmalin-satori commented on #535
This is entirely satisfactory. Thank you for your prompt response!

[2017-12-08 19:22] vsch commented on #533
@sholong, it is a limitation of the openhtmltopdf library which is used by the plugin.

The library needs additional fonts that have the necessary characters and html changes that will change the text to use those fonts.

This is covered by the issue for the library: https://github.com/danfickle/openhtmltopdf/issues/129

I am looking into how this can be handled by the plugin.

[2017-12-08 19:27] vsch commented on #534
The IDE when running under debug creates a new instance of IDE configuration and stores plugins under debug in that location.

I found that in order to debug the plugin it is necessary to install the plugin in the debug instance of the IDE. I am not sure if the idea-markdown requires it because it was not required before.

However, you should install the zip file for the plugin that you generate i

[2017-12-10 19:29] vjpr opened #536 "Error when starting `Cannot find element among its parent' children.`"
[code]

[2017-12-10 21:24] vsch commented on #536
@vjpr, I got the exception report and think I fixed the issue but since I cannot duplicate it cannot be sure. I made and EAP release with the fix but if you have a markdown file that causes this I would appreciate if you can provide it so I can duplicate the issue and be sure of what causes this.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settin

[2017-12-11 02:08] hokuto-k commented on #531
@vsch
Thanks, I will try it.

[2017-12-11 06:26] vjpr commented on #536
Thanks! It's fixed.

On 10 December 2017 at 22:24, Vladimir Schneider <notifications@github.com>
wrote:

[2017-12-12 21:23] grabear opened #537 "Any hope for RMarkdown (.Rmd) support for report generation?"
RStudio gives you the ability to generate reports using knitR.  It uses a combination of LaTeX and RMarkdown formatting with pandoc to render nice reports, straight out of the box.

Python has a few libraries that are working to do this with Python ([knitpy](https://github.com/janschulz/knitpy) and [stitch](https://github.com/pystitch/stitch)).

Is Markdown Navigator or PyCharm working on an RMark

[2017-12-12 22:22] vsch commented on #537
@grabear, no plans so far to support report generation in the plugin. LaTeX support, however, is on the todo list.

[2017-12-12 23:21] acrodrig opened #538 "Emojis do not display in preview"
I cannot the emojis in the preview (see attachment). I see weird characters.

![screen shot 2017-12-12 at 5 20 59 pm](https://user-images.githubusercontent.com/959336/33913805-f36d42ec-df60-11e7-8a4d-44e89115c9af.png)

[2017-12-12 23:23] vsch commented on #538
@acrodrig, can you please provide the markdown text with the emojis so I can duplicate this.

[2017-12-12 23:25] acrodrig commented on #538
The following example:

[code]

Renders as:

![screen shot 2017-12-12 at 5 24 57 pm](https://user-images.githubusercontent.com/959336/33913921-68151246-df61-11e7-8e89-6a4238320c90.png)

[2017-12-12 23:26] vsch commented on #538
@acrodrig, the markdown text is showing up with the emoji images not emoji shortcut text.

![image](https://user-images.githubusercontent.com/10299086/33913985-ff50f514-df69-11e7-9c0d-2a98edf13012.png)

[2017-12-12 23:39] vsch commented on #538
BTW, the plugin is using the https://www.webpagefx.com/tools/emoji-cheat-sheet/ list of emojis and shortcuts.

[2017-12-12 23:41] OleksiyRudenko opened #539 "Big local images (e.g. .gif) referred to in an open .md file get locked and cause merge conflicts and issues on checkout"
How to reproduce on a project under git control:
1. Create an `.md` file with text only content
2. Create new branch e.g. `branch-a`
3. Add big `.gif` (1Mb is sufficient) file to current branch and refer to it in the `.md` file (e.g. `![demo](demo.gif)` ), and commit
4. Checkout `branch-a`
Expected result:
1. The `.gif` file is not on a working tree.
2. `.md` file doesn't contain reference to the

[2017-12-13 00:35] acrodrig commented on #538
@vsch The markdown is but the preview is not!

[2017-12-13 01:59] vsch commented on #538
@acrodrig, now I understand. You are inserting unicode into the file but are not getting it in the display.

I looked at the HTML generated and it is correct but JavaFX does not seem to properly display it.

[code]

However, Swing preview browser handles properly:

![image](https://user-images.githubusercontent.com/10299086/33918016-424c3f3a-df7f-11e7-95cb-d3a6f6d709fb.png)

It appears to be a Jav

[2017-12-13 14:29] acrodrig commented on #538
I see. I switched to Swing, but there are other things Swing does not handle (like todo lists with checkboxes). Thanks.

[2017-12-14 01:15] vsch commented on #539
@OleksiyRudenko, it definitely looks like a caching issue of the preview browsers. Disabling gif images does not work for Swing because it was added to prevent JavaFX WebView from displaying huge animations which make it hog a ton of memory.

I can add this to swing too and it will be a stop-gap measure. I don't have any control over the preview browser's implementation and can only add code to mi

[2017-12-14 18:25] OleksiyRudenko commented on #539
@vsch, thank you looking into it.
I believe making 'disable GIF' option working for Swing would do.
If it were possible to implement some behaviour based on file size, that would be great.
E.g. if image size is bigger than X Kb then display a stub saying 'the image is too big' or an initial frame from `.gif` just like default JetBrains markdown support plugin does.

[2017-12-14 18:55] vgheo opened #540 "Add concordion support"
[Concordion](http://concordion.org/) is an open source tool for writing executable specifications using markdown syntax.

Adding concordion support would involve
- markdown/java navigation
- concordion intentions ( complete java calls from concordion md with available java definitions in scope).

[2017-12-15 05:21] jorisrietveld opened #541 "Using tab to move to the next table cel."
Hi, first of all I want thank you for putting in the effort by creating this plugin. It really helped to reduce the time I wasted by creating tables. (They just have to be perfectly aligned...). But I have a question, I tried to find a way to configure the tab key so that it moves to the next cell when I am editing a table but I could not figure it out. I tried several things with the key map, liv

[2017-12-16 19:17] vsch commented on #541
@jorisrietveld, thank you for your support.

This is on a todo list.

The IDE implementation does not really expect standard keys like TAB, ENTER, SPACE, etc to be re-mapped to non-standard actions.

To make it work properly I have to intercept the tab key in Markdown editor and map it an action based on context and also take care of all the pop-up states. Otherwise, the key will work for navigati

[2017-12-16 19:19] vsch commented on #541
Duplicate of #469

[2017-12-17 21:13] stevecw opened #542 "Typographical Error in PHPStorm Preferences > Editor > Code Style > Markdown"
What steps will reproduce the problem?
1. Open PhpStorm
2. View the Preferences > Editor > Code Style > Markdown dialog box
3. Scroll to bottom of the window
4. Observe that **Alignt Columns** makes no sense

What is the expected result?
I expect to see either **Aligned Columns** or **Column Alignment** _(whichever makes more sense for the intended context)_

What happens instead?
I see text that

[2017-12-27 10:27] timboektoe opened #543 "error updating to new version of webstorm 2017.3.1"
com/intellij/lang/java/JavaLanguage
java.lang.NoClassDefFoundError: com/intellij/lang/java/JavaLanguage
	at com.vladsch.idea.multimarkdown.language.completion.FlexmarkJavaCompletionContributor.<init>(FlexmarkJavaCompletionContributor.kt:32)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorIm

[2017-12-27 17:53] vsch commented on #543
@timboektoe, the error is in the IDE. The reason the IDE thinks it is in the plugin is because the plugin has a custom paste handler, which in this case delegates to the default handler.

I reported a similar error to YouTrack https://youtrack.jetbrains.com/issue/IDEA-183826 and it was marked as incorrect installation.

However, because the error was reported to me through the automatic error repo

[2018-01-02 23:15] jimlongo56 opened #544 "Export to PDF greyed out"
Hi,

I can't tell what the error is.  Both the Toolbar item and Tools>Markdown Navigator>Export rendered Markdown to PDF are greyed out and unavailable.

![screen shot 2018-01-02 at 6 12 17 pm](https://user-images.githubusercontent.com/6787988/34503835-aa1ece60-efe8-11e7-8fb6-f637da39f731.png)

What steps do I need to take to enable Export to PDF.

[2018-01-02 23:19] vsch commented on #544
@jimlongo56, can you post a snapshot with the full tooltip. The part after disabled by: is cut off so I cannot see what caused it to be disabled.

[2018-01-02 23:19] jimlongo56 commented on #544
That's the way it looks on my screen, cutoff.

[2018-01-02 23:23] vsch commented on #544
@jimlongo56, that explains it. That appears to be an issue in the IDE. What IDE, Version and OS are you running?

The plugin does not handle the rendering or clipping of the tooltip. I will try to duplicate this because on my dev system it always displays the full multiline tooltip.

[2018-01-02 23:25] jimlongo56 commented on #544
PhpStorm 2017.3.2
Build #PS-173.4127.29, built on December 22, 2017
Subscription is active until February 20, 2018
JRE: 1.8.0_152-release-1024-b8 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.13.2

[2018-01-03 00:27] vsch commented on #544
@jimlongo56, I suspect it is the OS X High Sierra version. I am going to try and upgrade my parallels copy of OS X 10.12.6.

To make sure it is the OS can you try seeing a tooltip on the IDE:

<img width="247" alt="screen shot 2018-01-02 at 7 24 24 pm" src="https://user-images.githubusercontent.com/10299086/34505356-bf7a291c-eff2-11e7-83fa-cbeaf5e25f60.png">

[2018-01-03 02:26] jimlongo56 commented on #544
I get the same result on my laptop
PhpStorm 2017.3.2
Build #PS-173.4127.29, built on December 22, 2017
Subscription is active until February 20, 2018
JRE: 1.8.0_152-release-1024-b8 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.13.2

Here's what I get on that tooltip

![screen shot 2018-01-02 at 21 16 10](https://user-images.githubusercontent.com/6787988/34507310-b3974fe8-f002

[2018-01-03 03:34] vsch commented on #544
@jimlongo56, found how to duplicate it. If the toolbar is collapsed then the tooltips are clipped to its area when it is popped out. Not something the plugin can control.

Can you temporarily make the editor window big enough to show the toolbar so the full pop-up can be visible?

From the truncated message it looks like something is null that is not supposed to be but it is a guess.

[2018-01-03 03:43] jimlongo56 commented on #544
![screen shot 2018-01-02 at 10 43 34 pm](https://user-images.githubusercontent.com/6787988/34508528-677941c8-f00e-11e7-8693-f6a48ebfa0eb.png)

[2018-01-03 12:00] vsch commented on #544
@jimlongo56, the button is disabled because you have preview only mode selected.

The toolbar button needs the current editor in order to determine the context of text, selection and carets for the button action.

In this case the editor is not shown so the toolbar button cannot find an editor on which to operate.

I will see if I can find the editor from the preview pane but for now switch to tex

[2018-01-03 13:49] vsch commented on #544
@jimlongo56, fixed in latest EAP build. Also improved the message to say that editor is not showing instead of null.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-03 22:47] Javaru opened #545 "Add Support GitLab Parser"
As a feature request, I'd like to see GitLab parser support added, i,e. GitLab Flavored Markdown (GFM). I understand adding a new parser is a significant undertaking. Nevertheless, GitLab is gaining in popularity. This is particularity true in the corporate space since it can be used free (community version) or at a substantially lower cost than GitHub (enterprise version). For example my employer

[2018-01-04 13:46] vsch commented on #545
@Javaru,

I took a look at the GitLab markdown flavour and found that most of its constructs are already supported except for the delimiting block quote markers `>>>` and the GitLab specific issue, pr and user syntax.

I have not tested GitLab for its markdown indentation handling, which is the other markdown compatibility nightmare but suspect that is probably close to one of already implemented

[2018-01-04 15:39] Javaru commented on #545
@vsch

Thanks for the detailed and thoughtful response. I figured this would a more long-term request. I, as I'm sure most developers, can relate to the challenge it is to abstract some domain spaces out into a flexible, yet simple and maintainable, API. We've all rewritten APIs "for the final time" many times. I hope you are able to achieve your goals and then perhaps add GitLab to the available

[2018-01-04 18:12] jimlongo56 commented on #544
Thank you.

[2018-01-05 01:03] vsch commented on #545
@Javaru, please do provide any discrepancies you find in the parsing and rendering between the plugin and GitLab.

From the documentation I think that the best compatibility with GitLab is probably achieved via `Old GitHub Doc` for list in the parser settings, which was the parsing rules used by GitHub before they upgraded to CommonMark compatible parsing:

<img width="774" alt="screen shot 2018-0

[2018-01-05 20:53] vsch commented on #351
@bkimminich, latest EAP has attributes extension in parser settings. Enabling it will add attributes element parsing which includes the `{#id}` type. You need to enable this option in Languages & Frameworks > Markdown > Parser

Also added add/remove explicit id from headings intentions. Removing a custom id will first rename the explicit id to the default id then remove it. That way if you have an

[2018-01-06 06:53] vsch commented on #391
@bstout, anchor targets as inline HTML `a` tags with either id or name tag are now implemented.

Need to enable `HTML block deep parsing` (in Languages & Frameworks > Markdown > Parser) if `a` tags are not followed by blank lines or do not have a matching closing tag on the same line.

The first `name` or `id` attribute of the anchor will be taken as the anchor target, the rest (if multiple are pr

[2018-01-06 17:58] vsch commented on #539
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-06 17:59] vsch commented on #535
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-06 17:59] vsch commented on #527
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-06 17:59] vsch commented on #524
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-06 18:01] vsch commented on #512
Added application setting to select text/split or text/preview toggle for the toggle editor layout action.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-06 18:01] vsch commented on #511
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-06 18:02] vsch commented on #260
Added option in Languages & Frameworks > Markdown: `Vertical Text/Preview Split`, default not selected.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-08 20:08] Javaru opened #546 "Panel is guaranteed to be not null Regression"
Looks like there is a regression of issue #186

Markdown Navigator
Version: 2.4.0.22

IntelliJ IDEA 2017.3.3 EAP (Ultimate Edition)
Build #IU-173.4301.1, built on December 26, 2017
JRE: 1.8.0_152-b16 amd64
JVM: Java HotSpot(TM) 64-Bit Server VM by Oracle Corporation
Windows 7 6.1

[code]

[2018-01-09 06:18] vsch commented on #546
@Javaru, thank you for the heads up. This issue is caused by async initialization and in this case I missed the piece of code that can cause this. Fixed in new EAP 2.4.0.24.

 EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChanne

[2018-01-13 15:22] vsch opened #547 "Add option to disable custom paste handler"
Custom paste handler delegates most paste actions to the default handler. However, due to exceptions caused by the default paste handler and the fact that the plugin code is involved in delegation, the IDE erroneously flags these exceptions as plugin caused.

Now there is a setting to disable the custom exception handler. Also, when an exception occurs in the default handler a balloon notification

[2018-01-13 15:28] vsch commented on #542
@stevecw, thank you for catching it. It should be "Align Columns" which should be read as: on table format Align Columns.

It will be fixed in the next release.

[2018-01-13 15:30] vsch commented on #543
@timboektoe, latest plugin EAP release has an option to disable paste handler customizations and also offers to disable this setting when an exception occurs in the default handler. See: #547

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Sett

[2018-01-14 22:37] vjpr opened #548 "When "Autoscroll to source" is enabled in project view, markdown navigator editor steals focus when moving through project view with keyboard arrows"
http://recordit.co/0YNiKmav91

Notice how it turns grey (steals focus to editor)

It also happens when you click on an item.

Reselecting the same item doesn't steal focus, but pressing arrow up or down does.

[2018-01-14 23:19] vsch commented on #548
@vjpr, it steals focus to make the toolbar button shortcuts work but in this case it interferes with the function of navigation via buttons, related to #511

I will see if I can resolve one without introducing a problem with the other.

[2018-01-15 00:41] vsch commented on #548
@vjpr, fixed.

EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-15 00:41] vsch commented on #542
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-15 19:12] vsch opened #549 "Add settings management functionality"
Add functionality in settings to copy project settings to default project settings and vice versa.

Also need ability to export/import project settings to/from a file.

[2018-01-15 19:57] vsch commented on #549
EAP update with a fix for the issue is available. To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-18 11:36] yunti opened #550 "applying settings - softwrap not applied until after viewed another file"
When altering the settings in markdown navigator, (eg tested with softwrap) these aren't enabled until another file is viewed (non markdown) and then returned to the original file.  This leads to a confusing experience as initially it looks like the settings changes have no impact. (note 'Apply' has been pressed but settings change still does not take affect)

(using markdown navigator 2.4.0)

[2018-01-18 11:37] yunti commented on #550
Hmm this seems temprimental, sometimes they are applied when 'Apply' is clicked.

[2018-01-18 11:56] yunti opened #551 "Distraction free mode margins don't line up"
in distraction free mode (the default mode I use).  The left margins don't line up with other normal editor files. The issue may be due to the default width (currently using 120 chars) is not inherited from the default setting.  Markdown navigator seems to be using ~90

[2018-01-18 12:01] yunti commented on #551
Sorry see that this can also be overwritten by each file type.

[2018-01-18 12:01] #551 closed

[2018-01-18 16:03] vsch commented on #550
@yunti, are settings applied consistently when you press OK?

When you use Apply, the settings dialog remains open and not all updates can be done when there is a modal dialog open.

The other question is what softwrap setting are you trying and what setting?  Softwrap has: Default, Enabled, Disabled the other is Softwrap at right margin.

BTW, softwrap default/enable/disable changes are applied t

[2018-01-21 07:51] qiuyuhome opened #552 "code block is not highlight"
code block is not highlight,  and ` settings -> Stylesheet -> Scripts` is not available, can not click checkbox.

![image](https://user-images.githubusercontent.com/17526777/35192039-4356d28c-fec4-11e7-8b6c-f7e7a9d9698f.png)

![image](https://user-images.githubusercontent.com/17526777/35192063-e95c4b94-fec4-11e7-96cf-a1ec917d666c.png)

I want to use like this:

[code]

But , It is this:

[code]

P

[2018-01-22 18:10] Mochnant commented on #443
Any chance this could be moved to the normal edition?  Seems like pretty basic functionality that still aligns with the vision of the unpaid version as intended to preview work done manually in the source window.

[2018-01-22 18:13] vsch commented on #443
@Mochnant, I will take a look at the code to see if this can be enabled separately from other missing components in the AST. If it is possible I will enable it in the basic edition.

I will let you know as soon as I can verify the possibility of enabling this functionality.

[2018-01-22 18:14] Mochnant commented on #443
I appreciate the exceptionally fast reply and the willingness to explore the possibility!

[2018-01-24 02:08] vsch commented on #552
@qiuyuhome, Swing browser does not support scripts nor many of the other advanced features.

If you switch to JavaFX browser in Preview (two panels above Stylesheet settings) then you will have these options enabled.

[2018-01-24 02:13] vsch commented on #443
@kirilenko, @Mochnant, latest EAP has the synchronized scrolling enabled for basic version. I also made highlights and sync from preview to source available.

To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-01-24 08:05] qiuyuhome commented on #552
@vsch Thank You.

[2018-01-24 08:06] #552 closed

[2018-01-24 13:29] Mochnant commented on #443
Thank you, @vsch!

I have selected EAP and updated plugins and restarted.  It shows version 2.4.0.34.

However, I still see the scrolling options as greyed out.  Is this the correct version?

![screen shot 2018-01-24 at 8 28 40 am](https://user-images.githubusercontent.com/746190/35334512-ab4aeef0-00e0-11e8-8fec-99877c1d4b34.png)

![screen shot 2018-01-24 at 8 28 48 am](https://user-images.githubu

[2018-01-24 14:28] vsch commented on #443
@Mochnant, these options only work with the JavaFX preview browser. Swing does not support synchronization.

You need to switch the preview browser type in Preview settings.

[2018-01-24 15:11] Mochnant commented on #443
Thank you, that change fixed it.  Looks good, the only thing I notice is that the preview seems to have trouble with the beginning and ends of files.  When those are reached in the editor pane, it does not seem to want to go to the beginning/end in the preview pane.

[2018-01-25 12:55] Urs-Meili-CLX opened #553 "auto completion for files on .link template"
I'm using markdown navigator on Rider 2017.3. Is there supposed to be auto completion available for the .link template? If I press Ctrl+Space after a #, I get auto completion for all headers in the document:
![image](https://user-images.githubusercontent.com/29592407/35389238-3d270290-01d7-11e8-8490-d1a6195a5b39.png)

However, I would expect to get all files in the current directory in the auto co

[2018-01-25 15:48] vsch commented on #553
@Urs-Meili-CLX, auto completion for files will show all files in the project. By default only Markdown files will be shown. If the link address part has an extension then all files with that extension will be shown.

The plugin uses file name index to get a list of files. I have never tried using this feature with Rider and will have to try it to see if there are differences with other IDEs in how

[2018-01-25 15:51] Urs-Meili-CLX commented on #553
Yes I have multiple *.md files in the project. None of them show up. Note that I tried with both a *.sln (project) as well as opening the folder with the *.md files directly in Rider.
It seems to me that this could indeed be a Rider issue.

[2018-01-25 15:55] vsch commented on #443
@Mochnant, the plugin uses the caret visual vertical position vs the total visible text view to calculate the % position. The preview is then asked to place the corresponding element at the same % position of total view port to align the **vertical center** of the element.

At the start and end of the document this logic can fail, depending on the content size and content of the page which is not

[2018-01-25 16:05] vsch commented on #553
@Urs-Meili-CLX, I will have to install Rider and try to figure out what is going on. Could be some difference in the IDE that the plugin should take into account.

I forgot to mention that the plugin uses Git roots to figure out link resolution and without having the project under Git completions do not work.

On CLion, I found that completions did not work until the project was under Git VCS. Jus

[2018-01-25 16:33] Mochnant commented on #443
@vsch I have attached an .md file that shows this behavior (.txt is for github uploading and can be removed).

Thanks!

[Demo.md.txt](https://github.com/vsch/idea-multimarkdown/files/1664774/Demo.md.txt)

[2018-01-25 18:18] vsch commented on #443
@Mochnant, thank you for the file. I will see if I can improve the scrolling for the top element.

There is no issue in this case with bottom of file but will exist if the last markdown element is vertically greater than one line. The code will center it against the source line and half of it will be below the bottom line.

[2018-01-25 18:33] Mochnant commented on #443
@vsch Thank you.  It may be due to the top par's issue you mentioned, but if I put both the editor and the preview pane at the very top of the file, and put the cursor in the first line, when I scroll the editor down it will not reach the bottom.

Note that I added #s to the subheadings to make it a little more clear.

![screen shot 2018-01-25 at 1 31 18 pm](https://user-images.githubusercontent.c

[2018-01-25 18:59] vsch commented on #443
@Mochnant, you should scroll the preview in such cases. The sync is intended to align source to preview of the caret position to allow quick visual location of the preview element.

The scrolling of the preview when the source is scrolled is a side-effect of this alignment, not really indented to scroll the preview from top to bottom.

I might be able to figure this out by scaling the source scrol

[2018-01-25 19:17] Mochnant commented on #443
@vsch Understood.  The clicking to jump to the correct location in the preview pane seems to work well.  Now that I understand the scrolling is a happy byproduct of this, but not the main focus, it makes more sense that it does not work as well.

If you do manage to make the scrolling to be well sync'd with the preview pane, I think that would be an excellent addition.  While I do a lot of editing

[2018-01-26 03:21] vsch commented on #553
@Urs-Meili-CLX, I can confirm that you need a Git root defined in order for completions to work.

Currently all link resolution is done using GitHub rules with some "kludges" for files outside a Git root.

A full rework of link resolution to allow different VCS and cloud providers, including non-vcs projects is on the todo list. Some discussion of this topic is discussed in #545.

In my test I ins

[2018-01-26 04:15] vsch commented on #532
@lolmaus, latest EAP has the following settings management functionality added (including reset to defaults):

* Add: #549, Add settings management functionality. Now in main settings panel there is a
  "Manage..." button in top-right corner, clicking it pops up a menu with the following options:
  * `Copy to Project Defaults`
  * `Copy from Project Defaults`
  * `Export Settings`
  * `Import Sett

[2018-01-26 04:21] vsch commented on #528
@vjpr, you will probably also ask for header down removing the leading `# ` on a heading? :)

I will add both to the to do list.

[2018-01-26 07:24] Urs-Meili-CLX commented on #553
Indeed this project is not a git project. In the .NET world (which is the target audience for Rider), there are still many projects which use TFS as source control system, so I guess it would be a good idea if this would work without git.

[2018-01-26 14:01] vsch commented on #553
@Urs-Meili-CLX, in this case it was a bug. If either of the target file or the source file was not under Git root then no relative addressing completions would be generated. Pressing ctrl+space 4 times to get `file://` style completions, then completions would work.

Now if both files are not under Git or both are under the same Git root then relative addressing is allowed.

EAP update with a fix

[2018-01-27 19:59] lolmaus commented on #532
Thx. I've switched to VS Code, let's assume this is resolved until someone says otherwise.

[2018-01-27 19:59] #532 closed

[2018-01-28 13:51] vsch opened #554 "Settings, Import and Copy from project not applied until corresponding pane is viewed"
Import settings and copy from project would not be applied unless the corresponding  settings pane was clicked to be displayed, before or after import or copy.

The settings are be changed but not applied until the  settings pane was clicked on first.

[2018-01-29 11:40] Urs-Meili-CLX commented on #553
I can confirm that the issue is fixed with the newest EAP build. Thanks a lot!

[2018-01-29 11:40] #553 closed

[2018-01-29 21:05] OleksiyRudenko commented on #539
Thank you!

[2018-02-05 17:08] dnedrow opened #555 "Markdown Navigator checks license at every launch of AppCode"
For some reason, every time I start AppCode, Markdown Navigator is attempting to check the license I have installed. The problem is that I use AppCode behind a corporate firewall and the license check fails unless I unplug from the network. I used to only have to do this once after each AppCode update.

Has something changed in this regard? Or is this unintentional? I'm using Markdown Navigator 2.

[2018-02-05 18:05] vsch commented on #555
@dnedrow, the license is only activated when a new version is installed. However, some users have discovered that if they use a settings repository then the local settings file which stores information about the activation gets overwritten with a version that has the activation missing.

The local settings are stored per IDE in the IDE settings directory. The plugin checks for the activation code

[2018-02-07 12:18] vjpr opened #556 "Default editor layout > Use last selected layout"
Sometimes I will have 1 markdown tab open. Other times I will want to put 2 next to each other. When 2 are open, there is not enough space to show the preview.

I suggest a new default editor layout.

When you change the editor layout in the toolbar, it uses this layout for the next opened markdown tab.

[2018-02-07 20:52] dnedrow commented on #555
@vsch , thanks for the fast response. I did some testing and it does appear to have something to do with settings syncing in JetBrains IDEA-based products. Also, disabling secure connection fixed my startup issue with the license check.

[2018-02-07 20:52] #555 closed

[2018-02-12 06:34] pzrq commented on #515
@vsch #488 is quite long so I only skimmed it, but thanks for linking to it.

I tried this plugin over the Jetbrains official one - it works great on Ubuntu PyCharm 2017.3.3!

I agree with @vjpr that there is an issue with the Macbook Pro trackpad, in that the editor window scrolls very very quickly.

**Workaround: Use the pointer to click the sidebar, then drag the sidebar.**

[2018-02-13 13:42] vjpr commented on #513
@vsch Could we have a keyboard shortcut for this?

[2018-02-14 00:10] vsch commented on #513
@vjpr, added to EAP release, fresh off the presses. Action added, you need to define your own shortcut in Keymap > Plugins > Markdown Navigator, "Toggle Editor Split Orientation" action to toggle Vertical/Horizontal split orientation

[2018-02-14 00:14] vsch commented on #556
@vjpr, cannot be a layout setting because then what is the starting layout?

I will look into adding a checkbox in preview to enable this option.

 This is more difficult than you think because there are scoped profiles. Cannot just change the "default" profile based on a change in an editor. Will only apply to editors on files using default rendering profile. The others will take their settings f

[2018-02-14 20:54] sebolio opened #557 "Bug: Checkboxes not showing"
Hi, when I use checkboxes, whether they're checked or not, they show like an unknown character in the preview. I hace macOS 10.3.3 with WebStorm 2017.3.4

<img width="564" alt="captura de pantalla 2018-02-14 a la s 17 54 32" src="https://user-images.githubusercontent.com/197329/36227556-23af5770-11b0-11e8-87ce-18aabf12cb52.png">

[2018-02-14 21:00] vsch commented on #557
@sebfindling, to see the checkboxes properly you need to switch to JavaFX WebView browser. I could not get Swing to handle displaying the right images properly and gave up.

See: #45

[2018-02-14 21:02] sebolio opened #558 "Suggestion: code coloring inside ```"
Hi, I think it would be really useful to have code coloring in the preview, not only in the "fenced code", since github does it and is very very helpful.

**Multi Markdown:**
<img width="606" alt="captura de pantalla 2018-02-14 a la s 17 56 57" src="https://user-images.githubusercontent.com/197329/36227696-a29385a2-11b0-11e8-9c6e-ea315a8a7fcb.png">

**Github:**
<img width="453" alt="captura de pan

[2018-02-14 21:06] vsch commented on #558
@sebfindling, syntax highlighting in preview is available in the enhanced version: https://vladsch.com/product/markdown-navigator via HighlightJS or Prism.js.

Don't forget GitHub can rely on a full browser while the plugin has to make do with a Java based browser. There are some limitations. You also have the page regenerated as you type so performance is an issue.

[2018-02-14 21:10] sebfindling commented on #557
But what about just using HTML with proper CSS? or a PNG image?
[code]

[2018-02-14 21:12] sebfindling commented on #558
@vsch I'm using a trial license, and it looks like the screenshot: no coloring :(

[2018-02-14 21:16] vsch commented on #558
@sebfindling, go to settings, Languages & Frameworks > Markdown > Stylesheet and turn on either the HighlightJS or Prism.js highlighters. They are not enabled by default because they do slow down the preview generation. Prism.js a lot worse than HighlightJS

![screenshot_stylesheet](https://user-images.githubusercontent.com/10299086/36228451-3a8dbf3a-11a2-11e8-857b-fb4d7a267425.png)

[2018-02-14 21:19] vsch commented on #557
@sebfindling, if you can find a way for swing to disable the checkbox and have it line up with the text then I will add it to the Swing browser.

Swing has a lot of limitations and I don't waste my time on making it better because JavaFX does a much better job of rendering the page and with a log more features and less effort.

[2018-02-14 21:23] sebfindling commented on #557
if you tell me how yo run a swing browser on my computer, i will happily work on it in exchange for a free license 😃

[2018-02-14 21:29] vsch commented on #557
@sebfindling, you are running it now in the plugin. There is no stand-alone version.

You can just put the HTML into markdown since Markdown handles HTML, just don't put blank lines which by default end an HTML block in [CommonMark (spec 0.28)].

To play with CSS you can use either a file as a custom URI or CSS text. I recommend just adding custom CSS text. (in the same settings pane as the highli

[2018-02-15 02:00] bmcclure opened #559 "IDE fatal error regularly occurring in Idea 2018.1 EAP"
Since updating to the new IDEA Ultimate 2018.1 EAP when it was released a week or two ago, I regularly get this exception occurring:

[code]

It shows up as a core IDE bug so it only lets me submit it to JetBrains, but I'm pretty sure it's gotta be related to Markdown Navigator.

This occurs in both Windows 10 and Elementary OS on the latest EAP release (I update daily as new releases are availabl

[2018-02-15 02:03] bmcclure commented on #559
Just to confirm (not that it matters in this case most likely), I have the core Markdown Support plugin disabled, so Markdown Navigator is my only Markdown-related plugin that I'm aware of.

[2018-02-15 02:06] vsch commented on #559
@bmcclure, yes it is a plugin bug. It was fixed in the last EAP. It is an unused intention and previous versions of the IDE ignored it.

Please update to 2.4.0.42, I had the bug fixed since I started using 2018.1 EAP.

I usually run the plugin from a build of the master branch of intellij-community but 2018 has a few annoying bugs that kept me from switching to it until I finally decided to live w

[2018-02-15 02:22] bmcclure commented on #559
Ah, wow, I actually had never noticed the select box to switch to an EAP release of Markdown Navigator. I didn't even know that it was possible for plugins to have different release channels. Thanks for pointing that out!

[2018-02-15 02:41] vsch commented on #559
@bmcclure, actually JetBrains plugin site has the channels implemented now. I don't use it because when I implemented mine they did not have it working. Now that I have my own, I don't bother switching over. Too many things to do and not enough time, especially to fiddle with what works.

[2018-02-15 13:55] sebfindling commented on #558
@vsch all the options are disabled 🤔 i even restarted webstorm

<img width="1137" alt="captura de pantalla 2018-02-15 a la s 10 54 53" src="https://user-images.githubusercontent.com/197329/36259948-ad1e9c8a-123e-11e8-91dd-026ef8cae8f0.png">

[2018-02-16 01:39] vsch commented on #558
@sebfindling, the options don't work for Swing browser.

If you are using 2018.1 EAP, rendering > profiles don't save CSS Text. The project profile is fine, only the rendering profiles used for scoping are affected by a bug in the IDE.

You should try the JavaFX browser. You will like it more than Swing. Not only do the task items display correctly but in the enhanced edition you can click on the

[2018-02-16 17:12] SpencerBrown opened #560 "When creating a new markdown file, how do you make it start in markdown only mode instead of markdown plus preview?"

[2018-02-16 22:03] vsch commented on #560
@SpencerBrown,

To change the default text/preview combination when opening a new markdown file change the `Default editor layout` to your desired configuration.

![Screenshot_Settings_Preview.png](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/Screenshot_Settings_Preview.png)

[2018-02-16 22:56] vsch commented on #557
@sebfindling, I forgot to mention that you should set your plugin update channel to EAP. Lots of bug fixes and some new features are already implemented.

To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-02-16 23:25] SpencerBrown commented on #560
Thank you Vlad, your work and support on this project is exemplary. That perfectly answers my question.

[2018-02-18 23:16] vsch opened #561 "Scroll sync and highlight preview element broken in EAP 2.4.0.44"
Fixed for next EAP.

[2018-02-21 13:18] SpencerBrown commented on #560
Hi, reopening because what I was looking for was to set _editor only_ as the default for all projects. The setting you mentioned seems to be only for the current project, and I have to set it again each time I open a new project.

Is it possible to set this option globally? Thanks.

[2018-02-21 14:17] vsch commented on #560
@SpencerBrown, settings management is implemented for the next release. You will need to use the EAP version of the plugin to get these features now. See #549

Adds Copy to/from Project defaults and import/export project settings as xml file.

[2018-02-21 15:36] SpencerBrownDG commented on #560
I tried this and it's not working for me.

1. enabled EAP for Markdown and updated to version 2.4.0.46
2. restarted GoLand EAP (using 2018.1 latest)
3. opened project A, changed preview to "Show editor only", works for project A
4. clicked Manage... and Copy to Project Defaults, then OK
5. restarted GoLand EAP, created new project
6. new project Markdown preview setting is "Show editor and preview

[2018-02-21 15:38] vsch commented on #560
@SpencerBrown, I will verify, but it sounds like a bug with something overriding project defaults in initialization. I will try it with GoLand 2018.1 EAP and let you know.

[2018-02-21 15:52] SpencerBrownDG commented on #560
I just tried the same sequence on WebStorm 2017.3.4 and got the same results.

[2018-02-21 15:54] vsch commented on #560
@SpencerBrown, I probably broke some of the old code handling project defaults with new features.

[2018-02-22 08:49] Urs-Meili-CLX opened #562 "Support for Admonition in Preview"
Hi,
is there any way to show Admonition in the preview window? See
https://squidfunk.github.io/mkdocs-material/extensions/admonition/

[2018-02-22 12:43] vsch commented on #562
@Urs-Meili-CLX, thank you for bringing this extension to my attention. I could not take by eyes off the eye candy implementation. I think it is an amazing extension to add.

I have been wanting to add an extension for doing exactly that but did not have the imagination to come up such an orthogonal, flexible syntax with an excellent implementation.

I will have to first add this extension to [flex

[2018-02-22 17:56] bdonkey commented on #559
Where do I find the EAP release? I've looked the [product](http://vladsch.com/product/markdown-navigator) site and at the [plugin](https://plugins.jetbrains.com/plugin/7896-markdown-navigator) site, but do not see any EAP channel option.

[2018-02-22 18:16] vsch commented on #559
@bdonkey, sorry forgot to include the customary instructions:

To enable EAP update channel:

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

Then make the IDE check for updates.

[2018-02-22 18:23] bdonkey commented on #559
got it…thank you..scott

On 22 Feb 2018, at 12:16, Vladimir Schneider wrote:

[2018-02-22 19:16] Urs-Meili-CLX commented on #562
that sounds great, looking forward to it!

[2018-02-24 05:56] vsch commented on #562
@Urs-Meili-CLX, you had to go and make me see this extension. I got the CSS and images done so that now I can move on to parser implementation. That is the easy part. Afterwards I need to add completions, formatting, options, syntax highlighting, a Darkula version of the stylesheet, etc. It is ton of small details to make it fully work in the IDE, but I will make it into one of the first EAP relea

[2018-02-24 06:24] vsch commented on #560
@SpencerBrown, it was a conflict between what the IDE thinks is project defaults and the plugin. Original plugin did not have project based settings. When these were added, I could not use the IDE based project defaults because they would overwrite the non-project settings, which were now used  as project defaults.

Somewhere along the line, the IDE changed how it does this and my code broke. So m

[2018-02-24 06:35] vsch commented on #557
@sebfindling, how are your doing with Swing browser?

I just wanted to let you know that Swing is a PITA to use and JavaFX WebView just got a ton easier for me. To make a long story short, I had a few long standing bugs between Java and JavaScript in WebView. Got so pissed at not having a debugger and wasting hours adding print statements on every other line so I can figure out what is going on.

[2018-02-24 14:01] Urs-Meili-CLX commented on #562
oh I didn't want to cause you so much work, sorry :-)

[2018-02-24 14:10] vsch commented on #562
@Urs-Meili-CLX, I was being sarcastic. I am thankful that you brought this extension to my attention. It has been two years that I wanted something that would give me this functionality for documentation and communications.It makes it easier to include block-content.

Too bad GitHub does not support this. It would be great if it was available at least for the wiki.

[2018-02-24 15:03] Urs-Meili-CLX commented on #562
I was being sacrastic, too ;-)

Get Outlook for Android<https://aka.ms/ghei36>

On Sat, Feb 24, 2018 at 3:10 PM +0100, "Vladimir Schneider" <notifications@github.com<mailto:notifications@github.com>> wrote:

@Urs-Meili-CLX<https://github.com/urs-meili-clx>, I was being sarcastic. I am thankful that you brought this extension to my attention. It has been two years that I wanted something that would

[2018-02-24 20:08] Urs-Meili-CLX opened #563 "Refresh preview"
Hi Vladimir,
I have included several .png files in my markdown. I updated one of the .png files outside the IDE. After that, I didn't find a way to update the preview pane to show the updated content of the .png file.  Not even after closing and reopening the .md file in the IDE (Rider). The only way I found is to close and reopen the IDE itself, but this is not very handy... Could you perhaps inc

[2018-02-24 20:14] Urs-Meili-CLX opened #564 "Some problems with "Copy / Drop Image" dialog"
Hi Vladimir,
when I have a .png in the clipboard and press Ctrl+V, the  fabulous "copy / drop image" dialog pops up. Love this one! But there are two problems:
- the directory is set to some arbitrary temp dir (in Rider IDE at least). I can change it to some directory within the project, but when I use the dialog once again, it is set back to that useless temp dir.
- It would be nice if the defaul

[2018-02-24 20:15] vsch commented on #563
@Urs-Meili-CLX, WebView caching hell.

I don't know who thought it was a good idea to implement the cache without checking for content change or exposing an API to flush it or even customize it but this is a PITA problem.

Turn on the query suffix. It will change the URL as it appears to WebView so it will think it is a different file. It will cause WebView to slowly, or not so slowly to hog memor

[2018-02-24 20:19] vsch commented on #564
@Urs-Meili-CLX, I will check the algorithm for determining the default directory. I don't remember how it determines it but think it looks for directories which contain images. I think it should look for images in the current file and take directories from that, add to it directories of images in other files in the same directory as the current file. Failing to find a default it should do what it

[2018-02-24 20:22] Urs-Meili-CLX commented on #563
that was a quick response :-) thanks, I was looking for a similar option in the "preview" pane, but not in "HTML generation".

[2018-02-24 20:23] vsch commented on #563
@Urs-Meili-CLX, all these real life kludges are starting to take their toll on my productivity. Getting to a point where the number of details to keep in mind is overloading my capacity. Probably time to refactor the code after this release or maybe find real solutions some workarounds.

[2018-02-24 20:25] Urs-Meili-CLX commented on #564
well I guess the best solution for the directory would be to save the directory the user has set as default directory, abandoning all sophisticated algorithms from that point on.

[2018-02-24 20:37] vsch commented on #564
That would have to be done by file's parent directory or even by file. On a larger project you could be jumping all over the place and groups of files will have their own. I did not take a loot at this since I implemented it. So it is most likely not well thought through or even has minor bugs causing it to give the wrong directory.

[2018-02-24 21:47] SpencerBrown commented on #560
Thank you very much for the quick and complete resolution of this issue. I tested with the new EAP release and it works now.

[2018-02-24 21:47] #560 closed

[2018-02-24 21:59] vsch commented on #564
@Urs-Meili-CLX, had to check what the generate button does. It checks for the file name already existing in the selected directory and appends _# where # is the smallest integer that will produce a unique file name. This is usually invoked automatically so the name that is there has already been generated. It will strip off the _# suffix before trying to generate a file. So if there is no _# suffi

[2018-03-06 00:11] vsch commented on #562
@Urs-Meili-CLX, could not wait for next release to get this done so I can use it with my e-mail communications and HTML generated docs. Thank you for bringing it to my attention.

EAP update with a fix for the issue is available.

1. Select "Early Access Program" in `Check updates for:`
2. Then make the IDE check for updates.

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-mul

[2018-03-06 09:05] Urs-Meili-CLX commented on #562
I downloaded the EAP, but the "Admontion" checkbox is grayed out. Do you have an idea, why?

![image](https://user-images.githubusercontent.com/29592407/37023320-ccbf954e-2125-11e8-9f25-8d9d468606d2.png)

[2018-03-06 11:27] vsch commented on #562
@Urs-Meili-CLX, cut and paste issue. Enable  the Attributes extension and Admonition will be enabled.

I fixed this for next EAP.

[2018-03-08 15:16] vsch commented on #538
@acrodrig, EAP version of the plugin has option to replace Unicode emoji with provided image links. Now you can get Unicode emoji to display in JavaFX WebView preview or Swing.

The emoji shortcuts and symbols were also updated to include the full GitHub emoji set.

Select desired emoji set in parser settings, GitHub has more symbols, best to select GitHub, Emoji Cheatsheet option which uses GitHu

[2018-03-08 15:37] vsch commented on #556
@vjpr, EAP update with a fix for the issue is available.

Set Last layout actions sets default layout checkbox.

![Screenshot_Settings_Preview.png](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/Screenshot_Settings_Preview.png)

To enable EAP update channel:

1. Select "Early Access Program" in `Check updates for:`
2. Then make the IDE check for updates.

![Screen Shot Set

[2018-03-08 15:38] vsch commented on #561
EAP update with a fix for the issue is available.

To enable EAP update channel:

1. Select "Early Access Program" in `Check updates for:`
2. Then make the IDE check for updates.

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

[2018-03-09 08:25] holgerbrandl opened #565 "IDE freezes when opening any markdown file"
With latest version of IJ and the plugin on macos 10.13.3, the IDE is freezing more or less always (8 out of 10) when opening a markdown file while using the javafx preview mode. From the logs this might be relevant:
[code]

When using the JB provided markdown plugin with the fx preview.

[2018-03-09 10:56] vsch commented on #565
@holgerbrandl, could you post the stack trace for the JavaFX Application thread. The AWT-Thread is waiting for the JavaFX initialization to complete and it seems that the JavaFX initialization is blocked.

I will try running it on High Sierra to see if I get the same issue.

[2018-03-09 11:00] holgerbrandl commented on #565
Thanks for looking into it:

[code]
But since I'm not sure if I picked the right one, I've zipped one of the freeze folders from the log directory and deposited it under  https://cloud.mpi-cbg.de/index.php/s/IsWRolSKntmiDGe

[2018-03-09 11:03] vsch commented on #565
@holgerbrandl, having all the thread dumps is perfect. Thank you.

[2018-03-09 12:35] vsch commented on #565
@holgerbrandl, finally got JavaFX WebView preview not crashing the IDE under parallels running OS X 10.13.3. It was crashing consistently as soon as JavaFX WebView creation was attempted. With Markdown Support from JetBrains too. Had to switch JDK to Oracle 8u161 before it worked. Seems there is something in the bundled Open JDK with JavaFX for my setup for high sierra, at least under parallels.

[2018-03-09 14:44] holgerbrandl commented on #565
Thanks for tracing down the problem. Looking forward to the fix in the dev channel.

[2018-03-09 17:51] vsch commented on #565
@holgerbrandl, EAP updated. Previous fix reversed.So it should work as before. Thank you for reporting it.

[2018-03-11 17:13] vsch opened #566 "Dropping Support for IDE Versions before 2016.3.8"
Oldest supported IDE for new releases will be 2016.3.8 or later. Build 163.15529 or later

Older versions of the IDE can only use older versions of the plugin, 2.4.0 or earlier.

[2018-03-13 08:32] holgerbrandl commented on #565
Great, thanks! I've installed the EAP build and it's back to 'normal'.

[2018-03-13 08:56] vsch commented on #565
@holgerbrandl, thank you for the feedback. Much appreciated.

[2018-03-13 09:10] vsch commented on #564
@Urs-Meili-CLX, EAP with fixed released.

* Fix: #564, Some problems with "Copy / Drop Image" dialog. Modify image directory history drop
  down to include, in order of priority:
  * last used image directory of the current file
  * image directories of images in the current file, ordered by count of occurrence
  * image directories in the current project, ordered by count of occurrence

I think t

[2018-03-13 09:11] Urs-Meili-CLX commented on #564
thanks @vsch, I'll look into it as soon as I get to edit a markdown file the next time :-)

[2018-03-14 16:53] chilek opened #567 "'_'s are replaced by '-'s in TOC"
How to disable this function? All headers which contain underscore characters are broken in TOC links :(

[2018-03-14 17:13] vsch commented on #567
@chilek, by broken do you mean the anchor ref is not working?

[2018-03-14 17:17] chilek commented on #567
@vsch yes, that's it.

[2018-03-14 17:24] vsch commented on #567
@chilek, thank you for reporting this. I will fix it and post an update for the EAP channel here.

[2018-03-14 17:25] chilek commented on #567
thanks for very fast response!

[2018-03-14 17:34] vsch commented on #567
@chilek, I tried it in my dev version and it does not exhibit the problem. Can you please post a snippet of the markdown with the TOC and a heading or two. It could be combination that I am not hitting just right.

[2018-03-14 17:36] chilek commented on #567
Original markdown:
[code]

Generated TOC:
[code]

I've switched to EAP channel - it updated to 2.4.0.74. The problem still persists.

[2018-03-14 17:49] vsch commented on #567
@chilek, can you please enable `Show heading anchor id` in settings and see if they agree with what is in the generated TOC. Mine is generating the correct ids. Once you enable them, please take a screenshot of the text and post it so I can figure out what is going on.

![Screenshot_Main_licensed.png](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/Screenshot_Main_licensed.

[2018-03-14 17:54] chilek commented on #567
Checked "Show heading anchor id" and you have the result:
![zrzut ekranu z 2018-03-14 18-52-47](https://user-images.githubusercontent.com/1457437/37421281-2fed8cb8-27b9-11e8-890b-c61d5a44904d.png)

[2018-03-14 17:57] vsch commented on #567
@chilek, it looks right. Where does the link from TOC not work, GitHub or another markdown processor?

[2018-03-14 17:57] chilek commented on #567
But in github wiki internal anchors are underscore preserved. For the above example from screenshot I have working example:
https://gist.github.com/chilek/d02db670670e614a3bfd60b86df2dd80

[2018-03-14 17:59] vsch commented on #567
@chilek, OK that makes it clear. I will check and correct this.

GitHub has been upgrading their markdown processing to CommonMark and it broke backward compatibility with a few features. I have been discovering them piece meal and by trial and error.

[2018-03-14 18:17] vsch commented on #567
@chilek, yes they did change the handling of _. I'll fix it and release the EAP.

[2018-03-14 18:25] chilek commented on #567
I'm looking forward for it. Thanks for great support! I appreciate your help.

[2018-03-14 18:58] vsch commented on #567
@chilek, EAP update with a fix for the issue is available.

To enable EAP update channel:

1. Select "Early Access Program" in `Check updates for:`
2. Then make the IDE check for updates.

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

[2018-03-14 21:50] chilek commented on #567
2.4.0.76 (EAP) resolves the problem!

[2018-03-15 20:03] neoaddix opened #568 "Enhancement: support for restructured text"
Hi @vsch ,

Some time ago I bugged you about adding a support for Jekyll and you picked that up very nicely. It seems that there are people enjoying this support.

Meanwhile, the company I work for switched from using Jekyll to using Sphinx docs (http://www.sphinx-doc.org/) for creating our software documentation. Sphinx is based on restructured text. It is possible to use markdown, but the possib

[2018-03-16 00:08] vsch commented on #568
@neoaddix, I took a look at restructured text. The differences in syntax and elements are fairly major. The overlap is only in inline markup and a partially on lists. The rest is quite different.

If I were to work on it, it would need to be its own plugin, with its own parser and integration with the IDE since the current plugin is aimed at CommonMark and Markdown and the plugin is already comple

[2018-03-16 10:14] kiru opened #569 "Markdown preview is lagging"
Hello @vsch ,

We're using gravizo for creating diagrams.
Having few diagrams and text in the same files seems to slow the parsing down.

I'm not sure if that is just the case for gravizo links, in general for having many images.
Here is a test file: https://gist.github.com/kiru/8fd7a83c83a5c514f31885b21143e98d

I also see a few glitches like these:

![image](https://user-images.githubusercontent.

[2018-03-16 12:41] vsch commented on #569
@kiru, the slow down is a JavaFX WebView issue caused by its image display. I have noticed that typing with preview enabled when the file contains a lot of images is practically impossible because JavaFX WebView update blocks the AWT thread which is used for all UI processing in the IDE.

The update glitch is also a JavaFX WebView issue. It also happens if you resize the preview vertically. WebVie

[2018-03-16 13:05] kiru commented on #569
Thank you for the quick and thorough reply. The planned changes sound really promising.

[2018-03-16 14:36] #511 closed

[2018-03-16 14:36] #512 closed

[2018-03-16 14:36] #513 closed

[2018-03-16 14:36] #524 closed

[2018-03-16 14:36] #527 closed

[2018-03-16 14:36] #535 closed

[2018-03-16 14:36] #536 closed

[2018-03-16 14:36] #538 closed

[2018-03-16 14:36] #539 closed

[2018-03-16 14:36] #542 closed

[2018-03-16 14:36] #543 closed

[2018-03-16 14:36] #544 closed

[2018-03-16 14:36] #546 closed

[2018-03-16 14:36] #547 closed

[2018-03-16 14:36] #548 closed

[2018-03-16 14:36] #549 closed

[2018-03-16 14:36] #554 closed

[2018-03-16 14:36] #556 closed

[2018-03-16 14:36] #559 closed

[2018-03-16 14:37] #561 closed

[2018-03-16 14:37] #562 closed

[2018-03-16 14:37] #564 closed

[2018-03-16 14:37] #565 closed

[2018-03-16 14:37] #566 closed

[2018-03-16 14:37] #567 closed

[2018-03-16 14:37] #260 closed

[2018-03-16 14:37] #351 closed

[2018-03-16 14:37] #391 closed

[2018-03-16 14:37] #443 closed

[2018-03-16 15:25] SpencerBrown opened #570 "2.5.0 crashing on initialization"
updated this morning. Version: 2.5.0. WebStorm 2017.3.5

[code]

[2018-03-16 15:49] jorisatabix commented on #570
I am having the same issue.

[2018-03-16 15:53] vsch commented on #570
@SpencerBrown, @jorisatabix, I removed the release and will release a fixed version in a few minutes.

It is an issue of using API that was added in later IDE releases.

[2018-03-16 16:10] vsch commented on #570
@SpencerBrown, @jorisatabix, new version released.

Caused by seemingly insignificant addition of getting the IDE link color for the notification.

Unfortunately, it happened to be a method added in the API in a later release. JetBrains Open API has no "@since" tags and finding implementation version can only be done via "version annotations" in the source or through crash and burn like in this ca

[2018-03-16 16:36] SpencerBrown commented on #570
Doesn't crash any more. :)

[2018-03-16 16:36] #570 closed

[2018-03-16 17:33] neoaddix commented on #568
Thanks for the extensive answer and for looking into this. For me as a user things looked pretty related, but the devil is in the details of course. If you ever consider to start the project, let me know if I can help!

[2018-03-16 19:30] vsch commented on #568
@neoaddix, yes the elements are pretty similar but the implementation in the IDE is really language syntax and semantics specific. It is not a trivial effort to make it all work. Kludges abound especially for loose text formats.

To be frank, if I knew what I was signing up for when I embarked on this journey, I probably would not have done it. The saying: "Fools rush in where angels fear to tread

[2018-03-16 23:42] vjpr commented on #469
@vsch Saw you closed a bunch of issues I posted recently. Thanks for that!

Just wanted to check if there is any progress on this feature? I really miss it the most.

[2018-03-17 22:56] vsch commented on #469
@vjpr, I haven't psyched myself up for rewriting that part of the code. It will definitely be part of the next release. I have no choice. I am tired of tweaking the code every time the IDE changes some implementation or timing which affects the code. I will rewrite it to use my own library instead of the IDE provided element tree.

[2018-03-19 15:43] holgerbrandl opened #571 "Can not fix typo in header"
Example
[code]
![image](https://user-images.githubusercontent.com/200952/37605834-5f1b98a2-2b94-11e8-9626-ee82c0b2a5f0.png)
![image](https://user-images.githubusercontent.com/200952/37605842-62eeda16-2b94-11e8-808d-da1734a5398d.png)
Now I'd expect the spelling dialog but instead I get
![image](https://user-images.githubusercontent.com/200952/37605871-6f7b5c50-2b94-11e8-860c-b9a007107d2a.png)
It's

[2018-03-19 18:41] josefglatz opened #572 "Add support for rendering a svg image"

[2018-03-19 19:01] josefglatz commented on #572
Thank you for your quick reply! I really like your plugin!

Ok, so I have to investigate further – PhpStorm crashes whenever I try to activate JavaFX preview browser. Do you have maybe any hint where I can debug this behaviour?

I'm using macOS HighSierra with latest PhpStorm EAP (licensed) and your plugin (licensed)

[2018-03-19 19:14] vsch commented on #572
@josefglatz, I am running latest EAP but not non High Sierra. Under parallels running High Sierra I was only able to run with JavaFX by using the Oracle JRE for the IDE, in this case IntelliJ IDEA but the code under the hood is the same.

I suspect there is an issue with the bundled JDK in the IDE with high sierra.

Install Oracle latest JDK (8u162 I think.

Change the boot JDK hold down left Shif

[2018-03-19 21:13] skewty opened #573 "Preview Horizontal / Vertical should be toolbar buttons"
When I switch from my landscape oriented monitor to my portrait monitor I like to switch where the preview text is displayed.  This would be much more convenient if there was one toolbar button for portrait preview and another for landscape preview.

[2018-03-19 21:16] skewty opened #574 "Toolbar button to open html code in Browser"
Recently I wanted to print the "Preview" of a Markdown document and I can't seem to find an easy way to do this either inside Markdown Navigator or by easily opening the HTML / CSS to a place where I can open it in my Browser.  Perhaps a toolbar button to open in default IDEA browser or to print using IDEA itself.

[2018-03-19 21:19] vsch commented on #573
@skewty, how do you make the switch? Is it dual monitor system and you drag the IDE window between monitors or is it different systems?

The reason I ask is if it is on different systems then a setting to choose layout based on width/height ratio would do it automatically.

In either case I will add actions: set horizontal, set vertical and toggle vert/horiz layout. That way they can be assigned t

[2018-03-19 21:21] vsch commented on #574
@skewty, print is available in the JavaFX preview. Swing does not have print function.

![print_preview 2x](https://user-images.githubusercontent.com/10299086/37623118-f6c78d14-2b99-11e8-896c-b71a0dc55b5a.png)

or the dark scheme:

![print_preview 2x_dark](https://user-images.githubusercontent.com/10299086/37623130-003a8e5a-2b9a-11e8-9bdc-8feaf592bfa1.png)

[2018-03-20 01:04] vsch commented on #571
@holgerbrandl, I'll see if I can have both the fix typo and rename. The heading is a named element and `typo: rename to` will retarget any anchor refs to it, whereas `typo: change to` will not.

Why don't you use the drop down? It has the spellchecker suggested fixes applied to the header text:

<img width="795" alt="screen shot 2018-03-19 at 9 01 46 pm" src="https://user-images.githubusercontent.

[2018-03-20 11:55] holgerbrandl commented on #571
I actually would prefer the per word built-in spelling correction, because otherwise I have to review the complete phrase for other unintended false positive typo corrections.

[2018-03-20 15:55] marekoti opened #575 "Broken Spell Checker"
The built-in IntelliJ spell checker is not working inside md files. Interestingly it's working but just in header's text. It's working just fine in any other files, including newly created plain .txt files. Version used (the most recent one as of today): 2.5.2.

[2018-03-20 16:23] marekoti commented on #575
After switching off the Markdown Navigator plug-in spell checking works a treat. Likewise when using IntelliJ's plug-in for markdown.

[2018-03-20 19:04] vsch commented on #575
@marekoti, can you please give more information on the IDE and version that you are using and the operating system. I tested it with IDEA 2016.3.8, 2017.3, 2018 EAP, Php 2018 EAP, WebStorm 2018 and all work.

[2018-03-20 19:05] vsch commented on #423
Occurs with block quote elements. Spell checking error is duplicated for every block quote level.

[2018-03-20 19:06] vsch commented on #434
@blowsie, found the condition when this happens. It is duplicated for every level of block quotes.

[2018-03-20 19:47] vsch commented on #571
@holgerbrandl, I added an option to Languages & Frameworks > Markdown:

* Add: `Use rename for spelling error intention` to allow turning off `Rename to:` spellchecking  intention and use the regular `Change to:` intention.

Disable it to get the default behaviour.

[2018-03-20 19:48] vsch commented on #434
@blowsie, EAP update with a fix for the issue is available.

To enable EAP update channel:

1. Select "Early Access Program" in `Check updates for:`
2. Then make the IDE check for updates.

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

[2018-03-21 07:32] holgerbrandl commented on #571
Thanks. What would a user gain from renaming a section with refactoring? There are section cross-references but they typically need some normalized header (like from the generated TOC).

[2018-03-21 08:18] MikeMitterer opened #576 "Vertical split - preview does not scroll to source"
V 2.5.2.2

Android Studio 3.0.1
Build #AI-171.4443003, built on November 9, 2017
JRE: 1.8.0_152-release-915-b08 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.11.6

[2018-03-21 10:08] marekoti commented on #575
Oh good point, sorry forgot to mention that. I'm on the latest stable version of Android Studio, i.e. 3.0.1, which is based on IntelliJ IDEA 2017.1.2.

[2018-03-21 15:34] vsch commented on #571
@holgerbrandl, if you refer to a header from another file using an anchor ref. Changing the header text changes the anchor, using refactoring the link in the other file is changed. Using text change it does not.

The same applies to links within the file to headers.

[2018-03-21 15:45] vsch commented on #576
@MikeMitterer, I will have to test it in android studio. So far I have been testing it only in JetBrains IDEs, where it does work.

To make sure are you using JavaFX WebView preview? Swing does not support scrolling preview to source.

[2018-03-21 15:49] vsch commented on #575
@marekoti, thank you for the feedback. I will have to try it on Android studio. Although it is based on IDEA 2017.1.2, it could have made changes to some internals that affect plugin implementations.

I encounter such changes from version to version of JetBrains IDE releases so would not be surprised if the same applies to Android studio.

Looks like I will need to add Android Studio to my testing

[2018-03-21 16:02] holgerbrandl commented on #571
Nice, thanks for the explanation.

[2018-03-21 16:10] marekoti commented on #575
Technically Android Studio is just a plugin for IntelliJ, not a fork, at least that's how it was described at its launch: https://blog.jetbrains.com/idea/2013/05/intellij-idea-and-android-studio-faq/
I also don't think it provides any specific support/behaviour for md files. Hence I wouldn't expect it to be Android Studio specific.

[2018-03-21 16:13] vsch commented on #575
@marekoti, often in software the marketing glossy differs from implementation reality.

I installed Android Studio 3.0 and can already see that JavaFX support in the plugin has issues. On my system it tries to download JavaFX support (implemented for very early JetBrains bundled JDKs) which should not happen for Android studio. This causes JavaFX to fail.

I will debug the plugin under Android stu

[2018-03-21 16:32] marekoti commented on #575
Can that JavaFX issue be anyhow related to the spellchecker issue I'm experiencing? Could any more information like logs etc assist with investigation? Please see the screenshot below showcasing the problem:
![markdownnavigatorspellcheckerbug](https://user-images.githubusercontent.com/37408245/37723071-6739d6c4-2d25-11e8-9ca5-287b8d87ea88.png)

[2018-03-21 16:35] vsch commented on #575
@marekoti, no the javafx is related to lack of scroll preview to source position.

However, the screenshot is showing that spell checker is working. It is showing an error. If you open the yellow bulb for intentions, does it show the Typo: Rename To: intention?

[2018-03-21 16:37] marekoti commented on #575
Well no, it's not working mostly, as mentioned in the bug description it's only working for headers. As you can see exactly the same tyypo is not highlighted above in the paragraph text.

[2018-03-21 19:38] vsch commented on #575
@marekoti, I released an EAP plugin version to fix the erroneous detection of JavaFX for Android Studio which does not have javafx and the download attempted by the plugin is for an old release of IDEA, which does not work for Android Studio.

The spellchecking works with exact text used as far as I can see in the snapshot.

<img width="326" alt="screen shot 2018-03-21 at 3 34 07 pm" src="https://

[2018-03-21 20:11] vsch commented on #576
@MikeMitterer, I released an EAP plugin version to fix the erroneous detection of JavaFX for Android Studio **which does not have JavaFX**. The download attempted by the plugin is for an old release of IDEA and does not work for Android Studio.

**This means by default JavaFX WebView preview cannot be used with Android Studio.**

I did try it with the bundled JDK that comes with IDEA Community Edi

[2018-03-22 09:30] marekoti commented on #575
Installed the EAP version, unfortunately that hasn't fixed the spellchecking issue I'm experiencing. I've checked with your settings and they look pretty much the same as mine. I haven't changed anything, basically it's both fresh installation of Android Studio on a new Ubuntu machine and fresh installation of Markdown Navigator. The only difference is that I see "Installed version: 2.5.2.4" and s

[2018-03-22 16:56] marekoti commented on #575
Nice one, glad that we got to the bottom of the issue! Good luck with the fix! Do you know which was the last working version? In the meantime I may use it.

[2018-03-22 16:59] vsch commented on #575
@marekoti, being able to duplicate the symptom is 90% of the problem resolution.

Give me a few more minutes and I will make an EAP release. I already have it fixed.

<img width="339" alt="screen shot 2018-03-22 at 12 57 39 pm" src="https://user-images.githubusercontent.com/10299086/37785525-c2e2aef0-2dd0-11e8-9433-d886cd947045.png">

[2018-03-22 17:08] vsch commented on #575
@marekoti, EAP update with a fix for the issue is available.

[2018-03-23 10:25] marekoti commented on #575
It works now but correcting typo doesn't work (no matter if used through `context menu/refactor/rename`, the light bulb or `alt+enter`) -- please see the attached screenshot. Also the spellchecker is very slow. It takes a few (~6) seconds for it to change upon both creating and correcting a typo. That shoudn't matter but I tested it in a small doc (<1k chars). IntelliJ's Markdown Support plugin is

[2018-03-23 12:52] marekoti commented on #575
OK regarding the performance, probably a more through tests/comparison should be conducted as actually I can observe even the simple Markdown Support plugin from IntelliJ, having locationally a few seconds lag. Still most of the time it is nearly instant. I haven't thoroughly tested Markdown Navigator, but just checked a few times that one typo example and was observing ~6s lag for that case.

[2018-03-23 13:01] vsch commented on #575
@marekoti, the spell checking highlighting is performed after syntax highlighting. If you change the syntax highlighter to Lexer then it will happen as you type. Lexer set to annotator adds a delay for syntax highlighting but allows better typing response in large files.

![screenshot_settings_syntaxhighlighter](https://user-images.githubusercontent.com/10299086/37830089-cda2a67c-2e77-11e8-974a-43

[2018-03-23 13:16] marekoti commented on #575
OK maybe it's related to the fact that earlier I've as well installed RedPen, Thesaurus, and Gfm plugins? I'm pretty sure I was testing with them disabled as well and observed the same. Maybe restarting with clearing caches would be needed? When it comes to the RedPen plugin I had to download it directly from IntelliJ page as weirdly it didn't work from the IDE itself.

[2018-03-23 13:21] vsch commented on #575
@marekoti, depending on how plugins implement their functionality, it is possible for plugins to conflict and cause issues because the API is huge and usually assumptions are made or guessed at how it is used. Often this assumption is too simplistic.

I have hit on this reality many times. Additionally, the IDE does have bugs and these also add to the failures, which are readily blamed on the plug

[2018-03-23 13:40] marekoti commented on #575
I understand that. Please let me know if there's anything I can do to help with the investigation.

[2018-03-23 21:27] sebfindling commented on #557
hi @vsch , sorry for not answering before but i recently got a contract for a project that has kept me really busy, what you did looks just awesome, i'll try to make some time to play with it, have you made any more progress?

[2018-03-23 21:30] vsch commented on #557
@sebfindling, no need to apologize. I am in the same boat. Consulting to earn a living and trading sleep for work on the plugin and other projects.

The debugger makes a world of difference. It like working by feel and suddenly the lights come on. Actually makes it a pleasure to work with JavaFX, like it was Chrome's little brother.

[2018-03-27 08:15] holgerbrandl commented on #565
Not sure if it's related to this ticket but the IDE is crashing again 100% of the time (since yesterday on EAP channel) when opening a md file when the javafx preview mode is selected.

IntelliJ IDEA 2017.3.5 (Ultimate Edition)
Build #IU-173.4674.33, built on March 5, 2018
JRE: 1.8.0_152-release-1024-b15 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.13.3

plugin version: 2.5.

[2018-03-27 12:05] vsch commented on #565
@holgerbrandl, on High Sierra JavaFX WebView crashes for 2018 EAP when the bundled JDK is used. Switching the IDE boot JDK to Oracle JDK solves the issue.

Something in the bundled JDK JavaFX WebView is broken on High Sierra for 2018 releases.

The crash occurs in the native libraries and there is nothing the plugin can do except try to detect if it is a problem version and not try to use JavaFX W

[2018-03-27 12:27] vsch commented on #565
@holgerbrandl, I only have high sierra on Parallels desktop. My dev machine is still sierra. So I can't say if the issue on my system is a Parallels problem or also affects main installation.

Can you try disabling Markdown Navigator and enabling Markdown Support and see if the same issue exists. When I did that Markdown Support also crashed the IDE.

If you have the crash with Markdown Support th

[2018-03-27 12:52] holgerbrandl commented on #565
As pointed out in the version info, I'm still on the 2017.3.5.

Markdown Support  seems fine with javafx preview being enabled.

Nots sure if it helps the MD plugin worked until very recently (yesterday), and I have not installed any platform update since then.

[2018-03-27 13:11] vsch commented on #565
@holgerbrandl, sorry I missed the IDE version.

The thread dump does not show much. The JavaFX WebView initialization is waiting on condition in a native method waiting for JavaFX initialization.

Did the crash start after you installed 2.5.2.6 yesterday or has anything else changed on your system?

I want to understand where to start looking. I have not made changes to JavaFX since the previous f

[2018-03-27 13:14] holgerbrandl commented on #565
I'm not aware of any changes since yesterday. Except for plugin updates, which are constantly coming in.

Is there a way for me to roll back the MD EAP to the previous version? Just to narrow down the suspect list.

[2018-03-27 13:20] vsch commented on #565
@holgerbrandl, the dist directory in this repo has all versions: https://github.com/vsch/idea-multimarkdown/tree/master/dist, you will need to download and install from disk. However, if you did not update MN yesterday it may not help.

I looked through the change list and 2.5.2.4 had a fix for JavaFX download files for Android Studio, it does not affect JetBrains IDEs since JavaFX is part of the

[2018-03-27 13:51] vsch commented on #565
@holgerbrandl, I tried 2017.3.5 on High Sierra under parallels. I also get IDE crash with bundled JDK with JavaFX WebView.

When Markdown Support JavaFX WebView rendering is enabled and the IDE restarted, it also crashes if the bundled JDK is used.

The crash does not occur when the JavaFX WebView is enabled until the IDE is restarted.

Switching the boot JDK to Oracle 1.8.0u161 solves the problem

[2018-03-27 21:19] holgerbrandl commented on #565
I think "just" freezing, that is spinning wheel until eternity.

I've tried to run it with 1.8.0u162 but then it keeps freezing without any markdown by simply editing some kotlin source code. So I guess I'm tied to the bundled JDK.

[2018-03-28 00:10] vsch commented on #565
@holgerbrandl, I am really curios to find out what changed to cause this issue. I cannot test High Sierra because parallels has issues with it and I am not ready to upgrade without being sure I won't be dealing with a bunch of compatibility issues with my system.

[2018-03-28 05:45] holgerbrandl commented on #565
I think I'll report it to jetbrains if I can narrrow it down a bit further. Working with the oracle jdk is supposed to work.

[2018-03-28 14:52] vsch commented on #565
@holgerbrandl, one last check to try before you file an issue. In my experience IDE's that were patched for several version sometimes get corrupted. This applies to IDEs that are not managed by JetBrains Toolbox. I had an IDE that was patched by several upgrades and I was getting all kinds of mysterious exceptions and failures. I uninstalled and re-installed the final version to get rid off all th

[2018-03-28 15:08] holgerbrandl commented on #565
Maybe this was the problem.

I've updated to v2018.1 this morning by doing a fresh installation. And luckily MN plugin is working again with javafx preview being enabled.

So all good for now on my end. :-)

Thank you very much for your kind support.

[2018-03-28 15:12] vsch commented on #565
@holgerbrandl, I am sure if you install 2017.3.5 from scratch it will work too. I use 2017.3.5 and 2018.1 EAP all the time. It was 2017.3.5 which was patched over several months from 2017.1 that was causing my problems.

2018.1 EAP has an issue of not properly saving rendering profiles (other than the project profile). If you are using scoped profiles with customized CSS text or customized HTML te

[2018-03-28 15:19] holgerbrandl commented on #565
Since it is working now, I hope you understand that I will just proceed without testing old releases.

I've never used a rendering profile, and I don't want to miss partial git commits which are such a wonderful  feature in 2018.1, so I guess I'll stick with it.

I voted for your ticket nevertheless. :-)

[2018-03-28 16:04] vsch commented on #565
@holgerbrandl, thank you for the vote.

I use profiles all the time to convert markdown to HTML included in the plugin and documentation in other projects. For me this bug caused me not to use 2018 for a long time. I finally filed the bug, spent a lot of time trying to isolate the conditions and finally debugged and posted a patch.

Since then 3 EAP releases have been released and I suspect that t

[2018-03-28 16:45] holgerbrandl commented on #565
Yeah sometimes it takes an eternity... My "favorite" eternal ticket filed back in 2016 is https://youtrack.jetbrains.com/issue/KT-15019
:-)

[2018-04-03 16:03] vsch opened #577 "Add feature to move table columns"
1. Easiest: move column left or right actions
2. More work: copy, cut, paste column
3. Harder: copy, cut, paste multiple columns
4. Hardest: add table editor to edit tables similar to Excel and Numbers where columns/rows could be selected/moved/copied etc.

[2018-04-03 17:42] dkellenb commented on #577
Already just option (1) would bring a huge benefit. In my case i have actually only tables without column spans. In a first version you could just offer the functionality if there are no column spans.

[2018-04-03 17:52] vsch commented on #577
I will add it to the next EAP release.

[2018-04-03 18:03] dkellenb commented on #493
On GitHub and GitLab it's possible to clone the whole wiki, which is markdown based. There links to other pages should be done without *.md extension. At the moment every link is marked as invalid. Also every link in the wiki starts from the wiki root.

* Example 1:

  Page Location: /home.md

  Link example: `[subpage](folder/subpage)` should link to folder/subpage.md

* Example 2:

  Page Locati

[2018-04-03 18:29] vsch commented on #493
@dkellenb, GitHub wikis do not have sub-directories in links for processed pages. All pages resolve as if they are in the wiki root based on their page name.

This page in the wiki is in extensions/Admonition-Extension.md but the link https://github.com/vsch/idea-multimarkdown/wiki/Admonition-Extension resolves but https://github.com/vsch/idea-multimarkdown/wiki/extensions/Admonition-Extension tri

[2018-04-03 18:45] dkellenb commented on #493
I need to clarify:

- GitHub: Does not know subfolder, you could only reference an older version
- GitLab: Supports subfolders in their wiki

Let's have a simple example with two files in the GitHub wiki repository:
- /home.md
[code]
- /subpage.md
[code]

Both links to `subpage` and `home` are marked as *unresolved link reference* in the markdown editor. But GitHub and GitLab wiki syntax requires

[2018-04-03 19:09] vsch commented on #493
@dkellenb, yes the link format can be page relative or absolute. I use absolute if I tend to copy the link from the wiki or repo to other places like comments here. I agree that for purposes of cloning the links should be relative. In the plugin there is an intention to change the link format between all available formats that resolve from the containing file to the target.

However, wiki pages ne

[2018-04-06 08:50] holgerbrandl opened #578 "Change setext to atx header fails if title starts with <number>."
![image](https://user-images.githubusercontent.com/200952/38411843-49de2c82-3988-11e8-8b8c-541c6525f492.png)
The refactoring has no effect.

I'm using v2.5.2.6

[2018-04-06 14:02] vsch commented on #578
@holgerbrandl, bug.

BTW, you have an ordered list item `4.` with a empty text and a child heading `Review and Sync` in it. Not a heading with `4. Review and Sync` text.

GitHub renders it as a list item with a horizontal rule:

[code]

4. Review and Sync
-----------------

Adding 3 spaces before the dashes, changes it to list item with heading
[code]

4. Review and Sync
   -----------------

To g

[2018-04-06 14:15] holgerbrandl commented on #578
And I though markdown would solve all the formatting hassle. :-)

[2018-04-11 20:28] gonciarz opened #579 "Possible memory leak"
Hi, recently I opened a performance issue (memory leak) for Intellij.
https://youtrack.jetbrains.com/issue/IDEA-189994

As a result of JetBrain team investigation, they said that the problem may be connected with Markdown Navigator.
Please contact JetBrain support to share my heapDump and jstack results:
be0f3434c845f5d9c0ca25e80d4b863c heapDump-intellij-idea-1523388452030.hprof.zip
7b57930af2a34f

[2018-04-11 20:32] vsch commented on #579
@gonciarz, thank you for reporting it. I will take a look at the issue.

[2018-04-13 11:34] holgerbrandl opened #580 "Image file refactoring changes name but not reference"
When renaming an image file (Shift-F6) at an image reference/usage site in a markdown document, the file is being renamed, but the image reference ist not.

Example: before
![image](https://user-images.githubusercontent.com/200952/38732617-1b0b84a8-3f1f-11e8-8b1a-d78855925d4a.png)

after
![image](https://user-images.githubusercontent.com/200952/38732685-5d85f2fa-3f1f-11e8-984e-62a1995ad514.png)

[2018-04-13 11:37] vsch commented on #580
@holgerbrandl, several times I have spent hours debugging this exact use case only to realize that I did not select the `Search for references` check box. Now it is ingrained into me.

Check the Search for references and it will work.

[2018-04-13 11:39] holgerbrandl commented on #580
Stupid me. But it must be the late Friday afternoon (to blame somebody else at least). Thanks for the help.

[2018-04-13 11:39] #580 closed

[2018-04-16 03:31] mike-b-roberts opened #581 "vertically align synchronized position of preview"
Using version 2.5.2 of Markdown Navigator (paid licence version) and PyCharm Community Edition 2017.3.3:
The vertical position of the `.md` file being edited and the preview are not aligned or synchronised using the `Default - Swing` browser, although alignment seems to work fine in `JavaFX WebView`.

This or a similar bug is listed as fixed in this version #Fix 561

[2018-04-16 03:39] vsch commented on #581
@mike-b-roberts, the synchronized scrolling does not work for Swing browser. The bug fix was for JavaFX for a feature broken in an EAP release.

I could not find a reliable way of getting it to work and gave up, after many wasted hours. This seems to be the story of trying to implement features for Swing browser.

Is there a reason you are using Swing instead of JavaFX?

[2018-04-16 03:44] mike-b-roberts commented on #581
Thanks for your quick response.
Swing is the default. And I prefer the look of it, but without synchronised scrolling it's not much use, so I'll revert to JavaFX.

[2018-04-16 04:05] vsch commented on #581
@mike-b-roberts, You can get the swing look in JavaFX by switching to JavaFX in Preview settings and then in Stylesheet settings select "Default Swing Stylesheet". JavaFX can use swing stylesheets but not the other way around.

<img width="1005" alt="screen shot 2018-04-16 at 12 04 04 am" src="https://user-images.githubusercontent.com/10299086/38789656-c732f57c-4109-11e8-91ad-540c29c3a28f.png">

[2018-04-16 04:13] mike-b-roberts commented on #581
@vsch Thanks Vladimir, that will work for me.

[2018-04-16 04:13] #581 closed

[2018-04-16 04:16] vsch commented on #581
@mike-b-roberts, you can also change the HTML Generation options to not generate the page header/wrapper to have plain rendering without extras:

<img width="968" alt="screen shot 2018-04-16 at 12 15 43 am" src="https://user-images.githubusercontent.com/10299086/38789901-5781ec7c-410b-11e8-85af-e8d330e10436.png">

[2018-04-17 04:14] ddnexus opened #582 "User defined profiles not available"
It looks like only the built-in profiles are available. I can create a new profile for a dir, then I cannot choose it in the Rendering settings because it does not appear in the drop-down (which shows only the built-in Project Files, All, Non-Project Files, ...)

RubyMine 2018.1
Build #RM-181.4203.562, built on March 28, 2018
JRE: 1.8.0_152-release-1136-b20 amd64
JVM: OpenJDK 64-Bit Server VM by J

[2018-04-17 04:32] vsch commented on #582
@ddnexus, you need to associate the custom profile with an IDE scope. There is a convenient link in the settings pane to take you to the relevant IDE page where its done. After creating the scope, come back and select it from the drop down, and select the profile you want to associate with it.

<img width="913" alt="screen shot 2018-04-17 at 12 26 46 am" src="https://user-images.githubusercontent.

[2018-04-17 04:36] ddnexus opened #583 "Unresolved link reference"
I have 3 files in a dir and I point to them with the following markdown:

[code]
All 3 files are in the lib dir, but only the second is resolved to the actual file, the first and third are not. Why?

[2018-04-17 04:42] vsch commented on #583
@ddnexus, I don't use ruby so I'll need to rely on your knowledge of specifics. Are the first and second some form of templating files?

Reason I ask, is I discovered recently that the IDE does not report extensions for template files, only their "last" extension, which it then refuses to recognize as the extension for the FileType for which it returned the extension. Effectively, the plugin does

[2018-04-17 04:43] ddnexus commented on #582
Thanks for the fast answer.
When you say "an IDE scope" you mean a built in scope or a custom scope (for example a single dir of files)?
Because I create an IDE custom scope called "docs" which refers to <project-didr>/docs, and I would like to use that scope to apply a Rendering profile called "docsprofile".

However there is no "docs" scope in the dropdown, only Project Files, All, Non-Project F

[2018-04-17 04:45] vsch commented on #582
@ddnexus, I think you need to make the scope shared so the plugin will see it. I tried creating a shared scope and it shows up. I have not tried a non-shared scope.

I use scopes to customize profiles all the time for generating HTML project files from markdown. I hate bit-banging HTML, even for a short package description. Unfortunately, 2018 does not work for that without patching.

[2018-04-17 04:47] vsch commented on #582
@ddnexus, can confirm that you need to make the scope shared. The profile settings are project settings. If you don't share the scope they are not visible to project based config elements.

[2018-04-17 04:50] ddnexus commented on #583
Yes, they are all template files. The weird thing is that they should have all the same problem, but only the 1st and 3rd have it.
It looks like it gets confused by the multiple suffixes, but again the second one works, which could reveal a different problem or some sort of workaround. What do you think?

[2018-04-17 04:53] ddnexus commented on #582
Yes! you are right. Thank you!!!

[2018-04-17 04:53] #582 closed

[2018-04-17 04:53] vsch commented on #583
@ddnexus, depends on how the extension is coded in the IDE, if it is defined as ".haml" then it will be recognized. If it was ".html.haml" it won't because the IDE will return its extension as ".haml" but when asked to give the file types for ".haml" will not return this file type.

The fix ignores the API and asks for a list of file associations and hacks on that to finds all the file types that

[2018-04-17 04:55] vsch commented on #583
@ddnexus, I had this problem with PHP Blade files. Drove me nuts because I was looking for a bug everywhere else in my code. Finally traced it to obtaining a list of file types for an extension. I can make an eap release because the bug also affects completions. None of these affected file types will show up for completions.

[2018-04-17 05:02] vsch commented on #583
@ddnexus, please let me know if the fix works for you or if it is another issue.

EAP update with a fix for the issue is available.

To enable EAP update channel:

1. Select "Early Access Program" in `Check updates for:`
2. Then make the IDE check for updates.

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateC

[2018-04-17 05:06] ddnexus commented on #583
:1st_place_medal: Yes sir! This definitely fixed it!

[2018-04-17 05:06] #583 closed

[2018-04-17 05:11] ddnexus opened #584 "Gutter Icons"
Not sure whether it is a real issue or it's just my ignorance :)
The icons for the link, (Navigate to target.)  are using a lot of horizontal space.
Is there any way to reduce it with some setting? If not, I would suggest to change the UI so it would show a generic icon with the number of icons, and would open a drop-down menu to actually get the links clicked.

[2018-04-17 05:56] vsch commented on #584
@ddnexus, I will add it to the todo list. The IDE displays multiple elements containing line markers as separate line markers. The plugin does not collect the line markers per line.

The IDE does that, so it is not straight forward because the IDE asks for line markers for an element. Whether they are on the same line or not the plugin does not handle that.

[2018-04-17 11:38] vsch commented on #584
@ddnexus, I will add an option to disable line markers. It can be done easily and I have considered it because in my files with multiple ref links on a line I get the ridiculous 3 or 4 line markers.

[2018-04-17 11:45] altdd commented on #584
I have the same problem. Looking forward to try it ;). Thanks.

[2018-04-17 13:11] altdd commented on #584
Wow! That has been fast! Thanks!

I didn't find a new entry in the IDE Gutter Icon settings. It is the "Show Line Marker" option, right? Still, on my editor the empty gutter is still wide, not as before, but it looks like there is a reserved space... I cannot figure out what should appear there.

[2018-04-17 13:27] altdd commented on #584
Not sure I understand the problem... My installed version says 2.5.2.10...

[2018-04-17 13:36] vsch commented on #584
@ddnexus, the issue was on my system. I thought it affected the build but it only affected my upgrade procedure. I have so many IDEs for testing that upgrading each one manually is not realistic. I have a an upgrade procedure to update all my IDEs to latest plugin version.

Whew!, the build is correct. The setting is in main Markdown settings:

<img width="771" alt="screen shot 2018-04-17 at 9 29

[2018-04-17 13:47] altdd commented on #584
"The IDE keeps the gutter size unchanged unless you close and re-open the file." I know that... I mean after re-opening the file it is narrower, but it still has space for at least one or two icons.

[2018-04-17 13:54] vsch commented on #584
@ddnexus, to reclaim that space you need to turn off gutter icons in the IDE, I can only control what the plugin has control over. The rest is out of my hands.

[2018-04-17 13:55] vsch commented on #584
@ddnexus, I can see if there is a setting that I can use to turn off gutter icons for Markdown files. I think there is something if memory serves correctly.

[2018-04-17 14:05] ddnexus commented on #584
I found why the space is reserved: you can bookmark a line. So I think the current situation is correct: no need to any other settings IMO.

[2018-04-17 14:07] ddnexus commented on #584
Just forgot to report a super small glitch: there is no tool-tip for the new options.

[2018-04-17 14:26] vsch commented on #584
@ddnexus, yes I was right there is a setting. New EAP released that will turn off the gutter icons for markdown documents when gutter icons in markdown are disabled.

Also changed the label name to `Show Gutter icons in documents` so does not need a tooltip since it is self explanatory.

[2018-04-17 14:32] ddnexus commented on #584
You are fffaaasssttt! :)

[2018-04-17 14:35] ddnexus commented on #584
BTW, what about 3 possible options:
1. All the icons visible
2. Turning off the multiple icons but leaving the space for the bookmark icon
3. Turning off he gutter space completely

[2018-04-17 14:38] vsch commented on #584
@ddnexus, yes it needs a separate option to turn off the gutter space. This will give the 3 options.

I am not fast, just busy. So try to get small stuff out of the way so I can forget about it, in a good way.. ;)

[2018-04-17 14:39] ddnexus commented on #584
And, BTW... the collapse icons are partially gone with the new settings. It shows the folding icons only for the ``` blocks

[2018-04-17 14:50] vsch commented on #584
@ddnexus, what do you mean? The two are not related other than the editor not showing the icon gutter.

If you turn off the gutter icons in the IDE instead of the plugin settings do you get the same thing? If yes you should report it to JetBrains, it would be rendering issue under your OS, I don't have it under OS X.

The plugin only turns off the flag in the editor instance that the IDE does auto

[2018-04-17 14:58] ddnexus commented on #584
After I switched on and off the IDE Gutter Icons a couple of times I cannot reproduce it again: now it works again. Maybe there is some sort of interference and it doesn't redraw it correctly so I may had to close/re-open the file, and I am not sure I did. BTW, problem gone. Thanks.

While we are writing a lot... :) Is there any way to use Link Map to point to an attached project from another one?

[2018-04-17 15:11] vsch commented on #584
@ddnexus, the plugin uses IDE file indices to locate files. So if the IDE does not index the files then the plugin will not see them.

Link map can be used to change the link text so that the markdown content can have a link which does not match GitHub layout, but is re-mapped for link matching so the plugin link resolver sees it as valid GitHub layout. Like a private and public repositories shari

[2018-04-18 02:53] ddnexus commented on #584
What do you mean with "as a module"? It is a repo on its own, not a module. Do you mean git sub-module? If that is what you mean, it has too many downside for me to be a possible solution.

I have it as an attached project, which get indexed but is not part of the same VCS root, so I suppose it cannot be done, right?

[2018-04-18 02:56] vsch commented on #584
@ddnexus, took me a while to get used to the fact that most, not all, JetBrains IDEs can include project directories as modules of other projects.

Had a wild time with breaking the IDE initially because I did not code for that scenario.

So if your particular IDE can include modules and offers crate module from existing sources then you can use that to insert a sub-project from another directory

[2018-04-18 03:27] ddnexus commented on #584
I just attached project C, which is published. I can confirm, the links find the local reference only from project B or C pointing to files in the main project A, but not the other way around. licking on the link open the file in github, but does not open the file locally in the IDE. Is there any setting to control that?

[2018-04-18 03:37] vsch commented on #584
@ddnexus, the plugin uses git VCS roots but has some limitations on resolving multi-module projects. The main project sees the sub-module probably because it is under the project. I say probably because right now the link resolution is a hairy ball of mods that were added as I discovered what is possible in the IDE. Every user brings new use cases.

This link resolution with multi-modules in a pre

[2018-04-18 04:17] ddnexus commented on #584
Thank you for your explanation. Good to know that it is on the todo list.

Actually the sub-modules (i.e. the attached projects) see the files in the main project.

I am using the http://github... link format, which is supposed to work when the document will be viewable online, and locally by referencing to the actual local file, not the online url (which works only for links to the main-project f

[2018-04-25 15:05] ddnexus commented on #531
I just tried that, but it looks like it works only for the regular text. The headlines don't change. What selector should I use to get also the h1, h2, h3, ...
And actually all the text... I need to change the font-family in all the preview.

[2018-04-25 15:10] vsch commented on #531
@ddnexus, the font settings in css for headings are defined as:

[code]

I didn't notice it in there. I will remove it for next release to make headings use the markdown-body and wiki-body container fonts.

[2018-04-25 15:15] ddnexus commented on #531
I was using those for font-weight and I didn't try to add also the font-family. Adding it makes them work.Thanks.

[2018-04-25 17:34] vsch commented on #531
@ddnexus, Did you use `!important` or your margin setting?

[2018-04-26 03:47] ddnexus commented on #531
I messed up with some other style's element so the headers margin changes where not noticeable. It works also without the !important. D'oh. :)

[2018-04-26 12:45] ddnexus opened #585 "Settings style not saved"
I created an empty project with just one .md document in it... Then I added some custom style and exported the settings. Every time that I close the project, when I re-open it I have to re-import the styles, since the additions have not been saved. Is it a possible bug or I am just missing something?

[2018-04-26 12:51] vsch commented on #585
@ddnexus, if by custom styles you are referring to Rendering profiles  and by styles you mean custom CSS then yes. 2018 has a bug, #582

**Specifically, I did the job of finding the bug, reporting it and finally took the time to fix it and provide a patch. At this point I think it is out of my hands and up to the users to help get JetBrains' attention to have the one line fix incorporated into the

[2018-04-26 13:07] vsch commented on #585
@ddnexus, for myself I cannot use an IDE which looses these settings. I have many of my builds depend on customized Export of Markdown files.

I wrote a batch script to patch all the IDEs that I use with the fix. It is a PITA to go through the procedure every time an IDE is updated. I had to create a self issued signing certificate and sign the modified apps with it so that they will be treated as

[2018-04-26 19:52] dschinkel opened #586 "Bar only gives me one feature"
Wondering why basically all options are greyed out here:

<img width="774" alt="screen shot 2018-04-26 at 2 51 36 pm" src="https://user-images.githubusercontent.com/338798/39328593-6d214f38-4961-11e8-95f6-a2a54f7cc748.png">
<img width="849" alt="screen shot 2018-04-26 at 2 52 57 pm" src="https://user-images.githubusercontent.com/338798/39328629-8b6ab18c-4961-11e8-8003-35b39a9121c4.png">

What's no

[2018-04-26 20:32] vsch commented on #586
@dschinkel, basic version has limited parse tree building limited to syntax highlighting but not full parsing required for the toolbar manipulation of the markdown text.

The basic version is geared for minor editing and mostly for markdown rendering of existing documents. It can be used to edit markdown but with limited assistance.

The enhanced version has full implementation of completion, navi

[2018-04-27 00:33] ddnexus commented on #585
Thanks and sorry to have missed your comment on #582.
About JetBrains' attention... I will pass on that one: I am tired to report bugs that stay open for years!

[2018-04-27 00:37] #585 closed

[2018-04-27 12:49] vsch commented on #483
@neochief, JavaFX in the bundled JRE has issues under OS X High Sierra on a few systems. Disabling JavaFX preview on these systems or using an Oracle JDK instead of the bundled on seems to solve the issue.

[2018-04-28 11:05] blackxored opened #587 "How to restore icon"
I'm using Material Theme UI and this plugin overrides the Markdown icon. Is there a way to restore the Material UI one?

[2018-04-28 13:56] vsch commented on #587
@blackxored, I will need to add an option to disable the plugin's icon customization.

I will make an EAP release with the option.

[2018-05-04 14:27] holgerbrandl opened #588 "No syntax highlighting for files opened with "Open repository version""
Any other languages tested (just 2) is providing syntax highlighting for files opened via "Open repository version"
![image](https://user-images.githubusercontent.com/200952/39633282-cd77a380-4fb7-11e8-97b6-c3d9ae150104.png)

![image](https://user-images.githubusercontent.com/200952/39633366-0afe7878-4fb8-11e8-8c8c-cc6f165e2a2e.png)

MN does not, but it would be cool if it would. Preview works fin

[2018-05-04 14:36] vsch commented on #588
@holgerbrandl, never even tried this feature.

I will take a look to see why it is not syntax highlighting.

[2018-05-04 14:43] vsch commented on #588
@holgerbrandl, just as I suspected. Repository files don't do annotation phase, so if you change your syntax highlighter to "Lexer" then it will work. I'll take a look to see if I can tell the difference between these files and regular ones (I can use the ReadOnly status) and switch to lexer automatically.

<img width="1265" alt="screen shot 2018-05-04 at 10 40 55 am" src="https://user-images.gith

[2018-05-04 14:54] holgerbrandl commented on #588
Thanks, works great.

Do I loose any functionality when using "Lexer". I'm curious because since it's a project wide setting, it will also affect all the other markdown documents in my project.

[2018-05-04 15:09] holgerbrandl commented on #537
It's actually all there and ready. :-)

All you need to do is

1. to associate `.Rmd` with the Markdown (this or the jb one) plugin.
2. create an "External Tool" with the follow settings
![image](https://user-images.githubusercontent.com/200952/39635359-94beb3f2-4fbd-11e8-86c2-423163f25b96.png)
[code]
and associate a keyboard shortcut for it.

Works like charm for me >10x/day.

In some regards thi

[2018-05-04 15:10] vsch commented on #588
@holgerbrandl, both do the same job but at different phases. Lexer is applied as soon as the file is parsed, annotator much later. Annotator has better typing response since it is done after a short break in UI activity.

Some injected language syntax highlighting will appear a bit different between the two because of the different phases.

[2018-05-06 22:57] vsch opened #589 "Reduce toolbar size by moving rarely used actions to popup menu buttons."

[2018-05-06 23:00] vsch commented on #589
* Fix: shorten toolbar by moving more rare actions to popup menus: list, table, misc and copy

<img width="629" alt="image" src="https://user-images.githubusercontent.com/10299086/39678715-771ac180-515f-11e8-942d-4a5313dd26b8.png">

List:

<img width="258" alt="image" src="https://user-images.githubusercontent.com/10299086/39678717-89bb69fc-515f-11e8-8499-0a1bd761f02f.png">

Table:

<img width="24

[2018-05-06 23:01] vsch commented on #589
EAP update with a fix for the issue is available.

To enable EAP update channel:

1. Select "Early Access Program" in `Check updates for:`
2. Then make the IDE check for updates.

![Screen Shot Settings Update Channel](https://github.com/vsch/idea-multimarkdown/raw/master/assets/images/faq/ScreenShot_Settings_UpdateChannel.png)

[2018-05-06 23:04] vsch commented on #510
@vjpr, I think latest EAP addresses this issue.

Moved rarely used actions to popup menu buttons. #589